<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarContaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		<h:form id="frmCadastrarConta" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroConta}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarContaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarConta" process="@form" rendered="#{cadastrarContaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarContaBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="codigo" class="block"><b>#{bundle.codigo}:</b></label>
							<p:inputText style="width:50px;" id="codigo" required="true" requiredMessage="#{bundle.codigoObrigatorio}" title="#{bundle.codigo}" maxlength="20" value="#{cadastrarContaBean.conta.codigo}" size="10" disabled="#{cadastrarContaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="descricao" class="block"><b>#{bundle.descricao}:</b></label>
							<p:inputText style="width:250px;" id="descricao" required="true" requiredMessage="#{bundle.descricaoObrigatorio}." title="#{bundle.descricao}" maxlength="50" value="#{cadastrarContaBean.conta.descricao}" size="10" disabled="#{cadastrarContaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="saldoInicial" class="block"><b>#{bundle.saldoInicial}:</b></label>
							<p:inputText style="width:150px;" id="saldoInicial" required="true" requiredMessage="#{bundle.saldoInicialObrigatorio}." title="#{bundle.saldoInicial}" maxlength="50" value="#{cadastrarContaBean.conta.saldoInicial}" size="10" disabled="#{cadastrarContaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="saldoAtual" class="block"><b>#{bundle.saldoAtual}:</b></label>
							<p:inputText style="width:150px;" id="saldoAtual" required="true" requiredMessage="#{bundle.saldoAtualObrigatorio}." title="#{bundle.saldoAtual}" maxlength="50" value="#{cadastrarContaBean.conta.saldoAtual}" size="10" disabled="#{cadastrarContaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="tipo" class="block"><b>#{bundle.tipoConta}:</b></label>							
							 <p:selectOneRadio id="tipo" value="#{cadastrarContaBean.conta.tipo}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarContaBean.tipos}"  />
					         </p:selectOneRadio> 
						
							<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{cadastrarContaBean.conta.dataInicial}" navigator="false" pattern="dd/MM/yyyy" disabled="#{cadastrarContaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="data" class="block"><b>#{bundle.dataFinal}:</b></label>
							<p:calendar value="#{cadastrarContaBean.conta.dataFinal}" navigator="false" pattern="dd/MM/yyyy" disabled="#{cadastrarContaBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>