<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarFornecedorBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarFornecedor" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroFornecedor}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarFornecedorBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarFornecedor" process="@form" rendered="#{cadastrarFornecedorBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarFornecedorBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="codigo" class="block"><b>#{bundle.codigo}:</b></label>
							<p:inputText style="width:50px;" id="codigo" required="true" requiredMessage="#{bundle.codigoObrigatorio}." title="#{bundle.codigo}" maxlength="255" value="#{cadastrarFornecedorBean.fornecedor.codigo}" size="10" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">					
							<label for="nome" class="block"><b>#{bundle.nome}:</b></label>
							<p:inputText style="width:255px;" id="nome" required="true" requiredMessage="#{bundle.nomeObrigatorio}." title="#{bundle.nome}" maxlength="50" value="#{cadastrarFornecedorBean.fornecedor.nome}" size="10" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="cpf" class="block"><b>#{bundle.CPF}:</b></label>
							<p:inputMask id="cpf" value="#{cadastrarFornecedorBean.fornecedor.cpf}" mask="999.999.999-99" size="20" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="cnpj" class="block"><b>#{bundle.CNPJ}:</b></label>
							<p:inputMask id="cnpj" value="#{cadastrarFornecedorBean.fornecedor.cnpj}" mask="999.999.999-99" size="20" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="telefone" class="block"><b>#{bundle.telefone}:</b></label>
							<p:inputText style="width:150px;" id="telefone" title="#{bundle.telefone}" maxlength="50" value="#{cadastrarFornecedorBean.fornecedor.telefone}" size="10" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="celular" class="block"><b>#{bundle.celular}:</b></label>
							<p:inputText style="width:150px;" id="celular" title="#{bundle.celular}" maxlength="50" value="#{cadastrarFornecedorBean.fornecedor.celular}" size="10" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="contato" class="block"><b>#{bundle.contato}:</b></label>
							<p:inputText style="width:150px;" id="contato" title="#{bundle.contato}" maxlength="50" value="#{cadastrarFornecedorBean.fornecedor.contato}" size="10" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea style="width: 320px;" id="observacao" cols="613" rows="5" autoResize="false" maxlength="800" value="#{cadastrarFornecedorBean.fornecedor.observacao}" disabled="#{cadastrarFornecedorBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
