<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarClienteBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarCliente" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroCliente}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarClienteBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarCliente" process="@form" rendered="#{cadastrarClienteBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarClienteBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="codigo" class="block"><b>#{bundle.codigo}:</b></label>
							<p:inputText style="width:50px;" id="codigo" required="true" requiredMessage="#{bundle.codigoObrigatorio}." title="#{bundle.codigo}" maxlength="255" value="#{cadastrarClienteBean.cliente.codigo}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">					
							<label for="nome" class="block"><b>#{bundle.nome}:</b></label>
							<p:inputText style="width:255px;" id="nome" required="true" requiredMessage="#{bundle.nomeObrigatorio}." title="#{bundle.nome}" maxlength="50" value="#{cadastrarClienteBean.cliente.nome}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="cpf" class="block"><b>#{bundle.CPF}:</b></label>
							<p:inputMask id="cpf" value="#{cadastrarClienteBean.cliente.cpf}" mask="999.999.999-99" size="20" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="cnpj" class="block"><b>#{bundle.CNPJ}:</b></label>
							<p:inputMask id="cnpj" value="#{cadastrarClienteBean.cliente.cnpj}" mask="999.999.999-99" size="20" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="telefone" class="block"><b>#{bundle.telefone}:</b></label>
							<p:inputText style="width:150px;" id="telefone" title="#{bundle.telefone}" maxlength="50" value="#{cadastrarClienteBean.cliente.telefone}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="celular" class="block"><b>#{bundle.celular}:</b></label>
							<p:inputText style="width:150px;" id="celular" title="#{bundle.celular}" maxlength="50" value="#{cadastrarClienteBean.cliente.celular}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="contato" class="block"><b>#{bundle.contato}:</b></label>
							<p:inputText style="width:150px;" id="contato" title="#{bundle.contato}" maxlength="50" value="#{cadastrarClienteBean.cliente.contato}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="logradouro" class="block"><b>#{bundle.logradouro}:</b></label>
							<p:inputText style="width:150px;" id="logradouro" title="#{bundle.logradouro}" maxlength="50" value="#{cadastrarClienteBean.cliente.endereco.logradouro}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="numero" class="block"><b>#{bundle.numero}:</b></label>
							<p:inputText style="width:50px;" id="numero" title="#{bundle.numero}" maxlength="50" value="#{cadastrarClienteBean.cliente.endereco.numero}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="complemento" class="block"><b>#{bundle.complemento}:</b></label>
							<p:inputText style="width:250px;" id="complemento" title="#{bundle.complemento}" maxlength="50" value="#{cadastrarClienteBean.cliente.endereco.complemento}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="bairro" class="block"><b>#{bundle.bairro}:</b></label>
							<p:inputText style="width:150px;" id="bairro" title="#{bundle.bairro}" maxlength="50" value="#{cadastrarClienteBean.cliente.endereco.bairro}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="cep" class="block"><b>#{bundle.cep}:</b></label>
							<p:inputText style="width:150px;" id="cep" title="#{bundle.cep}" maxlength="50" value="#{cadastrarClienteBean.cliente.endereco.cep}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="cidade" class="block"><b>#{bundle.cidade}:</b></label>
							<p:inputText style="width:150px;" id="cidade" title="#{bundle.cidade}" maxlength="50" value="#{cadastrarClienteBean.cliente.endereco.cidade}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="estado" class="block"><b>#{bundle.estado}:</b></label>
							<p:inputText style="width:150px;" id="estado" title="#{bundle.estado}" maxlength="50" value="#{cadastrarClienteBean.cliente.endereco.estado}" size="10" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea style="width: 320px;" id="observacao" cols="613" rows="5" autoResize="false" maxlength="800" value="#{cadastrarClienteBean.cliente.observacao}" disabled="#{cadastrarClienteBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
