<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarCategoriaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarCategoria" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroCategoria}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarCategoriaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarCategoria" process="@form" rendered="#{cadastrarCategoriaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarCategoriaBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="codigo" class="block"><b>#{bundle.codigo}:</b></label>
							<p:inputText style="width:150px;" id="codigo" required="true" requiredMessage="#{bundle.codigoObrigatorio}" title="#{bundle.codigo}" maxlength="20" value="#{cadastrarCategoriaBean.categoria.codigo}" size="10" disabled="#{cadastrarCategoriaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="nome" class="block"><b>#{bundle.nome}:</b></label>
							<p:inputText style="width:150px;" id="nome" required="true" requiredMessage="#{bundle.nomeObrigatorio}." title="#{bundle.nome}" maxlength="50" value="#{cadastrarCategoriaBean.categoria.nome}" size="10" disabled="#{cadastrarCategoriaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="ordem" class="block"><b>#{bundle.ordem}:</b></label>
							<p:inputMask id="ordem" value="#{cadastrarCategoriaBean.categoria.ordem}" mask="?999" size="5" disabled="#{cadastrarCategoriaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="pai" class="block"><b>#{bundle.categPrincipal}:</b></label>							
							<h:selectOneMenu id="pai" value="#{cadastrarCategoriaBean.categoria.pai}" converter="categoriaConverter" title="#{bundle.selecioneCategoriaPrincipalA}." style="width: 189px;" disabled="#{cadastrarCategoriaBean.operacao eq 'VER'}">  
		            			<f:selectItems var="c" itemLabel="#{c.nome}" itemValue="#{c}" value="#{cadastrarCategoriaBean.categoriasPai}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="tipo" class="block"><b>#{bundle.tipoCateg}:</b></label>							
							 <p:selectOneRadio id="tipo" value="#{cadastrarCategoriaBean.categoria.tipo}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarCategoriaBean.tipos}"  />
					         </p:selectOneRadio>  						
				         </div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
