<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content"> 
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarClienteBean.carregarDadosIniciais}" />	
		</f:metadata>		
		
		<h:form id="frmConsultarCliente" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarClientes}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarClienteBean.cadastro}" ajax="true" styleClass="btn primary">
						<f:setPropertyActionListener value="" target="#{cadastrarClienteBean.cliente}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarClienteBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="c" value="#{consultarClienteBean.clientes}" emptyMessage="#{bundle.clienteNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column sortBy="#{c.codigo}" headerText="#{bundle.codigo}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.codigo}" />  
				        </p:column>  
				        <p:column sortBy="#{c.nome}" headerText="#{bundle.nome}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{c.cpf}" headerText="#{bundle.CPF}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.cpf}" />  
				        </p:column>
				        <p:column sortBy="#{c.cnpj}" headerText="#{bundle.CNPJ}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.cnpj}" />  
				        </p:column>
				        <p:column sortBy="#{c.telefone}" headerText="#{bundle.telefone}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.telefone}" />  
				        </p:column>
						<p:column sortBy="#{c.celular}" headerText="#{bundle.celular}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.celular}" />  
				        </p:column>	
				        <p:column sortBy="#{c.contato}" headerText="#{bundle.contato}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.contato}" />  
				        </p:column>			        
					     <p:column sortBy="#{c.observacao}" headerText="#{bundle.observacao}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{c.observacao}" />  
				        </p:column>
				         
				        <p:column headerText="#{bundle.opcao}" style="width:10%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarClienteBean.cadastro}" title="#{bundle.alterarCliente}" >  
				                <f:setPropertyActionListener value="#{c}" target="#{cadastrarClienteBean.cliente}" />  
			   	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarClienteBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarClienteBean.cadastro}" title="#{bundle.visualizarCliente}">  
				                <f:setPropertyActionListener value="#{c}" target="#{cadastrarClienteBean.cliente}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarClienteBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirCliente}" onclick="confirmacao.show()">  
				                <f:setPropertyActionListener value="#{c}"  
				                    target="#{consultarClienteBean.clienteSelecionado}" />  
				            </p:commandLink>
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirCliente}?" 
               header="#{bundle.exclusaoCliente}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarCliente" oncomplete="confirmacao.hide()" 
		                    actionListener="#{consultarClienteBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button"  />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
