<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarContaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmConsultarConta" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarContas}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarContaBean.cadastro}" ajax="true" styleClass="btn primary">
						<f:setPropertyActionListener value="" target="#{cadastrarContaBean.conta}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarContaBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="c" value="#{consultarContaBean.contas}" emptyMessage="#{bundle.contaNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column sortBy="#{c.codigo}" headerText="#{bundle.codigo}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.codigo}" />  
				        </p:column>  
				        <p:column sortBy="#{c.descricao}" headerText="#{bundle.descricao}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.descricao}" />  
				        </p:column>  
				        <p:column sortBy="#{c.saldoInicial}" headerText="#{bundle.saldoInicial}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.saldoInicial}" />  
				        </p:column>  
				        <p:column sortBy="#{c.tipo}" headerText="#{bundle.tipo}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.tipo}" />  
				        </p:column>
				        <p:column sortBy="#{c.saldoAtual}" headerText="#{bundle.saldoAtual}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.saldoAtual}" />  
				        </p:column> 
				        <p:column sortBy="#{c.dataInicial}" headerText="#{bundle.dataInicio}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.dataInicial}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText> 
				        </p:column>
				        <p:column sortBy="#{c.dataFinal}" headerText="#{bundle.dataFinal}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{c.dataFinal}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>  
				        </p:column>
				        <p:column headerText="#{bundle.opcao}" style="width:10%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarContaBean.cadastro}" title="#{bundle.alterarConta}" >  
				                <f:setPropertyActionListener value="#{c}" target="#{cadastrarContaBean.conta}" />  
			   	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarContaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarContaBean.cadastro}" title="#{bundle.visualizarConta}">  
				                <f:setPropertyActionListener value="#{c}" target="#{cadastrarContaBean.conta}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarContaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirConta}" onclick="confirmacao.show()">  
				                <f:setPropertyActionListener value="#{c}"  
				                    target="#{consultarContaBean.contaSelecionada}" />  
				            </p:commandLink>
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirConta}?" 
               header="#{bundle.exclusaoConta}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarConta" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarContaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>