<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarCategoriaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmConsultarCategoria" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarCategoriasContas}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarCategoriaBean.cadastro}" ajax="true" styleClass="btn primary">
						<f:setPropertyActionListener value="" target="#{cadastrarCategoriaBean.categoria}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarCategoriaBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="c" value="#{consultarCategoriaBean.categorias}" emptyMessage="#{bundle.categoriaNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column sortBy="#{c.codigo}" headerText="#{bundle.codigo}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{c.codigo}" />  
				        </p:column>  
				        <p:column sortBy="#{c.nome}" headerText="#{bundle.nome}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{c.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{c.ordem}" headerText="#{bundle.ordem}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{c.ordem}" />  
				        </p:column>  
				        <p:column sortBy="#{c.tipo}" headerText="#{bundle.tipo}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{c.tipo}" />  
				        </p:column>
				          
				       <p:column headerText="#{bundle.opcao}" style="width:10%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarCategoriaBean.cadastro}" title="#{bundle.alterarCategoria}" >  
				                <f:setPropertyActionListener value="#{c}" target="#{cadastrarCategoriaBean.categoria}" />  
			   	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarCategoriaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarCategoriaBean.cadastro}" title="#{bundle.visualizarCategoria}">  
				                <f:setPropertyActionListener value="#{c}" target="#{cadastrarCategoriaBean.categoria}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarCategoriaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirCategoria}" onclick="confirmacao.show()">  
				                <f:setPropertyActionListener value="#{c}"  
				                    target="#{consultarCategoriaBean.categoriaSelecionada}" />  
				            </p:commandLink>
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirCategoria}?" 
               header="#{bundle.exclusaoCategoria}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarCategoria" oncomplete="confirmacao.hide()" 
		                    actionListener="#{consultarCategoriaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button"  />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
