body {
	margin:0 auto;
	background-color:#ffffff;
	font-family:Arial;
	color:#666666;
	font-size:11px;
	font-family:Arial;
	background-image:url(../imagens/background.gif);
	background-position:top;
	background-repeat:repeat-x;
}

bodyBH {
	margin:0 auto;
	background-color:#ffffff;
	font-family:Arial;
	color:#666666;
	font-size:11px;
	font-family:Arial;
	background-image:url(../imagens/backgroundBH.gif);
	background-position:top;
	background-repeat:repeat-x;
}

img {
	border:0;
	vertical-align:middle;
}

input {
	vertical-align:middle;
	font-family:Arial;
	font-size:12px;
	padding:2px;
}

a {
	color:#25333c;
	text-decoration:none;
}

a:hover {
	color:#666666;
	text-decoration:none;
}
input.ui-state-disabled {
	background: #CCC;
}
.margin-top-20 {
	margin-top: 1em;
}

#geral {
	width:100%;
	text-align:center;
	position:absolute;
}

#centro {
	width:980px;
	margin:0 auto;
	text-align:left;
	position:relative;
	min-height: 575px;
}

.cinzaclaro {
	background-color:#f0f0f0;
}

.texto-centro {
	text-align: center;
}
.b1, .b2, .bc {
	display:block;
	overflow:hidden;
}
.bc {
	padding:4px 6px 4px 15px;
}
.b1, .b2 {
	height:1px;
}
.b1 {
	margin:0 2px;
}
.b2 {
	margin:0 1px;
}

/* TABELAS */

table {
	border-collapse: collapse;
	font-family: Arial;
	font-size: 11px;
	margin: 0;
	padding: 0;
}
caption {
	font-size: 14px;;
	font-stretch: condensed;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: left;
}
th {
	text-align: left;
}
thead th, tfoot th, tfoot td {
	background-color: #f9b236;
	color:#ffffff;
}
tbody {
    vertical-align: top;
}

tbody th {
	padding-left: 24px;
}
tbody th, td {
	background-color:#ffffff;
}
.ui-datatable tbody tr:hover td, tbody tr:hover th {
	background-color: #f0f0f0;
}
tr.odd td, tr.odd th {
	background-color: #333333;
}
tbody a:visited {
	color: black;
}
tbody a:hover {
	color: blue;
}
tbody a:active {
	color: blue;
}

tfoot th {	
	text-align: right;
}
tfoot th:after {
}

.ui-menu .ui-menuitem-text {
	float: left;
	color:white;
	display: block;
}

.menu{
	display: block;
	padding: 0 10px;
	text-decoration: none;
	height: 35px;
	background-image:url(../imagens/menu.png);
	background-position:top; 
	background-repeat:no-repeat;
	background-size: cover;
	color:#ffffff; 
	padding:0 10px;
	margin-bottom: 10px;
	width: 960px;
}

.menu .ui-icon-circle-close {
	padding: 8px 0px 3px 24px !important;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
	width: 92%;
	background-image:url(../imagens/menu.png);
	
}

.cadastro {
	padding: 10px;
	border: 1px solid #DDD;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.cadastro div.span2 {
	margin-left: 10px;
	margin-bottom: 10px;
}
.cadastro .col-esq {
	float:left;
	width: 60%;	
}

.cadastro .col-dir {
	float:left;
	width: 40%;
}

.cadastro .marginTopBottom {
	margin: 10px 0;
}

.row {
	zoom: 1;
}

.clear {
	clear: both;
}

.block {
	display: block;
}

.btn.success .ui-button-text {
	color:white;
}

.btn.success, .alert-message.success {
	background-color:#57A957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62C462), to(#57A957));
	background-image: -moz-linear-gradient(top, #62C462,#57A957);
	background-image: -ms-linear-gradient(top, #62C462,#57A957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62C462), color-stop(100%,#57A957));
	background-image: -webkit-linear-gradient(top, #62C462,#57A957);
	background-image: -o-linear-gradient(top, #62C462,#57A957);
	background-image: linear-gradient(top, #62C462,#57A957);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #57A957 #57A957 #3D773D;
	border-color: rgba(0, 0, 0, 0.1)rgba(0, 0, 0, 0.1)rgba(0, 0, 0, 0.25);
}

.btn {
	cursor: pointer;
	display: inline-block;
	background-color:#E6E6E6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%,white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(white,white 25%,#E6E6E6);
	background-image: -moz-linear-gradient(top, white,white 25%,#E6E6E6);
	background-image: -ms-linear-gradient(white,white 25%,#E6E6E6);
	background-image: -o-linear-gradient(white,white 25%,#E6E6E6);
	background-image: linear-gradient(white,white 25%,#E6E6E6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}


.btn.primary {
	background-color:#0064CD;
	background-image: -moz-linear-gradient(center top ,#049CDB,#0064CD);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-left: 5px;
	color:#ffffff;
	background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image:-o-linear-gradient(top, #049cdb, #0064cd);
	background-image:linear-gradient(top, #049cdb, #0064cd);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color:#0064cd #0064cd #003f81;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.cancel {
	background-color:red;
	background-image: -moz-linear-gradient(center top ,#049CDB,#0064CD);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-left: 5px;
	color:#ffffff;
	background-image:-webkit-linear-gradient(top, red, red);
	background-image:-o-linear-gradient(top, #049cdb, #0064cd);
	background-image:linear-gradient(top, #049cdb, #0064cd);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color:#0064cd #0064cd #003f81;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-datatable .ui-column-filter {
	display: inline-block;
	width: 100px;
	margin: auto;
	margin-right: 5px;
	
}

.ui-datatable .ui-inputfield{
	height:12px;
}


.ui-icon-circle-close{
	margin:0px 0px 0px 5px; 
	padding:8px 0px 30px 30px;
    background: url("../imagens/botoes/logoff.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-editar{
    background: url("../imagens/botoes/editar.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
   
}

.ui-icon-trash{
    background: url("../imagens/botoes/excluir.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}

.ui-icon-sms{
    background: url("../imagens/botoes/mobile.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-memoria{
    background: url("../imagens/botoes/sugerir.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-ver{
	background: url("../imagens/botoes/visualizar.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-sistema{
	background: url("../imagens/botoes/irrigacao.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-cultivo{
	background: url("../imagens/botoes/cultivo.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-irrigacao{
	background: url("../imagens/botoes/historicoirrigacao.png") 0 0 no-repeat !important;
    height: 32px;
    width: 32px;
}
.ui-icon-naoIrrigavel{
	background: url("../imagens/botoes/naoIrrigavel.png") 0 0 no-repeat !important;
    height: 33px;
    width: 33px;}
.ui-icon-eficiencia{
	background: url("../imagens/botoes/eficiencia.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-energia{
	background: url("../imagens/botoes/estatisticas.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-setor{
	background: url("../imagens/botoes/setor.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}

.ui-icon-plantio{
	background: url("../imagens/botoes/plantio.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}

.ui-icon-fazenda{
	background: url("../imagens/botoes/home.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-relfazenda{
	background: url("../imagens/botoes/arquivar.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-clima{
	background: url("../imagens/botoes/clima.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}

.ui-icon-importarClima{
	background: url("../imagens/botoes/gravar.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	padding: 4px 0px 0px 10px;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
	display: inline-block;
	padding: 0px 0px;
	zoom: 1;
	margin-left: 1px;
	text-decoration: none;
	outline: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	font-weight: normal;
}

.pnlClima .ui-widget-header{
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: green;
	text-align: center;
	
}

.pnlClima .ui-panel-footer{
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: green;
	text-align: center;
	
}
.ui-selection-column .ui-chkbox-box{
	background: url("../javax.faces.resource/images/default.png.faces?ln=primefaces-glass-x") repeat-x scroll 0 0 white;
	border: 1px solid #ACBECE;
	color: #474747;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	margin-left: 2px;
}

.ui-paginator-page, .ui-state-default, .ui-corner-all, .ui-state-active {
	color:#666;
	font-weight: bold;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev {
	text-align: center;
	font-weight: normal;
	height:13px;
	width: 20px;
}
.ui-sortable-column-icon{
	height: 16px;
	width: 16px;
	background-position: -128px 0;
}
.ui-icon-seek-end {
	height: 16px;
	width: 16px;
	background-position: -64px -160px;
}

.ui-spinner-up{
	height: 16px;
	width: 16px;
	background-position: -0px -16px;
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.faces?ln=primefaces-glass-x");
}
.ui-spinner-down{
	height: 16px;
	width: 16px;
	background-position: -65px -16px;
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.faces?ln=primefaces-glass-x");
}

.ui-icon-seek-next {
	height: 16px;
	width: 16px;
	background-position: -32px -160px;
}
.ui-icon-seek-prev {
	height: 16px;
	width: 16px;
	background-position: -48px -160px;
}

.ui-icon-seek-first {
	height: 16px;
	width: 16px;
	background-position: -80px -160px;
}

.ui-icon-check {
	height: 16px;
	width: 16px;
	background-position: -64px -144px;
}


.ui-datepicker-prev {
	height: 16px;
	width: 16px;
	background-position: -80px -160px;
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.faces?ln=primefaces-glass-x");
}

.ui-datepicker-next {
	height: 16px;
	width: 16px;
	background-position: -64px -160px;
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.faces?ln=primefaces-glass-x");
}

.ui-widget-header {
	border: 1px solid #aaaaaa/*{borderColorHeader}*/;
	background: #cccccc/*{bgColorHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
	color: #222222/*{fcHeader}*/;
	font-weight: bold;
}

.ui-icon {
	display: inline-block;
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.faces?ln=primefaces-glass-x");
}

.ui-icon-circle-triangle-e{
	height: 16px;
	width: 16px;
	background-position: -65px -16px;
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.faces?ln=primefaces-glass-x");
}

.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
	padding: 2px;
	background-color:#F0F0F0;
	height: 26px;
}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
	text-transform: none;
	color:#666;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
}

.ui_botoes_grid {
	text-align: right;
		
}
.barra{
	padding: 10px 15px;
	border-radius: 3px;
	-web-kit-border-radius: 3px;
	-moz-border-radius: 3px;	
}

.titulo{
	float:left;
	color:#196aa6;
	font-size:16px;
	font-weight:bold;
	line-height: 30px;
}

.botoes{
	 float:right;
	 /*width:400px;
	 */text-align:right;	
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-paginator-current, .ui-paginator-rpp-options {
	color:#196AA6;
	font-weight: bold;
}

.ui-datatable th {
	text-transform: uppercase;
	color:white;
}

.ui-dialog .ui-widget-content {
	padding: 1.5em;
	background:white;
	margin: 0;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 1em;
	background-color:#196AA6;
	color: white;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.ui-datatable .ui-sortable-column-icon {
	position: initial;
	right: 0;
}

.ui-menu .ui-menu-parent .ui-menu-child {
	background-color:white;
	
}

.filtroLocalizacao .ui-inputfield {
	width: 30px;
}

.filtroCelular .ui-inputfield {
	width: 70px;
}

.filtroArea .ui-column-filter {
	width: 80px;
}

.filtroSetor .ui-column-filter {
	width: 40px;
}

.ui-helper-hidden-accessible {
	position: relative !important;
}

audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}

.ui-icon-closethick {
	background-position: -96px -128px;
	height: 16px;
	width: 16px;
}

.ui-datagrid-data {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

.ui-datagrid-column{
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}



input[type=text]:visible,
input[type=password]:visible{
	border: 1px solid #cdc7c7;
	border-radius: 3px;
	padding: 7px 5px;
	background: #f5f4f4 url("../img/background/input-text.png") 0 0 repeat-x;
}

input[type=text]:focus,
input[type=password]:focus{
	border-color: #677b8d;
	background-color: #faf7f7;
}

input[type=text]:hover,
input[type=password]:hover{
	border-color: #a09a9a;
}

input, textarea, .uneditable-input {
	display: inline-block;
	padding: 4px;
	font-size: 13px;
	line-height: 18px;
	color: 	gray;
	border: 1px solid 	#CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.gridCultura{
	width: 550px;
}

.gridCultura td, th {
	border-bottom: 0px;
	border-top: 0px;
	padding: 0px;
}

.ui-datatable-scrollable .ui-datatable-scrollable-body table, .ui-datatable-scrollable .ui-datatable-scrollable-header table, .ui-datatable-scrollable .ui-datatable-scrollable-footer table {
	width: 100%;
}

		
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	box-shadow: 0 2px 2px #ACBECE inset;
	color: #555;
}

input.span2,textarea.span2{display:inline-block;float:none;width:90px;margin-left:0;}

.row > [class*="span"] {
	display: inline;
	float: left;
	margin-left: 20px;
}

.row::before, .row::after {
	display: table;
	content: "";
	zoom: 1;
}

.row::after {
	clear: both;
}

.ui-messages * {
	color: #333;
	font-size: 1.05em;
}

.alert-message.danger, .ui-messages-error {
	background-color:#C43C35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#EE5F5B), to(#C43C35));
	background-image: -moz-linear-gradient(top, #EE5F5B,#C43C35);
	background-image: -ms-linear-gradient(top, #EE5F5B,#C43C35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EE5F5B), color-stop(100%,#C43C35));
	background-image: -webkit-linear-gradient(top, #EE5F5B,#C43C35);
	background-image: -o-linear-gradient(top, #EE5F5B,#C43C35);
	background-image: linear-gradient(top, #EE5F5B,#C43C35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	border-color: #C43C35 #C43C35 #882A25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	background: none repeat scroll 0 0 #FEF1EC;
	border: 1px solid #CD0A0A;
	color: #CD0A0A;
}

.alert-message.danger, .ui-messages-error {
	
}

.ui-corner-all {
	border-radius: 3px;
	-web-kit-border-radius: 3px;
	-moz-border-radius: 3px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
	/**
	background: none;
	background-color: transparent;
	border: none;
		*//
	background: #FFF;
	border: 3px solid #FFF;
}

td.jqplot-table-legend, td.jqplot-cursor-legend {
	background: none;
	background-color: transparent;
	border: none;
	font-size: 1.05em;
	padding: 3px;	
}
.ui-datagrid {
	background: none;
	background-color: transparent;
}

.ui-tabs .ui-tabs-nav li a {
	color:blue;
}

.ui-tabs {
	border: 1px solid #666;
}

/** LOADING **/

.loading .first{
	width: 280px;
	left: 39%;
	top: 250px;
	z-index: 9999;
	padding: 8px 0;
	background: #fff;
	border: 5px solid #F7F7F7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: fixed;
	text-align: center;
    -moz-box-shadow: 0px 0px 10px #A8A8A8;
    -webkit-box-shadow: 0px 0px 10px #A8A8A8;
    box-shadow: 0px 0px 10px #A8A8A8;
	opacity: 0.95;
}

.loading p{ padding-left: 10px; font-family: Arial, Helvetica, sans-serif; }
.loading img{ width: 16px; height: 16px; padding-top: 4px; margin-bottom: 5px; }

.ui-carousel .ui-carousel-header {
	margin: 0px;
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.ui-carousel .ui-carousel-header {
	display:none;
}

.photo {
	width:980px;
	height:400px;
}

.ui-chkbox .ui-chkbox-box {
	height: 0px;
}

.tblDistrito .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblBombas .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblEmissores .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblFuncionalidades .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblNutrientes .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblFiltros .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblTubos .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblValvulas .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.tblAreas .ui-chkbox .ui-chkbox-box {
	height: 16px;
}

.ui-datagrid .ui-paginator {
	border-right: 1px solid #666;
	border-left: 1px solid #666;
}

.ui-tabs .ui-tabs-panel {
	padding: 0px;
}

.linhaRed {
	color:red;
}
.linhaNormal {
}

.ui-icon-flag-pt{
    background: url("../imagens/botoes/br.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}
.ui-icon-flag-en{
    background: url("../imagens/botoes/us.png") 0 0 no-repeat !important;
    height: 30px;
    width: 30px;
}

.ui-overlaypanel{
	background-color:#ffffff;
}

.ui-fieldset-content #btConsultar { 
	position: relative;
	top: 15px;
}

.formularios .span2 label,
#tabView label { 
	margin-bottom: 3px;
}

.formularios .span2 input,
#tabView input { 
	margin-bottom: 5px;
}

.label-required { 
	color: red; 
	font-weight: bold;
	line-height: 16px;
	margin-left: 3px; 
}

.header {
	height: 100px;
	margin-top: 20px;
}

.header .logo {
	float: left;
}

.header .icone-idioma {
	float: right;
}

.header .selecao-distrito {
	clear: right;
	float: right;
	margin-top: 20px;
}

.header .selecao-distrito label {
	float: left;
	margin-top: 8px;
	padding-right: 5px;
}
.header .selecao-distrito form {
	float: right;
}
.header .selecao-distrito form select {
	width: 130px !important;
}
.header .selecao-distrito form input {
	float: right;
	height: 22px;
	line-height: 11px;
	margin-top: 2px;
}

.conteudo .ultimo-acesso {
	float: left;
	margin-bottom: 5px;
}

.rodape {
	background-color: #196aa6;
	height: 90px;
	margin-top: 15px;
	padding: 10px;
}

.rodapeBH {
	background-color: #19A61B;
	height: 90px;
	margin-top: 15px;
	padding: 10px;
}

.ui-widget-overlay { 
	background: url("../img/background/bg-opaco.png") !important;
}

.ui-dialog {
	top: 100px !important;
}

.ui-messages-error-summary { color: #FFF; }

.dadosEntradaIrrigacaoCota label { float:left; line-height: 30px; text-align: right; padding-right: 10px; width: 160px; }
.dadosEntradaIrrigacaoCota input { margin-right: 10px }

#frmGraficoIndicadores td.jqplot-table-legend, 
#frmGraficoIndicadores td.jqplot-cursor-legend {
	font-weight: normal;
	font-size: 1.2em;	
}
#frmGraficoIndicadores .jqplot-target { margin-top: 15px; }
#frmGraficoIndicadores .graficoCorteHidrico .jqplot-table-legend {
	background: #FFF;
}
#frmGraficoIndicadores .graficoCorteHidrico .jqplot-yaxis-tick {
	font-size: 11px;
	width:150px;
}

/*css para tooltip*/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
