<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarEnergiaBean.carregarDadosIniciais}" />	
		</f:metadata>	
		
		<h:form id="frmCadastrarEnergia" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroEnergia} - <h:outputText value="#{cadastrarEnergiaBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{cadastrarEnergiaBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarEnergiaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarEnergia" process="@form" rendered="#{cadastrarEnergiaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarEnergiaBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
					
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="data" class="block"><b>#{bundle.data}:</b></label>
							<p:calendar value="#{cadastrarEnergiaBean.energia.data}" navigator="false" size="15" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}" pattern="dd/MM/yyyy" style="background: white;"/>							
						</div>
						<div class="span2 clear">
							<label for="quantidade" class="block"><b>#{bundle.quantidade}(Watts):</b></label>
				            <p:inputMask id="quantidade" value="#{cadastrarEnergiaBean.energia.quantidade}" mask="?999999" size="10" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="valor" class="block"><b>#{bundle.valor}:</b></label>
				            <p:inputText id="valor" styleClass="money" value="#{cadastrarEnergiaBean.energia.valor}" size="6" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="10"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2" maxFractionDigits="2"/>
							</p:inputText>  
						</div>
					</div>
					<p:outputPanel rendered="#{cadastrarEnergiaBean.irrigante.tipoIrrigante.descricao eq 'Empresarial'}">
						<div class="row">
							<div class="span2 clear">
								<label for="faturadop" class="block"><b>#{bundle.consumoFaturadoPonta}(Watts):</b></label>
					            <p:inputMask id="faturadop" value="#{cadastrarEnergiaBean.energia.faturadop}" mask="?999999" size="10" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}"/>
							</div>
							
							<div class="span2 clear">
								<label for="faturadofp" class="block"><b>#{bundle.consumoFaturadoForaPonta}(Watts):</b></label>
					            <p:inputMask id="faturadofp" value="#{cadastrarEnergiaBean.energia.faturadofp}" mask="?999999" size="10" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}"/>
							</div>
							
							<div class="span2 clear">		
								<label for="reativop" class="block"><b>#{bundle.consumoReativoExcedentePonta}(Watts):</b></label>
					            <p:inputMask id="reativop" value="#{cadastrarEnergiaBean.energia.reativop}" mask="?999999" size="10" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}"/>
							</div>
							
							<div class="span2 clear">
								<label for="reativofp" class="block"><b>#{bundle.consumoReativoExcedenteForaPonta}(Watts):</b></label>
					            <p:inputMask id="reativofp" value="#{cadastrarEnergiaBean.energia.reativofp}" mask="?999999" size="10" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}"/>
							</div>
													
							<div class="span2 clear">
								<label for="demandap" class="block"><b>#{bundle.demandaFaturadaForaPonta}(Watts):</b></label>
					            <p:inputMask id="demandap" value="#{cadastrarEnergiaBean.energia.demandap}" mask="?999999" size="10" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}"/>
							</div>
													
							<div class="span2 clear">
								<label for="outros" class="block"><b>#{bundle.outrosEncargos} (R$):</b></label>
  								<p:inputText id="outros" styleClass="money" value="#{cadastrarEnergiaBean.energia.outros}" size="8" disabled="#{cadastrarEnergiaBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="10"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2" maxFractionDigits="2"/>
								</p:inputText>  
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		 
			</script>
		</h:form>
	</ui:define>
</ui:composition>
			