<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarEficienciaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarEficiencia" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					<p>#{bundle.fazenda} - <h:outputText value="#{cadastrarEficienciaBean.setor.irrigante.nome}" /></p>
					<p>#{bundle.registroEficienciaSetor} <h:outputText value="#{cadastrarEficienciaBean.setor.identificacao}" /></p>
				</div>
				<div class="botoes">
			       <p:commandButton id="btSalvar" actionListener="#{cadastrarEficienciaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarEficiencia" process="@form" rendered="#{cadastrarEficienciaBean.operacao ne 'VER'}" ajax="false">
			       		<p:fileDownload value="#{cadastrarEficienciaBean.file}" />
			       </p:commandButton>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarEficienciaBean.voltar}" styleClass="btn primary" update=":frmCadastrarEficiencia" immediate="true" />
					<p:commandButton id="btAdicionar" actionListener="#{cadastrarEficienciaBean.adicionarTeste}" value="#{bundle.teste}" styleClass="btn primary" process="@form" update=":frmCadastrarEficiencia" rendered="#{(LoginBean.anyGranted('ROLE_CADASTRAR_EFICIENCIA') and cadastrarEficienciaBean.operacao eq 'VER')}"/>
					<p:commandButton id="btAlterar" actionListener="#{cadastrarEficienciaBean.alterarTeste}" value="#{bundle.alterar}" styleClass="btn primary" process="@form" update=":frmCadastrarEficiencia" rendered="#{(LoginBean.anyGranted('ROLE_CADASTRAR_EFICIENCIA') and cadastrarEficienciaBean.testes.size() > 0 and cadastrarEficienciaBean.operacao eq 'VER')}"/>
					<p:commandButton id="btExcluir" onclick="confirmacao.show()" value="#{bundle.excluir}" styleClass="btn cancel" rendered="#{(LoginBean.anyGranted('ROLE_CADASTRAR_EFICIENCIA') and cadastrarEficienciaBean.testes.size() > 0 and cadastrarEficienciaBean.testes.size() > 0 and cadastrarEficienciaBean.operacao eq 'VER')}"/>

				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<p:commandButton id="chartBtn" value="#{bundle.grafico}" type="button" rendered="#{cadastrarEficienciaBean.testes.size() > 0}" />
			<p:overlayPanel for="chartBtn" style="background: white;">
				<p:lineChart id="linear" value="#{cadastrarEficienciaBean.grafico}" title="#{bundle.testeEficiencia}" minY="0" maxY="100" style="height:300px" />  
			</p:overlayPanel>				
			
			<div class="row cadastro">		
				<p:dataGrid  id="dgTeste" var="teste" value="#{cadastrarEficienciaBean.testes}" columns="1" rows="1" 
				        paginator="true" effect="true" emptyMessage="#{bundle.naoExisteAnaliseER}" binding="#{cadastrarEficienciaBean.grid}" 
				        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
				        currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}">  
				        <p:column>  
				            <h:panelGrid  columns="3">  
					            <p:panel>
									<div class="span2 clear">
										<label for="data" class="block"><b>#{bundle.dataTeste}:</b></label>
										<p:calendar id="data" value="#{teste.data}" navigator="false" pattern="dd/MM/yyyy" size="7" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}"/>							
									</div>
									<div class="span2 clear">
										<label for="tempo" class="block"><b>#{bundle.tempo}(seg):</b></label>
										<p:inputMask id="tempo" value="#{teste.tempoTeste}" mask="?999999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
		   									<p:ajax update="linha1Emissor1Media linha1Emissor2Media linha1Emissor3Media linha1Emissor4Media resultado" event="change" process="@this" /> 
										</p:inputMask>
									</div>
									<p:panel  id="resultado" header="#{bundle.resultado}" style="text-align:center;">  
								        <h:outputText value="#{teste.eficiencia}" style="font-size: large;color:green;">
											<f:convertNumber locale="pt_BR" minFractionDigits="2" maxFractionDigits="2"/>
										</h:outputText>
								    </p:panel>
									<div class="span2 clear">
										<label for="resp" class="block"><b>#{bundle.responsavel}:</b></label>
								        <h:outputText value="#{teste.responsavel.nome}" style="font-weight: normal;color:blue;"/>
									</div>
									<p:graphicImage id="BtnParecer" value="../../img/ico/Vcard.png" style="cursor:pointer" cache="true" title="#{bundle.parecerTecnico}"/>  
									<p:overlayPanel for="BtnParecer">
										<div class="span2 clear">
											<label for="observacao" class="block"><b>#{bundle.observacao}2:</b></label>
											<p:inputTextarea id="observacao" cols="30" rows="4" autoResize="false" maxlength="2000" value="#{teste.observacao}" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}"/>							
										</div>
									</p:overlayPanel>
							    </p:panel>
							    <p:panel>
   						            <p:panel>
										<label class="block"><b>#{bundle.linha}1<sup>a</sup></b></label>
 							            <h:panelGrid  columns="5">
							                <h:outputText value="" />  
							                <h:outputText value="#{bundle.vol}1" />  
							                <h:outputText value="#{bundle.vol}2" />  
							                <h:outputText value="#{bundle.vol}3" />  
							                <h:outputText value="" />
							                
							                <h:outputText value="" />  
							                <h:outputText value="#{bundle.rep}1" />  
							                <h:outputText value="#{bundle.rep}2" />  
							                <h:outputText value="#{bundle.rep}3" />  
							                <h:outputText value="#{bundle.media}" />  
		    							            
											<label class="block">#{bundle.emissor}1<sup>a</sup></label>
							            	<p:inputMask id="linha1Emissor1Rep1" value="#{teste.linha1Emissor1Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor1Rep2" value="#{teste.linha1Emissor1Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor1Rep3" value="#{teste.linha1Emissor1Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha1Emissor1Media" styleClass="numero" value="#{teste.linha1Emissor1Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha1Emissor2Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask id="linha1Emissor2Rep1" value="#{teste.linha1Emissor2Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor2Rep2" value="#{teste.linha1Emissor2Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor2Rep3" value="#{teste.linha1Emissor2Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha1Emissor2Media" styleClass="numero" value="#{teste.linha1Emissor2Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha1Emissor3Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask id="linha1Emissor3Rep1" value="#{teste.linha1Emissor3Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor3Rep2" value="#{teste.linha1Emissor3Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor3Rep3" value="#{teste.linha1Emissor3Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha1Emissor3Media" styleClass="numero" value="#{teste.linha1Emissor3Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
							                <h:outputText value="#{bundle.emissorFinal}" />  
							            	<p:inputMask id="linha1Emissor4Rep1" value="#{teste.linha1Emissor4Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor4Rep2" value="#{teste.linha1Emissor4Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha1Emissor4Rep3" value="#{teste.linha1Emissor4Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha1Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha1Emissor4Media" styleClass="numero" value="#{teste.linha1Emissor4Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>
   							            </h:panelGrid>
					            		<h:panelGrid  columns="2">
											<label for="linha1Pressao" class="block"><b>#{bundle.pressaoFinalLinha}(Kgf.cm<sup>-2</sup>):</b></label>
								            <p:inputText id="linha1Pressao" styleClass="numero" value="#{teste.pressaoFinalLinha1}" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>
										</h:panelGrid>  
  						            </p:panel>  
   						            <p:panel>
										<label class="block"><b>#{bundle.linha} 2/3(8<sup>a</sup>)</b></label>
   							            <h:panelGrid  columns="5">
   							            	<h:outputText value="" />  
							                <h:outputText value="#{bundle.vol}1" />  
							                <h:outputText value="#{bundle.vol}2" />  
							                <h:outputText value="#{bundle.vol}3" />  
							                <h:outputText value="" />
							                
							                <h:outputText value="" />  
							                <h:outputText value="Rep 1" />  
							                <h:outputText value="Rep 2" />  
							                <h:outputText value="Rep 3" />  
							                <h:outputText value="#{bundle.media}" />  
		    							            
											<label class="block">#{bundle.emissor} 1<sup>a</sup></label>
							            	<p:inputMask value="#{teste.linha3Emissor1Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor1Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor1Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha3Emissor1Media" styleClass="numero" value="#{teste.linha3Emissor1Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha3Emissor2Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask value="#{teste.linha3Emissor2Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor2Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor2Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha3Emissor2Media" styleClass="numero" value="#{teste.linha3Emissor2Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha3Emissor3Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask value="#{teste.linha3Emissor3Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor3Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor3Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha3Emissor3Media" styleClass="numero" value="#{teste.linha3Emissor3Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
							                <h:outputText value="#{bundle.emissorFinal}" />  
							            	<p:inputMask value="#{teste.linha3Emissor4Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor4Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha3Emissor4Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha3Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha3Emissor4Media" styleClass="numero" value="#{teste.linha3Emissor4Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
						                </h:panelGrid>
					            		<h:panelGrid  columns="2">
											<label for="linha3Pressao" class="block"><b>#{bundle.pressaoFinalLinha}(Kgf.cm<sup>-2</sup>):</b></label>
								            <p:inputText id="linha3Pressao" styleClass="numero" value="#{teste.pressaoFinalLinha3}" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
   							            </h:panelGrid>  
   						            </p:panel>  
					            </p:panel>
							    <p:panel>
   						            <p:panel>
										<label class="block"><b>#{bundle.linha} 1/3(4<sup>a</sup>)</b></label>
  							            <h:panelGrid  columns="5">
  							            	<h:outputText value="" />  
							                <h:outputText value="#{bundle.vol}1" />  
							                <h:outputText value="#{bundle.vol}2" />  
							                <h:outputText value="#{bundle.vol}3" />  
							                <h:outputText value="" />
							                
							                <h:outputText value="" />  
							                <h:outputText value="#{bundle.rep} 1" />  
							                <h:outputText value="#{bundle.rep} 2" />  
							                <h:outputText value="#{bundle.rep} 3" />  
							                <h:outputText value="#{bundle.media}" />  
		    							            
											<label class="block">#{bundle.emissor} 1<sup>a</sup></label>
							            	<p:inputMask id="linha2Emissor1Rep1" value="#{teste.linha2Emissor1Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha2Emissor1Rep2" value="#{teste.linha2Emissor1Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha2Emissor1Rep3" value="#{teste.linha2Emissor1Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha2Emissor1Media" styleClass="numero" value="#{teste.linha2Emissor1Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha2Emissor2Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask id="linha2Emissor2Rep1" value="#{teste.linha2Emissor2Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha2Emissor2Rep2" value="#{teste.linha2Emissor2Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask id="linha2Emissor2Rep3" value="#{teste.linha2Emissor2Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha2Emissor2Media" styleClass="numero" value="#{teste.linha2Emissor2Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha2Emissor3Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask value="#{teste.linha2Emissor3Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha2Emissor3Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha2Emissor3Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha2Emissor3Media" styleClass="numero" value="#{teste.linha2Emissor3Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
												
							                <h:outputText value="#{bundle.emissorFinal}" />  
							            	<p:inputMask value="#{teste.linha2Emissor4Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha2Emissor4Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha2Emissor4Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha2Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha2Emissor4Media" styleClass="numero" value="#{teste.linha2Emissor4Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
						                </h:panelGrid>
					            		<h:panelGrid  columns="2">
											<label for="linha2Pressao" class="block"><b>#{bundle.pressaoFinalLinha}(Kgf.cm<sup>-2</sup>):</b></label>
								            <p:inputText id="linha2Pressao" styleClass="numero" value="#{teste.pressaoFinalLinha2}" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
   							            </h:panelGrid>  
 						            </p:panel>  
   						            <p:panel>
										<label class="block"><b>#{bundle.linhaFinal}</b></label>
   							            <h:panelGrid  columns="5">
   							            	<h:outputText value="" />  
							                <h:outputText value="#{bundle.vol}1" />  
							                <h:outputText value="#{bundle.vol}2" />  
							                <h:outputText value="#{bundle.vol}3" />  
							                <h:outputText value="#{bundle.vazao}" />
							                
							                <h:outputText value="" />  
							                <h:outputText value="#{bundle.rep} 1" />  
							                <h:outputText value="#{bundle.rep} 2" />  
							                <h:outputText value="#{bundle.rep} 3" />  
							                <h:outputText value="#{bundle.media}" />  
			
											<label class="block">#{bundle.emissor} 1<sup>a</sup></label>
							            	<p:inputMask value="#{teste.linha4Emissor1Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor1Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor1Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor1Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha4Emissor1Media" styleClass="numero" value="#{teste.linha4Emissor1Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha4Emissor2Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask value="#{teste.linha4Emissor2Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor2Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor2Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor2Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha4Emissor2Media" styleClass="numero" value="#{teste.linha4Emissor2Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
	 							            <h:panelGrid  columns="2">
												<label class="block">#{bundle.emissor}</label>
												<p:inputMask value="#{teste.linha4Emissor3Id}" mask="?999" size="1" />
											</h:panelGrid>
							            	<p:inputMask value="#{teste.linha4Emissor3Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor3Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor3Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor3Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha4Emissor3Media" styleClass="numero" value="#{teste.linha4Emissor3Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
											</p:inputText>  
		
							                <h:outputText value="#{bundle.emissorFinal}" />  
							            	<p:inputMask value="#{teste.linha4Emissor4Rep1}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor4Rep2}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
							            	<p:inputMask value="#{teste.linha4Emissor4Rep3}" mask="?9999" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
			   									<p:ajax update="linha4Emissor4Media resultado" event="change" process="@this" /> 
							            	</p:inputMask>
								            <p:inputText id="linha4Emissor4Media" styleClass="numero" value="#{teste.linha4Emissor4Media}" size="2" disabled="true">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
			   									<p:ajax update="resultado" process="@this" /> 
											</p:inputText>  
						                </h:panelGrid>
					            		<h:panelGrid  columns="2">
											<label for="linha4Pressao" class="block"><b>#{bundle.pressaoFinalLinha}(Kgf.cm<sup>-2</sup>):</b></label>
								            <p:inputText id="linha4Pressao" styleClass="numero" value="#{teste.pressaoFinalLinha4}" size="2" disabled="#{cadastrarEficienciaBean.operacao eq 'VER'}">
								            	<f:validateLength maximum="5"/>
												<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="1"/>
			   									<p:ajax update="resultado" event="change" process="@this" /> 
											</p:inputText>  
   							            </h:panelGrid>  
   						            </p:panel>  
					            </p:panel>
							</h:panelGrid>
				     	</p:column>  
				</p:dataGrid>  		            
			</div>
				
			<p:confirmDialog message="#{bundle.certezaExcluirRegistro}" 
               header="#{bundle.exclusaoRegistro}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarEficiencia" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarEficienciaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		    
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".numero").maskMoney(MASK_VALOR);
				});		
			</script>
		</h:form>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
	</ui:define>
</ui:composition>

