<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
		<ui:define name="content">
		
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarIrriganteBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarIrrigante" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroIrrigante}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarIrriganteBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarIrrigante" process="@form" rendered="#{cadastrarIrriganteBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarIrriganteBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<p:tabView id="tabView">  
			    <p:tab id="tab1" title="#{bundle.dadosPessoais}">  
					<h:panelGrid columns="2" styleClass="d1">
						<p:outputPanel id="d1"> 
							<div class="row cadastro">		
								<div class="row">
									<div class="span2 clear">
										<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
										<p:inputText required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.nome}" size="98" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>
									</div>
									<div class="span2 clear">
										<label for="tipo" class="block"><b>#{bundle.tipoIrrigante}:</b></label>							
										<h:selectOneMenu id="tipo" value="#{cadastrarIrriganteBean.irrigante.tipoIrrigante}" title="#{bundle.selecioneTipo}" style="width: 160px;" disabled="#{cadastrarIrriganteBean.operacao eq 'VER' or cadastrarIrriganteBean.isIrrigante}">  
					            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarIrriganteBean.tipos}"  />
											<p:ajax update="pnlCpf pnlCnpj pnlRg" event="change" process="@this" /> 
						        		</h:selectOneMenu>							
									</div>
				
									<div class="span2">
										<p:outputPanel id="pnlCpf"> 
										<p:outputPanel rendered="#{cadastrarIrriganteBean.irrigante.tipoIrrigante.descricao ne 'Empresarial'}" >
											<label for="cpf" class="block"><b>#{bundle.CPF}:</b></label>
											<p:inputMask size="33" id="cpf" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.cpf}" mask="999.999.999-99" rendered="#{cadastrarIrriganteBean.irrigante.tipoIrrigante.descricao ne 'Empresarial'}" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>
										</p:outputPanel>
										</p:outputPanel>
									</div>
									
									<div class="span2">
										<p:outputPanel id="pnlCnpj"> 
										<p:outputPanel rendered="#{cadastrarIrriganteBean.irrigante.tipoIrrigante.descricao eq 'Empresarial'}">
											<label for="cnpj" class="block"><b>#{bundle.CNPJ}:</b></label>
											<p:inputMask size="33" id="cnpj" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.cnpj}" mask="99.999.999/9999-99" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>
										</p:outputPanel>
										</p:outputPanel>
									</div>
				
									<div class="span2">
										<p:outputPanel id="pnlRg"> 
										<p:outputPanel rendered="#{cadastrarIrriganteBean.irrigante.tipoIrrigante.descricao ne 'Empresarial'}">
											<label for="rg" class="block"><b>#{bundle.RG}:</b></label>
											<p:inputMask id="rg" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.rg}" mask="?9999999999999999" size="33" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>
										</p:outputPanel>							
										</p:outputPanel>							
									</div>
									<div class="span2 clear">
										<label for="endereco" class="block"><b>#{bundle.endereco}:</b></label>
										<p:inputText id="endereco" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.endereco}" size="45" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}" />							
									</div>
				
									<div class="span2">
										<label for="cidade" class="block"><b>#{bundle.cidade}:</b></label>
										<p:inputText id="cidade"  maxlength="255" value="#{cadastrarIrriganteBean.irrigante.cidade}" size="24" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>							
									</div>
				
									<div class="span2">
										<label for="cep" class="block"><b>#{bundle.cep}:</b></label>
										<p:inputMask id="cep"  maxlength="255" value="#{cadastrarIrriganteBean.irrigante.cep}" mask="99.999-999" size="8" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>							
									</div>
				
									<div class="span2">
										<label for="uf" class="block"><b>#{bundle.uf}:</b></label>
										<p:inputMask id="uf"  maxlength="255" value="#{cadastrarIrriganteBean.irrigante.uf}" mask="aa?" size="1" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>							
									</div>
				
									<div class="span2 clear">
										<label for="telefoneContato" class="block"><b>#{bundle.telefoneContato}:</b></label>
										<p:inputMask id="telefoneContato" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.telefoneContato}" mask="(99)9999-9999" size="13" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>							
									</div>
				
									<div class="span2">
										<label for="celular" class="block"><b>#{bundle.celular}:</b></label>
										<p:inputMask id="celular" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.celular}" mask="(99)99999-9999" size="13" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>							
									</div>
					
									<div class="span2">
										<label for="operadora" class="block"><b>#{bundle.operadora}:</b></label>							
										<h:selectOneMenu id="operadora" value="#{cadastrarIrriganteBean.irrigante.operadora}" title="#{bundle.selecioneOperadora}" style="width: 85px;" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}">  
					            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarIrriganteBean.operadoras}"  />
						        		</h:selectOneMenu>							
									</div>
									<div class="span2">
										<label for="escolaridade" class="block"><b>#{bundle.escolaridade}:</b></label>							
										<h:selectOneMenu id="escolaridade" value="#{cadastrarIrriganteBean.irrigante.escolaridade}" title="#{bundle.selecioneEscolaridade}" style="width: 190px;" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}">  
					            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarIrriganteBean.escolaridades}"  />
						        		</h:selectOneMenu>							
									</div>
				
									<div class="span2">
										<label for="internet" class="block"><b>#{bundle.internet}</b></label>
										<h:selectBooleanCheckbox id="internet" title="#{bundle.possuiInternet} ?" value="#{cadastrarIrriganteBean.irrigante.possuiInternet}"  disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>
										<h:outputLabel for="internet">#{bundle.possuiInternet}</h:outputLabel>
									</div>
									
									<div class="span2 clear">
										<label for="sms" class="block"><b>#{bundle.desejaReceber} ?</b></label>
										<h:selectBooleanCheckbox id="sms" title="#{bundle.enviarSMSTI} ?" value="#{cadastrarIrriganteBean.irrigante.enviarSMS}"  disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>
										<h:outputLabel for="sms">#{bundle.enviarSMS}?</h:outputLabel><br />
										<h:selectBooleanCheckbox id="enviarEmail" title="#{bundle.enviarEmail}" value="#{cadastrarIrriganteBean.irrigante.enviarEmail}"  disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>
										<h:outputLabel for="enviarEmail">#{bundle.enviarEmailTI} ?</h:outputLabel>
									</div>

									<div class="span2 clear">
										<p:outputPanel rendered="#{!cadastrarIrriganteBean.isIrrigante}" >
											<label for="classificacao" class="block"><b>#{bundle.classificacao}</b></label>
											<p:rating id="classificacao" value="#{cadastrarIrriganteBean.irrigante.classificacao}" />
				  							<p:tooltip for="classificacao" value="#{bundle.classifiqueIrrigante}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
										</p:outputPanel>							
									</div>

									<div class="span2 clear">
										<p:outputPanel rendered="#{!cadastrarIrriganteBean.isIrrigante}" >
											<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
											<p:inputTextarea id="observacao" cols="80" rows="3" autoResize="false" maxlength="800" value="#{cadastrarIrriganteBean.irrigante.observacao}" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}" />
										</p:outputPanel>							
									</div>
								</div>
							</div>
						</p:outputPanel>
						<p:outputPanel id="d2">
							<div class="row cadastro">		
								<div class="row">
									<div class="span2 clear">
										<p:fieldset> 
											<p:graphicImage id="fotoView" value="/publico/#{cadastrarIrriganteBean.irrigante.foto}" width="120px" height="150px" cache="FALSE" />
											
										</p:fieldset>
									</div>
									<div class="span2 clear">
									 <SPAN class="tooltiptext">Tamanho:  150xp x 150xp</SPAN>
				                        <p:fileUpload id="foto" label="#{bundle.foto}" fileUploadListener="#{cadastrarIrriganteBean.uploadFoto}" style="width: 150px; margin-left:auto; margin-right:auto;" auto="true" mode="advanced" sizeLimit="30720" update=":frmCadastrarIrrigante" />
									</div>

								</div>
							</div>
						</p:outputPanel> 
					</h:panelGrid>
			    </p:tab>  
			    <p:tab id="tab2" title="#{bundle.dadosGeograficos}">  
					<div class="row cadastro">		
						<div class="col-direita">
							<div class="row">
								<div class="span2 clear">
									<label for="area"><b>#{bundle.area}:</b></label><label class="label-required">*</label>						
									<h:selectOneMenu id="area" required="true" requiredMessage="#{bundle.areaIrriganteObrigatorio}." value="#{cadastrarIrriganteBean.irrigante.area}" converter="areaConverter" title="#{bundle.selecioneAreaPertenceIrrigante}" style="width: 180px;" disabled="#{cadastrarIrriganteBean.operacao eq 'VER' or cadastrarIrriganteBean.isIrrigante}">  
						            	<f:selectItem itemLabel="#{bundle.escolhaArea}" itemValue="" />  
				            			<f:selectItems var="area" itemLabel="#{area.nome}" itemValue="#{area}" value="#{cadastrarIrriganteBean.areas}"  />
					        		</h:selectOneMenu>							
								</div>
								<div class="span2 clear">
									<label for="localizacao" class="block"><b>#{bundle.lote}:</b></label>
									<p:inputText id="localizacao" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.localizacao}" size="10" disabled="#{cadastrarIrriganteBean.operacao eq 'VER' or cadastrarIrriganteBean.isIrrigante}"/>							
								</div>
			
								<div class="span2 clear">
									<label for="latitude" class="block"><b>#{bundle.latitude}:</b></label>
									<p:inputText id="latitude" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.latitude}" size="25" disabled="#{cadastrarIrriganteBean.operacao eq 'VER' or cadastrarIrriganteBean.isIrrigante}"/>							
								</div>
			
								<div class="span2">
									<label for="longitude" class="block"><b>#{bundle.longitude}:</b></label>
									<p:inputText id="longitude" maxlength="255" value="#{cadastrarIrriganteBean.irrigante.longitude}" size="25" disabled="#{cadastrarIrriganteBean.operacao eq 'VER' or cadastrarIrriganteBean.isIrrigante}"/>							
								</div>
								
								<div class="span2">
									<p:fileUpload id="coordenadasPoligono" label="#{bundle.importarCoordenadas}" fileUploadListener="#{cadastrarIrriganteBean.uploadCoordenadas}" style="width: 180px; margin-left:auto; margin-right:auto;" auto="true" mode="advanced" sizeLimit="30720" update=":frmCadastrarIrrigante" allowTypes="/(\.|\/)(kml)$/" invalidFileMessage="#{bundle.arquivoInvalido}" invalidSizeMessage="#{bundle.tamanhoInvalido}"/>
								</div>
								
								<div class="span2 clear">
									<label for="areaTotal" class="block"><b>#{bundle.areaTotal}:</b></label>
						            <p:inputText id="areaTotal" styleClass="money" value="#{cadastrarIrriganteBean.irrigante.areaTotal}" size="25" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}">
						            	<f:validateLength maximum="15"/>
										<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</p:inputText>  
								</div>
			
								<div class="span2">
									<label for="areaIrrigada" class="block"><b>#{bundle.areaIrrigada}:</b></label>
						            <p:inputText id="areaIrrigada" styleClass="money" value="#{cadastrarIrriganteBean.irrigante.areaIrrigada}" size="25" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}">
						            	<f:validateLength maximum="15"/>
										<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</p:inputText>  
								</div>
								
							</div>
						</div>
						
					</div>
			    </p:tab>  
			  
			    <p:tab id="tab3" title="#{bundle.acessoSistema}">  
					<div class="row cadastro">		
						<div class="col-direita">
							<div class="row">
								<div class="span2 clear">
									<p:outputPanel rendered="#{!cadastrarIrriganteBean.isIrrigante}" >
										<label for="perfil" class="block"><b>#{bundle.perfil}:</b></label>							
										<h:selectOneMenu id="perfil" value="#{cadastrarIrriganteBean.irrigante.usuario.perfil}" converter="perfilConverter" title="#{bundle.selecionePerfil}" style="width: 195px;" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}">  
					            			<f:selectItems var="perfil" itemLabel="#{perfil.descricao}" itemValue="#{perfil}" value="#{cadastrarIrriganteBean.perfis}"  />
						        		</h:selectOneMenu>
					        		</p:outputPanel>							
								</div>
								
								<div class="span2 clear">
									<label for="login"><b>#{bundle.login}:</b></label><label class="label-required">*</label>
									<p:inputText styleClass="block" id="login" required="true" requiredMessage="#{bundle.loginObrigatorio}" value="#{cadastrarIrriganteBean.irrigante.usuario.username}" size="36" disabled="#{cadastrarIrriganteBean.operacao eq 'VER' or cadastrarIrriganteBean.isIrrigante}"/>
								</div>
								
								<div class="span2 clear">
									<p:outputPanel rendered="#{cadastrarIrriganteBean.operacao eq 'NOVO'}">
										<label for="senha" class="block"><b>#{bundle.senha}:</b></label>
										<p:password id="senha" value="#{cadastrarIrriganteBean.irrigante.usuario.password}" size="36"/>  
									</p:outputPanel>							
								</div>
								
								<div class="span2">
									<p:outputPanel rendered="#{cadastrarIrriganteBean.operacao eq 'NOVO'}">
										<label for="confirmarSenha" class="block"><b>#{bundle.confirmarSenha}:</b></label>
										<p:password id="confirmarSenha" value="#{cadastrarIrriganteBean.irrigante.usuario.confirmarSenha}" feedback="false" size="36"/>  							
									</p:outputPanel>							
								</div>
								
								<div class="span2 clear">
									<label for="email" class="block"><b>#{bundle.email}:</b></label>
									<p:inputText id="email" value="#{cadastrarIrriganteBean.irrigante.usuario.email}" size="36" disabled="#{cadastrarIrriganteBean.operacao eq 'VER'}"/>  
								</div>
								
								<div class="span2">
									<p:outputPanel rendered="#{cadastrarIrriganteBean.operacao ne 'VER'}">
										<label for="confirmarEmail" class="block"><b>#{bundle.confirmarEmail}:</b></label>
										<p:inputText id="confirmarEmail" value="#{cadastrarIrriganteBean.irrigante.usuario.confirmarEmail}" size="36"/>  							
									</p:outputPanel>							
								</div>
							</div>
						</div>
					</div>
			    </p:tab>  
			</p:tabView>
			
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});
			</script>
		</h:form>
	</ui:define>
</ui:composition>
