<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
		<ui:define name="content">
		
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarSistemaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarSistema" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastrarSistemaIrrigacao} - <h:outputText value="#{cadastrarSistemaBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{cadastrarSistemaBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarSistemaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarSistema" process="@form" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarSistemaBean.voltar}" styleClass="btn primary" immediate="true" />
					<p:commandButton id="btNovoBomba" oncomplete="bombas.show()" actionListener="#{cadastrarSistemaBean.prepararBomba}" value="#{bundle.incluirBomba}" styleClass="btn primary" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" update=":frmDialogSistema:dlgBomba" process="@this"/>
					<p:commandButton id="btNovoFiltro" oncomplete="filtros.show()" actionListener="#{cadastrarSistemaBean.prepararFiltro}" value="#{bundle.incluirFiltro}" styleClass="btn primary" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" update=":frmDialogSistema:dlgFiltro" process="@this"/>
					<p:commandButton id="btNovoValvula" oncomplete="valvulas.show()" actionListener="#{cadastrarSistemaBean.prepararValvula}" value="#{bundle.incluirValvula}" styleClass="btn primary" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" update=":frmDialogSistema:dlgValvula" process="@this"/>
					<p:commandButton id="btNovoTubo" oncomplete="tubos.show()" actionListener="#{cadastrarSistemaBean.prepararTubo}" value="#{bundle.incluirTubo}" styleClass="btn primary" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" update=":frmDialogSistema:dlgTubo" process="@this"/>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="pressao" class="block"><b>#{bundle.pressaoInicioSistema}(Kgf/cm<sup>2</sup>):</b></label>
				            <p:inputText id="pressao" styleClass="money" value="#{cadastrarSistemaBean.irrigante.pressao}" size="30" disabled="#{cadastrarSistemaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="lacre" class="block"><b>#{bundle.lacre}:</b></label>
				            <p:inputText id="lacre" value="#{cadastrarSistemaBean.irrigante.lacreHidrometro}" size="7" disabled="#{cadastrarSistemaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarSistemaBean.operacao eq 'ALTERAR'}">
							<p:outputPanel rendered="#{cadastrarSistemaBean.irrigante.setores.size() == 0}">
								<label for="qtdSetor" class="block"><b>#{bundle.qtdSetor}:</b></label>
								<p:inputMask id="qtdSetor" maxlength="3" value="#{cadastrarSistemaBean.irrigante.qtdSetor}" mask="?999" size="5"/>
							</p:outputPanel>  
							</p:outputPanel>  
						</div>
						<div class="span2 clear">
							<h:outputLabel for="automatico">#{bundle.automatica}</h:outputLabel>
							<h:selectBooleanCheckbox style="margin-left:5px;" id="automatico" title="#{bundle.automatica}" value="#{cadastrarSistemaBean.irrigante.sistemaAutomatico}" disabled="#{cadastrarSistemaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="tblBomba" class="block"><b>#{bundle.bombas}:</b></label>
						    <p:dataTable id="tblBomba" var="bomba" value="#{cadastrarSistemaBean.irrigante.bombas}" emptyMessage="#{bundle.irriganteNaoPossuiBomba}">
						        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
						            <h:outputText value="#{bomba.fabricante.nome}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
						            <h:outputText value="#{bomba.modelo}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.tipo}" style="text-align: left;">  
						            <h:outputText value="#{bomba.tipo.descricao}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.acionamento}" style="text-align: left;">  
						            <h:outputText value="#{bomba.acionamentoBomba.descricao}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.vazao}(m&lt;sup&gt;3&lt;/sup&gt;/h)" style="text-align: left;">  
						            <h:outputText value="#{bomba.vazao}"  >
				    					<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>       
						        </p:column>  
						        <p:column headerText="#{bundle.potencia}(cv)" style="text-align: left;">  
						            <h:outputText value="#{bomba.potencia}" >
						    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>     
						        </p:column>  
						        <p:column headerText="#{bundle.rendimento}(%)" style="text-align: left;">  
						            <h:outputText value="#{bomba.rendimento}" >
						    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>       
						        </p:column> 
						        <p:column headerText="#{bundle.opcao}" style="width:10%" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
						            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacaoBomba.show()" title="#{bundle.excluirBomba}"  >  
						                <f:setPropertyActionListener value="#{bomba}" target="#{cadastrarSistemaBean.bombaSelecionada}" />  
						            </p:commandLink>  				         
						        </p:column>  
						    </p:dataTable>  
						</div>
						<div class="span2 clear">
							<label for="tblFiltro" class="block"><b>#{bundle.filtros}:</b></label>
						    <p:dataTable id="tblFiltro" var="filtro" value="#{cadastrarSistemaBean.irrigante.filtros}" emptyMessage="#{bundle.irriganteNaoPossuiFiltro}">
						        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
						            <h:outputText value="#{filtro.fabricante.nome}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
						            <h:outputText value="#{filtro.modelo}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.tipo}" style="text-align: left;">  
						            <h:outputText value="#{filtro.tipoFiltro}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.filtragem}" style="text-align: left;">  
						            <h:outputText value="#{filtro.filtragem}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.pressao}(Kgf/cm&lt;sup&gt;2&lt;/sup&gt;)" style="text-align: left;">  
						            <h:outputText value="#{filtro.pressao}"  >
				    					<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>       
						        </p:column>  
						        <p:column headerText="#{bundle.elementoMESH}(MESH)" style="text-align: left;">  
						            <h:outputText value="#{filtro.elemento}" >
						    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>     
						        </p:column>  
						        <p:column headerText="#{bundle.opcao}" style="width:10%" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
						            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacaoFiltro.show()" title="#{bundle.excluirFiltro}" >  
						                <f:setPropertyActionListener value="#{filtro}" target="#{cadastrarSistemaBean.filtroSelecionada}" />  
						            </p:commandLink>  				         
						        </p:column>  
						    </p:dataTable>  
						</div>
						<div class="span2 clear">  
							<label for="tblValvula" class="block"><b>#{bundle.valvulas}:</b></label>
						    <p:dataTable id="tblValvula" var="valvula" value="#{cadastrarSistemaBean.irrigante.valvulas}" emptyMessage="#{bundle.irriganteNaoPossuiValvulas}">
						        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
						            <h:outputText value="#{valvula.fabricante.nome}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
						            <h:outputText value="#{valvula.modelo}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.tipo}" style="text-align: left;">  
						            <h:outputText value="#{valvula.tipo}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.pressao}(Kgf/cm&lt;sup&gt;2&lt;/sup&gt;)" style="text-align: left;">  
						            <h:outputText value="#{valvula.pressao}"  >
				    					<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>       
						        </p:column>  
						        <p:column headerText="#{bundle.vazao}(m&lt;sup&gt;3&lt;/sup&gt;/h)" style="text-align: left;">  
						            <h:outputText value="#{valvula.vazao}"  >
				    					<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>       
						        </p:column>  
						        <p:column headerText="#{bundle.opcao}" style="width:10%" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
						            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacaoValvula.show()" title="#{bundle.excluirValvula}" >  
						                <f:setPropertyActionListener value="#{valvula}" target="#{cadastrarSistemaBean.valvulaSelecionada}" />  
						            </p:commandLink>  				         
						        </p:column>  
						    </p:dataTable>  
						</div>
						<div class="span2 clear">
							<label for="tblTubo" class="block"><b>#{bundle.tubos}:</b></label>
						    <p:dataTable id="tblTubo" var="tubo" value="#{cadastrarSistemaBean.irrigante.tubos}" emptyMessage="#{bundle.irriganteNaoPossuiTubo}">
						        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
						            <h:outputText value="#{tubo.fabricante.nome}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
						            <h:outputText value="#{tubo.modelo}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.tipo}" style="text-align: left;">  
						            <h:outputText value="#{tubo.tipo}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.vazao}(m&lt;sup&gt;3&lt;/sup&gt;/h)" style="text-align: left;">  
						            <h:outputText value="#{tubo.vazao}"  >
				    					<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>       
						        </p:column>  						        
						        <p:column headerText="#{bundle.pressao}(Kgf/cm&lt;sup&gt;2&lt;/sup&gt;)" style="text-align: left;">  
						            <h:outputText value="#{tubo.pressao}"  >
				    					<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</h:outputText>       
						        </p:column>  
						        <p:column headerText="#{bundle.opcao}" style="width:10%" rendered="#{cadastrarSistemaBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
						            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacaoTubo.show()" title="#{bundle.excluirTubo}" >  
						                <f:setPropertyActionListener value="#{tubo}" target="#{cadastrarSistemaBean.tuboSelecionada}" />  
						            </p:commandLink>  				         
						        </p:column>  
						    </p:dataTable>  
						</div>
					</div>
				</div>
			</div>
			<p:confirmDialog id="dlgConfirmaExclusaoBomba" message="#{bundle.certezaExcluirBomba}"   
	              header="#{bundle.exclusaoBomba}" severity="alert" widgetVar="confirmacaoBomba">  
	                 
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="confirmacaoBomba.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.excluirBomba}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacaoBomba.hide()" type="button" styleClass="btn cancel" />   
	                 
		    </p:confirmDialog>			
		    
		    <p:confirmDialog id="dlgConfirmaExclusaoFiltro" message="#{bundle.certezaExcluirFiltro}"   
	              header="#{bundle.exclusaoFiltro}" severity="alert" widgetVar="confirmacaoFiltro">  
	                 
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="confirmacaoFiltro.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.excluirFiltro}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacaoFiltro.hide()" type="button" styleClass="btn cancel" />   
	                 
		    </p:confirmDialog>	
		    
		    <p:confirmDialog id="dlgConfirmaExclusaoValvula" message="#{bundle.certezaExcluirValvula}"   
	              header="#{bundle.exclusaoValvula}" severity="alert" widgetVar="confirmacaoValvula">  
	                 
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="confirmacaoValvula.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.excluirValvula}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacaoValvula.hide()" type="button" styleClass="btn cancel" />   
	                 
		    </p:confirmDialog>	
		    
		    <p:confirmDialog id="dlgConfirmaExclusaoTubo" message="#{bundle.certezaExcluirTubo}"   
	              header="#{bundle.exclusaoTubo}" severity="alert" widgetVar="confirmacaoTubo">  
	                 
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="confirmacaoTubo.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.excluirTubo}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacaoTubo.hide()" type="button" styleClass="btn cancel" />   
	                 
		    </p:confirmDialog>					
		</h:form>
		<h:form id="frmDialogSistema" styleClass="formularios box-border" prependId="false">
		
			<p:dialog id="dlgBomba" header="#{bundle.escolhaBomba}" widgetVar="bombas" message="#{bundle.escolhaBombasIrrigantePossue}">
			   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
			   		<h:outputText value="#{bundle.fabricante}:" />  
					<h:selectOneMenu id="fabricanteb" value="#{cadastrarSistemaBean.bombaBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricanteEspecifico}" style="width: 100px;">  
		            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	           			<f:selectItems var="b" itemLabel="#{b.nome}" itemValue="#{b}" value="#{cadastrarSistemaBean.fabricantes}"  />
	        		</h:selectOneMenu>							
			     	<p:spacer width="8" />
			   		<h:outputText value="#{bundle.modelo}:" />  
					<p:inputText id="modelob" value="#{cadastrarSistemaBean.bombaBusca.modelo}" size="10" />  
			     	<p:spacer width="8" />
	
		            <p:commandLink id="btConsultarb" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaBombas}" actionListener="#{cadastrarSistemaBean.consultarBombas}" ajax="true" process="tblNovasBomba,dlgBomba" update="tblNovasBomba"/>  
			   </p:fieldset>
				<br />
			    <p:dataTable id="tblNovasBomba" var="bomba" value="#{cadastrarSistemaBean.bombas}" selection="#{cadastrarSistemaBean.bombasSelecionadas}"  emptyMessage="#{bundle.naoBombaCadastrada}" rowKey="#{bomba.id}"
						paginator="true" rows="10" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"  
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" styleClass="tblBombas">				    
			        <p:column selectionMode="multiple" />  
			        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
			            <h:outputText value="#{bomba.fabricante.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
			            <h:outputText value="#{bomba.modelo}" /> 
			        </p:column>  
			        <p:column headerText="#{bundle.vazao}" style="text-align: right;">  
			            <h:outputText value="#{bomba.vazao}" />  
			        </p:column>  
			    </p:dataTable>  
			   <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="bombas.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.incluirBomba}" process="dlgBomba"/> 
		       <p:commandButton value="#{bundle.nao}" onclick="bombas.hide()" type="button" styleClass="btn cancel" />   
			</p:dialog>     
	
		    <p:dialog id="dlgFiltro" header="#{bundle.escolhaFiltro}" widgetVar="filtros" message="#{bundle.escolhaFiltrosIrrigantePossue}">
				<p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
			   		<h:outputText value="#{bundle.fabricante}:" />  
					<h:selectOneMenu id="fabricantef" value="#{cadastrarSistemaBean.filtroBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricanteEspecifico}" style="width: 100px;">  
		            	<f:selectItem itemLabel="Todas" itemValue="" />  
	           			<f:selectItems var="f" itemLabel="#{f.nome}" itemValue="#{f}" value="#{cadastrarSistemaBean.fabricantes}"  />
	        		</h:selectOneMenu>							
			     	<p:spacer width="8" />
			   		<h:outputText value="#{bundle.modelo}:" />  
					<p:inputText id="modelof" value="#{cadastrarSistemaBean.filtroBusca.modelo}" size="10" />  
			     	<p:spacer width="8" />
	
		            <p:commandLink id="btConsultarf" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaFiltros}" actionListener="#{cadastrarSistemaBean.consultarFiltros}" ajax="true" process="tblNovasFiltro,dlgFiltro" update="tblNovasFiltro"/>  
			   </p:fieldset>
				<br />
			   <p:dataTable id="tblNovasFiltro" var="filtro" value="#{cadastrarSistemaBean.filtros}" selection="#{cadastrarSistemaBean.filtrosSelecionadas}"  emptyMessage="#{bundle.naoFiltroCadastrada}" rowKey="#{filtro.id}"
						paginator="true" rows="10" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}" 
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" styleClass="tblFiltros">				    
			        <p:column selectionMode="multiple" />  
			        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
			            <h:outputText value="#{filtro.fabricante.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
			            <h:outputText value="#{filtro.modelo}" />  
			        </p:column>  
			    </p:dataTable>  
	                 
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="filtros.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.incluirFiltro}" process="dlgFiltro" />  
		       <p:commandButton value="#{bundle.nao}" onclick="filtros.hide()" type="button" styleClass="btn cancel" />   
			</p:dialog>          
	
	
	  
		    <p:dialog id="dlgValvula" header="#{bundle.escolhaValvula}" widgetVar="valvulas" message="#{bundle.escolhaValvulaIrrigantePossue}">
				<p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
			   		<h:outputText value="#{bundle.fabricante}:" />  
					<h:selectOneMenu id="fabricantev" value="#{cadastrarSistemaBean.valvulaBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricanteEspecifico}" style="width: 100px;">  
		            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	           			<f:selectItems var="v" itemLabel="#{v.nome}" itemValue="#{v}" value="#{cadastrarSistemaBean.fabricantes}"  />
	        		</h:selectOneMenu>							
			     	<p:spacer width="8" />
			   		<h:outputText value="#{bundle.modelo}:" />  
					<p:inputText id="modelov" value="#{cadastrarSistemaBean.valvulaBusca.modelo}" size="10" />  
			     	<p:spacer width="8" />
	
		            <p:commandLink id="btConsultarv" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisaValvulas}" actionListener="#{cadastrarSistemaBean.consultarValvulas}" ajax="true" process="tblNovasValvula,dlgValvula" update="tblNovasValvula"/>  
			   </p:fieldset>
				<br />
		       <p:dataTable id="tblNovasValvula" var="valvula" value="#{cadastrarSistemaBean.valvulas}" selection="#{cadastrarSistemaBean.valvulasSelecionadas}"  emptyMessage="#{bundle.naoValvulaCadastrada}" rowKey="#{valvula.id}"
						paginator="true" rows="10" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"  
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" styleClass="tblValvulas" >		  
			        <p:column selectionMode="multiple" />  
			        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
			            <h:outputText value="#{valvula.fabricante.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
			            <h:outputText value="#{valvula.modelo}" />  
			        </p:column>  
			    </p:dataTable>  
	                 
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="valvulas.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.incluirValvula}" process="dlgValvula" />  
		       <p:commandButton value="#{bundle.nao}" onclick="valvulas.hide()" type="button" styleClass="btn cancel" />   
			</p:dialog>    
			        
			        
	        <p:dialog id="dlgTubo" header="#{bundle.escolhaValvula}" widgetVar="tubos" message="#{bundle.escolhaTubosIrrigantePossue}">
			   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
			   		<h:outputText value="#{bundle.fabricante}:" />  
					<h:selectOneMenu id="fabricantet" value="#{cadastrarSistemaBean.tuboBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricanteEspecifico}" style="width: 100px;">  
		            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	           			<f:selectItems var="t" itemLabel="#{t.nome}" itemValue="#{t}" value="#{cadastrarSistemaBean.fabricantes}"  />
	        		</h:selectOneMenu>							
			     	<p:spacer width="8" />
			   		<h:outputText value="#{bundle.modelo}:" />  
					<p:inputText id="modelot" value="#{cadastrarSistemaBean.tuboBusca.modelo}" size="10" />  
			     	<p:spacer width="8" />
	
		            <p:commandLink id="btConsultart" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaTubos}" actionListener="#{cadastrarSistemaBean.consultarTubos}" ajax="true" process="tblNovasTubo,dlgTubo" update="tblNovasTubo"/>  
			   </p:fieldset>
				<br />
			    <p:dataTable id="tblNovasTubo" var="tubo" value="#{cadastrarSistemaBean.tubos}" selection="#{cadastrarSistemaBean.tubosSelecionadas}"  emptyMessage="#{bundle.naoTuboCadastrada}:" rowKey="#{tubo.id}"
						paginator="true" rows="10" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}" 
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" styleClass="tblTubos">				      
			        <p:column selectionMode="multiple" />  
			        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
			            <h:outputText value="#{tubo.fabricante.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.modelo}" style="text-align: left;">  
			            <h:outputText value="#{tubo.modelo}" />  
			        </p:column>  
			    </p:dataTable>  
	                 
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSistema" oncomplete="tubos.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSistemaBean.incluirTubo}" process="dlgTubo" />  
		       <p:commandButton value="#{bundle.nao}" onclick="tubos.hide()" type="button" styleClass="btn cancel" />   
			</p:dialog>    
			        			        
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
