<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarAguaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		<div class="titulo-pagina ico-setor-add">
			<h2>#{bundle.cadastroAgua} - <h:outputText value="#{cadastrarAguaBean.irrigante.nome}" />   - #{bundle.lote}:  <h:outputText value="#{cadastrarAguaBean.irrigante.localizacao}" /></h2>
		</div>	
		
		<h:form id="frmCadastrarAgua" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="data" class="block"><b>#{bundle.dataVencimento}:</b></label>
							<p:calendar value="#{cadastrarAguaBean.agua.data}" navigator="false" size="15" disabled="#{cadastrarAguaBean.operacao eq 'VER'}" pattern="dd/MM/yyyy" />							
						</div>
						<div class="span2 clear">
							<label for="leituraanterior" class="block"><b>#{bundle.leituraAnterior}:</b></label>
				            <p:inputMask id="leituraanterior" value="#{cadastrarAguaBean.agua.leituraanterior}" mask="?999999" size="10" disabled="#{cadastrarAguaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="leituraatual" class="block"><b>#{bundle.leituraAtual}:</b></label>
				            <p:inputMask id="leituraatual" value="#{cadastrarAguaBean.agua.leituraatual}" mask="?999999" size="10" disabled="#{cadastrarAguaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="k2fixo" class="block"><b>#{bundle.k2Fixo}:</b></label>
				            <p:inputMask id="k2fixo" value="#{cadastrarAguaBean.agua.k2fixo}" mask="?999999" size="10" disabled="#{cadastrarAguaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="k2variavel" class="block"><b>#{bundle.k2Variavel}:</b></label>
				            <p:inputMask id="k2variavel" value="#{cadastrarAguaBean.agua.k2variavel}" mask="?999999" size="10" disabled="#{cadastrarAguaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="quantidade" class="block"><b>#{bundle.volume}:</b></label>
				            <p:inputMask id="quantidade" value="#{cadastrarAguaBean.agua.quantidade}" mask="?999999" size="10" disabled="#{cadastrarAguaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="valor" class="block"><b>#{bundle.valor}:</b></label>
				            <p:inputText id="valor" styleClass="money" value="#{cadastrarAguaBean.agua.valor}" size="6" maxlength="10" disabled="#{cadastrarAguaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="10"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
							</p:inputText>  
						</div>
					</div>
					<p:commandButton id="btSalvar" actionListener="#{cadastrarAguaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarAgua" process="@form" rendered="#{cadastrarAguaBean.operacao ne 'VER'}" onclick="start()" widgetVar="startButton1"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarAguaBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>			
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_VALOR);
				});		 

			    function start() {  
			        startButton1.disable();  
			    }  
			  
			    function cancel() {  
			        startButton1.enable();  
			    }  
			</script>
		</h:form>
	</ui:define>
</ui:composition>
			