<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarCultivoBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarCultivo" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroCultivo} - <h:outputText value="#{cadastrarCultivoBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{cadastrarCultivoBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarCultivoBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarCultivo" process="@form" rendered="#{cadastrarCultivoBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarCultivoBean.voltar}" styleClass="btn primary" immediate="true" />
					<p:commandButton id="btAdicionar" actionListener="#{cadastrarCultivoBean.adicionarPlantio}" value="+ #{bundle.plantio}" styleClass="btn primary" process="@form" update=":frmCadastrarCultivo" rendered="#{cadastrarCultivoBean.operacao ne 'VER'}"/>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<h:panelGrid columns="2" style="width:100%">
					<p:outputPanel>
						<div class="span2 clear">
							<label for="cultura" class="block"><b>#{bundle.cultura}:</b></label>							
							<h:selectOneMenu id="cultura" value="#{cadastrarCultivoBean.cultivo.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaCultivo}" style="width: 189px;" required="true" requiredMessage="#{bundle.culturaObrigatorio}" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaCultura}" itemValue="" />  
		            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{cadastrarCultivoBean.culturas}"  />
								<p:ajax update="variedade" listener="#{cadastrarCultivoBean.carregarVariedades}" process="@this" /> 
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="variedade" class="block"><b>#{bundle.variedade}:</b></label>
							<h:selectOneMenu id="variedade" required="true" requiredMessage="#{bundle.variedadeObrigatorio}" value="#{cadastrarCultivoBean.cultivo.variedade}" converter="variedadeConverter" title="#{bundle.selecioneVariedadeCultivo}" style="width: 189px;" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaVariedade}" itemValue="" />  
		            			<f:selectItems var="variedade" itemLabel="#{variedade.nome}" itemValue="#{variedade}" value="#{cadastrarCultivoBean.variedades}"  />
								<p:ajax update="referencia" listener="#{cadastrarCultivoBean.carregarReferencias}" process="@this" /> 
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="referencia" class="block"><b>#{bundle.referencia}:</b></label>
							<h:selectOneMenu id="referencia" required="true" requiredMessage="#{bundle.referenciaObrigatorio}" value="#{cadastrarCultivoBean.cultivo.referencia}" converter="referenciaConverter" title="#{bundle.selecioneReferenciaCultivo}" style="width: 189px;" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaReferencia}" itemValue="" />  
		            			<f:selectItems var="referencia" itemLabel="#{referencia.autor}" itemValue="#{referencia}" value="#{cadastrarCultivoBean.referencias}"  />
								<p:ajax update="pnlGrafico" process="@this" /> 
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{cadastrarCultivoBean.cultivo.dataInicio}" navigator="false" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}" pattern="dd/MM/yyyy" required="true" requiredMessage="#{bundle.dataInicioObrigatoria}">
								<p:ajax event="dateSelect" listener="#{cadastrarCultivoBean.mudarData}" update="pnlGrafico" process="@this" />  
							</p:calendar>							
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="30" rows="4" autoResize="false" maxlength="800" value="#{cadastrarCultivoBean.cultivo.observacao}" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}"/>							
						</div>
					</p:outputPanel>
					<p:outputPanel id="pnlGrafico">
						<p:lineChart legendPosition="se" id="grafico" value="#{cadastrarCultivoBean.grafico}" title="#{bundle.graficoCultura}" minY="0" rendered="#{cadastrarCultivoBean.exibirGrafico}" style=" height: 250px;">
							<p:ajax event="itemSelect" listener="#{cadastrarCultivoBean.itemGrafico}" update="msg" /> 
						</p:lineChart>
						<h:panelGrid columns="10" rendered="#{cadastrarCultivoBean.exibirGrafico}" cellspacing="5" cellpadding="5">
							<h:selectBooleanCheckbox id="kc" value="#{cadastrarCultivoBean.kc}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.kc}" />
							<h:selectBooleanCheckbox id="raiz" value="#{cadastrarCultivoBean.enraizamento}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.raiz}" />
							<h:selectBooleanCheckbox id="esgotamento" value="#{cadastrarCultivoBean.esgotamento}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.esgotamento}" />
							<h:selectBooleanCheckbox id="rendimento" value="#{cadastrarCultivoBean.rendimento}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.fRendimento}" />
							<h:selectBooleanCheckbox id="altura" value="#{cadastrarCultivoBean.altura}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.altura}" />
							<h:selectBooleanCheckbox id="dc" value="#{cadastrarCultivoBean.dc}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.dc}" />
			            </h:panelGrid>
					</p:outputPanel>
				</h:panelGrid>
				<p:outputPanel id="consulta">
					<div class="span2 clear">
						<label for="plantio" class="block"><b>#{bundle.plantios}:</b></label>
						<p:dataTable var="plantio" value="#{cadastrarCultivoBean.cultivo.plantio}" emptyMessage="#{bundle.plantioNaoExiste}"
							rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  
					        <p:column headerText="#{bundle.setor}" style="width:6%;text-align: left;">  
								<h:selectOneMenu id="setor" value="#{plantio.setor}" title="#{bundle.selecioneSetor}" converter="setorConverter" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}" >  
			            			<f:selectItems var="setor" itemLabel="#{setor.identificacao.toString()}" itemValue="#{setor}" value="#{cadastrarCultivoBean.setores}"  />
				        		</h:selectOneMenu>							
					        </p:column>  
					        <p:column headerText="#{bundle.fertirrigacao}" style="width:16%;text-align: left;">  
								<h:selectOneMenu id="tipoF" value="#{plantio.tipoFertirrigacao}" title="#{bundle.selecioneTipo}" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">  
			            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarCultivoBean.tiposFertirrigacao}"  />
				        		</h:selectOneMenu>							
					        </p:column>  
					        <p:column id="tm" headerText="#{bundle.manejo}" style="width:16%;text-align: left;" >  
								<h:selectOneMenu id="tipoM" value="#{plantio.tipoManejoIrrigacao}" title="#{bundle.selecioneTipo}" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">  
			            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarCultivoBean.tiposManejo}"  />
				        		</h:selectOneMenu>							
					        </p:column>  
					        <p:column headerText="#{bundle.NeNp}" style="width:20%;text-align: left;">  
					            <p:inputMask id="totalEmissor" value="#{plantio.totalEmissores}" mask="?9999" size="1" style="width: 20px;" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}"/>
					           /
					            <p:inputMask id="totalPlanta" value="#{plantio.totalPlanta}" mask="?9999" size="1" style="width: 20px;" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}"/>
					        </p:column>  
					        <p:column headerText="#{bundle.sr}(m)" style="width:5%;text-align: right;">  
					            <p:inputText styleClass="money" value="#{plantio.espacamento1}" size="3" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
								</p:inputText>  
					        </p:column>  
					        <p:column headerText="#{bundle.sp}(m)" style="width:5%;text-align: right;">  
					            <p:inputText styleClass="money" value="#{plantio.espacamento2}" size="3" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
								</p:inputText>  
					        </p:column>  
					        <p:column headerText="#{bundle.sd}(m)" style="width:5%;text-align: right;">  
					            <p:inputText styleClass="money" value="#{plantio.espacamento3}" size="3" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
								</p:inputText>  
					        </p:column>  
					        <p:column headerText="#{bundle.Se}(m)" style="width:5%;text-align: right;">  
					            <p:inputText styleClass="money" value="#{plantio.espE}" size="3" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
								</p:inputText>  
					        </p:column>  
					        <p:column headerText="#{bundle.Sl}(m)" style="width:5%;text-align: right;">  
					            <p:inputText styleClass="money" value="#{plantio.espLE}" size="3" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
								</p:inputText>  
					        </p:column>  
					        <p:column headerText="#{bundle.area}(ha)" style="width:10%;text-align: right;">  
					        	<p:inputText styleClass="carea" value="#{plantio.areatotal}" size="5" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
								</p:inputText>  
					        </p:column> 
					        <p:column headerText="#{bundle.opcao}" style="width:10%" rendered="#{cadastrarCultivoBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
					            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirPlantio}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_PLANTIO')}">  
					                <f:setPropertyActionListener value="#{plantio}" target="#{cadastrarCultivoBean.plantioSelecionado}" />  
					            </p:commandLink>  				         
					        </p:column>  
						</p:dataTable>
					</div>
				</p:outputPanel>	
			</div>
			
			<p:confirmDialog message="#{bundle.certezaExcluirPlantio}" 
               header="#{bundle.exclusaoPlantio}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarCultivo" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarCultivoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>
		    
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
				
				jQuery(document).ready(function($){
					$(".carea").maskMoney(MASK_AREA);
				});	

			</script>
				
		</h:form>
	</ui:define>
</ui:composition>

