<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarSetorBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarSetor" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" > 
					#{bundle.cadastroSetor} - <h:outputText value="#{cadastrarSetorBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{cadastrarSetorBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarSetorBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarSetor" process="@form" rendered="#{cadastrarSetorBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarSetorBean.voltar}" styleClass="btn primary" immediate="true" />
					<p:commandButton id="btNovoEmissor" oncomplete="emissores.show()" actionListener="#{cadastrarSetorBean.prepararEmissor}" value="#{bundle.incluirEmissor}" styleClass="btn primary" rendered="#{cadastrarSetorBean.operacao ne 'VER'}" update=":frmCadastrarSetor:dlgEmissor" process="@this"/>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="nome" class="block"><b>#{bundle.identificacao}:</b></label>
							<p:inputMask required="true" id="nome" requiredMessage="#{bundle.identificacaoObrigatorio}" title="#{bundle.identificacao}" maxlength="4" value="#{cadastrarSetorBean.setor.identificacao}" disabled="#{cadastrarSetorBean.operacao eq 'VER'}" mask="?999" size="4" />
						</div>
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarSetorBean.operacao ne 'VER'}">
								<label for="setorCopia" class="block"><b>#{bundle.copiarSetor}:</b></label>							
								<h:selectOneMenu id="setorCopia" value="#{cadastrarSetorBean.setorCopia}" converter="setorConverter" title="#{bundle.selecioneSolo}" rendered="#{cadastrarSetorBean.operacao ne 'VER'}" >  
					            	<f:selectItem itemLabel="#{bundle.setorSerCopiado}" itemValue="" />  
			            			<f:selectItems var="set" itemLabel="#{set.identificacao.toString()}" itemValue="#{set}" value="#{cadastrarSetorBean.setores}"  />
									<p:ajax update=":frmCadastrarSetor" listener="#{cadastrarSetorBean.carregarSetor}" process="@this" /> 
				        		</h:selectOneMenu>							
							</p:outputPanel>
						</div>
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarSetorBean.operacao ne 'VER'}">
								<label for="solo" class="block"><b>#{bundle.solo}:</b></label>							
								<h:selectOneMenu id="solo" value="#{cadastrarSetorBean.solo}" converter="soloConverter" title="#{bundle.selecioneSolo}" rendered="#{cadastrarSetorBean.operacao ne 'VER'}" >  
					            	<f:selectItem itemLabel="#{bundle.soloPreDefinido}" itemValue="" />  
			            			<f:selectItems var="solo" itemLabel="#{solo.nome}" itemValue="#{solo}" value="#{cadastrarSetorBean.solos}"  />
									<p:ajax update=":frmCadastrarSetor" listener="#{cadastrarSetorBean.carregarSolo}" process="@this" /> 
				        		</h:selectOneMenu>							
							</p:outputPanel>
						</div>
						<div class="span2">
							<label for="tipo" class="block"><b>#{bundle.tipoSolo}</b></label>							
							<h:selectOneMenu id="tipo" value="#{cadastrarSetorBean.setor.tipoSolo}" title="#{bundle.selecioneTipoSolo}" style="width: 189px;" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarSetorBean.tiposSolo}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="cc" class="block"><b>#{bundle.capacidadeCampo}:</b></label>
				            <p:inputText style="width:180px" id="cc" styleClass="money" value="#{cadastrarSetorBean.setor.cc}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="pmp" class="block"><b>#{bundle.pontoMurchaPerm}:</b></label>
				            <p:inputText style="width:180px" id="pmp" styleClass="money" value="#{cadastrarSetorBean.setor.pmp}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="infilt" class="block"><b>#{bundle.maxInfiltChuva}:</b></label>
				            <p:inputText id="infilt" styleClass="money" value="#{cadastrarSetorBean.setor.maxTaxaInfiltracaoChuva}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2 clear">
							<label for="massaSolo" class="block"><b>#{bundle.massaSolo}:</b></label>
				            <p:inputText style="width:180px" id="massaSolo" styleClass="money" value="#{cadastrarSetorBean.setor.massaSolo}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="esgotamento" class="block"><b>#{bundle.esgotUmidInicial}:</b></label>
				            <p:inputText style="width:180px" id="esgotamento" styleClass="money" value="#{cadastrarSetorBean.setor.esgotamento}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="umidadeInicial" class="block"><b>#{bundle.umidadeInicial}:</b></label>
				            <p:inputText id="umidadeInicial" styleClass="money" value="#{cadastrarSetorBean.setor.umidadeInicial}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						
						<div class="span2 clear">
							<label for="areaTotal" class="block"><b>#{bundle.areaTotal}:</b></label>
				            <p:inputText style="width:180px" id="areaTotal" styleClass="money" value="#{cadastrarSetorBean.setor.areaTotal}" size="30" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="fatorHidrico" class="block"><b>#{bundle.fatorDisponibilidadeHidrico} :</b></label>
				            <p:inputText id="fatorHidrico" styleClass="money" value="#{cadastrarSetorBean.setor.fatorHidrico}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="vazaoObservada" class="block"><b>Q observada(L/h)</b></label>
				            <p:inputText id="vazaoObservada" styleClass="money" value="#{cadastrarSetorBean.setor.vazaoObservada}" size="10" disabled="#{cadastrarSetorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						

						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea style="width:650px" id="observacao" cols="113" rows="2" autoResize="false" maxlength="800" value="#{cadastrarSetorBean.setor.observacao}" disabled="#{cadastrarSetorBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="tblEmissor" class="block"><b>#{bundle.emissores}:</b></label>
						    <p:dataTable id="tblEmissor" var="emissor" value="#{cadastrarSetorBean.setor.emissores}" emptyMessage="#{bundle.setorSemEmissor}">
						        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
						            <h:outputText value="#{emissor.fabricante.nome}" />  
						        </p:column>  
						        <p:column headerText="#{bundle.descricao}" style="text-align: left;">  
						            <h:outputText value="#{emissor.modelo}" />  
						        </p:column>  
								<p:column headerText="#{bundle.vazao}" style="text-align: left;">  
						            <h:outputText value="#{emissor.vazao}" />  
						        </p:column>  						        
						        <p:column headerText="#{bundle.opcao}" style="width:10%" rendered="#{cadastrarSetorBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
						            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacaoEmissor.show()" title="Excluir emissor" process = "@this" >  
						                <f:setPropertyActionListener value="#{emissor}" target="#{cadastrarSetorBean.emissorSelecionado}" />  
						            </p:commandLink>  				         
						        </p:column>  
						    </p:dataTable>  
						</div>
					</div>
				</div>
			</div>
			
			<p:dialog id="dlgEmissor" header="#{bundle.escolhaEmissor}" widgetVar="emissores" message="#{bundle.escolhaEmissoresIrrigantePossue}">
			   <p:fieldset legend="Filtros" toggleable="true" toggleSpeed="500">
			   		<h:outputText value="#{bundle.fabricante}" />  
					<h:selectOneMenu id="fabricantee" value="#{cadastrarSetorBean.emissorBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricanteEspecifico}" style="width: 100px;">  
		            	<f:selectItem itemLabel="Todas" itemValue="" />  
            			<f:selectItems var="e" itemLabel="#{e.nome}" itemValue="#{e}" value="#{cadastrarSetorBean.fabricantes}"  />
	        		</h:selectOneMenu>							
			     	<p:spacer width="8" />
			   		<h:outputText value="#{bundle.nome}:" />  
					<p:inputText id="nomee" value="#{cadastrarSetorBean.emissorBusca.modelo}" size="10" />  
			     	<p:spacer width="8" />
					<h:outputText value="#{bundle.vazao}:" />  
					<p:inputText id="vazaoe" value="#{cadastrarSetorBean.emissorBusca.vazao}" size="10" />  
		            <p:commandLink id="btConsultare" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisaEmissores}" actionListener="#{cadastrarSetorBean.consultarEmissores}" ajax="true" process="tblNovasEmissor,dlgEmissor" update="tblNovasEmissor"/>  
			   </p:fieldset>
				<br />	
				<p:dataTable id="tblNovasEmissor" var="emissor" value="#{cadastrarSetorBean.emissores}" selection="#{cadastrarSetorBean.emissoresSelecionados}"  emptyMessage="#{bundle.naoExisteEmissorCadastrado}." rowKey="#{emissor.id}"
						paginator="true" rows="10" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"  
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" styleClass="tblEmissores">				    
			        <p:column selectionMode="multiple" />  
			        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
			            <h:outputText value="#{emissor.fabricante.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.nome}" style="text-align: left;">  
			            <h:outputText value="#{emissor.modelo}" /> 
			        </p:column>  
			        <p:column headerText="#{bundle.vazao}" style="text-align: left;">  
			            <h:outputText value="#{emissor.vazao}" /> 
			        </p:column>  
			    </p:dataTable>
			    <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSetor" oncomplete="emissores.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSetorBean.incluirEmissor}" process="dlgEmissor"/> 
		       <p:commandButton value="#{bundle.nao}" onclick="emissores.hide()" type="button" styleClass="btn cancel" />    
			</p:dialog>	
			
			<p:confirmDialog message="#{bundle.certezaExcluirEmissor}"   
               header="Exclusão de emissor" severity="alert" widgetVar="confirmacaoEmissor">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarSetor" oncomplete="confirmacaoEmissor.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarSetorBean.excluirEmissor}" process = "@this" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacaoEmissor.hide()" type="button" styleClass="btn cancel" process = "@this"/>   
                  
		    </p:confirmDialog>	
				
			
				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
