<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarPlantioBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarPlantio" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarPlantios} - <h:outputText value="#{consultarPlantioBean.irrigante.nome}" />  - #{bundle.lote}:   <h:outputText value="#{consultarPlantioBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarPlantioBean.voltar}" styleClass="btn primary" immediate="true" />  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
				
			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="plantio" value="#{consultarPlantioBean.plantios}" emptyMessage="#{bundle.plantioNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">
						
						<p:column filterBy="#{plantio.setor.identificacao}" filterOptions="#{consultarPlantioBean.setores}" sortBy="#{plantio.setor.identificacao}" style="text-align: left;" styleClass="filtroSetor">  
				            <h:outputText value="#{plantio.setor.identificacao}" />  
				        </p:column>  
				        <p:column filterBy="#{plantio.cultivo.cultura.nome}" filterOptions="#{consultarPlantioBean.culturas}" sortBy="#{plantio.cultivo.cultura.nome}" style="text-align: left;">  
				            <h:outputText value="#{plantio.cultivo.cultura.nome}" />  
				        </p:column>  
				        <p:column filterBy="#{plantio.cultivo.variedade.nome}" filterOptions="#{consultarPlantioBean.variedades}" sortBy="#{plantio.cultivo.variedade.nome}" style="text-align: left;">  
				            <h:outputText value="#{plantio.cultivo.variedade.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{plantio.cultivo.dataInicio}" headerText="#{bundle.dataInicio}" style="text-align: center;">  
				            <h:outputText value="#{plantio.cultivo.dataInicio}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>
				        </p:column> 
				        <p:column headerText="#{bundle.consorcio}" style="text-align: center;">  
				            <h:outputText value="#{plantio.consorcio?'Sim':'Não'}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.sequeiro}" style="text-align: center;">  
				            <h:outputText value="#{plantio.sequeiro?'Sim':'Não'}" />  
				        </p:column> 
				        <p:column headerText="#{bundle.areaTotal}" style="text-align: right;">  
							<h:outputText value="#{plantio.areatotal}"/>
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid">
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarPlantioBean.cadastro}" title="#{bundle.manterPlantio}" rendered="#{LoginBean.anyGranted('ROLE_MANTER_PLANTIO')}">  
				                <f:setPropertyActionListener value="#{plantio}" target="#{manterPlantioBean.plantio}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{manterPlantioBean.operacao}" />
				                <f:setPropertyActionListener value="#{consultarPlantioBean.irrigante}" target="#{manterPlantioBean.irrigante}" />  
				            </p:commandLink>  				         
				     	    <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarPlantioBean.cadastro}" title="#{bundle.visualizarPlantio}">  
				                <f:setPropertyActionListener value="#{plantio}" target="#{manterPlantioBean.plantio}" />  
				                <f:setPropertyActionListener value="VER" target="#{manterPlantioBean.operacao}" />  
				                <f:setPropertyActionListener value="#{consultarPlantioBean.irrigante}" target="#{manterPlantioBean.irrigante}" />  
				            </p:commandLink>  					         
				            <p:commandLink styleClass="ui-icon ui-icon-irrigacao" action="#{consultarPlantioBean.irrigacao}" title="#{bundle.verHistoricoIrrigacao}">  
				                <f:setPropertyActionListener value="#{plantio}" target="#{consultarIrrigacaoBean.plantio}" />  
				                <f:setPropertyActionListener value="true" target="#{consultarIrrigacaoBean.origemPlantio}" />  
				                <f:setPropertyActionListener value="false" target="#{consultarIrrigacaoBean.origemFazenda}" />  
				            </p:commandLink>
				            <div class="span2 clear">
					            <p:commandLink styleClass="ui-icon ui-icon-editar" title="#{bundle.doenca}" action="#{consultarPlantioBean.carregarDoencas}" oncomplete="doencaDialog.show()" update=":frmConsultarPlantio">  
		 		                    <f:setPropertyActionListener value="#{plantio}" target="#{consultarPlantioBean.doencaSelecionado}" />  
					            </p:commandLink>  
					            <p:commandLink styleClass="ui-icon ui-icon-editar" title="#{bundle.pragas}" oncomplete="pragaDialog.show()" update=":frmConsultarPlantio">  
		 		                    <f:setPropertyActionListener value="#{plantio}" target="#{consultarPlantioBean.pragaSelecionado}" />  
					            </p:commandLink>  				         
					            <p:commandLink styleClass="ui-icon ui-icon-editar" title="#{bundle.adubos}"  oncomplete="aduboDialog.show()" update=":frmConsultarPlantio">  
		 		                    <f:setPropertyActionListener value="#{plantio}" target="#{consultarPlantioBean.aduboSelecionado}" />  
					            </p:commandLink>  				         
					            <p:commandLink styleClass="ui-icon ui-icon-editar" title="#{bundle.defensivos}" oncomplete="defensivoDialog.show()" update=":frmConsultarPlantio">  
		 		                    <f:setPropertyActionListener value="#{plantio}" target="#{consultarPlantioBean.defensivoSelecionado}" />  
					            </p:commandLink>  				         
				            </div>				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
		    <p:dialog header="#{bundle.doenca}" widgetVar="doencaDialog" resizable="false" id="doencaDlg"  
		                showEffect="fade" hideEffect="explode" modal="true">  
		            <p:commandButton image="ui-icon ui-icon-folder-open" title="Incluir" action="#{consultarPlantioBean.incluirDoenca}" update="cadastrarDoenca" />  
					<p:outputPanel id="cadastrarDoenca">
					<p:outputPanel rendered="#{consultarPlantioBean.incluirDoenca}">
						<p:outputPanel rendered="#{!consultarPlantioBean.novaDoenca}">
							<div class="span2 clear">
								<label for="doenca" class="block">#{bundle.doenca}:</label>							
								<h:selectOneMenu id="doenca" value="#{consultarPlantioBean.doencaSelecionada}" converter="doencaConverter" title="#{bundle.selecioneDoenca}" style="width: 189px;">  
			            			<f:selectItems var="doenca" itemLabel="#{doenca.nome}" itemValue="#{doenca}" value="#{consultarPlantioBean.doencas}"  />
					            	<f:selectItem itemLabel="Nova doença" itemValue="" />  
									<p:ajax update="cadastrarDoenca" event="change" listener="#{consultarPlantioBean.prepararDoenca}" process="@this" /> 
				        		</h:selectOneMenu>							
							</div>
						</p:outputPanel>
						<p:outputPanel rendered="#{consultarPlantioBean.novaDoenca}">
							<div class="span2 clear">
								<label for="Nome" class="block">#{bundle.nome}:</label>
								<p:inputText id="Nome" title="Nome" value="#{consultarPlantioBean.doenca.nome}" size="20"/>
							</div>
							<div class="span2 clear">
								<label for="obs" class="block">#{bundle.observacao}:</label>							
								<p:inputText id="obs" title="Observação" value="#{consultarPlantioBean.doenca.observacao}" size="40"/>
							</div>
						</p:outputPanel>
			            <p:commandButton image="ui-icon ui-icon-folder-open" title="#{bundle.salvar}" action="#{consultarPlantioBean.salvarDoenca}" update="cadastrarDoenca"/>  
					</p:outputPanel>
					</p:outputPanel>

					<p:dataTable var="doenca" value="#{consultarPlantioBean.doencaSelecionado.doencas}" emptyMessage="#{bundle.doencaNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column headerText="#{bundle.nome}" style="width:30%">  
				            <h:outputText value="#{doenca.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.observacao}" style="width:60%">  
				            <h:outputText value="#{doenca.observacao}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:10%"> 
				            <p:commandButton image="ui-icon ui-icon-trash" action="#{consultarPlantioBean.excluirDoenca}" title="#{bundle.excluirDoenca}">  
				                <f:setPropertyActionListener value="#{doenca}" target="#{consultarPlantioBean.doencaSelecionado}" />  
				            </p:commandButton>  				         
				        </p:column>  
					</p:dataTable>
		    </p:dialog>  			
		    <p:dialog header="#{bundle.pragas}" widgetVar="pragaDialog" resizable="false" id="pragaDlg"  
		                showEffect="fade" hideEffect="explode" modal="true">  

					<p:dataTable var="praga" value="#{consultarPlantioBean.pragaSelecionado.pragas}" emptyMessage="#{bundle.pragaNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column headerText="#{bundle.nome}" style="width:30%">  
				            <h:outputText value="#{praga.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.observacao}" style="width:60%">  
				            <h:outputText value="#{praga.observacao}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:10%"> 
				            <p:commandButton image="ui-icon ui-icon-trash" action="#{consultarPlantioBean.excluirPraga}" title="#{bundle.excluirPraga}">  
				                <f:setPropertyActionListener value="#{praga}" target="#{consultarPlantioBean.pragaSelecionado}" />  
				            </p:commandButton>  				         
				        </p:column>  
					</p:dataTable>
		    </p:dialog>  			
		    <p:dialog header="#{bundle.adubos}" widgetVar="aduboDialog" resizable="false" id="aduboDlg"  
		                showEffect="fade" hideEffect="explode" modal="true">  

					<p:dataTable var="adubo" value="#{consultarPlantioBean.aduboSelecionado.adubos}" emptyMessage="#{bundle.aduboNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column headerText="#{bundle.nome}" style="width:30%">  
				            <h:outputText value="#{adubo.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.observacao}" style="width:60%">  
				            <h:outputText value="#{adubo.observacao}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:10%"> 
				            <p:commandButton image="ui-icon ui-icon-trash" action="#{consultarPlantioBean.excluirAdubo}" title="#{bundle.excluirAdubo}">  
				                <f:setPropertyActionListener value="#{adubo}" target="#{consultarPlantioBean.aduboSelecionado}" />  
				            </p:commandButton>  				         
				        </p:column>  
					</p:dataTable>
		    </p:dialog>  			
		    <p:dialog header="#{bundle.defensivo}" widgetVar="defensivoDialog" resizable="false" id="defensivoDlg"  
		                showEffect="fade" hideEffect="explode" modal="true">  

					<p:dataTable var="defensivo" value="#{consultarPlantioBean.defensivoSelecionado.defensivos}" emptyMessage="#{bundle.defensivoNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column headerText="#{bundle.nome}" style="width:30%">  
				            <h:outputText value="#{defensivo.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.observacao}" style="width:60%">  
				            <h:outputText value="#{defensivo.observacao}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:10%"> 
				            <p:commandButton image="ui-icon ui-icon-trash" action="#{consultarPlantioBean.excluirDefensivo}" title="#{bundle.excluirDefensivo}">  
				                <f:setPropertyActionListener value="#{defensivo}" target="#{consultarPlantioBean.aduboSelecionado}" />  
				            </p:commandButton>  				         
				        </p:column>  
					</p:dataTable>
		    </p:dialog>  			
		</h:form>
	</ui:define>
</ui:composition>
