<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/locale-primefaces.js"></script>
			<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarMensagemBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarMensagem" styleClass="formularios box-border" prependId="false" enctype="multipart/form-data">
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo">#{bundle.consultarMensagens}</div>
			</div>
			
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarMensagemBean.mensagemBusca.tipoMensagem}" title="#{bundle.selecioneTipoMensagem}" style="width: 80px;" >  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue=""/>  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarMensagemBean.tiposMensagem}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.assunto}:" />  
						<p:inputText id="assunto" value="#{consultarMensagemBean.mensagemBusca.assunto}" converter="culturaConverter" title="#{bundle.digiteAssunto}" size="10"/>  
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.data}:" />  
						<p:calendar value="#{consultarMensagemBean.mensagemBusca.dataEnvio}" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6"/>
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.lote}:" />  
						<p:inputText id="lote" value="#{consultarMensagemBean.lote}" size="5" />  
				     	<p:spacer width="10" />
			            <p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarMensagens}" actionListener="#{consultarMensagemBean.consultar}" ajax="true" update=":frmConsultarMensagem"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:dataTable id="tblMensagem" var="mensagem" value="#{consultarMensagemBean.mensagens}" emptyMessage="#{bundle.mensagensNaoExiste}"
					paginator="true" rows="40" rowKey="#{mensagem.id}" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
					rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
                		rowsPerPageTemplate="5,10,15,40" >  
			        <p:column sortBy="#{mensagem.tipoMensagem.descricao}" style="width:10%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.area}" />
						</f:facet>  
			            <h:outputText value="#{mensagem.tipoMensagem.descricao}"/>  
			        </p:column>  
			        <p:column sortBy="#{mensagem.dataEnvio}" style="width:10%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.dataEnvio}" />
						</f:facet>  
			            <h:outputText value="#{mensagem.dataEnvio}">
							<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
						</h:outputText>
			        </p:column> 
			        <p:column sortBy="#{mensagem.assunto}" style="width:10%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.assunto}" />
						</f:facet>  
			            <h:outputText value="#{mensagem.assunto}"/>
			        </p:column> 
			        <p:column sortBy="#{mensagem.texto}" style="width:60%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.texto}" />
						</f:facet>  
			            <h:outputText value="#{mensagem.texto}"/>
			        </p:column> 
			        <p:column style="width:10%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.destinatarios}" />
						</f:facet>  
						<h:selectOneMenu id="irrigantes" style="width: 150px;" >  
	            			<f:selectItems value="#{mensagem.destinos}" />
		        		</h:selectOneMenu>							
			        </p:column> 
				</p:dataTable>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
 