<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarEnergiaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarEnergia" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarEnergia} - <h:outputText value="#{consultarEnergiaBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{consultarEnergiaBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarEnergiaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_ENERGIA,ROLE_IRRIGANTE')}">
						<f:setPropertyActionListener value="#{consultarEnergiaBean.irrigante}" target="#{cadastrarEnergiaBean.irrigante}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarEnergiaBean.energia}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarEnergiaBean.operacao}" />
					</p:commandButton>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarEnergiaBean.voltar}" styleClass="btn primary" immediate="true" />  
				</div>
			</div>
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="energia" value="#{consultarEnergiaBean.energias}" emptyMessage="#{bundle.energiaNaoExiste}"
						paginator="true" rows="5" rowKey="#{energia.id}" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
                 		rowsPerPageTemplate="5,10,15,40" >  

						<p:column headerText="#{bundle.data}" style="width:10%">  
				            <h:outputText value="#{energia.data}" >  
			    				<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>   
				        </p:column>  
				        <p:column headerText="#{bundle.quantidade}(W)" style="width:10%">  
				            <h:outputText value="#{energia.quantidade}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column headerText="#{bundle.valor}" style="width:10%">  
				            <h:outputText value="#{energia.valor}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				          
				        <p:column headerText="#{bundle.opcao}" style="width:20%"> 
				            <p:commandButton icon="ui-icon ui-icon-editar" action="#{consultarEnergiaBean.cadastro}" title="#{bundle.alterarEnergia}">  
								<f:setPropertyActionListener value="#{consultarEnergiaBean.irrigante}" target="#{cadastrarEnergiaBean.irrigante}" />  
				                <f:setPropertyActionListener value="#{energia}" target="#{cadastrarEnergiaBean.energia}" />
			 	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarEnergiaBean.operacao}" />  
				            </p:commandButton>  				         
				            <p:commandButton icon="ui-icon ui-icon-ver" action="#{consultarEnergiaBean.cadastro}" title="#{bundle.visualizarEnergia}">  
								<f:setPropertyActionListener value="#{consultarEnergiaBean.irrigante}" target="#{cadastrarEnergiaBean.irrigante}" />  
				                <f:setPropertyActionListener value="#{energia}" target="#{cadastrarEnergiaBean.energia}" />
				                <f:setPropertyActionListener value="VER" target="#{cadastrarEnergiaBean.operacao}" />  
				            </p:commandButton>  				         
				            <p:commandButton icon="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirEnergia}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_ENERGIA')}">  
				                <f:setPropertyActionListener value="#{energia}" target="#{consultarEnergiaBean.energiaSelecionado}" />
				            </p:commandButton>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirEnergia}"   
               header="#{bundle.exclusaoEnergia}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarEnergia" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarEnergiaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
