<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarSetorBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarSetor" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarSetor} - <h:outputText value="#{consultarSetorBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{consultarSetorBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarSetorBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_SETOR')}">
						<f:setPropertyActionListener value="" target="#{cadastrarSetorBean.setor}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarSetorBean.operacao}" />  
					</p:commandButton>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarSetorBean.voltar}" styleClass="btn primary" immediate="true" />  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="setor" value="#{consultarSetorBean.setores}" emptyMessage="#{bundle.setorNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column headerText="#{bundle.setor}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{setor.identificacao}" />  
				        </p:column>  
				        <p:column filterBy="#{setor.tipoSolo.descricao}" filterOptions="#{consultarSetorBean.tiposSolo}" sortBy="#{setor.tipoSolo.descricao}" headerText="#{bundle.tipoSolo}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{setor.tipoSolo.descricao}" />  
				        </p:column>  
				        <p:column  headerText="#{bundle.capCampo}(mm/m)" style="width:10%;text-align: right;">  
				            <h:outputText value="#{setor.cc}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column headerText="#{bundle.pontoMucha}(%)" style="width:10%;text-align: right;">  
				            <h:outputText value="#{setor.maxTaxaInfiltracaoChuva}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>
				        <p:column headerText="#{bundle.emissores}" style="width:20%;">
						    <p:dataTable id="tblEmissor" var="emissor" value="#{setor.emissores}" emptyMessage="#{bundle.setorSemEmissor}">
						        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">
						            <h:outputText value="#{emissor.fabricante.nome}" />
						        </p:column>
						        <p:column headerText="#{bundle.descricao}" style="text-align: left;">
						            <h:outputText value="#{emissor.modelo}" />
						        </p:column>
								<p:column headerText="#{bundle.vazao}" style="text-align: left;">
						            <h:outputText value="#{emissor.vazao}" />
						        </p:column>
						    </p:dataTable>
						    <br />
				        </p:column>
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarSetorBean.cadastro}" title="#{bundle.alterarSetor}">  
				                <f:setPropertyActionListener value="#{setor}" target="#{cadastrarSetorBean.setor}" />
				                <f:setPropertyActionListener value="" target="#{cadastrarSetorBean.emissoresSelecionados}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarSetorBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarSetorBean.cadastro}" title="#{bundle.visualizarSetor}">  
				                <f:setPropertyActionListener value="#{setor}" target="#{cadastrarSetorBean.setor}" />
				                <f:setPropertyActionListener value="" target="#{cadastrarSetorBean.emissoresSelecionados}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarSetorBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirSetor}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_SETOR')}">  
				                <f:setPropertyActionListener value="#{setor}" target="#{consultarSetorBean.setorSelecionado}" />
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirSetor}"   
               header="#{bundle.exclusaoSetor}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarSetor" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarSetorBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                   
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
