<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarAguaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarAgua" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarAgua} - <h:outputText value="#{consultarAguaBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{consultarAguaBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarAguaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_AGUA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarAguaBean.agua}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarAguaBean.operacao}" />  
					</p:commandButton>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarAguaBean.voltar}" styleClass="btn" immediate="true" />  
				</div>
			</div>
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="agua" value="#{consultarAguaBean.aguas}" emptyMessage="#{bundle.aguaNaoExiste}"
						paginator="true" rows="5" rowKey="#{energia.id}" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"                  		
						rowsPerPageTemplate="5,10,15,40" >  

						<p:column headerText="#{bundle.data}" style="width:10%">  
				            <h:outputText value="#{agua.data}" >  
			    				<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>   
				        </p:column>  
				        <p:column headerText="#{bundle.quantidade}(m3)" style="width:10%">  
				            <h:outputText value="#{agua.quantidade}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column headerText="#{bundle.valor}" style="width:10%">  
				            <h:outputText value="#{agua.valor}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				          
				        <p:column headerText="#{bundle.opcao}" style="width:20%"> 
				            <p:commandButton icon="ui-icon ui-icon-editar" action="#{consultarAguaBean.cadastro}" title="#{bundle.alterarAgua}">  
				                <f:setPropertyActionListener value="#{agua}" target="#{cadastrarAguaBean.agua}" />
			 	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarAguaBean.operacao}" />  
				            </p:commandButton>  				         
				            <p:commandButton icon="ui-icon ui-icon-ver" action="#{consultarAguaBean.cadastro}" title="#{bundle.visualizarAgua}">  
				                <f:setPropertyActionListener value="#{agua}" target="#{cadastrarAguaBean.agua}" />
				                <f:setPropertyActionListener value="VER" target="#{cadastrarAguaBean.operacao}" />  
				            </p:commandButton>  				         
				            <p:commandButton icon="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirVariedade}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_AGUA')}">  
				                <f:setPropertyActionListener value="#{agua}" target="#{consultarAguaBean.aguaSelecionado}" />
				            </p:commandButton>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirAgua} ?"   
               header="#{bundle.exclusaoAgua}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarAgua" oncomplete="confirmacao.hide()"  styleClass="btn small mrg-top27"
		                    actionListener="#{consultarAguaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn small mrg-top27" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
