<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarCultivoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarCultivo" styleClass="formularios box-border" prependId="false">
				
				<p:messages showDetail="false" autoUpdate="true"/>
				
				<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarCultivos} - <h:outputText value="#{consultarCultivoBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{consultarCultivoBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarCultivoBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_CULTIVO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarCultivoBean.cultivo}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarCultivoBean.operacao}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarCultivoBean.variedades}" />  
					</p:commandButton>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarCultivoBean.voltar}" styleClass="btn primary" immediate="true" />  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="cultivo" value="#{consultarCultivoBean.cultivos}" emptyMessage="#{bundle.cultivoNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="col1" filterBy="#{cultivo.cultura.nome}" filterOptions="#{consultarCultivoBean.culturas}" sortBy="#{cultivo.cultura.nome}" headerText="#{bundle.cultura}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{cultivo.cultura.nome}" />  
				        </p:column>  
				        <p:column id="col2" filterBy="#{cultivo.variedade.nome}" filterOptions="#{consultarCultivoBean.variedades}" sortBy="#{cultivo.variedade.nome}" headerText="#{bundle.variedade}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{cultivo.variedade.nome}" style="text-align: left;"/>  
				        </p:column>  
				        <p:column id="col3" sortBy="#{cultivo.dataInicio}" headerText="#{bundle.dataInicio}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{cultivo.dataInicio}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>
				        </p:column>
				        <p:column id="qtdDias" sortBy="#{cultivo.qtdDiasCultivo}" headerText="#{bundle.qtdDiasCultivo}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{cultivo.qtdDiasCultivo}" />
				        </p:column>
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarCultivoBean.cadastro}" title="#{bundle.alterarCultivo}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_CULTIVO')}">  
				                <f:setPropertyActionListener value="#{cultivo}" target="#{cadastrarCultivoBean.cultivo}" />  
								<f:setPropertyActionListener value="ALTERAR" target="#{cadastrarCultivoBean.operacao}" />  
								<f:setPropertyActionListener value="" target="#{cadastrarCultivoBean.variedades}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarCultivoBean.cadastro}" title="#{bundle.visualizarCultivo}">  
				                <f:setPropertyActionListener value="#{cultivo}" target="#{cadastrarCultivoBean.cultivo}" />  
								<f:setPropertyActionListener value="VER" target="#{cadastrarCultivoBean.operacao}" />  
								<f:setPropertyActionListener value="" target="#{cadastrarCultivoBean.variedades}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirCultivo}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_CULTIVO')}">  
				                <f:setPropertyActionListener value="#{cultivo}" target="#{consultarCultivoBean.cultivoSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirCultivo}" 
               header="#{bundle.exclusaoCultivo}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarCultivo" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarCultivoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
