<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/> 
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarIrriganteBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarIrrigante" styleClass="formularios box-border" prependId="false" enctype="multipart/form-data">
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarIrrigantes}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarIrriganteBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_IRRIGANTE')}">
						<f:setPropertyActionListener value="" target="#{cadastrarIrriganteBean.irrigante}" />
						<f:setPropertyActionListener value="" target="#{cadastrarIrriganteBean.distritos}" />
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarIrriganteBean.operacao}" />  
					</p:commandButton>
		            <p:commandButton id="btModoSatelite" value="#{bundle.satelite}" title="#{bundle.modoSatelite}" actionListener="#{consultarIrriganteBean.modoSatelite}" ajax="true" styleClass="btn primary" rendered="#{!consultarIrriganteBean.modoSatelite}" update=":frmConsultarIrrigante">
		            </p:commandButton>  
		            <p:commandButton id="btModoNormal" value="#{bundle.tabela}" title="#{bundle.modoTabela}" actionListener="#{consultarIrriganteBean.modoTabela}" ajax="true" styleClass="btn primary" rendered="#{consultarIrriganteBean.modoSatelite}" update=":frmConsultarIrrigante"/>  
	
		            <p:commandButton id="btEnviarMsg" value="#{bundle.SMS}" title="#{bundle.enviarSMS}" onclick="sms.show()" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_ENVIAR_SMS')}" process="@this"/>  
		            <p:commandButton id="btEnviarEmail" value="#{bundle.email}" title="#{bundle.enviarEmail}" onclick="email.show()" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_ENVIAR_EMAIL')}" process="@this"/>
		            <p:commandButton styleClass="btn primary" value="#{bundle.excel}" ajax="false">
						<p:dataExporter type="xls" target="tblIrrigante" fileName="#{bundle.irrigantes}" encoding="ISO-8859-1"/>
					</p:commandButton>  
					<p:commandButton styleClass="btn primary" value="#{bundle.PDF}" ajax="false" >
						<p:dataExporter type="pdf" target="tblIrrigante" fileName="#{bundle.irrigantes}" encoding="ISO-8859-1"/>
					</p:commandButton>
		            <p:commandButton id="btEnviarMsgGeral" value="#{bundle.SMSTI}" title="#{bundle.enviarSMST}" onclick="confirSMSTI.show()" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_ENVIAR_SMS_GERAL')}" process="@this"/>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset id="fieldSetConsulta" legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.area}:" />  
						<h:selectOneMenu id="area" value="#{consultarIrriganteBean.irriganteBusca.area}" title="#{bundle.selecioneAreaPesquisar}" style="width: 65px;" converter="areaConverter" >  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue=""/>  
	            			<f:selectItems var="area" itemLabel="#{area.nome}" itemValue="#{area}" value="#{consultarIrriganteBean.areas}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarIrriganteBean.irriganteBusca.tipoIrrigante}" title="#{bundle.selecioneTipoFiltrar}" style="width: 100px;">  
							<f:selectItem itemLabel="#{bundle.todas}" />
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarIrriganteBean.tipoIrrigante}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.nome}:" />  
						<p:inputText id="nome" value="#{consultarIrriganteBean.irriganteBusca.nome}" size="5" />  
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.celular}:" />  
						<p:inputText id="celular" value="#{consultarIrriganteBean.irriganteBusca.celular}" size="7" />  
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.lote}:" />  
						<p:inputText id="lote" value="#{consultarIrriganteBean.irriganteBusca.localizacao}" size="2">
							<p:ajax listener="#{consultarIrriganteBean.preparaConsultaPorLote}" update="area tipo nome celular cultura variedade" event="change" />
						</p:inputText>  
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.cultura}:" />  
						<h:selectOneMenu id="cultura" value="#{consultarIrriganteBean.irriganteBusca.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaEspecifica}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{consultarIrriganteBean.culturas}"  />
							<p:ajax update="variedade" listener="#{consultarIrriganteBean.carregarVariedades}" process="@this" /> 
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.variedade}:" />  
						<h:selectOneMenu id="variedade" value="#{consultarIrriganteBean.irriganteBusca.variedade}" converter="variedadeConverter" title="#{bundle.selecioneVariedadeEspecifica}" style="width: 80px;" >  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="variedade" itemLabel="#{variedade.nome}" itemValue="#{variedade}" value="#{consultarIrriganteBean.variedades}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />

			            <p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaIrrigante}" actionListener="#{consultarIrriganteBean.consultar}" update="@form" />  
				   </p:fieldset>
				</div>
				<br />
				
				<p:outputPanel id="modoNormal" rendered="#{!consultarIrriganteBean.modoSatelite}">
					<p:dataTable id="tblIrrigante" var="irrigante" value="#{consultarIrriganteBean.irrigantes}" emptyMessage="#{bundle.irriganteNaoExiste}"
						paginator="true" rows="5" rowKey="#{irrigante.id}" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
                 		rowsPerPageTemplate="5,10,15,40" >
                 		
				        <p:column id="col2" sortBy="#{irrigante.area.nome}" style="width:10%;text-align: left;" styleClass="filtroArea">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.area}" />
							</f:facet>  
				            <h:outputText value="#{irrigante.area.nome}"/>  
				        </p:column>  
				        <p:column id="col3"  sortBy="#{irrigante.tipoIrrigante.descricao}" style="width:10%;text-align: left;">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.tipo}" />
							</f:facet>  
				            <h:outputText value="#{irrigante.tipoIrrigante.descricao}"/>
				        </p:column> 
				        <p:column sortBy="#{irrigante.nome}" style="width:35%;text-align: left;">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.nome}" />
							</f:facet>  
				            <h:outputText value="#{irrigante.nome}" />  
				        </p:column>  
				        <p:column style="width:10%;text-align: left;" styleClass="filtroCelular">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.celular}" />
							</f:facet>  
				            <h:outputText value="#{irrigante.celular}"/>
				        </p:column> 
				        <p:column sortBy="#{irrigante.localizacao}" style="width:10%;text-align: left;" styleClass="filtroLocalizacao">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.lote}" />
							</f:facet>  
				            <h:outputText value="#{irrigante.localizacao}"/>
				        </p:column> 
				        <p:column headerText="#{bundle.opcao}" style="width:15%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarIrriganteBean.cadastro}" title="#{bundle.alterarIrrigante}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_IRRIGANTE')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarIrriganteBean.irrigante}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarIrriganteBean.operacao}" />  
				            </p:commandLink>  				         
				     	    <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarIrriganteBean.cadastro}" title="#{bundle.visualizarIrrigante}" rendered="#{LoginBean.anyGranted('ROLE_DADOS_IRRIGANTE')}" >  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarIrriganteBean.irrigante}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarIrriganteBean.operacao}" />  
				            </p:commandLink>  					         
				     	    <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirIrrigante}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_IRRIGANTE')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{consultarIrriganteBean.irriganteSelecionado}" />  
				            </p:commandLink>  					         
				            <p:commandLink styleClass="ui-icon ui-icon-sistema" action="#{consultarIrriganteBean.sistema}" title="#{bundle.alterarSistemaIrrigacao}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_SISTEMA')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarSistemaBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.bombasSelecionadas}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.filtrosSelecionadas}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.valvulasSelecionadas}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.tubosSelecionadas}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarSistemaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-sistema" action="#{consultarIrriganteBean.sistema}" title="#{bundle.verSistemaIrrigacao}" rendered="#{!LoginBean.anyGranted('ROLE_CADASTRAR_SISTEMA')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarSistemaBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.bombasSelecionadas}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.filtrosSelecionadas}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.valvulasSelecionadas}" />  
				                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.tubosSelecionadas}" />
				                <f:setPropertyActionListener value="VER" target="#{cadastrarSistemaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-setor" action="#{consultarIrriganteBean.setor}" title="#{bundle.verSetores}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_SETOR')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarSetorBean.irrigante}" />  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{consultarSetorBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{consultarSetorBean.setores}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-energia" action="#{consultarIrriganteBean.energia}" title="#{bundle.verEnergia}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ENERGIA')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarEnergiaBean.irrigante}" />  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{consultarEnergiaBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{consultarEnergiaBean.energias}" />  
				            </p:commandLink> 			         
				            <p:commandLink styleClass="ui-icon ui-icon-setor" action="#{consultarIrriganteBean.agua}" title="#{bundle.verAgua}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_AGUA')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarAguaBean.irrigante}" />  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarAguaBean.irrigante}" />  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{consultarAguaBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{consultarAguaBean.aguas}" />  
				            </p:commandLink> 			
   				            <p:commandLink styleClass="ui-icon ui-icon-cultivo" action="#{consultarIrriganteBean.cultivo}" title="#{bundle.verCultivo}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_CULTIVO')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarCultivoBean.irrigante}" />  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{consultarCultivoBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{consultarCultivoBean.cultivos}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-plantio" action="#{consultarIrriganteBean.plantio}" title="#{bundle.verPlantios}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_PLANTIO')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{consultarPlantioBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{consultarPlantioBean.plantios}" />  
				            </p:commandLink> 
				            <p:commandLink styleClass="ui-icon ui-icon-fazenda" action="#{consultarIrriganteBean.fazenda}" title="#{bundle.verFazenda}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_FAZENDA')}">  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{consultarFazendaBean.irrigante}" />  
				                <f:setPropertyActionListener value="" target="#{consultarFazendaBean.setores}" />  
				            </p:commandLink>
				        </p:column>  
						
					</p:dataTable>
				</p:outputPanel>
					
				<p:outputPanel id="modoSatelite" rendered="#{consultarIrriganteBean.modoSatelite}">
					<p:gmap center="#{consultarIrriganteBean.central}" zoom="#{consultarIrriganteBean.zoomMapa}" type="HYBRID" model="#{consultarIrriganteBean.irriganteMarcado}" style="width:980px;height:400px">
					    <p:ajax event="overlaySelect" listener="#{consultarIrriganteBean.marcadorSelecionado}" />
				        <p:gmapInfoWindow>
			            	<p:outputPanel style="text-align:center;display:block;margin:auto:">
								<p:graphicImage id="fotoView" value="/publico/#{consultarIrriganteBean.irriganteSelecionado.foto}" width="150px" height="150px" cache="FALSE" />
			                    <br />  
			                    <h:outputText value="#{consultarIrriganteBean.irriganteSelecionado.nome}" /> 
			                    <p:panel>
						            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarIrriganteBean.cadastro}" title="#{bundle.alterarIrrigante}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_IRRIGANTE')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarIrriganteBean.irrigante}" />  
						                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarIrriganteBean.operacao}" />  
						            </p:commandLink>  				         
						     	    <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarIrriganteBean.cadastro}" title="#{bundle.visualizarIrrigante}" rendered="#{LoginBean.anyGranted('ROLE_DADOS_IRRIGANTE')}" >>  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarIrriganteBean.irrigante}" />  
						                <f:setPropertyActionListener value="VER" target="#{cadastrarIrriganteBean.operacao}" />  
						            </p:commandLink>  					         
						     	    <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirIrrigante}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_IRRIGANTE')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{consultarIrriganteBean.irriganteSelecionado}" />  
						            </p:commandLink>  					         
						            <p:commandLink styleClass="ui-icon ui-icon-sistema" action="#{consultarIrriganteBean.sistema}" title="#{bundle.alterarSistemaIrrigacao}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_SISTEMA')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarSistemaBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.bombasSelecionadas}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.filtrosSelecionadas}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.valvulasSelecionadas}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.tubosSelecionadas}" />
						                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarSistemaBean.operacao}" />  
						            </p:commandLink>  				         
						            <p:commandLink styleClass="ui-icon ui-icon-sistema" action="#{consultarIrriganteBean.sistema}" title="#{bundle.verSistemaIrrigacao}" rendered="#{!LoginBean.anyGranted('ROLE_CADASTRAR_SISTEMA')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarSistemaBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.bombasSelecionadas}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.filtrosSelecionadas}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.valvulasSelecionadas}" />  
						                <f:setPropertyActionListener value="" target="#{cadastrarSistemaBean.tubosSelecionadas}" />
						                <f:setPropertyActionListener value="VER" target="#{cadastrarSistemaBean.operacao}" />  
						            </p:commandLink>  				         
						            <p:commandLink styleClass="ui-icon ui-icon-setor" action="#{consultarIrriganteBean.setor}" title="#{bundle.verSetores}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_SETOR')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarSetorBean.irrigante}" />  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{consultarSetorBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{consultarSetorBean.setores}" />  
						            </p:commandLink>  				         
						            <p:commandLink styleClass="ui-icon ui-icon-setor" action="#{consultarIrriganteBean.energia}" title="#{bundle.verEnergia}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ENERGIA')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarEnergiaBean.irrigante}" />  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{consultarEnergiaBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{consultarEnergiaBean.energias}" />  
						            </p:commandLink> 			         
						            <p:commandLink styleClass="ui-icon ui-icon-setor" action="#{consultarIrriganteBean.agua}" title="#{bundle.verAgua}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_AGUA')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarAguaBean.irrigante}" />  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarAguaBean.irrigante}" />  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{consultarAguaBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{consultarAguaBean.aguas}" />  
						            </p:commandLink> 			
						            <p:commandLink styleClass="ui-icon ui-icon-cultivo" action="#{consultarIrriganteBean.cultivo}" title="#{bundle.verCultivo}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_CULTIVO')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{cadastrarCultivoBean.irrigante}" />  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{consultarCultivoBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{consultarCultivoBean.cultivos}" />  
						            </p:commandLink>  				         
						            <p:commandLink styleClass="ui-icon ui-icon-plantio" action="#{consultarIrriganteBean.plantio}" title="#{bundle.verPlantios}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_PLANTIO')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{consultarPlantioBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{consultarPlantioBean.plantios}" />  
						            </p:commandLink> 
						            <p:commandLink styleClass="ui-icon ui-icon-fazenda" action="#{consultarIrriganteBean.fazenda}" title="#{bundle.verFazenda}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_FAZENDA')}">  
						                <f:setPropertyActionListener value="#{consultarIrriganteBean.irriganteSelecionado}" target="#{consultarFazendaBean.irrigante}" />  
						                <f:setPropertyActionListener value="" target="#{consultarFazendaBean.setores}" />
						                <f:setPropertyActionListener value="false" target="#{consultarFazendaBean.modoSatelite}" />  
						            </p:commandLink> 
			                    </p:panel>
				            </p:outputPanel>  
				        </p:gmapInfoWindow>  
				    </p:gmap>
				</p:outputPanel>				
			</div>
			
		    <p:confirmDialog id="confirmSMSTI" message="#{bundle.temCertezaDispararSMSTI}" header="#{bundle.envioSMSTI}" severity="alert" widgetVar="confirSMSTI">
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarIrrigante" oncomplete="confirSMSTI.hide()" styleClass="btn success" actionListener="#{consultarIrriganteBean.enviarTIGeral}" />
		       <p:commandButton value="#{bundle.nao}" onclick="confirSMSTI.hide()" type="button" styleClass="btn cancel" />	                  
		    </p:confirmDialog>
		    
			<p:confirmDialog message="#{bundle.certezaExcluirIrrigante} ?" header="#{bundle.exclusaoIrrigante}" severity="alert" widgetVar="confirmacao">
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarIrrigante" oncomplete="confirmacao.hide()" styleClass="btn success" actionListener="#{consultarIrriganteBean.excluir}"/>
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />
		    </p:confirmDialog>
		    
			<p:dialog id="modalDialogSMS" header="#{bundle.enviarSMS}" widgetVar="sms" modal="true" height="230" width="530">  
				<div class="span2 clear">
					<label for="msg" class="block"><b>#{bundle.mensagem}:</b></label>
					<p:inputTextarea cols="60" rows="8" autoResize="false" maxlength="800" value="#{consultarIrriganteBean.msgSMS}" />							
				</div>
                  
		       <p:commandButton value="#{bundle.enviar}" update=":frmConsultarIrrigante" oncomplete="sms.hide()"  styleClass="btn success"  onclick="startSms()" widgetVar="startButtonSms"
		                    actionListener="#{consultarIrriganteBean.enviarInfoBibSMS}"/>
		       <p:commandButton value="#{bundle.cancelar}" onclick="sms.hide()" type="button" styleClass="btn cancel" />
			</p:dialog> 		    

			<p:dialog id="modalDialogEmail" header="#{bundle.enviarEmail}" widgetVar="email" modal="true" height="260" width="550">  
				<div class="span2 clear">
					<label for="assuntoEmail" class="block"><b>#{bundle.assunto}:</b></label>
					<p:inputText id="assuntoEmail" maxlength="800" value="#{consultarIrriganteBean.assuntoEmail}" size="25"/>							
                    <p:fileUpload id="anexoEmail" update="messages" label="Anexo" value="#{consultarIrriganteBean.uploadAnexo}" mode="simple" sizeLimit="30720" />
				</div>
				<div class="span2 clear">
					<label for="msgEmail" class="block"><b>#{bundle.mensagem}:</b></label>
					<p:inputTextarea id="msgEmail" cols="60" rows="8" autoResize="false" maxlength="800" value="#{consultarIrriganteBean.msgEmail}" />							
				</div>
                  
		       <p:commandButton value="#{bundle.enviar}" ajax="false" update=":frmConsultarIrrigante" oncomplete="email.hide()"  styleClass="btn success" 
		                    actionListener="#{consultarIrriganteBean.enviarEmail}"/>
		       <p:commandButton value="#{bundle.cancelar}" onclick="email.hide()" type="button" styleClass="btn cancel" />   
			</p:dialog> 

			<script type="text/javascript">
			    function startSms() {  
			        startButtonSms.disable();  
			    }  
			    function startEmail() {  
			        startButtonEmail.disable();  
			    }  
			  
			</script>					    
		</h:form>
	</ui:define>
</ui:composition>
