<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarIrrigacaoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarIrrigacao" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.historicoIrrigacao} - <h:outputText value="#{consultarIrrigacaoBean.plantio.cultivo.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{consultarIrrigacaoBean.plantio.cultivo.irrigante.localizacao}" />
					<p>#{bundle.setor} <h:outputText value="#{consultarIrrigacaoBean.setor.identificacao}" /></p>
				</div>
				<div class="botoes">
					<p:commandButton id="btRecalcular" value="Re-Calcular" action="#{consultarIrrigacaoBean.recalcular}" styleClass="btn primary" update=":frmConsultarIrrigacao" rendered="#{LoginBean.anyGranted('ROLE_RECALCULAR_IRRIGACAO') and !consultarIrrigacaoBean.recalculado}"/>
					<p:commandButton id="btSalvar" value="#{bundle.salvar}" action="#{consultarIrrigacaoBean.salvar}" styleClass="btn primary" update=":frmConsultarIrrigacao" rendered="#{LoginBean.anyGranted('ROLE_RECALCULAR_IRRIGACAO') and consultarIrrigacaoBean.recalculado}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarIrrigacaoBean.voltar}" styleClass="btn primary" immediate="true" />
					<p:commandButton styleClass="btn primary" value="#{bundle.PDF}" ajax="false" >
						<p:dataExporter type="pdf" target="tblIrrigacao" fileName="irrigacao" preProcessor="#{consultarIrrigacaoBean.preProcessPDF}" encoding="ISO-8859-1" />
					</p:commandButton>
									
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
	            <h:panelGrid  columns="12">
					<label for="Cultura" class="block"><b>#{bundle.cultura}:</b></label>
					<h:outputText id="Cultura" value="#{consultarIrrigacaoBean.plantio.cultivo.cultura.nome}" />
					<p:spacer width="10" height="10" />

					<label for="Variedade" class="block"><b>#{bundle.variedade}:</b></label>
					<h:outputText id="Variedade" value="#{consultarIrrigacaoBean.plantio.cultivo.variedade.nome}" />
					<p:spacer width="10" height="10" />
					
					<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
		            <h:outputText value="#{consultarIrrigacaoBean.plantio.cultivo.dataInicio}" >
						<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
					</h:outputText>
					<p:spacer width="10" height="10" />
					<label for="formula" class="block"><b>#{bundle.formula}:</b></label>
					<h:outputText id="formula" value="#{consultarIrrigacaoBean.formula.formulaTI.descricao}" />
				</h:panelGrid>					
	            <h:panelGrid  columns="26">
					<label for="esp1" class="block"><b>#{bundle.sr}:</b></label>
					<h:outputText id="esp1" value="#{consultarIrrigacaoBean.plantio.espacamento1}m" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="0"/>
						<p:tooltip for="esp1" value="#{bundle.espacamentoLinhasPlantas}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</h:outputText>  					 							
					<p:spacer width="10" height="10" />							

					<label for="esp2" class="block"><b>#{bundle.sp}:</b></label>
					<h:outputText id="esp2" value="#{consultarIrrigacaoBean.plantio.espacamento2}m" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="0"/>
						<p:tooltip for="esp2" value="#{bundle.espacamentoPlantas}" showEffect="fade" hideEffect="fade" style="color:blue;" />    
					</h:outputText>
					<p:spacer width="10" height="10" />							

					<label for="esp3" class="block"><b>#{bundle.sd}:</b></label>
					<h:outputText id="esp3" value="#{consultarIrrigacaoBean.plantio.espacamento3}m" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="0"/>
						<p:tooltip for="esp3" value="#{bundle.espacamentoLinhaDuplaPlantio}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</h:outputText>
					<p:spacer width="10" height="10" />							

					<label for="te" class="block"><b>#{bundle.NeNp}:</b></label>
					<h:outputText id="te" value="#{consultarIrrigacaoBean.plantio.totalEmissores}" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="0"/>
					</h:outputText>/
					<h:outputText id="tp" value="#{consultarIrrigacaoBean.plantio.totalPlanta}" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="0"/>
					</h:outputText>
					<p:spacer width="10" height="10" />							

					<label for="vazao" class="block"><b>#{bundle.vazaoEmissor}:</b></label>
					<h:outputText id="vazao" value="#{consultarIrrigacaoBean.formula.vazao}" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="2" maxFractionDigits="2"/>
					</h:outputText>L.h<sup>-1</sup>
					<p:spacer width="10" height="10" />							

					<label for="diametro" class="block"><b>#{bundle.diametro}:</b></label>
					<h:outputText id="diametro" value="#{consultarIrrigacaoBean.formula.diametro}m" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="3"/>
					</h:outputText>

					<label for="espE" class="block"><b>#{bundle.Se}:</b></label>
					<h:outputText id="espE" value="#{consultarIrrigacaoBean.plantio.espE}m" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="0"/>
						<p:tooltip for="espE" value="#{bundle.espacamentoEmissores}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</h:outputText>

					<label for="espLE" class="block"><b>#{bundle.Sl}:</b></label>
					<h:outputText id="espLE" value="#{consultarIrrigacaoBean.plantio.espLE}m" >
		    			<f:convertNumber locale="pt_BR" minFractionDigits="0" maxFractionDigits="0"/>
						<p:tooltip for="espLE" value="#{bundle.espacamentoLinhaEmissores}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</h:outputText>
				</h:panelGrid>  		
				<br />			 							
				<p:outputPanel id="consulta">
					<p:dataTable id="tblIrrigacao" var="irrigacao" value="#{consultarIrrigacaoBean.irrigacoes}" emptyMessage="#{bundle.naoExisteCalendarioIrrigacao}" resizableColumns="false"
						scrollable="true" scrollHeight="300" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column style="width:100px;text-align:left;" >
					        <f:facet name="header">
								<h:outputText value="#{bundle.data}" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.data}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>  
				        </p:column>  
				        <p:column style="width:150px;text-align:left;">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.estadio}" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.estadio.descricao}" />  
				        </p:column>  
				        <p:column style="width:80px;text-align:left;" >  
					        <f:facet name="header">
								<h:outputText value="Kc" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.kc}">
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2" maxFractionDigits="2"/>
							</h:outputText>  
				        </p:column>  
				        <p:column style="width:50px;text-align:center;" >  
					        <f:facet name="header">
								<h:outputText value="#{bundle.eTo}(mm)" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.eto}">
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>  
				        </p:column>  
				        <p:column style="text-align:center;" >  
					        <f:facet name="header">
								<h:outputText value="#{bundle.eTc}(mm)" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.etc}">
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>  
				        </p:column>  
				        <p:column style="text-align:center;" >  
					        <f:facet name="header">
								<h:outputText value="#{bundle.chuvaEfetiva}(mm)" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.chuva}">
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>  
				        </p:column>  
				        <p:column style="text-align:center;" >  
					        <f:facet name="header">
								<h:outputText value="#{bundle.irrigacao}(mm)" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.irrigacao}" rendered="#{irrigacao.temIrrigacao}">
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>  
				            <h:outputText value="#{irrigacao.irrigacao}" style="color: #FF0000;font-weight: bold;" rendered="#{!irrigacao.temIrrigacao}">
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>  
				        </p:column>  
				        <p:column style="width:100px;text-align:center;" >  
					        <f:facet name="header">
								<h:outputText value="#{bundle.eficiencia}" />
							</f:facet>  
				            <h:outputText value="#{irrigacao.eficiencia}">
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="2"/>
							</h:outputText>  
				        </p:column>  
				        <p:column style="text-align:center;" >  
					        <f:facet name="header">
								<h:outputText value="#{bundle.tempoIrrigacao}" />
							</f:facet>  
				            <h:outputText id="t1" value="#{irrigacao.tempo}" rendered="#{irrigacao.temIrrigacao}" />
				            <h:outputText id="t2" value="#{irrigacao.tempo}" style="color: #FF0000;font-weight: bold;" rendered="#{!irrigacao.temIrrigacao}"/>
				        </p:column>  
				        <p:column style="text-align:center;" >  
					        <f:facet name="header">
								<h:outputText value="#{bundle.memoria}" />
							</f:facet>  
				     	    <p:commandLink styleClass="ui-icon ui-icon-memoria" oncomplete="memoriaDialog.show()" title="#{bundle.consultarMemoriaCalculo}" update=":frmConsultarIrrigacao:memoriaDetalhe">  
								<f:setPropertyActionListener value="#{irrigacao.memoriaCalculo}" target="#{consultarIrrigacaoBean.memoria}" />
				            </p:commandLink>  					         
				        </p:column>  
				        
				</p:dataTable>
				</p:outputPanel>
			</div>
			<p:dialog header="#{bundle.memoriaCalculo}" widgetVar="memoriaDialog" modal="true" width="690" height="550">  
		        <p:outputPanel id="memoriaDetalhe" layout="block">  
	                <h:inputTextarea id="memoria" value="#{consultarIrrigacaoBean.memoria}" cols="77" rows="28" disabled="true"/>  
		        </p:outputPanel>  
		    </p:dialog>
			
		</h:form>
	</ui:define>
</ui:composition>
