<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{manterPlantioBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmManterPlantio" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.plantioDe} <h:outputText value="#{manterPlantioBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{manterPlantioBean.irrigante.localizacao}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{manterPlantioBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmManterPlantio" rendered="#{manterPlantioBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{manterPlantioBean.voltar}" styleClass="btn primary" immediate="true" />
					<p:commandButton id="btSimular" value="#{bundle.simulacao}" action="#{manterPlantioBean.simular}" styleClass="btn primary" immediate="true" rendered="#{manterPlantioBean.operacao ne 'VER'}">
						<f:setPropertyActionListener value="#{manterPlantioBean.plantio}" target="#{simularBean.plantio}" />
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="span2 clear">
					<label for="cultura" class="block"><b>#{bundle.cultura}:</b></label>							
		            <p:inputText id="cultura" value="#{manterPlantioBean.plantio.cultivo.cultura.nome}" disabled="TRUE"/>
				</div>
				<div class="span2">
					<label for="variedade" class="block"><b>#{bundle.variedade}:</b></label>
		            <p:inputText id="variedade" value="#{manterPlantioBean.plantio.cultivo.variedade.nome}" disabled="TRUE"/>
				</div>
				<div class="span2 clear">
					<label for="diametro" class="block"><b>#{bundle.diametro}:</b></label>
		            <p:inputText id="diametro" value="#{manterPlantioBean.plantio.formula.diametro}" disabled="TRUE"/>
				</div>
				<div class="span2">
					<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
					<p:calendar value="#{manterPlantioBean.plantio.cultivo.dataInicio}" navigator="false" disabled="TRUE" pattern="dd/MM/yyyy"/>
				</div>
				<div class="span2 clear">
					<label for="sms" class="block"><b>#{bundle.TI}</b></label>
					<h:selectBooleanCheckbox id="sms" title="#{bundle.enviarSMSTI}" value="#{manterPlantioBean.plantio.enviarSMS}" />
					<h:outputLabel for="sms">#{bundle.enviarSMS}?</h:outputLabel><br />
					<h:selectBooleanCheckbox id="email" title="#{bundle.enviarEmailTI}" value="#{manterPlantioBean.plantio.enviarEmail}" />
					<h:outputLabel for="sms">#{bundle.enviarEmail}?</h:outputLabel>
				</div>
				<div class="span2 clear">
					<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
					<p:inputTextarea id="observacao" cols="60" rows="2" autoResize="false" maxlength="800" value="#{manterPlantioBean.plantio.cultivo.observacao}" disabled="TRUE"/>							
				</div>	
				<div class="span2 clear">
					<label for="setor" class="block"><b>#{bundle.setor}:</b></label>
					<h:selectOneMenu id="setor" value="#{manterPlantioBean.plantio.setor}" title="#{bundle.selecioneSetor}" converter="setorConverter" disabled="#{manterPlantioBean.operacao eq 'VER'}" >  
            			<f:selectItems var="setor" itemLabel="#{setor.identificacao.toString()}" itemValue="#{setor}" value="#{manterPlantioBean.setores}"  />
	        		</h:selectOneMenu>							
		        </div>  
				<div class="span2">
					<label for="consorcio" class="block"><b>#{bundle.consorcio}:</b></label>
					<h:selectBooleanCheckbox id="consorcio" value="#{manterPlantioBean.plantio.consorcio}" style="text-align:center;"/>  
		        </div>
		        <div class="span2">
					<label for="consorcio" class="block"><b>#{bundle.sequeiro}:</b></label>
					<h:selectBooleanCheckbox id="sequeiro" value="#{manterPlantioBean.plantio.sequeiro}" style="text-align:center;"/>  
		        </div>
				<div class="span2">
					<label for="tipoF" class="block"><b>#{bundle.tipoFertirrigacao}:</b></label>
					<h:selectOneMenu id="tipoF" value="#{manterPlantioBean.plantio.tipoFertirrigacao}" title="#{bundle.selecioneTipo}" style="width:120px" disabled="#{manterPlantioBean.operacao eq 'VER'}">  
            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{manterPlantioBean.tiposFertirrigacao}"  />
	        		</h:selectOneMenu>							
		        </div>
				<div class="span2">
					<label for="tipoM" class="block"><b>#{bundle.tipoManejo}:</b></label>
						<h:selectOneMenu id="tipoM" value="#{manterPlantioBean.plantio.tipoManejoIrrigacao}" title="#{bundle.selecioneTipo}" style="width:120px" disabled="#{manterPlantioBean.operacao eq 'VER'}">  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{manterPlantioBean.tiposManejo}"  />
		        		</h:selectOneMenu>							
		        </div>
				<div class="span2 clear">
					<label for="totalEmissor" class="block"><b>#{bundle.NeNp}</b></label>
		            <p:inputMask id="totalEmissor" value="#{manterPlantioBean.plantio.totalEmissores}" mask="?9999" size="2" disabled="#{manterPlantioBean.operacao eq 'VER'}"/>
		            /
		            <p:inputMask id="totalPlanta" value="#{manterPlantioBean.plantio.totalPlanta}" mask="?9999" size="2" disabled="#{manterPlantioBean.operacao eq 'VER'}"/>
					<p:tooltip for="totalEmissor" value="#{bundle.numeroEmissor}(es)" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					<p:tooltip for="totalPlanta" value="#{bundle.numeroPlanta}(s)" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
		        </div>
				<div class="span2">
					<label for="esp1" class="block"><b>#{bundle.sr}(m):</b></label>
		            <p:inputText id="esp1" styleClass="money" value="#{manterPlantioBean.plantio.espacamento1}" size="3" disabled="#{manterPlantioBean.operacao eq 'VER'}">
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:tooltip for="esp1" value="#{bundle.espacamentoFilasPlantas}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</p:inputText>
		        </div>
		        
				<div class="span2">
					<label for="esp2" class="block"><b>#{bundle.sp}(m):</b></label>
		            <p:inputText id="esp2" styleClass="money" value="#{manterPlantioBean.plantio.espacamento2}" size="3" disabled="#{manterPlantioBean.operacao eq 'VER'}">
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:tooltip for="esp2" value="#{bundle.espacamentoPlantasFilaPlantio}" showEffect="fade" hideEffect="fade" style="color:blue;" />    
					</p:inputText>  
		        </div>
				<div class="span2">
					<label for="esp3" class="block"><b>#{bundle.sd}(m):</b></label>
		            <p:inputText id="esp3" styleClass="money" value="#{manterPlantioBean.plantio.espacamento3}" size="3" disabled="#{manterPlantioBean.operacao eq 'VER'}">
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:tooltip for="esp3" value="#{bundle.espacamentoFilaDupla}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</p:inputText>  
		        </div>
				<div class="span2">
					<label for="areaTotal" class="block"><b>#{bundle.areaTotal}:</b></label>
		        	<p:inputText id="areaTotal" styleClass="carea" value="#{manterPlantioBean.plantio.areatotal}" size="10" disabled="#{manterPlantioBean.operacao eq 'VER'}">
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
					</p:inputText>  
		        </div>
				<div class="span2 clear">
					<label for="espE" class="block"><b>#{bundle.Se}(m):</b></label>
		            <p:inputText id="espE" styleClass="money" value="#{manterPlantioBean.plantio.espE}" size="3" disabled="#{manterPlantioBean.operacao eq 'VER'}">
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:tooltip for="espE" value="#{bundle.espacamentoEmissoresMesmaLinha}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</p:inputText>  
		        </div>
				<div class="span2">
					<label for="espLE" class="block"><b>#{bundle.Sl}(m):</b></label>
		            <p:inputText id="espLE" styleClass="money" value="#{manterPlantioBean.plantio.espLE}" size="3" disabled="#{manterPlantioBean.operacao eq 'VER'}">
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:tooltip for="espLE" value="#{bundle.espacamentoLinhaEmissores}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</p:inputText>  
		        </div>
				<div class="span2">
					<label for="turnoRega" class="block"><b>#{bundle.turnoRega}:</b></label>
					<p:inputMask id="turnoRega" title="#{bundle.turnoRega}" maxlength="3" value="#{manterPlantioBean.plantio.turnoRega}" disabled="#{manterPlantioBean.operacao eq 'VER'}" mask="?999" size="4" />
		        </div>
				<div class="span2">
					<label for="pam" class="block"><b>#{bundle.Pw}(%):</b></label>
		            <p:inputText id="pam" styleClass="money" value="#{manterPlantioBean.plantio.pam}" size="3" disabled="true">
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:tooltip for="pam" value="#{bundle.PAM}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
					</p:inputText>  
		        </div>
				<p:outputPanel id="tipos">
					<p:outputPanel rendered="#{manterPlantioBean.gotejo}">
						<div class="span2 clear">
							<label for="tipoFM" class="block"><b>#{bundle.tipoFormulaGotejo}:</b></label>
								<h:selectOneMenu id="tipoFM" value="#{manterPlantioBean.plantio.tipoFormulaGotejo}" title="#{bundle.selecioneTipo}" style="width:180px" disabled="#{manterPlantioBean.operacao eq 'VER'}">  
			            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{manterPlantioBean.tiposFormulaGotejo}" />
									<p:ajax update=":frmManterPlantio:tipos" listener="#{manterPlantioBean.verificarFormulaGotejo}" process="@this" />
				        		</h:selectOneMenu>							
					     	    <p:commandLink value="?" style="font-size: 15px;margin-left: 10px;font-weight: bold;" onclick="dlg1.show()" title="#{bundle.ajuda}" rendered="#{manterPlantioBean.gotejo and manterPlantioBean.plantio.tipoFormulaGotejo eq 'AreaCoberturaPam'}"/>  
					     	    <p:commandLink value="?"  onclick="dlg2.show()" title="#{bundle.ajuda}" rendered="#{manterPlantioBean.gotejo and manterPlantioBean.plantio.tipoFormulaGotejo eq 'AreaCoberturaKl'}"/>  
					     	    <p:commandLink value="?"  onclick="dlg3.show()" title="#{bundle.ajuda}" rendered="#{manterPlantioBean.gotejo and manterPlantioBean.plantio.tipoFormulaGotejo eq 'FaixaPam'}"/>  
					     	    <p:commandLink value="?"  onclick="dlg4.show()" title="#{bundle.ajuda}" rendered="#{manterPlantioBean.gotejo and manterPlantioBean.plantio.tipoFormulaGotejo eq 'FaixaKl'}"/>  
				        </div>
			        </p:outputPanel>
					<p:outputPanel rendered="#{manterPlantioBean.micro}">
						<div class="span2 clear">
							<label for="tipoFMicro" class="block"><b>#{bundle.metodologia}:</b></label>
								<h:selectOneMenu id="tipoFMicro" value="#{manterPlantioBean.plantio.tipoFormulaMicro}" title="#{bundle.selecioneTipo}" style="width:180px" disabled="#{manterPlantioBean.operacao eq 'VER'}">  
			            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{manterPlantioBean.tiposFormulaMicro}" />
									<p:ajax update=":frmManterPlantio:tipos" listener="#{manterPlantioBean.verificarFormulaMicro}" process="@this" />
				        		</h:selectOneMenu>		
					     	    <p:commandLink value="?" style="font-size: 15px;margin-left: 10px;font-weight: bold;" onclick="dlg1.show()" title="#{bundle.ajuda}" rendered="#{manterPlantioBean.micro}"/>  
				        </div>
			        </p:outputPanel>
					<p:outputPanel rendered="#{manterPlantioBean.gotejoKL}">
						<div class="span2">
							<label for="tipoFKL" class="block"><b>#{bundle.tipoFormulaKL}:</b></label>
								<h:selectOneMenu id="tipoFKL" value="#{manterPlantioBean.plantio.tipoCalculoKL}" title="#{bundle.selecioneTipo}" style="width:180px" disabled="#{manterPlantioBean.operacao eq 'VER'}">  
			            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{manterPlantioBean.tiposCalculoKL}" />
				        		</h:selectOneMenu>							
				        </div>
			        </p:outputPanel>
		        </p:outputPanel>
				<br />
				<div class="span2 clear">
					<label for="tblEmissor" class="block"><b>#{bundle.emissores}:</b></label>
				    <p:dataTable id="tblEmissor" var="emissor" value="#{manterPlantioBean.plantio.setor.emissores}" emptyMessage="#{bundle.setorSemEmissor}" selection="#{manterPlantioBean.emissoresSelecionados}" rowKey="#{emissor.id}" styleClass="tblEmissores">
						<p:ajax event="rowSelect" listener="#{manterPlantioBean.emissorSelecionado}" update=":frmManterPlantio:tipos"/>
						<p:ajax event="rowUnselect" listener="#{manterPlantioBean.emissorDeselecionado}" update=":frmManterPlantio:tipos"/>   								

                  			<f:facet name="header">  
				            #{bundle.escolhaEmissoresUtilizadoPlantio}  
				        </f:facet>  						      
				        <p:column selectionMode="multiple" disabledSelection="#{manterPlantioBean.operacao}" style="text-align: left;" />  
				        <p:column headerText="#{bundle.fabricante}" style="text-align: left;">  
				            <h:outputText value="#{emissor.fabricante.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.descricao}" style="text-align: left;">  
				            <h:outputText value="#{emissor.modelo}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.vazao}" style="text-align: right;">  
				            <h:outputText value="#{emissor.vazao}" />  
				        </p:column>  
				    </p:dataTable>  
				</div>

				<br />
				<div class="span2 clear">
					<label for="dataFim" class="block"><b>#{bundle.dataFinal}:</b></label>
					<p:calendar id="dataFim" value="#{manterPlantioBean.plantio.dataFim}" navigator="false" disabled="#{manterPlantioBean.operacao eq 'VER'}" pattern="dd/MM/yyyy"/>
				</div>
				<div class="span2">
					<label for="motivo" class="block"><b>#{bundle.motivoFinalizacao}:</b></label>
					<h:selectOneMenu id="motivo" value="#{manterPlantioBean.plantio.motivoFinalizacao}" title="#{bundle.selecioneMotivo}" style="width:120px" disabled="#{manterPlantioBean.operacao eq 'VER'}">  
            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{manterPlantioBean.motivoFinalizacao}"  />
	        		</h:selectOneMenu>							
		        </div>
			</div>
			<script type="text/javascript">
				//<![CDATA[
				
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
				jQuery(document).ready(function($){
					$(".carea").maskMoney(MASK_AREA);
				});	
				
				//]]>
			</script>
			<p:dialog id="acPam" header="Área de Cobertura - PAM" widgetVar="dlg1">  
    			<div style="width:580px; height:500px;">
    				<p>Comentário:Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta a relação entre a área molhada e a área coberta pela planta, no caso de plantios com espaçamentos grandes entre as plantas.</p>
    				<p>IRN =</p>
    				<p>IRN → Lâmina Real Necessária ou Lâmina Líquida (mm.dia-1);</p>
    				<p>KL → Coeficiente de Localização;</p>
    				<p>Kc → Coeficiente da Cultura;</p>
    				<p>ETo → Evapotranspiração de Referência (mm.dia-1);</p>
    				<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
    				<p>TR → Turno de Rega (dia).</p>
    				<br/>
    				<p>PAM = x 100</p>
    				<p>PAM → Porcentagem de Área Molhada (%);</p>
    				<p>Sg → Espaçamento entre Gotejadores (m2);</p>
    				<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    				<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m).</p>
    				<br />
    				<p>Ti =</p>
    				<p>Ti → Tempo de Irrigação (h.dia-1);</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>VTN → Volume Total Necessário ou Lâmina Aplicada (mm.h-1).</p>
    			</div>	
    			
			</p:dialog>  
			<p:dialog id="acKl" header="Área de Cobertura - KL" widgetVar="dlg2">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />
    			<div style="width:400px; height:220px;">
    				<p>Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta o KL (Coeficiente de Localização) e no caso de plantios com espaçamentos grades entre as plantas.</p>
    				<p>IRN → Lâmina Real Necessária ou Lâmina Líquida (mm.dia-1);</p>
	    			<p>KL → Coeficiente de Localização;</p>
	    			<p>Kc → Coeficiente da Cultura;</p>
	    			<p>ETo → Evapotranspiração de Referência (mm.dia-1);</p>
	    			<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
	    			<p>TR → Turno de Rega (dia).</p>
	    			<br />
	    			<p>ITN =</p>
	    			<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
	    			<p>Ua → Uniformidade de Aplicação (Tabelado ou Calculado).</p>
	    			<br />
	    			<p>VTN = ITN x Sr x Sp</p>
	    			<p>VTN → Volume Total Necessário ou Lâmina Aplicada (L.Planta-1.dia).</p>
	    			<br />
	    			<p>TI =</p>
	    			<p>Ti → Tempo de Irrigação (h.dia-1);</p>
	    			<p>Ng → Número de Emissor(es) por Planta;</p>
	    			<p>q → Vazão do Emissor (L.h-1).</p>
	    			<p></p>
    			</div>
    		</p:dialog>
 			<p:dialog id="fmPam" header="Faixa Molhada - PAM" widgetVar="dlg3">  
    			<h:outputText value="Faixa Molhada - PAM" /> 
    			<div style="width:400px; height:220px;">
    				<p>Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta a relação entre a área molhada e a área coberta pela planta, no caso de plantios com espaçamentos pequenos entre as plantas.</p>
    				<p>ITN =</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>ETc → Evapotranspiração da Cultura (mm.dia-1);</p>
    				<p>Ua → Uniformidade de Aplicação (Tabelado ou Calculado);</p>
    				<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
    				<p>PAM → Porcentagem de Área Molhada (%).</p>
    				<br/>
    				<p>PAM = X 100</p>
    				<p>PAM → Porcentagem de Área Molhada (%);</p>
    				<p>Nq → Número do Emissor;</p>
    				<p>Sg → Espaçamento entre Gotejadores (m2);</p>
    				<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    				<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m).</p>
    				<br />
    				<p>VTN = </p>
					<p>VTN → Volume Total Necessário ou Lâmina Aplicada (mm.h-1); </p>
					<p>Nq → Número do Emissor;</p>
					<p>q → Vazão do Emissor (L.h-1);</p>
					<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
					<p>Sg → Espaçamento entre Gotejadores (m).</p>
    				<br />
    				<p>TI =</p>
    				<p>Ti → Tempo de Irrigação (h.dia-1);</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>VTN → Volume Total Necessário ou Lâmina Aplicada (mm.h-1).</p>
    			</div> 
			</p:dialog>
			<p:dialog id="fmKl" header="Faixa Molhada - KL" widgetVar="dlg4">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />  
    			<div style="width:400px; height:220px;">
    				<p>Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta o KL (Coeficiente de Localização) e no caso de plantios com espaçamentos pequenos entre as plantas.Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta o KL (Coeficiente de Localização) e no caso de plantios com espaçamentos pequenos entre as plantas.</p>
    				<p>IRN → Lâmina Real Necessária ou Lâmina Líquida (mm.dia-1);</p>
    				<p>KL → Coeficiente de Localização;</p>
    				<p>Kc → Coeficiente da Cultura;</p>
    				<p>ETo → Evapotranspiração de Referência (mm.dia-1);</p>
    				<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
    				<p>TR → Turno de Rega (dia).</p>
    				<br />
    				<p>ITN =</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>Ua → Uniformidade de Aplicação (Tabelado ou Calculado).</p>
    				<br />
    				<p>VTN = ITN x Sr x Sp x Nº de Plantas.m-1</p>
    				<p>VTN → Volume Total Necessário ou Lâmina Aplicada (L.m-1.dia).</p>
    				<br />
    				<p>TI =</p>
    				<p>Ti → Tempo de Irrigação (h.dia-1);</p>
    				<p>Ng → Número de Emissor(es) por Metro;</p>
    				<p>q → Vazão do Emissor (L.h-1).</p>
    			</div>
			</p:dialog> 
			
			<p:dialog id="kb" header="Keller e Bliesnet" widgetVar="dlg5">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />
    			<div style="width:400px; height:220px;">
    			<!-- Não achei a descrição desse tipo de fórmula no arquivo -->
    			<p>D → Diâmetro da Copa (m2);</p>
    			<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    			<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m);</p>
    			</div>
    		</p:dialog>
 			<p:dialog id="fg" header="FreemanGarzoli" widgetVar="dlg6">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />  
    			<div style="width:400px; height:220px;">
    			<p>D → Diâmetro da Copa (m2);</p>
    			<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    			<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m);</p>
    			</div>
			</p:dialog>
		</h:form>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
	</ui:define>
</ui:composition>

