<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{simularBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmSimular" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.plantioDe} <h:outputText value="#{simularBean.irrigante.nome}" />  - #{bundle.lote}:  <h:outputText value="#{simularBean.irrigante.localizacao}" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<p:outputPanel id="gotejo">
				<p:outputPanel rendered="#{simularBean.gotejo}">
					<div class="span2 clear">
						<label for="tipoFM" class="block"><b>#{bundle.tipoFormulaGotejo}:</b></label>
							<h:selectOneMenu id="tipoFM" value="#{simularBean.plantio.tipoFormulaGotejo}" title="#{bundle.selecioneTipo}" style="width:180px" >  
		            			<f:selectItems value="#{simularBean.tiposFormulaGotejo}" var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" />
								<p:ajax update=":frmSimular:gotejoKL" listener="#{simularBean.verificarFormulaGotejo}" process="@this" />
			        		</h:selectOneMenu>							
			        </div>
		        </p:outputPanel>
	        </p:outputPanel>
			<p:outputPanel id="gotejoKL">
				<p:outputPanel rendered="#{simularBean.gotejoKL}">
					<div class="span2">
						<label for="tipoFKL" class="block"><b>#{bundle.tipoFormulaKL}:</b></label>
							<h:selectOneMenu id="tipoFKL" value="#{simularBean.plantio.tipoCalculoKL}" title="#{bundle.selecioneTipo}" style="width:180px" >  
		            			<f:selectItems value="#{simularBean.tiposCalculoKL}" var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}"  />
			        		</h:selectOneMenu>							
			        </div>
		        </p:outputPanel>
	        </p:outputPanel>
			<p:outputPanel id="micro" rendered="#{simularBean.micro}">
				<div class="span2 clear">
					<label for="tipoFMicro" class="block"><b>#{bundle.tipoFormulaMicroAspercao}:</b></label>
						<h:selectOneMenu id="tipoFMicro" value="#{simularBean.plantio.tipoFormulaMicro}" title="#{bundle.selecioneTipo}" style="width:180px" >  
	            			<f:selectItems value="#{simularBean.tiposFormulaMicro}" var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}"  />
		        		</h:selectOneMenu>							
		        </div>
	        </p:outputPanel>
			<br />
			
			<p:panelGrid columns="3">
				<f:facet name="header">
		            <h:outputLabel value="#{bundle.setor}:#{simularBean.plantio.setor.identificacao} - #{bundle.cultura}:#{simularBean.plantio.cultivo.cultura.nome} - #{bundle.variedade}:#{simularBean.plantio.cultivo.variedade.nome} - #{bundle.dataInicio}:#{simularBean.plantio.cultivo.dataInicio}"/>
				</f:facet>

				<p:panelGrid columns="2">
					<f:facet name="header">#{bundle.calculoTn}</f:facet>
					<h:outputLabel for="etc" value="Etc:" />
		            <p:inputText id="etc" styleClass="money" value="#{simularBean.irrigacao.etc}" size="3">
		            	<f:validateLength maximum="5"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
						<p:ajax update="frmSimular" process="@form" /> 
					</p:inputText>  
					<h:outputLabel for="chuva" value="#{bundle.precipEfetiva}:" />
		            <p:inputText id="chuva" styleClass="money" value="#{simularBean.irrigacao.chuva}" size="3">
		            	<f:validateLength maximum="5"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
						<p:ajax update="frmSimular" event="change" process="@this" /> 
					</p:inputText>  
				
					<h:outputLabel value="Itn = Etc - Pe = " />
					<h:outputLabel value="#{simularBean.irrigacao.etc} - #{simularBean.irrigacao.chuva} = #{simularBean.itn}" />
				</p:panelGrid>
				
				<p:panelGrid columns="2">
					<f:facet name="header">#{bundle.calculoEspacoPlanta}</f:facet>
					<label for="esp1" class="block"><b>Sr(m):</b></label>
		            <p:inputText id="esp1" styleClass="money" value="#{simularBean.plantio.espacamento1}" size="3" >
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:ajax update="frmSimular" event="change" process="@this" /> 
					</p:inputText>
		        
					<label for="esp2" class="block"><b>Sp(m):</b></label>
		            <p:inputText id="esp2" styleClass="money" value="#{simularBean.plantio.espacamento2}" size="3" >
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:ajax update="frmSimular" event="change" process="@this" /> 
					</p:inputText>
					  
					<label for="espE" class="block"><b>Se(m):</b></label>
		            <p:inputText id="espE" styleClass="money" value="#{simularBean.plantio.espE}" size="3" >
		            	<f:validateLength maximum="15"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:ajax update="frmSimular" event="change" process="@this" /> 
					</p:inputText>  

					<h:outputLabel value="#{bundle.areaCobertura} = Sr * Sp = " />
					<h:outputLabel value="#{simularBean.plantio.espacamento1} * #{simularBean.plantio.espacamento2} = #{simularBean.espacoPlanta}" />
					<h:outputLabel value="Dw2 = Se * Se = " />
					<h:outputLabel value="#{simularBean.plantio.espE} * #{simularBean.plantio.espE} = #{simularBean.dw2}" />
				</p:panelGrid>

				<p:panelGrid columns="2">
					<f:facet name="header">#{bundle.calculoPAM}</f:facet>
					<h:outputLabel value="Am = Pi * dw2 = " />
					<h:outputLabel value="3,14 * #{simularBean.dw2} = #{simularBean.am}" />
					<h:outputLabel value="pamParcial = Am / Área Cobertura * 4 = " />
					<h:outputLabel value="#{simularBean.am} / #{simularBean.espacoPlanta} * 4 = #{simularBean.pamParcial}" />
					<h:outputLabel value="pamParcial2 = pamParcial * 100 = " />
					<h:outputLabel value="#{simularBean.pamParcial} * 100 = #{simularBean.pamParcial2}" />
					<h:outputLabel value="PAM = emissorPlanta * pamParcial2 = " />
					<h:outputLabel value="#{simularBean.emissorPlanta} * #{simularBean.pamParcial2} = #{simularBean.pam}" />
				</p:panelGrid>

				<p:panelGrid columns="2">
					<f:facet name="header">#{bundle.calculoEmissorPlanta}</f:facet>
					<label for="totalEmissor" class="block"><b>#{bundle.totalEmissores}:</b></label>
		            <p:inputMask id="totalEmissor" value="#{simularBean.plantio.totalEmissores}" mask="?9999" size="2" >
						<p:ajax update="frmSimular" event="change" process="@this" /> 
		            </p:inputMask>

					<label for="totalPlanta" class="block"><b>#{bundle.totalPlantas}:</b></label>
		            <p:inputMask id="totalPlanta" value="#{simularBean.plantio.totalPlanta}" mask="?9999" size="2" >
						<p:ajax update="frmSimular" event="change" process="@this" /> 
		            </p:inputMask>

					<h:outputLabel value="#{bundle.emissorPlanta} = Ne / Np = " />
					<h:outputLabel value="#{simularBean.plantio.totalEmissores} / #{simularBean.plantio.totalPlanta} = #{simularBean.emissorPlanta}" />
				</p:panelGrid>

				<p:panelGrid columns="2">
					<f:facet name="header">#{bundle.eficienciaSistema}</f:facet>
					<label for="ea" class="block"><b>Ea(%):</b></label>
		            <p:inputText id="ea" styleClass="money" value="#{simularBean.irrigacao.eficiencia}" size="3" >
		            	<f:validateLength maximum="5"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:ajax update="frmSimular" event="change" process="@this" /> 
					</p:inputText>  

					<h:outputLabel value="Itn = Itn / Ea =" />
					<h:outputLabel value="#{simularBean.itn} / #{simularBean.irrigacao.eficiencia} = #{simularBean.itn2}" />
				</p:panelGrid>

				<p:panelGrid columns="2">
					<f:facet name="header">#{bundle.laminaAplicada}</f:facet>
					<label for="vazao" class="block"><b>#{bundle.vazao}:</b></label>
		            <p:inputText id="vazao" styleClass="money" value="#{simularBean.plantio.formula.vazao}" size="3" onchange="submit();" >
		            	<f:validateLength maximum="5"/>
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<p:ajax update="frmSimular" event="change" process="@this" /> 
					</p:inputText>  

					<h:outputLabel value="Vazão Total = Vazão * emissorPlanta =" />
					<h:outputLabel value="#{simularBean.plantio.formula.vazao} * #{simularBean.emissorPlanta} = #{simularBean.vazaoTotal}" />
					<h:outputLabel value="La = Vazão Total / Área de Cobertura =" />
					<h:outputLabel value="#{simularBean.vazaoTotal} / #{simularBean.espacoPlanta} = #{simularBean.la}" />
				</p:panelGrid>

				<p:panelGrid columns="2">
					<h:outputLabel value="Lb =" />
					<h:outputLabel value="#{simularBean.itn2} * (#{simularBean.pam} / 100) = #{simularBean.lb}" />
				</p:panelGrid>

				<p:panelGrid columns="2">
					<h:outputLabel value="Tih = Lb / La =" />
					<h:outputLabel value="#{simularBean.lb} / #{simularBean.la} = #{simularBean.tih}" />
				</p:panelGrid>

				<p:panelGrid columns="2">
					<h:outputLabel value="Ti = Tih * 60 =" />
					<h:outputLabel value="#{simularBean.tih} * 60 = #{simularBean.ti}" />
				</p:panelGrid>

				<f:facet name="footer">
					<p:commandButton id="btSalvar" actionListener="#{simularBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmSimular" />
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{simularBean.voltar}" styleClass="btn primary" immediate="true" />
				</f:facet>
			</p:panelGrid>
			<br /><!--
			<div class="span2 clear">
				<label for="tblEmissor" class="block"><b>Emissores:</b></label>
			    <p:dataTable id="tblEmissor" var="emissor" value="#{simularBean.plantio.setor.emissores}" emptyMessage="O setor não possui emissor." selection="#{simularBean.emissoresSelecionados}" rowKey="#{emissor.id}" styleClass="tblEmissores">
					<p:ajax event="rowSelect" listener="#{simularBean.emissorSelecionado}" update=":frmSimular:gotejo"/>
					<p:ajax event="rowUnselect" listener="#{simularBean.emissorDeselecionado}" update=":frmSimular:gotejo"/>   								
                 			<f:facet name="header">  
			            Escolha os emissores utilizado no plantio.  
			        </f:facet>  						      
			        <p:column selectionMode="multiple" style="text-align: left;" />  
			        <p:column headerText="Fabricante" style="text-align: left;">  
			            <h:outputText value="#{emissor.fabricante.nome}" />  
			        </p:column>  
			        <p:column headerText="Descrição" style="text-align: left;">  
			            <h:outputText value="#{emissor.modelo}" />  
			        </p:column>  
			    </p:dataTable>  
			</div>
			--><script type="text/javascript">
				//<![CDATA[
				
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
				jQuery(document).ready(function($){
					$(".carea").maskMoney(MASK_AREA);
				});	
				
				$("#tipoFM").on("change", function(){
					var select = $(this)[0];
					var id = select.selectedIndex;
					var value = select.options[id].value;
					
					if (value == "AreaCoberturaPam"){
						dlg1.show();
					} else if (value == "AreaCoberturaKl"){
						dlg2.show();
					} else if (value == "FaixaPam"){
						dlg3.show();
					}else if (value == "FaixaKl"){
						dlg4.show();
					}
				});

				$("#tipoFKL").on("change", function(){
					var select = $(this)[0];
					var id = select.selectedIndex;
					var value = select.options[id].value;
					
					if (value == "KellerBliesnet"){
						dlg5.show();
					} else if (value == "FreemanGarzoli"){
						dlg6.show();
					} 
				});	
				//]]>
			</script>
			<p:dialog id="acPam" header="Área de Cobertura - PAM" widgetVar="dlg1">  
    			<div style="width:400px; height:220px;">
    				<p>Comentário:Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta a relação entre a área molhada e a área coberta pela planta, no caso de plantios com espaçamentos grandes entre as plantas.</p>
    				<p>IRN =</p>
    				<p>IRN → Lâmina Real Necessária ou Lâmina Líquida (mm.dia-1);</p>
    				<p>KL → Coeficiente de Localização;</p>
    				<p>Kc → Coeficiente da Cultura;</p>
    				<p>ETo → Evapotranspiração de Referência (mm.dia-1);</p>
    				<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
    				<p>TR → Turno de Rega (dia).</p>
    				<br/>
    				<p>PAM = x 100</p>
    				<p>PAM → Porcentagem de Área Molhada (%);</p>
    				<p>Sg → Espaçamento entre Gotejadores (m2);</p>
    				<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    				<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m).</p>
    				<br />
    				<p>Ti =</p>
    				<p>Ti → Tempo de Irrigação (h.dia-1);</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>VTN → Volume Total Necessário ou Lâmina Aplicada (mm.h-1).</p>
    			</div>	
    			
			</p:dialog>  
			<p:dialog id="acKl" header="Área de Cobertura - KL" widgetVar="dlg2">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />
    			<div style="width:400px; height:220px;">
    				<p>Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta o KL (Coeficiente de Localização) e no caso de plantios com espaçamentos grades entre as plantas.</p>
    				<p>IRN → Lâmina Real Necessária ou Lâmina Líquida (mm.dia-1);</p>
	    			<p>KL → Coeficiente de Localização;</p>
	    			<p>Kc → Coeficiente da Cultura;</p>
	    			<p>ETo → Evapotranspiração de Referência (mm.dia-1);</p>
	    			<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
	    			<p>TR → Turno de Rega (dia).</p>
	    			<br />
	    			<p>ITN =</p>
	    			<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
	    			<p>Ua → Uniformidade de Aplicação (Tabelado ou Calculado).</p>
	    			<br />
	    			<p>VTN = ITN x Sr x Sp</p>
	    			<p>VTN → Volume Total Necessário ou Lâmina Aplicada (L.Planta-1.dia).</p>
	    			<br />
	    			<p>TI =</p>
	    			<p>Ti → Tempo de Irrigação (h.dia-1);</p>
	    			<p>Ng → Número de Emissor(es) por Planta;</p>
	    			<p>q → Vazão do Emissor (L.h-1).</p>
	    			<p></p>
    			</div>
    		</p:dialog>
 			<p:dialog id="fmPam" header="Faixa Molhada - PAM" widgetVar="dlg3">  
    			<h:outputText value="Faixa Molhada - PAM" /> 
    			<div style="width:400px; height:220px;">
    				<p>Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta a relação entre a área molhada e a área coberta pela planta, no caso de plantios com espaçamentos pequenos entre as plantas.</p>
    				<p>ITN =</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>ETc → Evapotranspiração da Cultura (mm.dia-1);</p>
    				<p>Ua → Uniformidade de Aplicação (Tabelado ou Calculado);</p>
    				<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
    				<p>PAM → Porcentagem de Área Molhada (%).</p>
    				<br/>
    				<p>PAM = X 100</p>
    				<p>PAM → Porcentagem de Área Molhada (%);</p>
    				<p>Nq → Número do Emissor;</p>
    				<p>Sg → Espaçamento entre Gotejadores (m2);</p>
    				<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    				<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m).</p>
    				<br />
    				<p>VTN = </p>
					<p>VTN → Volume Total Necessário ou Lâmina Aplicada (mm.h-1); </p>
					<p>Nq → Número do Emissor;</p>
					<p>q → Vazão do Emissor (L.h-1);</p>
					<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
					<p>Sg → Espaçamento entre Gotejadores (m).</p>
    				<br />
    				<p>TI =</p>
    				<p>Ti → Tempo de Irrigação (h.dia-1);</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>VTN → Volume Total Necessário ou Lâmina Aplicada (mm.h-1).</p>
    			</div> 
			</p:dialog>
			<p:dialog id="fmKl" header="Faixa Molhada - KL" widgetVar="dlg4">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />  
    			<div style="width:400px; height:220px;">
    				<p>Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta o KL (Coeficiente de Localização) e no caso de plantios com espaçamentos pequenos entre as plantas.Comentário: Usada no cálculo do Tempo de Irrigação em sistemas de irrigação por gotejamento, levando em conta o KL (Coeficiente de Localização) e no caso de plantios com espaçamentos pequenos entre as plantas.</p>
    				<p>IRN → Lâmina Real Necessária ou Lâmina Líquida (mm.dia-1);</p>
    				<p>KL → Coeficiente de Localização;</p>
    				<p>Kc → Coeficiente da Cultura;</p>
    				<p>ETo → Evapotranspiração de Referência (mm.dia-1);</p>
    				<p>Pe → Precipitação Efetiva (mm.dia-1);</p>
    				<p>TR → Turno de Rega (dia).</p>
    				<br />
    				<p>ITN =</p>
    				<p>ITN → Lâmina de Irrigação Total Necessária ou Lâmina Bruta (mm.dia-1);</p>
    				<p>Ua → Uniformidade de Aplicação (Tabelado ou Calculado).</p>
    				<br />
    				<p>VTN = ITN x Sr x Sp x Nº de Plantas.m-1</p>
    				<p>VTN → Volume Total Necessário ou Lâmina Aplicada (L.m-1.dia).</p>
    				<br />
    				<p>TI =</p>
    				<p>Ti → Tempo de Irrigação (h.dia-1);</p>
    				<p>Ng → Número de Emissor(es) por Metro;</p>
    				<p>q → Vazão do Emissor (L.h-1).</p>
    			</div>
			</p:dialog> 
			
			<p:dialog id="kb" header="Keller e Bliesnet" widgetVar="dlg5">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />
    			<div style="width:400px; height:220px;">
    			<!-- Não achei a descrição desse tipo de fórmula no arquivo -->
    			<p>D → Diâmetro da Copa (m2);</p>
    			<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    			<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m);</p>
    			</div>
    		</p:dialog>
 			<p:dialog id="fg" header="FreemanGarzoli" widgetVar="dlg6">  
    			<h:outputText value="IRN = ((KL x Kc x ETo) – Pe) x TR" />  
    			<div style="width:400px; height:220px;">
    			<p>D → Diâmetro da Copa (m2);</p>
    			<p>Sr → Espaçamento entre Filas de Plantas (m);</p>
    			<p>Sp → Espaçamento entre Plantas na mesma Fila de Plantio (m);</p>
    			</div>
			</p:dialog>
		</h:form>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
	</ui:define>
</ui:composition>

