<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmRelClima" acceptcharset="ISO-8859-1" >
		<p:dialog id="modalDialogClima" header="#{bundle.relatorioClima}" widgetVar="modalRelClima" modal="true" height="360" width="530" position="center top" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="row cadastro">	
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="msg" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{relClimaBean.dataIni}" id="dataInicio" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2">
							<label for="msg" class="block"><b>#{bundle.dataFinal}:</b></label>
							<p:calendar value="#{relClimaBean.dataFim}" id="dataFinal" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2 clear">
							<label for="msg" class="block"><b>#{bundle.tipoRelatorio}:</b></label>
							<p:selectOneRadio id="console" value="#{relClimaBean.extensaoArquivo}">
								<f:selectItem itemLabel="PDF" itemValue="1" noSelectionOption="true" />
								<f:selectItem itemLabel="Excel" itemValue="2" />
							</p:selectOneRadio>
						</div>
						<div class="span2 clear">
							<p:commandButton id="imprimir" value="#{bundle.imprimir}" actionListener="#{relClimaBean.imprimir}" styleClass="btn success" ajax="false">
								<p:fileDownload value="#{relClimaBean.file}" />
							</p:commandButton>
							<p:commandButton value="#{bundle.cancelar}" onclick="modalClima.hide()" type="button" styleClass="btn cancel" />
						</div>
					</div> 		    
				</div> 		    
			</div> 		    
		</p:dialog>
	</h:form>
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
	    <p:graphicImage value="/img/loading.gif" />  
	</p:dialog>
</html>

