<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarDemandaHidricaBean.carregarDadosIniciais}" />
		</f:metadata>
		
		<h:form styleClass="formularios box-border" prependId="false" enctype="multipart/form-data">
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.demandaHidrica}
				</div>
			</div>
			
								
		</h:form>
	</ui:define>
</ui:composition>
