<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:form id="frmRelCulturaLote" acceptcharset="ISO-8859-1">
	<p:dialog id="modalCulturaLote" header="#{bundle.relatorioCulturasLote}"
		widgetVar="rcultLote" modal="true" height="360" width="530"
		position="center top">
		<p:messages id="msg" showDetail="false" autoUpdate="true"
			for="textOnly" display="text" />
		<div class="row cadastro">
			<label for="msg" class="block"><b>#{bundle.formatoRelatorio}</b></label>
			<p:selectOneRadio value="#{relCulturaLoteBean.formatoRelatorio}">
				<f:selectItem itemLabel="#{bundle.PDF}" itemValue="1"
					noSelectionOption="true" />
				<f:selectItem itemLabel="#{bundle.excel}" itemValue="2" />
			</p:selectOneRadio>
			<p:selectOneRadio value="#{relCulturaLoteBean.consorcioSequeiro}">
				<f:selectItem itemLabel="#{bundle.todosLotes}" itemValue="0"
					noSelectionOption="true" />
				<f:selectItem itemLabel="#{bundle.consorcio}" itemValue="1" />
				<f:selectItem itemLabel="#{bundle.sequeiro}" itemValue="2" />
			</p:selectOneRadio>

			<p:commandButton id="imprimir" value="#{bundle.gerarRelatorio}"
				actionListener="#{relCulturaLoteBean.imprimir}"
				styleClass="btn success" ajax="false">
				<p:fileDownload value="#{relCulturaLoteBean.file}" />
			</p:commandButton>
			<p:commandButton value="#{bundle.cancelar}" onclick="rcultLote.hide()"
				type="button" styleClass="btn cancel" />
		</div>
	</p:dialog>
</h:form>
<p:dialog modal="true" widgetVar="statusDialog" header="Status"
	draggable="false" closable="false" resizable="false">
	<p:graphicImage value="/img/loading.gif" />
</p:dialog>
</html>