<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmDemandaHidrica" acceptcharset="ISO-8859-1" >
		<p:dialog id="modalDialogRelHidrico" header="#{bundle.relatorioDemandaHidrica}" widgetVar="rdh" modal="true" height="360" width="530" position="center top" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="row cadastro">	
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.lote}:</b></label>
							<p:inputText id="lote" value="#{relDemandaHidricaBean.localizacao}" size="2"/>
							<p:tooltip for="lote" value="Deixe em branco para todos os lotes ou selecione um específico." showEffect="fade" hideEffect="fade" style="color:blue;"/>    
						</div>
						<div class="span2 clear">
							<label for="msg" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{relDemandaHidricaBean.dataIni}" id="dataInicio" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2">
							<label for="msg" class="block"><b>#{bundle.dataFinal}:</b></label>
							<p:calendar value="#{relDemandaHidricaBean.dataFim}" id="dataFinal" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.cultura}:</b></label>
							<h:selectOneMenu id="cultura" value="#{relDemandaHidricaBean.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaEspecifica}" style="width: 100px;">  
				            	<f:selectItem itemLabel="Todas" itemValue="" />  
		            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{relDemandaHidricaBean.culturas}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.tipo}:</b></label>
							<p:selectOneRadio id="opcao" value="#{relDemandaHidricaBean.opcao}">  
					            <f:selectItem itemLabel="#{bundle.analitico}" itemValue="A" />  
					            <f:selectItem itemLabel="#{bundle.sintetico}" itemValue="S" />  
					        </p:selectOneRadio>  			
						</div>
			                 
						<div class="span2 clear">
					       <p:commandButton id="imprimir" value="#{bundle.imprimir}" actionListener="#{relDemandaHidricaBean.imprimir}" styleClass="btn success" ajax="false">
					       		<p:fileDownload value="#{relDemandaHidricaBean.file}" />
					       </p:commandButton>
					       <p:commandButton value="#{bundle.cancelar}" onclick="rdh.hide()" type="button" styleClass="btn cancel" />
						</div>
					</div> 		    
				</div> 		    
			</div> 		    
		</p:dialog>
	</h:form>
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
	    <p:graphicImage value="/img/loading.gif" />  
	</p:dialog>
</html>

