<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmDemandaHidricaBacia" acceptcharset="ISO-8859-1" >
		<p:dialog id="modalDialogRelHidricoBacia" header="#{bundle.relatorioDemandaHidrica}" widgetVar="rdhb" modal="true" height="360" width="530" position="center top" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="row cadastro">	
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.irrigante}:</b></label>
							<h:selectOneMenu id="irrigante" value="#{relDemandaHidricaBaciaBean.irrigante}" converter="irriganteConverter" title="#{bundle.selecioneIrrigante}" style="width: 100px;">  
				            	<f:selectItem itemLabel="Todos" itemValue="" />  
		            			<f:selectItems var="irrigante" itemLabel="#{irrigante.nome}" itemValue="#{irrigante}" value="#{relDemandaHidricaBaciaBean.irrigantes}"  />
			        		</h:selectOneMenu>    
						</div>
						<div class="span2 clear">
							<label for="msg" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{relDemandaHidricaBaciaBean.dataIni}" id="dataInicio" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2">
							<label for="msg" class="block"><b>#{bundle.dataFinal}:</b></label>
							<p:calendar value="#{relDemandaHidricaBaciaBean.dataFim}" id="dataFinal" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.cultura}:</b></label>
							<h:selectOneMenu id="cultura" value="#{relDemandaHidricaBaciaBean.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaEspecifica}" style="width: 100px;">  
				            	<f:selectItem itemLabel="Todas" itemValue="" />  
		            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{relDemandaHidricaBaciaBean.culturas}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
					       <p:commandButton id="imprimir" value="#{bundle.imprimir}" actionListener="#{relDemandaHidricaBaciaBean.imprimir}" styleClass="btn success" ajax="false">
					       		<p:fileDownload value="#{relDemandaHidricaBaciaBean.file}" />
					       </p:commandButton>
					       <p:commandButton value="#{bundle.cancelar}" onclick="rdh.hide()" type="button" styleClass="btn cancel" />
						</div>
					</div> 		    
				</div> 		    
			</div> 		    
		</p:dialog>
	</h:form>
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
	    <p:graphicImage value="/img/loading.gif" />  
	</p:dialog>
</html>

