<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmRelEficiencia" acceptcharset="ISO-8859-1" >
		<p:dialog id="modalDialogRelEficiencia" header="#{bundle.relatorioEficiencia}" widgetVar="re" modal="true" height="360" width="530" position="center top" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="row cadastro">	
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.lote}:</b></label>
							<p:inputText id="lote" value="#{relEficienciaBean.localizacao}" size="2"/>
							<p:tooltip for="lote" value="Deixe em branco para todos os lotes ou selecione um específico." showEffect="fade" hideEffect="fade" style="color:blue;"/>    
						</div>
						<div class="span2 clear">
							<label for="msg" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{relEficienciaBean.dataIni}" id="dataInicio" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2">
							<label for="msg" class="block"><b>#{bundle.dataFinal}:</b></label>
							<p:calendar value="#{relEficienciaBean.dataFim}" id="dataFinal" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.emissor}:</b></label>
							<h:selectOneMenu id="cultura" value="#{relEficienciaBean.emissor}" converter="emissorConverter" title="#{bundle.selecioneEmissorEspecifica}" style="width: 100px;">  
				            	<f:selectItem itemLabel="Todos" itemValue="" />  
		            			<f:selectItems var="emissor" itemLabel="#{emissor.fabricante.nome}-#{emissor.modelo}-#{emissor.vazao}" itemValue="#{emissor}" value="#{relEficienciaBean.emissores}"  />
			        		</h:selectOneMenu>							
						</div>
			                 
						<div class="span2 clear">
					       <p:commandButton id="imprimir" value="#{bundle.imprimir}" actionListener="#{relEficienciaBean.imprimir}" styleClass="btn success" ajax="false">
					       		<p:fileDownload value="#{relEficienciaBean.file}" />
					       </p:commandButton>
					       <p:commandButton value="#{bundle.cancelar}" onclick="re.hide()" type="button" styleClass="btn cancel" />
						</div>
					</div> 		    
				</div> 		    
			</div> 		    
		</p:dialog>
	</h:form>
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
	    <p:graphicImage value="/img/loading.gif" />  
	</p:dialog>
</html>

