<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmRelFazenda" acceptcharset="ISO-8859-1" >
		<p:dialog id="modalDialogFazenda" header="#{bundle.fazenda}" widgetVar="rfazenda" modal="true" height="360" width="530" position="center top" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="row cadastro">	
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.lote}:</b></label>
							<p:inputText id="lote" value="#{relFazendaBean.localizacao}" size="2"/>
							<p:tooltip for="lote" value="Selecione um lote específico." showEffect="fade" hideEffect="fade" style="color:blue;"/>    
						</div>
						<div class="span2 clear">
					       <p:commandButton id="imprimir" value="#{bundle.imprimir}" actionListener="#{relFazendaBean.imprimir}" styleClass="btn success" ajax="false">
					       		<p:fileDownload value="#{relFazendaBean.file}" />
					       </p:commandButton>
					       <p:commandButton value="#{bundle.cancelar}" onclick="rfazenda.hide()" type="button" styleClass="btn cancel" />
						</div>
					</div> 		    
				</div> 		    
			</div> 		    
		</p:dialog>
	</h:form>
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
	    <p:graphicImage value="/img/loading.gif" />  
	</p:dialog>
</html>

