<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmRelFri" acceptcharset="ISO-8859-1" >
		<p:dialog id="modalDialogFri" header="#{bundle.relatorioFri}" widgetVar="rfri" modal="true" height="360" width="530" position="center top" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="row cadastro">	
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="opcao" class="block"><b>#{bundle.lote}:</b></label>
							<h:outputLabel rendered="#{exibirErroLote}">
							<label class="block"><b>O lote não existe</b></label>
							</h:outputLabel> 
							<p:inputText id="lote" value="#{relFriBean.localizacao}" size="2" >
								<p:ajax event="change" listener="#{relFriBean.consultarLotePorNome}" ></p:ajax>
							</p:inputText>
							<p:tooltip for="lote" value="Deixe em branco para todos os lotes ou selecione um específico." showEffect="fade" hideEffect="fade" style="color:blue;"/>    
						</div>
						<div class="span2 clear">
							<label for="msg" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{relFriBean.dataIni}" id="dataInicio" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2">
							<label for="msg" class="block"><b>#{bundle.dataFinal}:</b></label>
							<p:calendar value="#{relFriBean.dataFim}" id="dataFinal" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
						<div class="span2 clear">
							<label for="msg" class="block"><b>Gerar relatório:</b></label>
							<p:selectOneRadio id="console" value="#{relFriBean.extensaoArquivo}">
								<f:selectItem itemLabel="PDF" itemValue="1" noSelectionOption="true" />
								<f:selectItem itemLabel="Excel" itemValue="2" />
							</p:selectOneRadio>
						</div>
						<div class="span2 clear">
							<p:commandButton id="imprimir" value="#{bundle.imprimir}" actionListener="#{relFriBean.imprimir}" styleClass="btn success" ajax="false">
								<p:fileDownload value="#{relFriBean.file}" />
							</p:commandButton>
							<p:commandButton value="#{bundle.cancelar}" onclick="rfri.hide()" type="button" styleClass="btn cancel" />
						</div>
					</div> 		    
				</div> 		    
			</div> 		    
		</p:dialog>
	</h:form>
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
	    <p:graphicImage value="/img/loading.gif" />  
	</p:dialog>
</html>

