<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmPlantioExpirado" acceptcharset="ISO-8859-1" >
		<p:dialog id="modalDialogRelPlantioExpirado" header="#{bundle.relatorioPlantioExpirado}" widgetVar="rpe" modal="true" height="160" width="530" position="center top" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="row cadastro">	
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="msg" class="block"><b>#{bundle.data}:</b></label>
							<p:calendar value="#{relPlantioExpiradoBean.data}" id="data" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
						</div>
			                 
						<div class="span2 clear">
					       <p:commandButton id="imprimir" value="#{bundle.imprimir}" actionListener="#{relPlantioExpiradoBean.imprimir}" styleClass="btn success" ajax="false">
					       		<p:fileDownload value="#{relPlantioExpiradoBean.file}" />
					       </p:commandButton>
					       <p:commandButton value="#{bundle.cancelar}" onclick="rpe.hide()" type="button" styleClass="btn cancel" />
						</div>
					</div> 		    
				</div> 		    
			</div> 		    
		</p:dialog>
	</h:form>
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">  
	    <p:graphicImage value="/img/loading.gif" />  
	</p:dialog>
</html>

