<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarSensoresBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarsensor" styleClass="formularios box-border" prependId="false">
		
			<p:messages showDetail="false" autoUpdate="true"/>
				
			<div class="bc cinzaclaro barra">
        		<div class="titulo">
					#{bundle.sensoresVolumeConsumido}
				</div>
			</div>
			
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="sensor" value="#{consultarSensoresBean.sensores}" emptyMessage="#{bundle.sensoresDadosNaoExistem}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">
						
				        <p:column id="data" headerText="#{bundle.data}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{sensor.data}">
				            	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
				            </h:outputText>
				        </p:column>
				        
				        <p:column id="lote" headerText="#{bundle.lote}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{sensor.irrigante.localizacao}" />
				        </p:column>
				        
				        <p:column id="volume" headerText="#{bundle.volume}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{sensor.volume}" />
				        </p:column>
				        
					</p:dataTable>
				</p:outputPanel>	
			</div>
			
		</h:form>
	</ui:define>
</ui:composition>
