<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="WEB-INF/templates/login.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui" 
 	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
 	  xmlns:s="http://www.springframework.org/tags">
 	  	
	<ui:define name="content">
	
		<h:form id="frmDistritoPadraoBean" styleClass="formSelecionarDistrito" prependId="false" enctype="multipart/form-data">

			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >#{bundle.tituloSelecaoDistrito}</div>
			</div>
			
			<br />
			<h:outputText>#{bundle.selecaoDistrito}:</h:outputText>
			<br />
			
			<!-- Selecionar distrito -->
			<h:selectOneMenu id="distritoPadraoBean" value="#{distritoPadraoBean.distritoSelecionado}" title="#{bundle.selecioneDistritoPesquisar}" style="width: 120px;" converter="distritoConverter" required="true" requiredMessage="Selecione o distrito" >  
            	<f:selectItem itemLabel="#{bundle.mudarDistrito}" noSelectionOption="true" itemValue="" />  
          		<f:selectItems var="distrito" itemLabel="#{distrito.nome}" itemValue="#{distrito}" value="#{distritoPadraoBean.usuarioLogado.distritos}" />
       		</h:selectOneMenu>
       		
       		<h:commandButton styleClass="btn primary" action="#{distritoPadraoBean.selecionarDistritoPadrao}" value="Selecionar" />
      	</h:form>
      	
	</ui:define>
</ui:composition> 