<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
   		<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/> 

		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarFazendaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarFazenda" styleClass="formularios box-border" prependId="false" >
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarFazenda}
				</div>
				<div class="botoes">
		            <p:commandButton id="btModoSatelite" value="#{bundle.modoSatelite}" title="#{bundle.modoSatelite}" actionListener="#{consultarFazendaBean.modoSatelite}" ajax="true" styleClass="btn primary" rendered="#{!consultarFazendaBean.modoSatelite}" update=":frmConsultarFazenda"/>  
		            <p:commandButton id="btModoNormal" value="#{bundle.modoTabela}" title="#{bundle.modoTabela}" actionListener="#{consultarFazendaBean.modoTabela}" ajax="true" styleClass="btn primary" rendered="#{consultarFazendaBean.modoSatelite}" update=":frmConsultarFazenda"/>  
		            <p:commandButton id="btEnviarMsg" value="#{bundle.enviarSMS}" title="#{bundle.enviarSMS}" actionListener="#{consultarFazendaBean.enviarSMS}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_ENVIAR_SMS')}"/>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<p:commandButton id="chartBtn" value="#{bundle.grafico}" type="button" />
			<p:overlayPanel for="chartBtn" style="background: white;">
				<p:barChart id="stacked" value="#{consultarFazendaBean.grPlantioTempo}" legendPosition="ne" style="height:300px"  
	            title="#{bundle.graficoTempoirrigacao}" stacked="true" barMargin="10" min="0" />  
			</p:overlayPanel>				
			<div class="tabela-dados">
				<p:outputPanel id="modoTabela" rendered="#{!consultarFazendaBean.modoSatelite}">
					<p:dataGrid var="setor" value="#{consultarFazendaBean.setores}" columns="4" emptyMessage="#{bundle.naoExisteSetorCadastrado}">  
				        <p:column>  
				            <p:panel header="#{bundle.setor} #{setor.identificacao}" style="text-align:center;">  
								<p:dataGrid var="plantio" value="#{setor.plantio}" columns="1" emptyMessage="#{bundle.semPlantio}." >  
							        <p:column>  
						                   <p:commandLink update=":frmConsultarFazenda:plantioDetalhe" oncomplete="plantioDialog.show()" title="#{plantio.cultivo.cultura.nome} - #{plantio.cultivo.variedade.nome}">  
					                        <p:graphicImage value="/publico/#{plantio.cultivo.cultura.image}" width="50px" height="50px" cache="TRUE"/>   
											<f:setPropertyActionListener value="#{plantio}" target="#{consultarFazendaBean.plantioSelecionado}" />
					                    </p:commandLink>
							            <p:commandLink styleClass="ui-icon ui-icon-irrigacao" action="#{consultarFazendaBean.irrigacao}" title="#{bundle.verHistoricoIrrigacao}">  
							                <f:setPropertyActionListener value="#{plantio}" target="#{consultarIrrigacaoBean.plantio}" />  
							                <f:setPropertyActionListener value="false" target="#{consultarIrrigacaoBean.origemPlantio}" />  
							                <f:setPropertyActionListener value="true" target="#{consultarIrrigacaoBean.origemFazenda}" />  
							            </p:commandLink>  				         
							        </p:column>  
							    </p:dataGrid>
			                    <p:commandLink action="#{consultarFazendaBean.eficiencia}" title="#{bundle.registrarEficiencia}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_EFICIENCIA')}">  
			                        <p:graphicImage value="/img/ico/audio_knob.png"/>   
									<f:setPropertyActionListener value="" target="#{cadastrarEficienciaBean.testes}" />
									<f:setPropertyActionListener value="#{setor}" target="#{cadastrarEficienciaBean.setor}" />
									<f:setPropertyActionListener value="NOVO" target="#{cadastrarEficienciaBean.operacao}" />
			                    </p:commandLink>  
			                    <p:commandLink action="#{consultarFazendaBean.eficiencia}" title="#{bundle.verEficiencia}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_EFICIENCIA')}">  
			                        <p:graphicImage value="/img/ico/audio_knob.png"/>   
									<f:setPropertyActionListener value="" target="#{cadastrarEficienciaBean.testes}" />
									<f:setPropertyActionListener value="#{setor}" target="#{cadastrarEficienciaBean.setor}" />
									<f:setPropertyActionListener value="VER" target="#{cadastrarEficienciaBean.operacao}" />
			                    </p:commandLink>  
				            </p:panel>  
				        </p:column>  
				    </p:dataGrid>
				</p:outputPanel>	
				<p:outputPanel id="modoSatelite" rendered="#{consultarFazendaBean.modoSatelite}">
					<p:gmap center="#{consultarFazendaBean.central}" zoom="15" type="HYBRID" style="width:1000px;height:400px"/>  
				</p:outputPanel>				
				
			</div>
			<p:dialog header="#{bundle.plantioDetalhe}" widgetVar="plantioDialog" modal="true" width="400">  
		        <p:outputPanel id="plantioDetalhe" layout="block">  
		            <h:panelGrid  columns="2">  
						<label for="cultura" class="block"><b>#{bundle.cultura}:</b></label>							
		                <h:outputText id="cultura" value="#{consultarFazendaBean.plantioSelecionado.cultivo.cultura.nome}" />  
						<label for="variedade" class="block"><b>#{bundle.variedade}:</b></label>
		                <h:outputText id="variedade" value="#{consultarFazendaBean.plantioSelecionado.cultivo.variedade.nome}" />  
						<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
						<p:calendar value="#{consultarFazendaBean.plantioSelecionado.cultivo.dataInicio}" navigator="false" disabled="true" pattern="dd/MM/yyyy"/>							
						<label for="tipoF" class="block"><b>#{bundle.tipoFertirrigacao}:</b></label>
		                <h:outputText id="tipoF" value="#{consultarFazendaBean.plantioSelecionado.tipoFertirrigacao.descricao}" />  
						<label for="tipoM" class="block"><b>#{bundle.tipoManejo}:</b></label>
		                <h:outputText id="tipoM" value="#{consultarFazendaBean.plantioSelecionado.tipoManejoIrrigacao.descricao}" />  
						<label for="esp1" class="block"><b>#{bundle.esp1}:</b></label>
		                <h:outputText id="esp1" value="#{consultarFazendaBean.plantioSelecionado.espacamento1}" />  
						<label for="esp2" class="block"><b>#{bundle.esp2}:</b></label>
		                <h:outputText id="esp2" value="#{consultarFazendaBean.plantioSelecionado.espacamento2}" />  
						<label for="esp3" class="block"><b>#{bundle.esp3}:</b></label>
		                <h:outputText id="esp3" value="#{consultarFazendaBean.plantioSelecionado.espacamento3}" />  
		            </h:panelGrid>  
		        </p:outputPanel>  
		    </p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
