<ui:composition template="WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui">

	<ui:define name="menu">
		<h:form id="frmMenu" >		
			<div>
				<div style="float:left;">
					<p:menubar autoSubmenuDisplay="true" styleClass="menu-principal">
					</p:menubar>
				</div>
			    <div style="color: #FFF; float:right; text-align:right; padding-top: 13px; font-weight:bold;">
			    	<h:outputText value="#{LoginBean.usuarioLogado.username}" />
			    	<p:commandLink styleClass="ui-icon-circle-close" action="#{LoginBean.logout}" title="Sair da aplicação" ajax="false"/>
			    </div>
			</div>
		</h:form>	
	</ui:define>

	<ui:define name="content">
<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarModuloBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarModulo" styleClass="formularios box-border" prependId="false" >
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.Modulos}
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<p:panelGrid columns="1">
							    <f:facet name="header">
							    	<p:commandLink action="home?faces-redirect=true">
							        	<p:graphicImage value="/imagens/logo.png" />
							        </p:commandLink>
							    </f:facet>
							 
							    <h:outputText value="S@I" />
							</p:panelGrid>
						</div>
						<div class="span2">
							<p:panelGrid columns="1">
							    <f:facet name="header">
							    	<p:commandLink action="homeBaciasHidrografica?faces-redirect=true">
								        <p:graphicImage value="/imagens/logoBH.png" />
							        </p:commandLink>
							    </f:facet>
			
							    <h:outputText value="S@BH" />
							</p:panelGrid>
						</div>
					</div>
				</div>
			</div>
								
<!-- 				<p:dock position="top" > -->
<!-- 				    <p:menuitem value="S@I"  icon="/imagens/logo.png" action="home?faces-redirect=true" rendered="#{consultarModuloBean.temSAI}"/> -->
<!-- 				    <p:menuitem value="S@BH" icon="/imagens/logoBH.png" action="homeBaciasHidrografica?faces-redirect=true" rendered="#{consultarModuloBean.temSAIBH}"/> -->
<!-- 				    more menuitems -->
<!-- 				</p:dock>			 -->
		</h:form>
	</ui:define>
</ui:composition> 