<ui:composition template="WEB-INF/templates/pageSABH.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:outputPanel rendered="#{LoginBean.dataUltimoAcesso != null}" styleClass="ultimo-acesso">
			<h:outputText value="Seu último acesso foi em: "/>  
			<h:outputText value="#{LoginBean.dataUltimoAcesso}">  
	  				<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="pt_BR"/>
			</h:outputText>
		</p:outputPanel>   
		<p:carousel autoPlayInterval="3000" rows="1" effect="easeInStrong" circular="true" itemStyleClass="photo">
			<p:graphicImage value="/img/1.jpg" width="980"/>
			<p:graphicImage value="/img/2.jpg" width="980"/>
			<p:graphicImage value="/img/3.jpg" width="980"/>
			<p:graphicImage value="/img/4.jpg" width="980"/>
			<p:graphicImage value="/img/5.jpg" width="980"/>
		</p:carousel>
	</ui:define>
</ui:composition> 