<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="WEB-INF/templates/login.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui" 
 	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
 	  xmlns:s="http://www.springframework.org/tags">
 	  	
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{LoginBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmLogin" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >#{bundle.login}</div>
			</div>
			
			<br />
			
			<div class="row cadastro">
				
				<div class="col-esq">
					<!-- Box padrão -->
					<p:outputPanel rendered="#{LoginBean.exibirBoxLogin}" styleClass="span2 clear">
						<label for="login" class="block"><b>#{bundle.nomeUsuario}:</b></label>
						<p:inputText id="loginpadrao" required="true" value="#{LoginBean.login}" requiredMessage="#{bundle.loginRequired}" >
							<p:focus />
						</p:inputText>
						<label for="senha" class="block"><b>#{bundle.senha}:</b></label>
		                <p:password id="senhaPadrao" value="#{LoginBean.senha}" required="true" requiredMessage="#{bundle.senhaRequired}" />
					</p:outputPanel>
					
					<!-- Box recuperar login -->
					<p:outputPanel id="recuperarLogin" styleClass="clear" rendered="#{LoginBean.exibirBoxRecuperarLogin}">
						<p>#{bundle.textoRedefinirLogin}.</p>
						<label for="email" class="block"><b>#{bundle.nomeEmail}:</b></label>
						<p:inputText id="email" required="true" value="#{LoginBean.email}" requiredMessage="#{bundle.emailRequired}" immediate="true" >
							<p:focus />
						</p:inputText>
						<p:commandButton value="#{bundle.recuperarLogin}" action="#{LoginBean.recuperarLogin}" process="@form" styleClass="btn primary" update=":frmLogin" ajax="true" immediate="true"></p:commandButton>
					</p:outputPanel>
					
					<!-- Box recuperar senha -->
					<p:outputPanel id="recuperarSenha" styleClass="span2 clear" rendered="#{LoginBean.exibirBoxRecuperarSenha}">
						<p>#{bundle.textoRedefinirSenha}.</p>
						<label for="login" class="block"><b>#{bundle.nomeUsuario}:</b></label>
						<p:inputText id="login" required="true" value="#{LoginBean.login}" requiredMessage="#{bundle.loginRequired}" >
							<p:focus />
						</p:inputText>
						<p:commandButton value="#{bundle.recuperarSenha}" action="#{LoginBean.esqueceuSenha}" styleClass="btn primary"></p:commandButton>
					</p:outputPanel>
					
					<!-- Box alterar senha -->
					<p:outputPanel id="pnlNovaSenha" rendered="#{LoginBean.exibirBoxAlterarSenha}">
						<div class="clear">
							<label for="senhaN" class="block"><b>#{bundle.novaSenha}:</b></label>
			                <p:password id="senhaN" value="#{LoginBean.senhaNova}" required="true" feedback="true" goodLabel="#{bundle.senhaBoa}." weakLabel="#{bundle.senhaFraca}." strongLabel="#{bundle.senhaForte}." promptLabel="#{bundle.promptLabel}."/>
						</div>
						<div class="clear">
							<label for="senhaCN" class="block"><b>#{bundle.confirmarNovaSenha}:</b></label>
			                <p:password id="senhaCN" value="#{LoginBean.senhaConfirma}" required="true"/>
						</div>
						<br />
					</p:outputPanel>
					
					<p:outputPanel styleClass="clear block marginTopBottom" rendered="#{LoginBean.exibirOpcoesResetAcesso}">
						<p:commandLink actionListener="#{LoginBean.exibirBoxRecuperarLogin}" value="#{bundle.recuperarLogin}" process="@this" update="@form" styleClass="clear" rendered="#{LoginBean.exibirOpcoesResetAcesso}"></p:commandLink>
						<br />
						<p:commandLink actionListener="#{LoginBean.exibirBoxRecuperarSenha}" value="#{bundle.recuperarSenha}" process="@this" update="@form" styleClass="clear" rendered="#{LoginBean.exibirOpcoesResetAcesso}"></p:commandLink>
						<br />
						<p:commandLink actionListener="#{LoginBean.exibirBoxAlterarSenha}" value="#{bundle.alterarSenha}." process="@this" update="@form" styleClass="clear"></p:commandLink>
					</p:outputPanel>
				
					<p:commandButton value="#{bundle.entrar}" styleClass="btn primary" action="#{LoginBean.autenticar}" process="@form" update=":frmLogin" ajax="true" rendered="#{LoginBean.exibirBtnLogin}" />
					<p:commandButton value="#{bundle.voltar}" styleClass="btn primary" immediate="true" process="@this" update=":frmLogin" rendered="#{LoginBean.exibirBoxRecuperarLogin or LoginBean.exibirBoxRecuperarSenha or LoginBean.exibirBoxAlterarSenha}"/>
				</div>
				
				<div class="col-dir">
					<p:outputPanel style="float: right;margin-left: 640px;">
						<center><b>#{bundle.apresentacaoSai}</b></center>
						<a href="#{facesContext.externalContext.request.contextPath}/video/sai2.html">
							<img border="0" src="#{facesContext.externalContext.request.contextPath}/video/FirstFrame.png" alt="Apresentação do S@I" width="150" height="150"/>
						</a>	
  					</p:outputPanel>	
				</div>
				
			</div>
		</h:form>
	</ui:define>
</ui:composition> 