<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="WEB-INF/templates/login.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui" 
 	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
 	  xmlns:s="http://www.springframework.org/tags">
 	  	
	<ui:define name="content">
			<f:metadata>
			   <f:event type="preRenderView" listener="#{redefinirSenhaBean.carregarDadosUsuario}" />	
			</f:metadata>
			<h:form id="frmRedefinir" prependId="false">
				<div class="bc cinzaclaro barra">
					<div class="titulo">#{bundle.redefinirSenhaTitulo}</div>
				</div>
				<br />
				<p:messages showDetail="false" autoUpdate="true"/>
				<p:outputPanel rendered="#{redefinirSenhaBean.hashOk}">
					<h:panelGrid columns="1">
						<label for="login" class="block"><b>#{bundle.login}:</b></label>
						<p:inputText id="login" required="true" value="#{redefinirSenhaBean.username}" requiredMessage="#{bundle.loginRequired}" >
							<p:focus />
						</p:inputText>
						<br/>
						<label for="senhaN" class="block"><b>#{bundle.novaSenha}:</b></label>
						<br/>
		                <p:password id="senhaN" value="#{redefinirSenhaBean.senhaNova}" promptLabel="#{bundle.promptLabel}."/>
						<br/>
						<label for="senhaCN" class="block"><b>#{bundle.confirmarNovaSenha}:</b></label>
						<br/>
		                <p:password id="senhaCN" value="#{redefinirSenhaBean.senhaConfirma}" />
				        <br />
						<p:commandButton value="#{bundle.btnConfirmar}" action="#{redefinirSenhaBean.definirSenha}" styleClass="btn primary" />
					</h:panelGrid>
				</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition> 