<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="WEB-INF/templates/login.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui" 
 	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
 	  xmlns:s="http://www.springframework.org/tags">
 	  	
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{testeBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmLogin" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >#{bundle.login}</div>
			</div>
			
			<br />
			
			<div class="row cadastro">
				
				<div class="col-esq">
					<!-- Box padrão -->
					<p:outputPanel rendered="#{param['operacao'] != 'lembrarSenha'}" styleClass="span2 clear">
						<label for="login" class="block"><b>#{bundle.nomeUsuario}:</b></label>
						<p:inputText id="loginpadrao" required="true" value="#{LoginBean.login}" requiredMessage="#{bundle.loginRequired}" >
							<p:focus />
						</p:inputText>
						<label for="senha" class="block"><b>#{bundle.senha}:</b></label>
		                <p:password id="senhaPadrao" value="#{LoginBean.senha}" required="true" requiredMessage="#{bundle.senhaRequired}" />
					</p:outputPanel>
					
					<!-- Box lembrar senha -->
					<p:outputPanel id="boxRecuperarSenha" styleClass="clear" rendered="#{param['operacao'] == 'lembrarSenha'}">
						<p>#{bundle.textoRedefinirSenha}.</p>
						<p:outputPanel styleClass="span2 clear">
							<label for="login" class="block"><b>#{bundle.nomeUsuario}:</b></label>
							<p:inputText id="login" required="true" value="#{LoginBean.login}" requiredMessage="#{bundle.loginRequired}" >
								<p:focus />
							</p:inputText>
							<p:commandButton value="#{bundle.btnRecuperarSenha}" action="#{LoginBean.esqueceuSenha}" process="@form" styleClass="btn primary" update=":frmLogin" ajax="true" rendered="#{param['operacao'] == 'lembrarSenha'}">
								<f:param name="operacao" value="lembrarSenha" />
							</p:commandButton>
						</p:outputPanel>
					</p:outputPanel>
					
					<!-- Box alterar senha -->
					<p:outputPanel id="pnlNovaSenha">
						<p:outputPanel rendered="#{param['operacao'] == 'alterarSenha'}">
							<div class="clear">
								<label for="senhaN" class="block"><b>#{bundle.novaSenha}:</b></label>
				                <p:password id="senhaN" value="#{LoginBean.senhaNova}" required="true" feedback="true" goodLabel="#{bundle.senhaBoa}." weakLabel="#{bundle.senhaFraca}." strongLabel="#{bundle.senhaForte}." promptLabel="#{bundle.promptLabel}."/>
							</div>
							<div class="clear">
								<label for="senhaCN" class="block"><b>#{bundle.confirmarNovaSenha}:</b></label>
				                <p:password id="senhaCN" value="#{LoginBean.senhaConfirma}" required="true"/>
							</div>
						</p:outputPanel>
						
					</p:outputPanel>
					
					<p:outputPanel styleClass="clear block marginTopBottom">
						<p:commandLink value="#{bundle.esqueceuSenha}" immediate="true" process="@this" update="@form" styleClass="clear" rendered="#{param['operacao'] != 'alterarSenha' and param['operacao'] != 'lembrarSenha'}">
							<f:param name="operacao" value="lembrarSenha" />
						</p:commandLink>
						<br />
						<p:commandLink value="#{bundle.alterarSenha}." immediate="true" process="@this" update="@form" styleClass="clear" rendered="#{param['operacao'] != 'alterarSenha' and param['operacao'] != 'lembrarSenha'}">
	 						<f:param name="operacao" value="alterarSenha" />
						</p:commandLink>
					</p:outputPanel>
				
					<p:commandButton value="#{bundle.entrar}" styleClass="btn primary" action="#{LoginBean.autenticar}" process="@form" update=":frmLogin" ajax="true" rendered="#{param['operacao'] != 'lembrarSenha'}" />
					<p:commandButton value="#{bundle.voltar}" styleClass="btn primary" immediate="true" process="@this" update=":frmLogin" rendered="#{param['operacao'] == 'alterarSenha' || param['operacao'] == 'lembrarSenha'}">
						<f:param name="operacao" value="" />
					</p:commandButton>
				</div>
				
				<div class="col-dir">
					<p:outputPanel style="float: right;margin-left: 640px;">
						<center><b>#{bundle.apresentacaoSai}</b></center>
						<a href="#{facesContext.externalContext.request.contextPath}/video/sai2.html">
							<img border="0" src="#{facesContext.externalContext.request.contextPath}/video/FirstFrame.png" alt="Apresentação do S@I" width="150" height="150"/>
						</a>	
  					</p:outputPanel>	
				</div>
				
			</div>
		</h:form>
	</ui:define>
</ui:composition> 