<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{irrigacaoCotaBean.carregarDadosIniciais}" />
		</f:metadata>
		
		<h:form styleClass="formularios box-border" prependId="false" enctype="multipart/form-data">
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.irrigacaoCota}
				</div>
			</div>
			
			<p:fieldset id="fieldSetDadosEntrada" toggleable="true" toggleSpeed="500">
				<div class="row cadastro dadosEntradaIrrigacaoCota">
					
					<div class="botoes">
						<p:commandButton action="#{irrigacaoCotaBean.recalcular}" update="@form" styleClass="btn primary" value="#{bundle.recalcular}"></p:commandButton>
			            <p:commandButton styleClass="btn primary" value="#{bundle.excel}" ajax="false">
							<p:dataExporter type="xls" target="tblIrrigacaoCota" fileName="#{bundle.irrigantes}" encoding="ISO-8859-1"/>
						</p:commandButton>  
						<p:commandButton styleClass="btn primary" value="#{bundle.PDF}" ajax="false" >
							<p:dataExporter type="pdf" target="tblIrrigacaoCota" fileName="#{bundle.irrigantes}" encoding="ISO-8859-1"/>
						</p:commandButton>  
					</div>
					
					<div class="span2">
						<label><b>#{bundle.volumeDisponivel} (m3)</b></label>
						<p:inputText id="volumeDisponivel" value="#{irrigacaoCotaBean.volumeDisponivelTotal}" size="3" />							
					</div>
					<div class="span2">
						<label><b>#{bundle.areaIrrigada} (Ha)</b></label>  
						<p:inputText id="areaIrrigada" value="#{irrigacaoCotaBean.areaIrrigadaTotal}" size="4" readonly="true" disabled="true" />
					</div>
					<div class="span2 clear">
						<label><b>#{bundle.eficienciaDistribuicao} (%)</b></label>
						<p:inputText value="#{irrigacaoCotaBean.eficienciaDistribuicao}" size="3" />
					</div>
					<div class="span2">
						<label><b>#{bundle.diasIrrigadosSemana}</b></label>
						<p:inputText value="#{irrigacaoCotaBean.diasIrrigadosSemana}" size="3" />
					</div>
					<div class="span2 clear">
						<label><b>#{bundle.volumeDisponivel} (m3/Ha)</b></label>
						<p:inputText value="#{irrigacaoCotaBean.volumeDisponivelPorHa}" size="3" readonly="true" />
					</div>
					
				</div>
			</p:fieldset>
			<br />
			
			<p:dataTable var="cota" value="#{irrigacaoCotaBean.irrigacaoCota}" id="tblIrrigacaoCota">
			    <p:column headerText="Lote">
			        <h:outputText value="#{cota.irrigante.localizacao}" />
			    </p:column>
			    
		        <p:column headerText="#{bundle.areaIrrigada}">
			        <h:outputText value="#{cota.irrigante.areaIrrigada}" />
			    </p:column>
			 
			    <p:column headerText="#{bundle.vazaoMedia}(m3/h)">
			        <h:outputText value="#{cota.vazaoMedia}" />
			    </p:column>
			    
			    <p:column headerText="#{bundle.volumeDisponivel}(m3)">
			        <h:outputText value="#{cota.volumeDisponivel}" />
			    </p:column>
			    
			    <p:column headerText="#{bundle.TI}">
			        <h:outputText value="#{cota.tempoIrrigacaoHoras}h #{cota.tempoIrrigacaoMinutos}m" />
			    </p:column>
			</p:dataTable>
								
		</h:form>
	</ui:define>
</ui:composition>
