<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarIndicadoresBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarIndicadores" styleClass="formularios box-border">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
				<div class="titulo" > 
					<h:outputText value="#{bundle.cadastroIndicadores}"/>
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" actionListener="#{cadastrarIndicadoresBean.novo}" value="#{bundle.novo}" styleClass="btn success" update="@form" />
					<p:commandButton id="btSalvar" actionListener="#{cadastrarIndicadoresBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update="@form" />
					<p:commandButton id="btCalcular" actionListener="#{cadastrarIndicadoresBean.calcular}" value="#{bundle.calcular}" styleClass="btn success" update="@form" />
					<p:commandButton id="btCalcularCH" actionListener="#{cadastrarIndicadoresBean.calcularCH}" value="#{bundle.calcularCH}" styleClass="btn success" update="@form" />
					
				</div>
			</div>
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset id="fieldSetConsulta" legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.data}:" />  
						<h:selectOneMenu id="data" value="#{cadastrarIndicadoresBean.data}" converter="dateConverter" title="#{bundle.selecioneDataIndicadores}" style="width: 90px;" >  
			    			<f:selectItems  value="#{cadastrarIndicadoresBean.filtroDatas}"  />
							<p:ajax update=":frmCadastrarIndicadores" listener="#{cadastrarIndicadoresBean.consulta}" process="@this" /> 
			       		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				     	<p:outputPanel rendered="#{cadastrarIndicadoresBean.calculado}">
					     	<p:inputMask id="p1" value="#{cadastrarIndicadoresBean.p1}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s1" title="#{bundle.kgHa}" value="#{cadastrarIndicadoresBean.indicadorKgHa}" />
							<h:outputLabel for="s1">#{bundle.kgHa}</h:outputLabel>
					     	<p:spacer width="4" />
	
					     	<p:inputMask id="p2" value="#{cadastrarIndicadoresBean.p2}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s2" title="#{bundle.receitaLiquidaHa}" value="#{cadastrarIndicadoresBean.indicadorReceitaLiquidaHa}" />
							<h:outputLabel for="s2">#{bundle.receitaLiquidaHa}</h:outputLabel>
					     	<p:spacer width="4" />
	
					     	<p:inputMask id="p3" value="#{cadastrarIndicadoresBean.p3}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s3" title="#{bundle.m3Ha}" value="#{cadastrarIndicadoresBean.indicadorM3Ha}" />
							<h:outputLabel for="s3">#{bundle.m3Ha}</h:outputLabel>
					     	<p:spacer width="4" />
	
					     	<p:inputMask id="p4" value="#{cadastrarIndicadoresBean.p4}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s4" title="#{bundle.empregosHa}" value="#{cadastrarIndicadoresBean.indicadorEmpregosHa}" />
							<h:outputLabel for="s4">#{bundle.empregosHa}</h:outputLabel>
					     	<p:spacer width="4" />
	
					     	<p:inputMask id="p5" value="#{cadastrarIndicadoresBean.p5}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s5" title="#{bundle.kgM3}" value="#{cadastrarIndicadoresBean.indicadorKgM3}" />
							<h:outputLabel for="s5">#{bundle.kgM3}</h:outputLabel>
					     	<p:spacer width="4" />
	
					     	<p:inputMask id="p6" value="#{cadastrarIndicadoresBean.p6}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s6" title="#{bundle.receitaLiquidaM3}" value="#{cadastrarIndicadoresBean.indicadorReceitaLiquidaM3}" />
							<h:outputLabel for="s6">#{bundle.receitaLiquidaM3}</h:outputLabel>
					     	<p:spacer width="4" />
	
					     	<p:inputMask id="p7" value="#{cadastrarIndicadoresBean.p7}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s7" title="#{bundle.empregosM3}" value="#{cadastrarIndicadoresBean.indicadorEmpregosM3}" />
							<h:outputLabel for="s7">#{bundle.empregosM3}</h:outputLabel>
					     	<p:spacer width="4" />
	
					     	<p:inputMask id="p8" value="#{cadastrarIndicadoresBean.p8}" mask="?9" size="1" />
							<h:selectBooleanCheckbox id="s8" title="#{bundle.ciclo}" value="#{cadastrarIndicadoresBean.indicadorCiclo}" />
							<h:outputLabel for="s8">#{bundle.ciclo}</h:outputLabel>
					     	<p:spacer width="4" />
				     	</p:outputPanel>
				   </p:fieldset>
				</div>
				<br />
			
				<p:dataTable id="listaIndicadores" var="indicadores" value="#{cadastrarIndicadoresBean.indicadores}" emptyMessage="#{bundle.atividadeEconomicaNaoExiste}"
					rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  
	
					<p:column >
	            		<p:rowToggler />
			        </p:column>		        
	   		        <p:column headerText="seq" style="width:1%;text-align: left;">  
			            <h:outputText value="#{rowIx+1}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.cultura}" style="width:20%;text-align: left;">  
			            <h:outputText value="#{indicadores.atividadeEconomica.cultura.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.areaTotal}" style="width:5%;text-align: left;">  
			        	<p:inputText id="areaTotal" styleClass="carea" value="#{indicadores.areaTotal}" size="5" >
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
						</p:inputText>  
			        </p:column>  
			        <p:column headerText="#{bundle.ciclo}" style="width:10%;text-align: center;">  
			            <p:inputText styleClass="money" value="#{indicadores.atividadeEconomica.qtdDiasCultivo}" size="3" >
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>  
			        </p:column>
			        <p:column headerText="#{bundle.cicloAnual}" style="width:10%;text-align: center;">  
			            <p:inputText styleClass="money" value="#{indicadores.qtdDiasCicloAnual}" size="3" >
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>  
			        </p:column>
			        
			        <p:column headerText="#{bundle.kgHa}" style="width:5%;text-align: right;">
						<p:inputText styleClass="money" value="#{indicadores.kgHa}" size="5" >
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.receitaLiquidaHa}" style="width:5%;text-align: right;">  
						<p:inputText styleClass="money" value="#{indicadores.receitaLiquidaHa}" size="5" >
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.m3Ha}" style="width:5%;text-align: right;">  
						<p:inputText styleClass="money" value="#{indicadores.m3Ha}" size="5" >
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.empregosHa}" style="width:5%;text-align: right;">  
						<p:inputText id="empregosHa" styleClass="carea" value="#{indicadores.empregosHa}" size="5" >
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
						</p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.kgM3}" style="width:5%;text-align: right;">  
						<p:inputText id="kgM3" styleClass="carea" value="#{indicadores.kgM3}" size="5" disabled="#{!cadastrarIndicadoresBean.calculado}">
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.receitaLiquidaM3}" style="width:5%;text-align: right;">  
						<p:inputText styleClass="money" value="#{indicadores.receitaLiquidaM3}" size="5" disabled="#{!cadastrarIndicadoresBean.calculado}">
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.empregosMilM3}" style="width:5%;text-align: right;">  
						<p:inputText id="empregosM3" styleClass="money" value="#{indicadores.empregosM3}" size="5" disabled="#{!cadastrarIndicadoresBean.calculado}">
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</p:inputText>
			        </p:column>  
			        
					<p:rowExpansion>
						<p:dataTable id="listaMunicipios" var="municipio" style="width:20%" value="#{indicadores.municipios}" emptyMessage="#{bundle.municipioNaoExiste}"
							rowIndexVar="rowIx2" rowStyleClass="#{rowIx2 mod 2 eq 0 ? 'even' : 'old'}">  
			   		        <p:column headerText="#{bundle.municipio}" style="width:70%;text-align: left;color: blue;">  
					            <h:outputText value="#{municipio.municipio.nome}" />  
					        </p:column>  
			   		        <p:column headerText="#{bundle.variedade}" style="width:30%;text-align: left;color: blue;">  
					            <h:outputText value="#{municipio.variedade.nome}" />  
					        </p:column>  
			   		        <p:column headerText="#{bundle.areaTotal}" style="width:30%;text-align: right;color: blue;">  
					            <h:outputText value="#{municipio.areatotal}" />  
					        </p:column>  
					        <p:column headerText="#{bundle.opcao}" style="width:20%;color: blue;" styleClass="ui_botoes_grid"> 
					            <p:commandLink value="-" actionListener="#{cadastrarIndicadoresBean.retirarMunicipio(municipio, true, indicadores)}" rendered="#{municipio.incluido}" update="@form"/>  
					            <p:commandLink value="+" actionListener="#{cadastrarIndicadoresBean.retirarMunicipio(municipio, false, indicadores)}" rendered="#{!municipio.incluido}" update="@form"/>  
					        </p:column>  
						</p:dataTable>
			        </p:rowExpansion>		        
		        </p:dataTable>
				<br />

				<p:dataTable var="indicadores" value="#{cadastrarIndicadoresBean.indicadores}" rendered="#{cadastrarIndicadoresBean.calculado}"
					rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  
	   		        <p:column headerText="seq" style="width:1%;text-align: left;">  
			            <h:outputText value="#{rowIx+1}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.cultura}" style="width:20%;text-align: left;">  
			            <h:outputText value="#{indicadores.atividadeEconomica.cultura.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.r}" style="width:5%;text-align: right;">  
			        	<h:outputText value="#{indicadores.r}" />
			        </p:column>  
			        <p:column headerText="#{bundle.ch}" style="width:5%;text-align: right;">  
			        	<h:outputText value="#{indicadores.pesoMedio}%" />
			        </p:column>  
			        <p:column headerText="#{bundle.kgM3}" style="width:5%;text-align: right;">  
						 <h:selectOneMenu id="pesoKgM3" value="#{indicadores.pesoKgM3}" title="#{bundle.selecioneTipo}">
						 	<f:selectItem />  
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesos}" />
	        			</h:selectOneMenu>
			        </p:column>  
			        <p:column headerText="#{bundle.kgHa}" style="width:5%;text-align: right;">  
						<h:selectOneMenu id="pesoKgHa" value="#{indicadores.pesoKgHa}" title="#{bundle.selecioneTipo}">
							<f:selectItem />
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesos}" />
	        			</h:selectOneMenu>
			        </p:column>  
			        <p:column headerText="#{bundle.receitaLiquidaM3}" style="width:5%;text-align: right;">  
						<h:selectOneMenu id="receitaLiquidaM3" value="#{indicadores.pesoReceitaLiquidaM3}" title="#{bundle.selecioneTipo}">
							<f:selectItem />  
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesos}" />
	        			</h:selectOneMenu>
			        </p:column>  
			        <p:column headerText="#{bundle.receitaLiquidaHa}" style="width:5%;text-align: right;">  
						<h:selectOneMenu id="receitaLiquidaHa" value="#{indicadores.pesoReceitaLiquidaHa}" title="#{bundle.selecioneTipo}">
							<f:selectItem />  
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesos}" />
	        			</h:selectOneMenu>
			        </p:column>  
			        <p:column headerText="#{bundle.empregosM3}" style="width:5%;text-align: right;">  
						<h:selectOneMenu id="pesoEmpregosM3" value="#{indicadores.pesoEmpregosM3}" title="#{bundle.selecioneTipo}">
							<f:selectItem />  
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesos}" />
	        			</h:selectOneMenu>
			        </p:column>  
			        <p:column headerText="#{bundle.empregosHa}" style="width:5%;text-align: right;">  
						<h:selectOneMenu id="pesoEmpregosHa" value="#{indicadores.pesoEmpregosHa}" title="#{bundle.selecioneTipo}">
							<f:selectItem />  
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesos}" />
	        			</h:selectOneMenu>
			        </p:column>  
			        <p:column headerText="#{bundle.m3Ha}" style="width:5%;text-align: right;">  
						<h:selectOneMenu id="pesoM3Ha" value="#{indicadores.pesoM3Ha}" title="#{bundle.selecioneTipo}">
							<f:selectItem />  
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesosSegHid}" />
	        			</h:selectOneMenu>
			        </p:column>  
			        <p:column headerText="#{bundle.ciclo}" style="width:5%;text-align: right;">  
						<h:selectOneMenu id="pesoCicloCultura" value="#{indicadores.cicloCultura}" title="#{bundle.selecioneTipo}" >
							<f:selectItem />  
	           				<f:selectItems var="peso" itemLabel="#{peso.valor}" itemValue="#{peso}" value="#{cadastrarIndicadoresBean.pesosCiclo}" />
	        			</h:selectOneMenu>
			        </p:column>
		        </p:dataTable>
				<br />
				<p:dataTable var="indicadores" value="#{cadastrarIndicadoresBean.indicadores}" rendered="#{cadastrarIndicadoresBean.calculado}"
					rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  
	   		        <p:column headerText="seq" style="width:1%;text-align: left;">  
			            <h:outputText value="#{rowIx+1}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.cultura}" style="width:20%;text-align: left;">  
			            <h:outputText value="#{indicadores.atividadeEconomica.cultura.nome}" />  
			        </p:column>  
			        <p:column headerText="#{bundle.ch}" style="width:5%;text-align: right;">  
		        		<h:outputText value="#{indicadores.pesoMedio}"/>
			        </p:column>  
			        <p:column headerText="#{bundle.areaTotal}" style="width:5%;text-align: right;">  
		        		<h:outputText value="#{indicadores.areaTotal}"/>
			        </p:column>  
			        <p:column headerText="#{bundle.m3Ha}" style="width:5%;text-align: right;"> 
		        		<h:outputText value="#{indicadores.m3Ha}"/>
			        </p:column>  
			        <p:column headerText="#{bundle.consumoBacia}" style="width:5%;text-align: right;">  
		        		<h:outputText value="#{indicadores.consumoBacia}"/>
			        </p:column>  
			        <p:column headerText="#{bundle.chm3}" style="width:5%;text-align: right;">  
		        		<h:outputText value="#{indicadores.chm3}"/>
			        </p:column>  
			        <p:column headerText="#{bundle.ca}" style="width:5%;text-align: right;">  
		        		<h:outputText value="#{indicadores.ca}"/>
			        </p:column>  
		        </p:dataTable>
				<br />
				<p:outputPanel rendered="#{cadastrarIndicadoresBean.graficoIndicadoresCorteHidricoBacia != null}" >  
			    	<p:barChart styleClass="graficoCorteHidrico" value="#{cadastrarIndicadoresBean.graficoIndicadoresCorteHidricoBacia}" legendPosition="ne" seriesColors="216976" xaxisAngle="50" orientation="horizontal" showMarkers="true" min="0" max="1" style="height: 1000px;"  />
			    </p:outputPanel>			

			</div>
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_VALOR);
				});	
				jQuery(document).ready(function($){
					$(".carea").maskMoney(MASK_AREA);
				});					
			</script>
			
		</h:form>
	</ui:define>
</ui:composition>
