<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
		<ui:define name="content">
		
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarMunicipioBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarMunicipio" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroMunicipio}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarMunicipioBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarMunicipio" process="@form" rendered="#{cadastrarMunicipioBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarMunicipioBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<p:tabView id="tabView">  
			    <p:tab id="tab1" title="#{bundle.dadosPessoais}">  
					<h:panelGrid columns="2" styleClass="d1">
						<p:outputPanel id="d1"> 
							<div class="row cadastro">		
								<div class="row">
									<div class="span2 clear">
										<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
										<p:inputText required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarMunicipioBean.municipio.nome}" size="98" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}"/>
									</div>

									<div class="span2 clear">
										<p:outputPanel>
											<label for="classificacao" class="block"><b>#{bundle.classificacao}</b></label>
											<p:rating id="classificacao" value="#{cadastrarMunicipioBean.municipio.classificacao}" />
				  							<p:tooltip for="classificacao" value="#{bundle.classifiqueMunicipio}" showEffect="fade" hideEffect="fade" style="color:blue;"/>    
										</p:outputPanel>							
									</div>

									<div class="span2 clear">
										<p:outputPanel>
											<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
											<p:inputTextarea id="observacao" cols="80" rows="3" autoResize="false" maxlength="800" value="#{cadastrarMunicipioBean.municipio.observacao}" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}" />
										</p:outputPanel>							
									</div>
								</div>
							</div>
						</p:outputPanel>
						<p:outputPanel id="d2">
							<div class="row cadastro">		
								<div class="row">
									<div class="span2 clear">
										<p:fieldset> 
											<p:graphicImage id="fotoView" value="/publico/#{cadastrarMunicipioBean.municipio.foto}" width="150px" height="150px" cache="FALSE" />
										</p:fieldset>
									</div>
									<div class="span2 clear">
				                        <p:fileUpload id="foto" label="#{bundle.foto}" fileUploadListener="#{cadastrarMunicipioBean.uploadFoto}" style="width: 180px; margin-left:auto; margin-right:auto;" auto="true" mode="advanced" sizeLimit="30720" update=":frmCadastrarMunicipio" />
									</div>
								</div>
							</div>
						</p:outputPanel> 
					</h:panelGrid>
			    </p:tab>  
			    <p:tab id="tab2" title="#{bundle.dadosGeograficos}">  
					<div class="row cadastro">		
						<div class="col-direita">
							<div class="row">
								<div class="span2 clear">
									<label for="area"><b>#{bundle.baciaHidrografica}:</b></label><label class="label-required">*</label>						
									<h:selectOneMenu id="bacia" required="true" requiredMessage="#{bundle.baciaHidrografica}." value="#{cadastrarMunicipioBean.municipio.bacia}" converter="baciaConverter" title="#{bundle.selecioneBaciaPertenceMunicipio}" style="width: 180px;" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}">  
						            	<f:selectItem itemLabel="#{bundle.escolhaBacia}" itemValue="" />  
				            			<f:selectItems var="bacia" itemLabel="#{bacia.nome}" itemValue="#{bacia}" value="#{cadastrarMunicipioBean.bacias}"  />
					        		</h:selectOneMenu>							
								</div>
								<div class="span2 clear">
									<label for="localizacao" class="block"><b>#{bundle.localizacao}:</b></label>
									<p:inputText id="localizacao" maxlength="255" value="#{cadastrarMunicipioBean.municipio.localizacao}" size="10" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}"/>							
								</div>
			
								<div class="span2 clear">
									<label for="latitude" class="block"><b>#{bundle.latitude}:</b></label>
									<p:inputText id="latitude" maxlength="255" value="#{cadastrarMunicipioBean.municipio.latitude}" size="25" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}"/>							
								</div>
			
								<div class="span2">
									<label for="longitude" class="block"><b>#{bundle.longitude}:</b></label>
									<p:inputText id="longitude" maxlength="255" value="#{cadastrarMunicipioBean.municipio.longitude}" size="25" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}"/>							
								</div>
								
								<div class="span2">
									<p:fileUpload id="coordenadasPoligono" label="#{bundle.importarCoordenadas}" fileUploadListener="#{cadastrarMunicipioBean.uploadCoordenadas}" style="width: 180px; margin-left:auto; margin-right:auto;" auto="true" mode="advanced" sizeLimit="30720" update=":frmCadastrarMunicipio" allowTypes="/(\.|\/)(kml)$/" invalidFileMessage="#{bundle.arquivoInvalido}" invalidSizeMessage="#{bundle.tamanhoInvalido}"/>
								</div>
								
								<div class="span2 clear">
									<label for="areaTotal" class="block"><b>#{bundle.areaTotal}:</b></label>
						            <p:inputText id="areaTotal" styleClass="money" value="#{cadastrarMunicipioBean.municipio.areaTotal}" size="25" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}">
						            	<f:validateLength maximum="15"/>
										<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</p:inputText>  
								</div>
			
								<div class="span2">
									<label for="areaIrrigada" class="block"><b>#{bundle.areaIrrigada}:</b></label>
						            <p:inputText id="areaIrrigada" styleClass="money" value="#{cadastrarMunicipioBean.municipio.areaIrrigada}" size="25" disabled="#{cadastrarMunicipioBean.operacao eq 'VER'}">
						            	<f:validateLength maximum="15"/>
										<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</p:inputText>  
								</div>
								
							</div>
						</div>
						
					</div>
			    </p:tab>  
			</p:tabView>
			
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});
			</script>
		</h:form>
	</ui:define>
</ui:composition>
