<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
		<ui:define name="content">
		
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarBaciaHidrograficaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarBaciaHidrografica" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroBaciaHidrografica}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarBaciaHidrograficaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarBaciaHidrografica" process="@form" rendered="#{cadastrarBaciaHidrograficaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarBaciaHidrograficaBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarBaciaHidrograficaBean.baciaHidrograficas}" />  
					</p:commandButton>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
		
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.nome}" size="85" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.dataCadastro}" navigator="false" size="15" pattern="dd/MM/yyyy" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="uf" class="block"><b>#{bundle.uf}:</b></label>
							<p:inputMask id="uf"  maxlength="255" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.uf}" mask="aa?" size="4" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2 clear">
							<label for="localizacao" class="block"><b>#{bundle.localizacao}:</b></label>
							<p:inputText id="localizacao" maxlength="255" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.localizacao}" size="128" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2 clear">
							<label for="latitude" class="block"><b>#{bundle.latitude}:</b></label>
							<p:inputText id="latitude" maxlength="255" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.latitude}" size="21" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="latitude" class="block"><b>#{bundle.zoom}:</b></label>
							<p:inputText id="zoommapa" maxlength="255" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.zoommapa}" size="19" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="longitude" class="block"><b>#{bundle.longitude}:</b></label>
							<p:inputText id="longitude" maxlength="255" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.longitude}" size="21" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="areaTotal" class="block"><b>#{bundle.volumeTotal}:</b></label>
				            <p:inputText id="areaTotal" styleClass="money" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.volumeTotal}" size="21" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
	
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="100" rows="3" autoResize="false" maxlength="800" value="#{cadastrarBaciaHidrograficaBean.baciaHidrografica.observacao}" disabled="#{cadastrarBaciaHidrograficaBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
