<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarIndicadorBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarIndicadores" styleClass="formularios box-border">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
				<div class="titulo" > 
					<h:outputText value="#{bundle.cadastroIndicadores} - #{cadastrarIndicadorBean.indicador.atividadeEconomica.cultura.nome}"/>
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" actionListener="#{cadastrarIndicadorBean.novo}" value="#{bundle.novo}" styleClass="btn success" update="@form" />
					<p:commandButton id="btSalvar" actionListener="#{cadastrarIndicadorBean.salvar}" value="#{bundle.salvar}" styleClass="btn success" update="@form" />
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarIndicadorBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>
			
			<br />
			<h:selectOneMenu id="data" value="#{cadastrarIndicadorBean.data}" title="#{bundle.selecioneDataIndicadores}" style="width: 90px;" >  
    			<f:selectItems  value="#{cadastrarIndicadorBean.listaDatas}"  />
				<p:ajax update=":frmCadastrarIndicadores" listener="#{cadastrarIndicadorBean.consultar}" process="@this" /> 
       		</h:selectOneMenu>							
			<br />
			
			<p:tabView effect="slide" effectDuration="normal">
				<!-- ###########	SEGURANÇA PRODUTIVA		########### -->
			    <p:tab title="#{bundle.segurancaProdutiva}" id="segurancaProdutiva">
				    <div class="row cadastro">
			    		<p:outputPanel id="dadosSegProd">
				    		<div class="span2 clear">
					    		<h:outputLabel value="Dados de entrada para cálculo " rendered="#{cadastrarIndicadorBean.calAuto1}" />
						        <h:outputLabel value="Dados de entrada diretos (informação manual) " rendered="#{!cadastrarIndicadorBean.calAuto1}" />
						    	<h:selectBooleanCheckbox  id="calAuto1" value="#{cadastrarIndicadorBean.calAuto1}">  
						            <p:ajax update="dadosSegProd" />
						        </h:selectBooleanCheckbox>
				    		</div>
				    		
					    	<div class="span2 clear">
					    		<h:outputLabel for="produtividade" value="#{bundle.produtividade}:" rendered="#{cadastrarIndicadorBean.calAuto1}" />
								<p:inputText id="produtividade" value="#{cadastrarIndicadorBean.indicador.produtividade}" size="5" rendered="#{cadastrarIndicadorBean.calAuto1}">
									<p:ajax listener="#{cadastrarIndicadorBean.calcularKgHa}" update="dadosSegProd" />
								</p:inputText>
								<h:outputLabel for="laminaAplicada" value="#{bundle.laminaAplicada}:" rendered="#{cadastrarIndicadorBean.calAuto1}" />
								<p:inputText id="laminaAplicada" value="#{cadastrarIndicadorBean.indicador.laminaAplicada}" size="5" rendered="#{cadastrarIndicadorBean.calAuto1}">
									<p:ajax listener="#{cadastrarIndicadorBean.calcularKgM3}" update="dadosSegProd dadosSegEco dadosSegSoc dadosSegHid" />
								</p:inputText>
							</div>
								<div class="cadastro">
									<h:outputLabel for="kgHa" value="#{bundle.kgHa}:" />
									<p:inputText id="kgHa" styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.kgHa}" size="5" disabled="#{cadastrarIndicadorBean.calAuto1}">
						            	<f:validateLength maximum="15"/>
										<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</p:inputText>
									<h:outputLabel for="pesoKgHa" value="#{bundle.peso}:" /> 
									<h:selectOneMenu id="pesoKgHa" value="#{cadastrarIndicadorBean.indicador.pesoKgHa}" title="#{bundle.selecioneTipo}">
										<f:selectItem />
			            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesos}" />
				        			</h:selectOneMenu>
			        			</div>
			        			<div class="cadastro">
									<h:outputLabel for="kgM3" value="#{bundle.kgM3}:" />
									<p:inputText id="kgM3" styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.kgM3}" size="5" disabled="#{cadastrarIndicadorBean.calAuto1}">
						            	<f:validateLength maximum="15"/>
										<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									</p:inputText>
									<h:outputLabel for="pesoKgM3" value="#{bundle.peso}:" /> 
									 <h:selectOneMenu id="pesoKgM3" value="#{cadastrarIndicadorBean.indicador.pesoKgM3}" title="#{bundle.selecioneTipo}">
									 	<f:selectItem />  
			            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesos}" />
				        			</h:selectOneMenu>
				        		</div>
						</p:outputPanel>
					</div>
			    </p:tab>
			    
			    <!-- ###########	SEGURANÇA ECONÔMICA		########### -->
			    <p:tab title="#{bundle.segurancaEconomica}" id="segurancaEconomica">
				    <div class="row cadastro">
			    		<p:outputPanel id="dadosSegEco">
				    		<div class="span2 clear">
					    		<h:outputLabel value="Dados de entrada para cálculo " rendered="#{cadastrarIndicadorBean.calAuto2}" />
						        <h:outputLabel value="Dados de entrada diretos (informação manual) " rendered="#{!cadastrarIndicadorBean.calAuto2}" />
						    	<h:selectBooleanCheckbox  id="calAuto2" value="#{cadastrarIndicadorBean.calAuto2}">  
						            <p:ajax update="dadosSegEco" />
						        </h:selectBooleanCheckbox>
				    		</div>
				    		
					    	<div class="span2 clear margin-top-20">
								<h:outputLabel for="receitaLiquida" value="#{bundle.receitaLiquida}:" rendered="#{cadastrarIndicadorBean.calAuto2}" />
								<p:inputText id="receitaLiquida" value="#{cadastrarIndicadorBean.indicador.receitaLiquida}" size="5" rendered="#{cadastrarIndicadorBean.calAuto2}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
									<p:ajax listener="#{cadastrarIndicadorBean.calcularSegEco}" update="dadosSegEco" />
								</p:inputText>
								<h:outputLabel for="vbp" value="#{bundle.vbp}:" rendered="#{cadastrarIndicadorBean.calAuto2}" />
								<p:inputText id="vbp" value="#{cadastrarIndicadorBean.indicador.vbp}" size="5" rendered="#{cadastrarIndicadorBean.calAuto2}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
								</p:inputText>								
							</div>
							<div class="cadastro">
								<label for="receitaLiquidaHa"><b>#{bundle.receitaLiquidaHa}:</b></label>
								<p:inputText styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.receitaLiquidaHa}" size="5" disabled="#{cadastrarIndicadorBean.calAuto2}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
								</p:inputText>
								<h:outputLabel for="receitaLiquidaHa" value="#{bundle.peso}:" /> 
								<h:selectOneMenu id="receitaLiquidaHa" value="#{cadastrarIndicadorBean.indicador.pesoReceitaLiquidaHa}" title="#{bundle.selecioneTipo}">
									<f:selectItem />  
		            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesos}" />
			        			</h:selectOneMenu>
							</div>
							<div class="cadastro">
								<label for="kgHa"><b>#{bundle.receitaLiquidaM3}:</b></label>
								<p:inputText styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.receitaLiquidaM3}" size="5" disabled="#{cadastrarIndicadorBean.calAuto2}" >
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
								</p:inputText>
								<h:outputLabel for="receitaLiquidaM3" value="#{bundle.peso}:" /> 
								<h:selectOneMenu id="receitaLiquidaM3" value="#{cadastrarIndicadorBean.indicador.pesoReceitaLiquidaM3}" title="#{bundle.selecioneTipo}">
									<f:selectItem />  
		            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesos}" />
			        			</h:selectOneMenu>
							</div>
						</p:outputPanel>
					</div>
			    </p:tab>
			    
			    <!-- ###########	SEGURANÇA SOCIAL	########### -->
			    <p:tab title="#{bundle.segurancaSocial}" id="segurancaSocial">
			    	<div class="row cadastro">
				    	<p:outputPanel id="dadosSegSoc">
				    		<div class="span2 clear">
					    		<h:outputLabel value="Dados de entrada para cálculo " rendered="#{cadastrarIndicadorBean.calAuto3}" />
						        <h:outputLabel value="Dados de entrada diretos (informação manual) " rendered="#{!cadastrarIndicadorBean.calAuto3}" />
						    	<h:selectBooleanCheckbox  id="calAuto3" value="#{cadastrarIndicadorBean.calAuto3}">  
						            <p:ajax update="dadosSegSoc" />
						        </h:selectBooleanCheckbox>
				    		</div>
				    		
					    	<div class="span2 clear">
								<h:outputLabel for="empregos" value="#{bundle.empregos}:" rendered="#{cadastrarIndicadorBean.calAuto3}"/>
								<p:inputText id="empregos" value="#{cadastrarIndicadorBean.indicador.empregos}" size="5" rendered="#{cadastrarIndicadorBean.calAuto3}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
									<p:ajax listener="#{cadastrarIndicadorBean.calcularSegSoc}" update="dadosSegSoc" />
								</p:inputText>								
							</div>
							
							<div class="cadastro">
								<label for="empregosHa"><b>#{bundle.empregosHa}:</b></label>
								<p:inputText id="empregosHa" styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.empregosHa}" size="5" disabled="#{cadastrarIndicadorBean.calAuto3}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
								</p:inputText>
								<h:outputLabel for="pesoEmpregosHa" value="#{bundle.peso}:" /> 
								<h:selectOneMenu id="pesoEmpregosHa" value="#{cadastrarIndicadorBean.indicador.pesoEmpregosHa}" title="#{bundle.selecioneTipo}">
									<f:selectItem />  
		            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesos}" />
			        			</h:selectOneMenu>
							</div>
							<div class="cadastro">
								<h:outputLabel for="empregosM3" value="#{bundle.empregosMilM3}:" />
								<p:inputText id="empregosM3" styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.empregosM3}" size="5" disabled="#{cadastrarIndicadorBean.calAuto3}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
								</p:inputText>
								<h:outputLabel for="pesoEmpregosM3" value="#{bundle.peso}:" /> 
								<h:selectOneMenu id="pesoEmpregosM3" value="#{cadastrarIndicadorBean.indicador.pesoEmpregosM3}" title="#{bundle.selecioneTipo}">
									<f:selectItem />  
		            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesos}" />
			        			</h:selectOneMenu>
							</div>
						</p:outputPanel>
					</div>
			    </p:tab>
			    
			    <!-- ###########	SEGURANÇA HIDRICA	########### -->
				<p:tab title="#{bundle.segurancaHidrica}" id="segurancaHidrica">
					<div class="row cadastro">
			    		<p:outputPanel id="dadosSegHid">
				    		<div class="span2 clear">
					    		<h:outputLabel value="Utilizar abordagem por vazão " />
						    	<h:selectBooleanCheckbox  id="calVazao" value="#{cadastrarIndicadorBean.calVazao}">  
						            <p:ajax update="dadosSegHid" />
						        </h:selectBooleanCheckbox>
				    		</div>
				    		<div class="span2 clear">
					    		<h:outputLabel value="Dados de entrada para cálculo " rendered="#{cadastrarIndicadorBean.calAuto4}" />
						        <h:outputLabel value="Dados de entrada diretos (informação manual) " rendered="#{!cadastrarIndicadorBean.calAuto4}" />
						    	<h:selectBooleanCheckbox  id="calAuto4" value="#{cadastrarIndicadorBean.calAuto4}">  
						            <p:ajax update="dadosSegHid" />
						        </h:selectBooleanCheckbox>
				    		</div>
			    		
			    			<div class="span2 clear">
								<h:outputLabel for="litrosSegundo" value="#{bundle.litrosSegundo}:" rendered="#{cadastrarIndicadorBean.calAuto4 and cadastrarIndicadorBean.calVazao}" />
								<p:inputText id="litrosSegundo" value="#{cadastrarIndicadorBean.indicador.litrosSegundo}" size="5" rendered="#{cadastrarIndicadorBean.calAuto4 and cadastrarIndicadorBean.calVazao}" >
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
									<p:ajax listener="#{cadastrarIndicadorBean.calcularSegHid}" update="dadosSegHid" />
								</p:inputText>
							</div>
							
							<div class="cadastro">
								<label for="m3Ha"><b>#{bundle.m3Ha}:</b></label>
								<p:inputText id="m3Ha" styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.m3Ha}" size="5" disabled="#{cadastrarIndicadorBean.calAuto4}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
								</p:inputText>
								<h:outputLabel for="pesoM3Ha" value="#{bundle.peso}:" /> 
								<h:selectOneMenu id="pesoM3Ha" value="#{cadastrarIndicadorBean.indicador.pesoM3Ha}" title="#{bundle.selecioneTipo}">
									<f:selectItem />  
		            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesosSegHid}" />
			        			</h:selectOneMenu>
							</div>
							<div class="cadastro">
								<b><h:outputLabel for="litrosSegundoHa" value="#{bundle.litrosSegundoHa}:" rendered="#{cadastrarIndicadorBean.calAuto4 and cadastrarIndicadorBean.calVazao}" /></b>
								<p:inputText id="litrosSegundoHa" styleClass="maskArea" value="#{cadastrarIndicadorBean.indicador.litrosSegundoHa}" size="5" disabled="#{cadastrarIndicadorBean.calAuto4}" rendered="#{cadastrarIndicadorBean.calVazao}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
								</p:inputText>
								<h:outputLabel for="pesoLitrosSegundoHa" value="#{bundle.peso}:" rendered="#{cadastrarIndicadorBean.calVazao}"/> 
								<h:outputLabel for="pesoCicloCultura" value="Análise do Ciclo:" rendered="#{!cadastrarIndicadorBean.calVazao}" />
								<h:selectOneMenu id="pesoLitrosSegundoHa" value="#{cadastrarIndicadorBean.indicador.pesoLitrosSegundoHa}" title="#{bundle.selecioneTipo}" rendered="#{cadastrarIndicadorBean.calVazao}">
									<f:selectItem />  
		            				<f:selectItems var="peso" itemLabel="#{peso.descricao}" itemValue="#{peso}" value="#{cadastrarIndicadorBean.pesosSegHid}" />
			        			</h:selectOneMenu>
								<h:selectOneMenu id="pesoCicloCultura" value="#{cadastrarIndicadorBean.indicador.cicloCultura}" title="#{bundle.selecioneTipo}" rendered="#{!cadastrarIndicadorBean.calVazao}">
									<f:selectItem itemLabel="Escolha um ciclo" itemValue=""/>
									<f:selectItem itemLabel="Permanente" itemValue="0.50"/>
									<f:selectItem itemLabel="Tempo Longo" itemValue="0.75"/>
									<f:selectItem itemLabel="Tempo Curto" itemValue="1.00"/>
									  
			        			</h:selectOneMenu>
							</div>
			    		</p:outputPanel>
		    		</div>
			    </p:tab>
		    </p:tabView>
			
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".maskArea").maskMoney(MASK_AREA);
				});	
			</script>
			
		</h:form>
	</ui:define>
</ui:composition>
