<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarAtividadeEconomicaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarAtividadeEconomica" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroAtividadeEconomica} - <h:outputText value="#{cadastrarAtividadeEconomicaBean.municipio.nome}" /> 
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarAtividadeEconomicaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarAtividadeEconomica" process="@form" rendered="#{cadastrarAtividadeEconomicaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarAtividadeEconomicaBean.voltar}" styleClass="btn primary">
							<f:setPropertyActionListener value="" target="#{consultarAtividadeEconomicaBean.atividadeEconomicas}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<h:panelGrid columns="2" style="width:100%">
					<p:outputPanel>
						<div class="span2 clear">
							<label for="cultura" class="block"><b>#{bundle.cultura}:</b></label>							
							<h:selectOneMenu id="cultura" value="#{cadastrarAtividadeEconomicaBean.atividadeEconomica.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaAtividadeEconomica}" style="width: 189px;" disabled="#{cadastrarAtividadeEconomicaBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaCultura}" itemValue="" />  
		            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{cadastrarAtividadeEconomicaBean.culturas}"  />
								<p:ajax update="variedade" listener="#{cadastrarAtividadeEconomicaBean.carregarVariedades}" process="@this" /> 
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="variedade" class="block"><b>#{bundle.variedade}:</b></label>
							<h:selectOneMenu id="variedade" value="#{cadastrarAtividadeEconomicaBean.atividadeEconomica.variedade}" converter="variedadeConverter" title="#{bundle.selecioneVariedadeAtividadeEconomica}" style="width: 189px;" disabled="#{cadastrarAtividadeEconomicaBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaVariedade}" itemValue="" />  
		            			<f:selectItems var="variedade" itemLabel="#{variedade.nome}" itemValue="#{variedade}" value="#{cadastrarAtividadeEconomicaBean.variedades}"  />
								<p:ajax update="referencia" listener="#{cadastrarAtividadeEconomicaBean.carregarReferencias}" process="@this" /> 
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="referencia" class="block"><b>#{bundle.referencia}:</b></label>
							<h:selectOneMenu id="referencia" value="#{cadastrarAtividadeEconomicaBean.atividadeEconomica.referencia}" converter="referenciaConverter" title="#{bundle.selecioneReferenciaAtividadeEconomico}" style="width: 189px;" disabled="#{cadastrarAtividadeEconomicaBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaReferencia}" itemValue="" />  
		            			<f:selectItems var="referencia" itemLabel="#{referencia.autor}" itemValue="#{referencia}" value="#{cadastrarAtividadeEconomicaBean.referencias}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar id="data" value="#{cadastrarAtividadeEconomicaBean.atividadeEconomica.dataInicio}" navigator="false" disabled="#{cadastrarAtividadeEconomicaBean.operacao eq 'VER'}" pattern="dd/MM/yyyy" >
								<p:ajax event="dateSelect" listener="#{cadastrarAtividadeEconomicaBean.mudarData}" update=":frmCadastrarAtividadeEconomica" process="@this" />  
							</p:calendar>							
						</div>
						<div class="span2">
							<label for="areaTotal" class="block"><b>#{bundle.areaTotal}:</b></label>
				        	<p:inputText id="areaTotal" styleClass="carea" value="#{cadastrarAtividadeEconomicaBean.atividadeEconomica.areatotal}" size="5" disabled="#{cadastrarAtividadeEconomicaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
							</p:inputText>  
						</div>
						<div class="span2 clear">
							<label for="qtdDiasCultivo" class="block"><b>#{bundle.qtdDiasCultivo}:</b></label>
				        	<p:inputText id="qtdDiasCultivo" styleClass="money" value="#{cadastrarAtividadeEconomicaBean.atividadeEconomica.qtdDiasCultivo}" size="5" disabled="#{cadastrarAtividadeEconomicaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
							</p:inputText>  
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="30" rows="4" autoResize="false" maxlength="800" value="#{cadastrarAtividadeEconomicaBean.atividadeEconomica.observacao}" disabled="#{cadastrarAtividadeEconomicaBean.operacao eq 'VER'}"/>							
						</div>
					</p:outputPanel>
				</h:panelGrid>
			</div>
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
				
				jQuery(document).ready(function($){
					$(".carea").maskMoney(MASK_AREA);
				});	

			</script>			
		</h:form>
	</ui:define>
</ui:composition>

