<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/> 
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarMunicipioBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarMunicipio" styleClass="formularios box-border" prependId="false" enctype="multipart/form-data">
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarMunicipios}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarMunicipioBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_MUNICIPIO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarMunicipioBean.municipio}" />
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarMunicipioBean.operacao}" />  
					</p:commandButton>
		            <p:commandButton id="btModoSatelite" value="#{bundle.satelite}" title="#{bundle.modoSatelite}" actionListener="#{consultarMunicipioBean.modoSatelite}" ajax="true" styleClass="btn primary" rendered="#{!consultarMunicipioBean.modoSatelite}" update=":frmConsultarMunicipio"/>
		            <p:commandButton id="btModoNormal" value="#{bundle.tabela}" title="#{bundle.modoTabela}" actionListener="#{consultarMunicipioBean.modoTabela}" ajax="true" styleClass="btn primary" rendered="#{consultarMunicipioBean.modoSatelite}" update=":frmConsultarMunicipio"/>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset id="fieldSetConsulta" legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.nome}:" />  
						<p:inputText id="nome" value="#{consultarMunicipioBean.municipioBusca.nome}" size="5" />  
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.cultura}:" />  
						<h:selectOneMenu id="cultura" value="#{consultarMunicipioBean.municipioBusca.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaEspecifica}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{consultarMunicipioBean.culturas}"  />
							<p:ajax update="variedade" listener="#{consultarMunicipioBean.carregarVariedades}" process="@this" /> 
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />

				   		<h:outputText value="#{bundle.variedade}:" />  
						<h:selectOneMenu id="variedade" value="#{consultarMunicipioBean.municipioBusca.variedade}" converter="variedadeConverter" title="#{bundle.selecioneVariedadeEspecifica}" style="width: 80px;" >  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="variedade" itemLabel="#{variedade.nome}" itemValue="#{variedade}" value="#{consultarMunicipioBean.variedades}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />

			            <p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaMunicipio}" actionListener="#{consultarMunicipioBean.consultar}" update="@form" />  
				   </p:fieldset>
				</div>
				<br />
				
				<p:outputPanel id="modoNormal" rendered="#{!consultarMunicipioBean.modoSatelite}">
					<p:dataTable id="tblMunicipio" var="municipio" value="#{consultarMunicipioBean.municipios}" emptyMessage="#{bundle.municipioNaoExiste}"
						paginator="true" rows="5" rowKey="#{municipio.id}" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
                 		rowsPerPageTemplate="5,10,15,40" >
                 		
				        <p:column sortBy="#{municipio.nome}" style="width:35%;text-align: left;">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.nome}" />
							</f:facet>  
				            <h:outputText value="#{municipio.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{municipio.localizacao}" style="width:10%;text-align: left;" styleClass="filtroLocalizacao">  
					        <f:facet name="header">
								<h:outputText value="#{bundle.localizacao}" />
							</f:facet>  
				            <h:outputText value="#{municipio.localizacao}"/>
				        </p:column> 
				        <p:column headerText="#{bundle.opcao}" style="width:15%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarMunicipioBean.cadastro}" title="#{bundle.alterarMunicipio}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_MUNICIPIO')}">  
				                <f:setPropertyActionListener value="#{municipio}" target="#{cadastrarMunicipioBean.municipio}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarMunicipioBean.operacao}" />  
				            </p:commandLink>  				         
				     	    <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarMunicipioBean.cadastro}" title="#{bundle.visualizarMunicipio}" >  
				                <f:setPropertyActionListener value="#{municipio}" target="#{cadastrarMunicipioBean.municipio}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarMunicipioBean.operacao}" />  
				            </p:commandLink>  					         
				     	    <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirMunicipio}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_MUNICIPIO')}">  
				                <f:setPropertyActionListener value="#{municipio}" target="#{consultarMunicipioBean.municipioSelecionado}" />  
				            </p:commandLink>  					         
				            <p:commandLink styleClass="ui-icon ui-icon-fazenda" action="#{consultarMunicipioBean.atividadeEconomica}" title="#{bundle.verAtividadeEconomica}">  
				                <f:setPropertyActionListener value="#{municipio}" target="#{consultarAtividadeEconomicaBean.municipio}" />  
				                <f:setPropertyActionListener value="" target="#{consultarAtividadeEconomicaBean.atividadeEconomicas}" />  
           						<f:setPropertyActionListener value="MUNICIPIO" target="#{consultarAtividadeEconomicaBean.operacao}" />  
				            </p:commandLink>
				        </p:column>  
						
					</p:dataTable>
				</p:outputPanel>
					
				<p:outputPanel id="modoSatelite" rendered="#{consultarMunicipioBean.modoSatelite}">
					<p:gmap center="#{consultarMunicipioBean.central}" zoom="#{consultarMunicipioBean.zoomMapa}" type="HYBRID" model="#{consultarMunicipioBean.municipioMarcado}" style="width:980px;height:400px">
					    <p:ajax event="overlaySelect" listener="#{consultarMunicipioBean.marcadorSelecionado}" />
				        <p:gmapInfoWindow>
			            	<p:outputPanel style="text-align:center;display:block;margin:auto:">
								<p:graphicImage id="fotoView" value="/publico/#{consultarMunicipioBean.municipioSelecionado.foto}" width="150px" height="150px" cache="FALSE" />
			                    <br />  
			                    <h:outputText value="#{consultarMunicipioBean.municipioSelecionado.nome}" /> 
			                    <p:panel>
						            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarMunicipioBean.cadastro}" title="#{bundle.alterarMunicipio}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_MUNICIPIO')}">  
						                <f:setPropertyActionListener value="#{consultarMunicipioBean.municipioSelecionado}" target="#{cadastrarMunicipioBean.municipio}" />  
						                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarMunicipioBean.operacao}" />  
						            </p:commandLink>  				         
						     	    <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarMunicipioBean.cadastro}" title="#{bundle.visualizarMunicipio}" rendered="#{LoginBean.anyGranted('ROLE_DADOS_MUNICIPIO')}" >>  
						                <f:setPropertyActionListener value="#{consultarMunicipioBean.municipioSelecionado}" target="#{cadastrarMunicipioBean.municipio}" />  
						                <f:setPropertyActionListener value="VER" target="#{cadastrarMunicipioBean.operacao}" />  
						            </p:commandLink>  					         
						     	    <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirMunicipio}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_MUNICIPIO')}">  
						                <f:setPropertyActionListener value="#{consultarMunicipioBean.municipioSelecionado}" target="#{consultarMunicipioBean.municipioSelecionado}" />  
						            </p:commandLink>  					         
						            <p:commandLink styleClass="ui-icon ui-icon-fazenda" action="#{consultarMunicipioBean.atividadeEconomica}" title="#{bundle.verAtividadeEconomica}">  
						                <f:setPropertyActionListener value="#{consultarMunicipioBean.municipioSelecionado}" target="#{consultarAtividadeEconomicaBean.municipio}" />  
						                <f:setPropertyActionListener value="" target="#{consultarAtividadeEconomicaBean.atividadeEconomicas}" />
                						<f:setPropertyActionListener value="MUNICIPIO" target="#{consultarAtividadeEconomicaBean.operacao}" />  
						            </p:commandLink>
			                    </p:panel>
				            </p:outputPanel>  
				        </p:gmapInfoWindow>  
				    </p:gmap>
				</p:outputPanel>				
			</div>
			
			<p:confirmDialog message="#{bundle.certezaExcluirMunicipio} ?" header="#{bundle.exclusaoMunicipio}" severity="alert" widgetVar="confirmacao">
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarMunicipio" oncomplete="confirmacao.hide()" styleClass="btn success" actionListener="#{consultarMunicipioBean.excluir}"/>
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />
		    </p:confirmDialog>
					    
		</h:form>
	</ui:define>
</ui:composition>
