<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarAtividadeEconomicaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarAtividadeEconomica" styleClass="formularios box-border" prependId="false">
				
				<p:messages showDetail="false" autoUpdate="true"/>
				
				<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					<p:outputPanel rendered="#{!consultarAtividadeEconomicaBean.modoPlanilha}">
    					#{bundle.consultarAtividadeEconomicas} da <h:outputText value="#{consultarAtividadeEconomicaBean.nome}" />
   					</p:outputPanel>  
					<p:outputPanel rendered="#{consultarAtividadeEconomicaBean.modoPlanilha}">
    					#{bundle.cadastrarAtividadesEconomicas} da <h:outputText value="#{consultarAtividadeEconomicaBean.nome}" />
   					</p:outputPanel>  
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarAtividadeEconomicaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{!consultarAtividadeEconomicaBean.modoPlanilha}">
						<f:setPropertyActionListener value="" target="#{cadastrarAtividadeEconomicaBean.atividadeEconomica}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarAtividadeEconomicaBean.operacao}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarAtividadeEconomicaBean.variedades}" />  
						<f:setPropertyActionListener value="#{consultarAtividadeEconomicaBean.municipio}" target="#{cadastrarAtividadeEconomicaBean.municipio}" />  
					</p:commandButton>
					<p:commandButton id="btModo" value="#{bundle.planilha}" actionListener="#{consultarAtividadeEconomicaBean.planilha}" styleClass="btn primary" ajax="true" rendered="#{!consultarAtividadeEconomicaBean.modoPlanilha}"  update=":frmConsultarAtividadeEconomica"/>  
					<p:commandButton id="btAdicionar" value="#{bundle.adicionar}" actionListener="#{consultarAtividadeEconomicaBean.adicionarLinhas}" styleClass="btn primary" ajax="true" rendered="#{consultarAtividadeEconomicaBean.modoPlanilha}"  update=":frmConsultarAtividadeEconomica"/>  
					<p:commandButton id="btSalvar" value="#{bundle.salvar}" actionListener="#{consultarAtividadeEconomicaBean.gravar}" styleClass="btn primary" ajax="true" rendered="#{consultarAtividadeEconomicaBean.modoPlanilha}" process="@form" update=":frmConsultarAtividadeEconomica"/>  
					<p:commandButton id="btNormal" value="#{bundle.consulta}" actionListener="#{consultarAtividadeEconomicaBean.normal}" styleClass="btn primary" ajax="true" rendered="#{consultarAtividadeEconomicaBean.modoPlanilha}"  update=":frmConsultarAtividadeEconomica"/>  
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarAtividadeEconomicaBean.voltar}" styleClass="btn primary" immediate="true" />  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta" rendered="#{!consultarAtividadeEconomicaBean.modoPlanilha}">
					<p:dataTable var="atividadeEconomica" value="#{consultarAtividadeEconomicaBean.atividadeEconomicas}" emptyMessage="#{bundle.atividadeEconomicaNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="col1" filterBy="#{atividadeEconomica.cultura.nome}" filterOptions="#{consultarAtividadeEconomicaBean.culturas}" sortBy="#{atividadeEconomica.cultura.nome}" headerText="#{bundle.cultura}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{atividadeEconomica.cultura.nome}" />  
				        </p:column>  
				        <p:column id="col2" filterBy="#{atividadeEconomica.variedade.nome}" filterOptions="#{consultarAtividadeEconomicaBean.variedades}" sortBy="#{atividadeEconomica.variedade.nome}" headerText="#{bundle.variedade}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{atividadeEconomica.variedade.nome}" style="text-align: left;"/>  
				        </p:column>  
				        <p:column id="col3" sortBy="#{atividadeEconomica.dataInicio}" headerText="#{bundle.dataInicio}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{atividadeEconomica.dataInicio}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>
				        </p:column>
				        <p:column id="qtdDias" sortBy="#{cultivo.qtdDiasCultivo}" headerText="#{bundle.qtdDiasCultivo}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{atividadeEconomica.qtdDiasCultivo}" />
				        </p:column>
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarAtividadeEconomicaBean.cadastro}" title="#{bundle.alterarAtividadeEconomica}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_ATIVIDADE_ECONOMICA')}">  
				                <f:setPropertyActionListener value="#{atividadeEconomica}" target="#{cadastrarAtividadeEconomicaBean.atividadeEconomica}" />  
								<f:setPropertyActionListener value="ALTERAR" target="#{cadastrarAtividadeEconomicaBean.operacao}" />  
								<f:setPropertyActionListener value="" target="#{cadastrarAtividadeEconomicaBean.variedades}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarAtividadeEconomicaBean.cadastro}" title="#{bundle.visualizarAtividadeEconomica}">  
				                <f:setPropertyActionListener value="#{atividadeEconomica}" target="#{cadastrarAtividadeEconomicaBean.atividadeEconomica}" />  
								<f:setPropertyActionListener value="VER" target="#{cadastrarAtividadeEconomicaBean.operacao}" />  
								<f:setPropertyActionListener value="" target="#{cadastrarAtividadeEconomicaBean.variedades}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirAtividadeEconomica}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_ATIVIDADE_ECONOMICA')}">  
				                <f:setPropertyActionListener value="#{atividadeEconomica}" target="#{consultarAtividadeEconomicaBean.atividadeEconomicaSelecionado}" />  
				            </p:commandLink>  	
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	

				<p:outputPanel id="planilha" rendered="#{consultarAtividadeEconomicaBean.modoPlanilha}">
					<p:dataTable var="atividadeEconomica" value="#{consultarAtividadeEconomicaBean.atividadeEconomicas}" emptyMessage="#{bundle.atividadeEconomicaNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="col1" headerText="#{bundle.cultura}" style="width:25%;text-align: left;">  
							<h:selectOneMenu id="cultura" value="#{atividadeEconomica.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaAtividadeEconomica}" style="width: 189px;" >  
				            	<f:selectItem itemLabel="#{bundle.escolhaCultura}" itemValue="" />  
		            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{consultarAtividadeEconomicaBean.listaCulturas}"  />
								<p:ajax update="variedade" listener="#{consultarAtividadeEconomicaBean.carregarVariedades(atividadeEconomica)}" process="@this" /> 
			        		</h:selectOneMenu>							
				        </p:column>  
				        <p:column id="col2" headerText="#{bundle.variedade}" style="width:25%;text-align: left;">  
							<h:selectOneMenu id="variedade" value="#{atividadeEconomica.variedade}" converter="variedadeConverter" title="#{bundle.selecioneVariedadeAtividadeEconomica}" style="width: 189px;" >  
				            	<f:selectItem itemLabel="#{bundle.escolhaVariedade}" itemValue="" />  
		            			<f:selectItems var="variedade" itemLabel="#{variedade.nome}" itemValue="#{variedade}" value="#{atividadeEconomica.listaVariedades}"  />
								<p:ajax update="referencia" listener="#{consultarAtividadeEconomicaBean.carregarReferencias(atividadeEconomica)}" process="@this" /> 
			        		</h:selectOneMenu>							
				        </p:column>  
				        <p:column id="col3" headerText="#{bundle.referencia}" style="width:25%;text-align: left;">  
							<h:selectOneMenu id="referencia" value="#{atividadeEconomica.referencia}" converter="referenciaConverter" title="#{bundle.selecioneReferenciaAtividadeEconomica}" style="width: 189px;" >  
				            	<f:selectItem itemLabel="#{bundle.escolhaReferencia}" itemValue="" />  
		            			<f:selectItems var="referencia" itemLabel="#{referencia.autor}" itemValue="#{referencia}" value="#{atividadeEconomica.listaReferencias}"  />
			        		</h:selectOneMenu>							
				        </p:column>  
				        <p:column id="col4" headerText="#{bundle.dataInicio}" style="width:10%;text-align: center;">
							<p:calendar value="#{atividadeEconomica.dataInicio}"  size="6" navigator="false" pattern="dd/MM/yyyy" />
				        </p:column>
				        <p:column id="areaTotal" headerText="#{bundle.areaTotal}" style="width:10%;text-align: center;">  
				        	<p:inputText styleClass="carea" value="#{atividadeEconomica.areatotal}" size="5" >
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
							</p:inputText>  
				        </p:column>
				        <p:column id="qtdDias" headerText="#{bundle.qtdDiasCultivo}" style="width:10%;text-align: center;">  
				            <p:inputText styleClass="money" value="#{atividadeEconomica.qtdDiasCultivo}" size="3" >
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
				        </p:column>
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirAtividadeEconomica}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_ATIVIDADE_ECONOMICA')}">  
				                <f:setPropertyActionListener value="#{atividadeEconomica}" target="#{consultarAtividadeEconomicaBean.atividadeEconomicaSelecionado}" />  
				            </p:commandLink>  	
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirAtividadeEconomica}" 
               header="#{bundle.exclusaoAtividadeEconomica}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarAtividadeEconomica" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarAtividadeEconomicaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
				
				jQuery(document).ready(function($){
					$(".carea").maskMoney(MASK_AREA);
				});	

			</script>			
		</h:form>
	</ui:define>
</ui:composition>
