<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/> 
	
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarBaciaHidrograficaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarBaciaHidrografica" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarBaciaHidrografica}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarBaciaHidrograficaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_BACIA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarBaciaHidrograficaBean.baciaHidrografica}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarBaciaHidrograficaBean.operacao}" />  
					</p:commandButton>
		            <p:commandButton id="btModoSatelite" value="#{bundle.modoSatelite}" title="#{bundle.modoSatelite}" actionListener="#{consultarBaciaHidrograficaBean.modoSatelite}" ajax="true" styleClass="btn primary" rendered="#{!consultarBaciaHidrograficaBean.modoSatelite}" update=":frmConsultarBaciaHidrografica"/>  
		            <p:commandButton id="btModoNormal" value="#{bundle.modoTabela}" title="#{bundle.modoTabela}" actionListener="#{consultarBaciaHidrograficaBean.modoTabela}" ajax="true" styleClass="btn primary" rendered="#{consultarBaciaHidrograficaBean.modoSatelite}" update=":frmConsultarBaciaHidrografica"/>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.nome}:" />  
						<p:inputText id="nome" value="#{consultarBaciaHidrograficaBean.baciaHidrograficaBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.baciaHidrografica}" actionListener="#{consultarBaciaHidrograficaBean.consultar}" ajax="true" update=":frmConsultarBaciaHidrografica"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="modoNormal" rendered="#{!consultarBaciaHidrograficaBean.modoSatelite}">
					<p:dataTable var="baciaHidrografica" value="#{consultarBaciaHidrograficaBean.baciaHidrograficas}" emptyMessage="#{bundle.baciaHidrograficaNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column sortBy="#{baciaHidrografica.nome}" headerText="#{bundle.nome}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{baciaHidrografica.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{baciaHidrografica.localizacao}" headerText="#{bundle.localizacao}" style="width:35%;text-align: left;">  
				            <h:outputText value="#{baciaHidrografica.localizacao}" />  
				        </p:column>  
				        <p:column sortBy="#{baciaHidrografica.volumeTotal}" headerText="#{bundle.volumeTotal}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{baciaHidrografica.volumeTotal}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column sortBy="#{baciaHidrografica.dataCadastro}" headerText="#{bundle.dataInicio}" style="width:5%;text-align: center;">  
				            <h:outputText value="#{baciaHidrografica.dataCadastro}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarBaciaHidrograficaBean.cadastro}" title="#{bundle.alterarBaciaHidrografica}">  
				                <f:setPropertyActionListener value="#{baciaHidrografica}" target="#{cadastrarBaciaHidrograficaBean.baciaHidrografica}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarBaciaHidrograficaBean.operacao}" />  
				            </p:commandLink>  			
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarBaciaHidrograficaBean.cadastro}" title="#{bundle.visualizarBaciaHidrografica}">  
				                <f:setPropertyActionListener value="#{baciaHidrografica}" target="#{cadastrarBaciaHidrograficaBean.baciaHidrografica}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarBaciaHidrograficaBean.operacao}" />  
				            </p:commandLink>  	         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirBaciaHidrografica}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_DISTRITO')}">  
				                <f:setPropertyActionListener value="#{baciaHidrografica}"  
				                    target="#{consultarBaciaHidrograficaBean.baciaHidrograficaSelecionado}" />  
				            </p:commandLink>  	
				            <p:commandLink styleClass="ui-icon ui-icon-fazenda" action="#{consultarBaciaHidrograficaBean.atividadeEconomica}" title="#{bundle.verAtividadeEconomica}">  
				                <f:setPropertyActionListener value="#{baciaHidrografica}" target="#{consultarAtividadeEconomicaBean.bacia}" />  
				                <f:setPropertyActionListener value="" target="#{consultarAtividadeEconomicaBean.atividadeEconomicas}" />  
           						<f:setPropertyActionListener value="BACIA" target="#{consultarAtividadeEconomicaBean.operacao}" />  
				            </p:commandLink>
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>
				<p:outputPanel id="modoSatelite" rendered="#{consultarBaciaHidrograficaBean.modoSatelite}">
					<p:gmap center="-12.554564,-55.019531" zoom="4" type="HYBRID" model="#{consultarBaciaHidrograficaBean.baciaHidrograficasMarcado}" style="width:1000px;height:400px">  
				        <p:ajax event="overlaySelect" listener="#{consultarBaciaHidrograficaBean.marcadorSelecionado}" />  
				        <p:gmapInfoWindow>  
				            <p:outputPanel style="text-align:center;display:block;margin:auto:">  
				  
				                    <p:graphicImage value="/img/dibau.jpg" height="150"/>  
				                    <br />  
				                    <h:outputText value="#{consultarBaciaHidrograficaBean.baciaHidrograficaSelecionado.nome}" />  
				  
				            </p:outputPanel>  
				  
				        </p:gmapInfoWindow>  
				    </p:gmap> 	    			
				</p:outputPanel>
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirBaciaHidrografica}" 
               header="#{bundle.exclusaoBaciaHidrografica}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarBaciaHidrografica" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarBaciaHidrograficaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
