<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/pageSABH.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{indicadoresBean.carregarDadosIniciais}" />
		</f:metadata>

		<h:form id="frmGraficoIndicadores" styleClass="indicadoresMunicipios formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" />
			<div class="bc cinzaclaro barra">
				<div class="titulo">#{bundle.consultarEstatBacia}</div>
			</div>

			<div class="tabela-dados">
<!-- 				<div class="span2 clear"> -->
<!-- 					<h:outputLabel for="indicadoresPorMunicipio">#{bundle.indicadoresPorMunicipio}</h:outputLabel> -->
<!-- 					<h:selectBooleanCheckbox id="indicadoresPorMunicipio" -->
<!-- 						value="#{indicadoresBean.filtrarPorMunicipio}" -->
<!-- 						onchange="$('#frmGraficoIndicadores').submit()"> -->
<!-- 						<p:ajax update=":frmGraficoIndicadores" /> -->
<!-- 					</h:selectBooleanCheckbox> -->
<!-- 				</div> -->

<!-- 				<p:dataGrid rendered="#{indicadoresBean.filtrarPorMunicipio}" var="municipio" value="#{indicadoresBean.municipios}" columns="1" layout="grid" rows="10" paginator="true" id="Municipios" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,20,30,40,50,100" > -->
<!-- 					<p:column> -->
<!-- 						<p:panel header="#{municipio.nome}" styleClass="graficos-indicadores"> -->
<!-- 							<p:tabView effect="highlight" effectDuration="normal" dynamic="true"> -->
<!-- 							    <p:tab title="#{bundle.areaIrrigada}" id="areaIrrigada"> -->
<!-- 									<p:pieChart title="#{bundle.areaTotal}: #{municipio.areaIrrigada}" value="#{municipio.graficoIndicadorAreaIrrigada}" legendPosition="ne" sliceMargin="5" seriesColors="216976, 66cc66, C21468, 93b75f, E7E658, 81c9d6, 21ffff, 09F81F" style="height:550px"/> -->
<!-- 							    </p:tab> -->
<!-- 							    <p:tab title="#{bundle.segurancaProdutiva}" id="seguranca"> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresSegurancaKgHa}" legendPosition="ne" seriesColors="216976" xaxisAngle="50" /> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresSegurancaKgM3}" legendPosition="ne" seriesColors="66cc66" xaxisAngle="50" /> -->
<!-- 							    </p:tab> -->
<!-- 							    <p:tab title="#{bundle.segurancaEconomica}" id="segurancaEconomica"> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresEconomicoReceitaLiquidaHa}" legendPosition="ne" seriesColors="C21468" xaxisAngle="50" /> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresEconomicoReceitaLiquidaM3}" legendPosition="ne" seriesColors="93b75f" xaxisAngle="50" /> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresEconomicoReceitaLiquida}" legendPosition="ne" seriesColors="216976" xaxisAngle="50" /> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresVBP}" legendPosition="ne" seriesColors="66cc66" xaxisAngle="50" /> -->
<!-- 							    </p:tab> -->
<!-- 							    <p:tab title="#{bundle.segurancaSocial}" id="segurancaSocial"> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresSegSocialEmpregosHa}" legendPosition="ne" seriesColors="E7E658" xaxisAngle="50" /> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresSegSocialEmpregosM3}" legendPosition="ne" seriesColors="81c9d6" xaxisAngle="50" /> -->
<!-- 							    </p:tab> -->
<!-- 							    <p:tab title="#{bundle.segurancaHidrica}" id="segurancaHidrica"> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresSegHidricaM3Ha}" legendPosition="ne" seriesColors="21ffff" xaxisAngle="50" /> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresSegHidricaLitrosSegundoHa}" legendPosition="ne" seriesColors="09F81F" xaxisAngle="50" /> --> 
<!-- 									<p:pieChart value="#{municipio.graficoIndicadorCicloCultura}" legendPosition="ne" sliceMargin="5" seriesColors="216976, 66cc66, C21468, 93b75f, E7E658, 81c9d6, 21ffff, 09F81F" style="height:550px"/> -->
<!-- 							    </p:tab> -->
<!-- 							    <p:tab title="#{bundle.corteHidrico}" id="corteHidrico"> -->
<!-- 							    	<p:barChart value="#{municipio.graficoIndicadoresCorteHidrico}" legendPosition="ne" seriesColors="216976" xaxisAngle="50" orientation="horizontal" showMarkers="true" styleClass="graficoCorteHidrico"  style="height:#{municipio.alturaGrafico}px;"/> -->
<!-- 							    </p:tab> -->
<!-- 						    </p:tabView> -->
<!-- 						</p:panel> -->
<!-- 					</p:column> -->
<!-- 				</p:dataGrid> -->
								
				<p:outputPanel id="modoBacia" rendered="true">
					<p:tabView effect="highlight" effectDuration="normal" cache="true">
					    <p:tab title="#{bundle.areaIrrigada}" id="areaIrrigadaBacia">
					    	<br/>
							<h3 class="texto-centro">
								<h:outputText value="#{indicadoresBean.areaIrrigadaBacia}">
									#{bundle.culturaIrrigada} - #{bundle.areaTotal}: 
								    <f:convertNumber currencySymbol="" type="currency"/>
								</h:outputText>
							</h3>
							<p:pieChart value="#{indicadoresBean.graficoIndicadoresCulturasBacia}" sliceMargin="10" legendPosition="r" diameter="500" shadow="false" style="height:800px;" />
					    </p:tab>
					    <p:tab title="#{bundle.segurancaProdutiva}" id="segurancaProdutivaBacia">
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegProdutivaKgHaBacia}" legendPosition="ne" seriesColors="216976" xaxisAngle="50" max="#{indicadoresBean.graficoIndicadoresSegProdutivaKgHaBaciaMax}" />
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegProdutivaKgM3Bacia}" legendPosition="ne" seriesColors="66cc66" xaxisAngle="50" max="#{indicadoresBean.graficoIndicadoresSegProdutivaKgM3BaciaMax}"/>
					    </p:tab>
					    <p:tab title="#{bundle.segurancaEconomica}" id="segurancaEconomicaBacia">
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegEconomicaReceitaHaBacia}" legendPosition="ne" seriesColors="C21468" xaxisAngle="50" max="#{indicadoresBean.graficoIndicadoresSegEconomicaReceitaHaBaciaMax}" />
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegEconomicaReceitaM3Bacia}" legendPosition="ne" seriesColors="93b75f" xaxisAngle="50" max="#{indicadoresBean.graficoIndicadoresSegEconomicaReceitaM3BaciaMax}"/>
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegEconomicaReceitaBacia}" legendPosition="ne" seriesColors="C21468" xaxisAngle="50" max="#{indicadoresBean.graficoIndicadoresSegEconomicaReceitaBaciaMax}"/>
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegEconomicaVBPBacia}" legendPosition="ne" seriesColors="66cc66" xaxisAngle="50" />
					    </p:tab>
					    <p:tab title="#{bundle.segurancaSocial}" id="segurancaSocialBacia">
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegSocialEmpregosHaBacia}" legendPosition="ne" seriesColors="E7E658" xaxisAngle="50" max="#{indicadoresBean.graficoIndicadoresSegSocialEmpregosHaBaciaMax}"/>
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegSocialEmpregosM3Bacia}" legendPosition="ne" seriesColors="81c9d6" xaxisAngle="50" max="#{indicadoresBean.graficoIndicadoresSegSocialEmpregosM3BaciaMax}"/>
					    </p:tab>
					    <p:tab title="#{bundle.segurancaHidrica}" id="segurancaHidricaBacia">
					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegHidricaM3HaBacia}" legendPosition="ne" seriesColors="21ffff" xaxisAngle="50" />
<!-- 					    	<p:barChart value="#{indicadoresBean.graficoIndicadoresSegHidricaLitrosSegundoHaBacia}" legendPosition="ne" seriesColors="09F81F" xaxisAngle="50" /> -->
							<p:pieChart value="#{indicadoresBean.graficoIndicadorCicloCultura}" legendPosition="ne" sliceMargin="5" seriesColors="216976, 66cc66, C21468, 93b75f, E7E658, 81c9d6, 21ffff, 09F81F" style="height:550px"/>
					    </p:tab>
					    <p:tab title="#{bundle.corteHidrico}" id="corteHidricoBacia">
<!-- 						    <div class="row"> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso1"><b>Peso1:</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso1" required="true" value="1" size="3" /> -->
<!-- 								</div> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso2"><b>Peso2</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso2" required="true" value="2" size="3" /> -->
<!-- 								</div> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso3"><b>Peso3:</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso3" required="true" value="3" size="3" /> -->
<!-- 								</div> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso4"><b>Peso4:</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso4" required="true" value="4" size="3" /> -->
<!-- 								</div> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso5"><b>Peso5:</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso5" required="true" value="5" size="3" /> -->
<!-- 								</div> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso6"><b>Peso6:</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso6" required="true" value="6" size="3" /> -->
<!-- 								</div> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso7"><b>Peso7:</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso7" required="true" value="7" size="3" /> -->
<!-- 								</div> -->
<!-- 								<div class="span2"> -->
<!-- 									<label for="peso8"><b>Peso8:</b></label><label class="label-required">*</label> -->
<!-- 									<p:inputText styleClass="block" id="peso8" required="true" value="8" size="3" /> -->
<!-- 								</div> -->
<!-- 						     	<p:spacer width="8" /> -->
<!-- 					            <p:commandLink id="btGerar" styleClass="ui-icon ui-icon-ver" value="Gerar" actionListener="#{indicadoresBean.gerarCorteHidrico}" ajax="true" update=":frmGraficoIndicadores"/>   -->
								
<!-- 							</div> -->
					    
					    	<p:barChart styleClass="graficoCorteHidrico" value="#{indicadoresBean.graficoIndicadoresCorteHidricoBacia}" legendPosition="ne" seriesColors="216976" xaxisAngle="50" orientation="horizontal" showMarkers="true" min="0" max="100"  style="height: 1000px;" />
					    </p:tab>
				    </p:tabView>
			    </p:outputPanel>
			</div>
			
		</h:form>
		
		
	</ui:define>
</ui:composition>
