<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarPerfilBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarPerfil" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroPerfil}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarPerfilBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarPerfil" process="@form" rendered="#{cadastrarPerfilBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarPerfilBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarPerfilBean.perfis}" />  
					</p:commandButton>    
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
		
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.descricao}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" style="width:440px;" id="nome" required="true" requiredMessage="#{bundle.descricaoObrigatorio}" title="#{bundle.descricaoPerfil}" maxlength="255" value="#{cadastrarPerfilBean.perfil.descricao}" size="80" disabled="#{cadastrarPerfilBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="tipo" class="block"><b>#{bundle.tipo}:</b></label>							
							<h:selectOneMenu id="tipo" value="#{cadastrarPerfilBean.perfil.tipo}" title="#{bundle.selecioneTipo}" style="width: 189px;" disabled="#{cadastrarPerfilBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarPerfilBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
						
						<div class="span2 clear">
							<label for="tblFuncionalidade" class="block"><b>#{bundle.funcionalidades}:</b></label>
						    <p:dataTable id="tblFuncionalidade" var="funcionalidade" value="#{cadastrarPerfilBean.funcionalidades}" selection="#{cadastrarPerfilBean.funcionalidadesSelecionadas}" disabled="#{cadastrarPerfilBean.operacao eq 'VER'}" rowKey="#{funcionalidade.id}" styleClass="tblFuncionalidades">
								<f:facet name="header">  
						            #{bundle.escolhaFuncionPerfil}
						        </f:facet>
						        <p:column selectionMode="multiple" />  
						        <p:column headerText="#{bundle.descricao}" style="text-align: left;">  
						            <h:outputText value="#{funcionalidade.descricao}" />  
						        </p:column>  
						    </p:dataTable>  
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
