<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarUsuarioBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarUsuario" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroUsuario}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarUsuarioBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarUsuario" process="@form" rendered="#{cadastrarUsuarioBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarUsuarioBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />			

			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="login"><b>#{bundle.login}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" style="width:50px;" id="login" required="true"  requiredMessage="#{bundle.loginObrigatorio}" maxlength="255" value="#{cadastrarUsuarioBean.usuario.username}" size="30" disabled="#{cadastrarUsuarioBean.operacao eq 'VER'}"/>
						</div>

						<div class="span2">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" style="width:380px;" id="nome" required="true" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarUsuarioBean.usuario.nome}" size="66" disabled="#{cadastrarUsuarioBean.operacao eq 'VER'}"/>
						</div>

						
						<div class="span2 clear">
							<p:outputPanel rendered="#{cadastrarUsuarioBean.operacao eq 'NOVO'}">
								<label for="senha" class="block"><b>#{bundle.senha}:</b></label>
								<p:password id="senha" maxlength="255" value="#{cadastrarUsuarioBean.usuario.password}" size="30" />
							</p:outputPanel>  
						</div>
	
						<div class="span2 ">
							<p:outputPanel rendered="#{cadastrarUsuarioBean.operacao eq 'NOVO'}">
								<label for="confirmarSenha" class="block"><b>#{bundle.confirmarSenha}:</b></label>
								<p:password id="confirmarSenha" maxlength="255" value="#{cadastrarUsuarioBean.usuario.confirmarSenha}" feedback="false" size="30"/>  							
							</p:outputPanel>  
						</div>

						<div class="span2 clear">
							<label for="email" class="block"><b>#{bundle.email}:</b></label>
							<p:inputText id="email" maxlength="255" value="#{cadastrarUsuarioBean.usuario.email}" size="30" requiredMessage="Email incorreto." disabled="#{cadastrarUsuarioBean.operacao eq 'VER'}"/>  
						</div>
	
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarUsuarioBean.operacao ne 'VER'}">
								<label for="confirmarEmail" class="block"><b>#{bundle.confirmarEmail}:</b></label>
								<p:inputText id="confirmarEmail" maxlength="255" value="#{cadastrarUsuarioBean.usuario.confirmarEmail}" size="30"/>
							</p:outputPanel>  							
						</div>

						<div class="span2 clear">
							<label for="perfil" class="block"><b>#{bundle.perfil}:</b></label>							
							<h:selectOneMenu id="perfil" value="#{cadastrarUsuarioBean.usuario.perfil}" converter="perfilConverter" title="#{bundle.selecionePerfil}" style="width: 189px;" disabled="#{cadastrarUsuarioBean.operacao eq 'VER'}">  
		            			<f:selectItems var="perfil" itemLabel="#{perfil.descricao}" itemValue="#{perfil}" value="#{cadastrarUsuarioBean.perfis}"  />
			        		</h:selectOneMenu>							
						</div>
						
						<div class="span2 clear">
							<label for="tblDistrito"><b>#{bundle.distritos}:</b></label><label class="label-required">*</label>
						    <p:dataTable id="tblDistrito" var="distrito" value="#{cadastrarUsuarioBean.distritos}" selection="#{cadastrarUsuarioBean.distritosSelecionadas}" rowKey="#{distrito.id}" styleClass="tblDistrito">
								<f:facet name="header">  
						            #{bundle.escolhaDistritos}
						        </f:facet>  						      
						        <p:column selectionMode="multiple" rendered="#{cadastrarUsuarioBean.operacao ne 'VER'}" style="text-align: left;" />  
						        <p:column headerText="#{bundle.nome}" style="text-align: left;">  
						            <h:outputText value="#{distrito.nome}" />
						        </p:column>  
						    </p:dataTable>  
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
