<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarPerfilBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarPerfil" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarPerfis}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarPerfilBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_PERFIL')}">
						<f:setPropertyActionListener value="" target="#{cadastrarPerfilBean.perfil}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarPerfilBean.funcionalidadesSelecionadas}" />  
	  	                <f:setPropertyActionListener value="NOVO" target="#{cadastrarPerfilBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">		   
				  		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarPerfilBean.perfilBusca.tipo}" title="#{bundle.selecionePerfil}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarPerfilBean.tiposPerfil}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				   		<h:outputText value="#{bundle.perfil}:" />  
						<p:inputText id="solo" value="#{consultarPerfilBean.perfilBusca.descricao}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.perfil}" actionListener="#{consultarPerfilBean.consultar}" ajax="true" update=":frmConsultarPerfil"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="perfil" value="#{consultarPerfilBean.perfis}" emptyMessage="#{bundle.perfilNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column filterOptions="#{consultarPerfilBean.tipos}" sortBy="#{perfil.tipo.descricao}" headerText="#{bundle.tipo}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{perfil.tipo.descricao}" />  
				        </p:column>  
				        <p:column sortBy="#{perfil.descricao}" headerText="#{bundle.descricao}" style="width:70%;text-align: left;">  
				            <h:outputText value="#{perfil.descricao}" />  
				        </p:column>  

				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarPerfilBean.cadastro}" title="#{bundle.alterarPerfil}">  
				                <f:setPropertyActionListener value="#{perfil}" target="#{cadastrarPerfilBean.perfil}" />  
			   	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarPerfilBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarPerfilBean.cadastro}" title="#{bundle.visualizarPerfil}">  
				                <f:setPropertyActionListener value="#{perfil}" target="#{cadastrarPerfilBean.perfil}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarPerfilBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirPerfil}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_PERFIL')}">  
				                <f:setPropertyActionListener value="#{perfil}"  
				                    target="#{consultarPerfilBean.perfilSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirPerfil}"
               header="#{bundle.exclusaoPerfil}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarPerfil" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarPerfilBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
