<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarUsuarioBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarUsuario" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarUsuario}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarUsuarioBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_USUARIO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarUsuarioBean.usuario}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarUsuarioBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
					<p:fieldset id="fieldsetConsulta" legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
						<h:outputText value="#{bundle.perfil}:" />
						<h:selectOneMenu id="perfilBusca" value="#{consultarUsuarioBean.usuarioBusca.perfil}"
							converter="perfilConverter">
							<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />
							<f:selectItems var="perfil" itemLabel="#{perfil.descricao}" 
								itemValue="#{perfil}" value="#{consultarUsuarioBean.perfis}" />
						</h:selectOneMenu>
						<p:spacer width="8" />
						
						<h:outputText value="#{bundle.login}:" />
						<h:inputText id="loginBusca" value="#{consultarUsuarioBean.usuarioBusca.username}" />
						<p:spacer width="8" />
						
						<h:outputText value="#{bundle.nome}:" />
						<h:inputText id="nomeBusca" value="#{consultarUsuarioBean.usuarioBusca.nome}" />
						<p:spacer width="8" />
						
						<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" actionListener="#{consultarUsuarioBean.consultar}" value="#{bundle.buscar}" update="@form" />
					</p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="usuario" value="#{consultarUsuarioBean.usuarios}" emptyMessage="#{bundle.usuarioNaoExiste}"
						paginator="true" rows="5" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
                 		rowsPerPageTemplate="5,10,15,40">

				        <p:column id="col1" sortBy="#{usuario.perfil.descricao}" headerText="#{bundle.perfil}" style="width:12%;text-align: left;">
				            <h:outputText value="#{usuario.perfil.descricao}" />  
				        </p:column>  
				        <p:column id="col2" sortBy="#{usuario.username}" headerText="#{bundle.login}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{usuario.username}" />  
				        </p:column>  

				        <p:column id="col3" sortBy="#{usuario.nome}" headerText="#{bundle.nome}" style="width:53%;text-align: left;">  
				            <h:outputText value="#{usuario.nome}" />  
				        </p:column>
				        
				        <p:column headerText="#{bundle.opcao}" style="width:15%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarUsuarioBean.cadastro}" title="#{bundle.alterarUsuario}" >  
				                <f:setPropertyActionListener value="#{usuario}" target="#{cadastrarUsuarioBean.usuario}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarUsuarioBean.operacao}" />  
				            </p:commandLink>  				         
				     	    <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarUsuarioBean.cadastro}" title="#{bundle.visualizarUsuario}">  
				                <f:setPropertyActionListener value="#{usuario}" target="#{cadastrarUsuarioBean.usuario}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarUsuarioBean.operacao}" />  
				            </p:commandLink>  					         
  				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirUsuario}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_USUARIO')}">  
				                <f:setPropertyActionListener value="#{usuario}"  
				                    target="#{consultarUsuarioBean.usuarioSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirUsuario}"
               header="#{bundle.exclusaoUsuario}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarUsuario" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarUsuarioBean.excluir}">
					<f:setPropertyActionListener value="" target="#{consultarUsuarioBean.usuarios}" />  
			   </p:commandButton>		                      
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
