<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarTecnicoBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarTecnico" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroTecnico}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarTecnicoBean.gravar}" value="#{bundle.salvar}" styleClass="btn primary" update=":frmCadastrarTecnico" process="@form" rendered="#{cadastrarTecnicoBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarTecnicoBean.voltar}" styleClass="btn success" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<p:outputPanel rendered="#{cadastrarTecnicoBean.multiDistrito}">
							<div class="span2 clear">
								<label for="distrito" class="block"><b>#{bundle.distrito}:</b></label>							
								<h:selectOneMenu id="distrito" value="#{cadastrarTecnicoBean.tecnico.distrito}" converter="distritoConverter" title="#{bundle.selecioneDistritoPertenceTecnico}" style="width: 89px;" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}" >  
			            			<f:selectItems var="distrito" itemLabel="#{distrito.nome}" itemValue="#{distrito}" value="#{cadastrarTecnicoBean.distritos}"  />
				        		</h:selectOneMenu>							
							</div>
						</p:outputPanel>
	
						<div class="span2">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="span12 block" required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarTecnicoBean.tecnico.nome}" size="113" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="login">#{bundle.login}:</label><label class="label-required">*</label>
							<p:inputText styleClass="span6 block" id="login" required="true" requiredMessage="#{bundle.loginObrigatorio}" value="#{cadastrarTecnicoBean.tecnico.usuario.username}" size="36" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>
						</div>
						
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarTecnicoBean.operacao eq 'NOVO'}">
								<label for="senha" class="block">#{bundle.senha}:</label>
								<p:password id="senha" value="#{cadastrarTecnicoBean.tecnico.usuario.password}" size="32" styleClass="span5"/>
							</p:outputPanel>  
						</div>
	
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarTecnicoBean.operacao eq 'NOVO'}">
								<label for="confirmarSenha" class="block">#{bundle.confirmarSenha}:</label>
								<p:password id="confirmarSenha" value="#{cadastrarTecnicoBean.tecnico.usuario.confirmarSenha}" feedback="false" size="32"  styleClass="span5"/>  							
							</p:outputPanel>  
						</div>
	
						<div class="span2 clear">
							<label for="perfil" class="block">#{bundle.perfil}:</label>							
							<h:selectOneMenu id="perfil" value="#{cadastrarTecnicoBean.tecnico.usuario.perfil}" converter="perfilConverter" title="Selecione um perfil" style="width: 189px;" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}">  
		            			<f:selectItems var="perfil" itemLabel="#{perfil.descricao}" itemValue="#{perfil}" value="#{cadastrarTecnicoBean.perfis}"  />
			        		</h:selectOneMenu>							
						</div>
						
						<div class="span2">
							<label for="email" class="block">#{bundle.email}:</label>
							<p:inputText id="email" value="#{cadastrarTecnicoBean.tecnico.usuario.email}" size="32" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>  
						</div>
	
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarTecnicoBean.operacao ne 'VER'}">
								<label for="confirmarEmail" class="block">#{bundle.confirmarEmail}:</label>
								<p:inputText id="confirmarEmail" value="#{cadastrarTecnicoBean.tecnico.usuario.confirmarEmail}" size="32"/>
							</p:outputPanel>  							
						</div>
	
						<div class="span2 clear">
							<label for="endereco" class="block">#{bundle.endereco}:</label>
							<p:inputText id="endereco" maxlength="255" value="#{cadastrarTecnicoBean.tecnico.endereco}" size="51"  styleClass="span8" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="cidade" class="block">#{bundle.cidade}:</label>
							<p:inputText id="cidade" maxlength="255" value="#{cadastrarTecnicoBean.tecnico.cidade}" size="30" styleClass="span4" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="cep" class="block"><b>#{bundle.cep}:</b></label>
							<p:inputMask id="cep"  maxlength="255" value="#{cadastrarTecnicoBean.tecnico.cep}" mask="99.999-999" size="10" styleClass="span3" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="uf" class="block"><b>#{bundle.uf}:</b></label>
							<p:inputMask id="uf"  maxlength="255" value="#{cadastrarTecnicoBean.tecnico.uf}" mask="aa?" size="3" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2 clear">
							<label for="telefoneContato" class="block"><b>#{bundle.telContato}:</b></label>
							<p:inputMask id="telefoneContato" maxlength="255" value="#{cadastrarTecnicoBean.tecnico.telefoneContato}" mask="(99)9999-9999" size="38" styleClass="span3" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="celular" class="block"><b>#{bundle.celular}:</b></label>
							<p:inputMask id="celular" maxlength="255" value="#{cadastrarTecnicoBean.tecnico.celular}" mask="(99)99999-9999" size="38" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>							
						</div>
		
						<div class="span2">
							<label for="operadora" class="block"><b>#{bundle.operadora}:</b></label>							
							<h:selectOneMenu id="operadora" value="#{cadastrarTecnicoBean.tecnico.operadora}" title="#{bundle.selecioneOperadora}" style="width: 173px;" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarTecnicoBean.operadoras}"  />
			        		</h:selectOneMenu>							
						</div>
		
						<div class="span2 ">
							<label for="escolaridade" class="block"><b>#{bundle.escolaridade}:</b></label>							
							<h:selectOneMenu  id="escolaridade" value="#{cadastrarTecnicoBean.tecnico.escolaridade}" title="#{bundle.selecioneEscolaridade}" style="width: 300px;" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarTecnicoBean.escolaridades}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="113" rows="2" autoResize="false" maxlength="800" style="width: 910px;" value="#{cadastrarTecnicoBean.tecnico.observacao}" disabled="#{cadastrarTecnicoBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
