<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarTecnicoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarTecnico" styleClass="formularios box-border" prependId="false">
				
				<p:messages showDetail="false" autoUpdate="true"/>
				
				<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarTecnicos}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarTecnicoBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_TECNICO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarTecnicoBean.tecnico}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarTecnicoBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset id="fieldSetConsulta" legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.nome}:" />  
						<p:inputText id="nome" value="#{consultarTecnicoBean.tecnicoBusca.nome}" size="5" />  
				     	<p:spacer width="8" />
				     	
				     	<h:outputText value="#{bundle.telefoneContato}:" />  
						<p:inputText id="celular" value="#{consultarTecnicoBean.tecnicoBusca.telefoneContato}" size="7"/>
				     	<p:spacer width="8" />
				     	
				     	<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarTecnicoBean.tecnicoBusca.escolaridade}" title="#{bundle.selecioneEscolaridade}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="escolaridade" itemLabel="#{escolaridade.descricao}" itemValue="#{escolaridade}" value="#{consultarTecnicoBean.escolaridades}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisar} #{bundle.tecnico}" actionListener="#{consultarTecnicoBean.consultar}" update="@form" />
			 	</p:fieldset>
			</div>
			<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="tecnico" value="#{consultarTecnicoBean.tecnicos}" emptyMessage="#{bundle.tenicoNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">
						
				        <p:column sortBy="#{tecnico.nome}" headerText="#{bundle.nome}" style="width:50%;text-align: left;">  
				            <h:outputText value="#{tecnico.nome}" style="text-align: left;" />  
				        </p:column>  
				        <p:column sortBy="#{tecnico.telefoneContato}" headerText="#{bundle.telefoneContato}" style="width:18%;text-align: left;">  
				            <h:outputText value="#{tecnico.telefoneContato}"/>
				        </p:column> 
				        <p:column filterOptions="#{consultarTecnicoBean.escolaridades}" sortBy="#{tecnico.escolaridade.descricao}" headerText="#{bundle.escolaridade}" style="width:15%;text-align: left;">  
				            <h:outputText value="#{tecnico.escolaridade.descricao}"/>
				        </p:column> 
				        <p:column headerText="#{bundle.opcao}" style="width:15%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar"  action="#{consultarTecnicoBean.cadastro}" title="#{bundle.alterarTecnico}">  
				                <f:setPropertyActionListener value="#{tecnico}" target="#{cadastrarTecnicoBean.tecnico}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarTecnicoBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver"  action="#{consultarTecnicoBean.cadastro}" title="#{bundle.visualizarTecnico}">  
				                <f:setPropertyActionListener value="#{tecnico}" target="#{cadastrarTecnicoBean.tecnico}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarTecnicoBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirTecnico}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_TECNICO')}">  
				                <f:setPropertyActionListener value="#{tecnico}" target="#{consultarTecnicoBean.tecnicoSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirTecnico}?"
               header="#{bundle.exclusaoTecnico}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarTecnico" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarTecnicoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
