<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui">
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarClimaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarClima" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroClimaArea} <h:outputText value="#{cadastrarClimaBean.area.nome}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarClimaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarClima" process="@form" rendered="#{cadastrarClimaBean.operacao ne 'VER'}" onclick="start()" widgetVar="startButton1"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarClimaBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="data" class="block"><b>#{bundle.data}:</b></label>
							<p:calendar value="#{cadastrarClimaBean.clima.data}" navigator="false" size="13" pattern="dd/MM/yyyy" />							
						</div>
						<div class="span2 clear">
							<label for="altitude" class="block"><b>#{bundle.altitude}</b></label>
				            <p:inputText id="altitude" styleClass="money" value="#{cadastrarClimaBean.altitude}" size="13" maxlength="4" >
				            	<f:validateLength maximum="4"/>
								<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</p:inputText>
						</div>
						<div class="span2">
							<label for="tempMax" class="block"><b>#{bundle.tmax}:</b></label>
				            <p:inputText id="tempMax" styleClass="money" value="#{cadastrarClimaBean.clima.tempMax}" size="13" maxlength="4" >
				            	<f:validateLength maximum="4"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="tempMin" class="block"><b>#{bundle.tmin}:</b></label>
				            <p:inputText id="tempMin" styleClass="money" value="#{cadastrarClimaBean.clima.tempMin}" size="13" maxlength="4" >
				            	<f:validateLength maximum="4"/>
								<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="umidMax" class="block"><b>#{bundle.umidMax}:</b></label>
							<p:inputMask id="umidMax" value="#{cadastrarClimaBean.clima.umidadeMax}" mask="?99" size="13" />
						</div>
						<div class="span2">
							<label for="umidMin" class="block"><b>#{bundle.umidMin}:</b></label>
							<p:inputMask id="umidMin" value="#{cadastrarClimaBean.clima.umidadeMin}" mask="?99" size="13" />
						</div>
						<div class="span2 clear">
							<label for="orvalhoMax" class="block"><b>#{bundle.orvMax}:</b></label>
							<p:inputMask id="orvalhoMax" value="#{cadastrarClimaBean.clima.orvalhoMax}" mask="?99" size="13" />
						</div>
						<div class="span2">
							<label for="orvalhoMin" class="block"><b>#{bundle.orvMin}:</b></label>
							<p:inputMask id="orvalhoMin" value="#{cadastrarClimaBean.clima.orvalhoMin}" mask="?99" size="13" />
						</div>
						<div class="span2">
							<label for="umid" class="block"><b>#{bundle.pressaoMax}:</b></label>
							<p:inputText id="pressaoMax" styleClass="money" value="#{cadastrarClimaBean.clima.pressaoMax}" size="13" maxlength="4" >
				            	<f:validateLength maximum="7"/>
								<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</p:inputText>
						</div>
						<div class="span2">
							<label for="umid" class="block"><b>#{bundle.pressaoMin}:</b></label>
							<p:inputText id="pressaoMin" styleClass="money" value="#{cadastrarClimaBean.clima.pressaoMin}" size="13" maxlength="4" >
				            	<f:validateLength maximum="7"/>
								<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</p:inputText>
						</div>
						<div class="span2">
							<label for="vento" class="block"><b>#{bundle.ventVel}:</b></label>
				            <p:inputText id="vento" styleClass="money" value="#{cadastrarClimaBean.clima.vento}" size="13" maxlength="5" >
				            	<f:validateLength maximum="5"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
							</p:inputText>  
						</div>
						<div class="span2 clear">
							<label for="ventoRaj" class="block"><b>#{bundle.ventRaj}:</b></label>
				            <p:inputText id="ventoRaj" styleClass="money" value="#{cadastrarClimaBean.clima.ventoRajada}" size="13" maxlength="5" >
				            	<f:validateLength maximum="5"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="chuva" class="block"><b>#{bundle.chuva}:</b></label>
				            <p:inputText id="chuva" styleClass="money" value="#{cadastrarClimaBean.clima.chuva}" size="13" maxlength="7" >
				            	<f:validateLength maximum="7"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="radiacao" class="block"><b>#{bundle.rad}:</b></label>
				            <p:inputText id="radiacao" styleClass="money" value="#{cadastrarClimaBean.clima.radiacao}" size="13" maxlength="7" >
				            	<f:validateLength maximum="7"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="1"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="etoInformado" class="block"><b>#{bundle.etoInformado}:</b></label>
				            <p:inputText id="etoInformado" styleClass="money" value="#{cadastrarClimaBean.clima.eto}" size="13" maxlength="4" >
				            	<f:validateLength maximum="6"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="etoCalculado" class="block"><b>#{bundle.etoCalculado}:</b></label>
				            <p:inputText id="etoCalculado" styleClass="money" value="#{cadastrarClimaBean.clima.etoCalculado}" size="13" maxlength="4" disabled="true" >
				            	<f:validateLength maximum="6"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
					</div>
				</div>
			</div>			
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_VALOR);
				});		 

			    function start() {  
			        startButton1.disable();  
			    }  
			  
			    function cancel() {  
			        startButton1.enable();  
			    }  
			</script>
		</h:form>
	</ui:define>
</ui:composition>
