<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarFornecimentoBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarFornecimento" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastrarFornecimento}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarFornecimentoBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarFornecimento" process="@form" rendered="#{cadastrarFornecimentoBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarFornecimentoBean.voltar}" styleClass="btn primary" immediate="true" />
					<p:commandButton id="btAdicionar" actionListener="#{cadastrarFornecimentoBean.adicionarRegistro}" value="+ #{bundle.registro}" styleClass="btn primary" process="@form" update=":frmCadastrarFornecimento" rendered="#{cadastrarFornecimentoBean.operacao ne 'VER'}"/>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<p:dataTable id="tblAgua" var="agua" value="#{cadastrarFornecimentoBean.aguas}"
					rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  
			        <p:column headerText="#{bundle.dataApresentacao}" style="width:6%;text-align: left;">  
						<p:calendar id="data" value="#{agua.data}" navigator="false" size="6" disabled="#{cadastrarFornecimentoBean.operacao eq 'VER'}" pattern="dd/MM/yyyy">
							<p:ajax event="dateSelect" listener="#{cadastrarFornecimentoBean.mudarData(agua)}" update="lAnterior qtd" process="@this" />  
						</p:calendar>							
			        </p:column>  
			        <p:column headerText="#{bundle.lote}" style="width:16%;text-align: left;">  
			            <p:inputText id="lote" value="#{agua.irrigante.localizacao}" size="3" disabled="#{cadastrarFornecimentoBean.operacao eq 'VER'}">
							<p:ajax event="change" process="data @this" update="lacre codigo lAnterior et irr" listener="#{cadastrarFornecimentoBean.verificarLote(agua)}" />
						</p:inputText> 
			        </p:column>  
			        <p:column headerText="#{bundle.leituraAtual}" style="width:16%;text-align: left;">  
			            <p:inputMask id="lAtual" value="#{agua.leituraatual}" mask="?99999999999" size="6" disabled="#{cadastrarFornecimentoBean.operacao eq 'VER'}" dir="RTL">
							<p:ajax update="lAnterior qtd irr et fri" event="change" process="data lote @this" listener="#{cadastrarFornecimentoBean.verificarAnterior(agua)}" />
						</p:inputMask>  
			        </p:column>  
			        <p:column headerText="#{bundle.codigo}" style="width:16%;text-align: left;">  
			            <p:inputText id="codigo" value="#{agua.codigo}" size="6" disabled="#{!cadastrarFornecimentoBean.loteValido}">
							<p:ajax update="@this" event="change" process="@this" listener="#{cadastrarFornecimentoBean.verificarCodigo(agua)}" />
			            </p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.lacre}" style="width:16%;text-align: left;">  
			            <p:inputText id="lacre" value="#{agua.lacre}" size="6" disabled="#{!cadastrarFornecimentoBean.loteValido}">
							<p:ajax update="@this" event="change" process="@this" listener="#{cadastrarFornecimentoBean.verificarLacre(agua)}" />
			            </p:inputText>
			        </p:column>  
			        <p:column headerText="#{bundle.leituraAnterior}" style="width:16%;text-align: left;">  
			            <p:inputMask id="lAnterior" value="#{agua.leituraanterior}" mask="?99999999999" size="6" disabled="#{cadastrarFornecimentoBean.aguaValido}" dir="RTL">
							<p:ajax update="qtd et irr fri" event="change" process="@this qtd" />
						</p:inputMask>  
			        </p:column>  
			        <p:column headerText="#{bundle.quantidade}(m³)" style="width:5%;text-align: right;">  
			            <p:inputText id="qtd" styleClass="carea" value="#{agua.quantidade}" size="6" disabled="true">
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="0"/>
						</p:inputText>  
			        </p:column>  
			        <p:column headerText="#{bundle.et}" style="width:5%;text-align: right;">  
			            <p:inputText id="et" styleClass="carea" value="#{agua.et}" size="6" disabled="true">
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="0"/>
						</p:inputText>  
			        </p:column>  
			        <p:column headerText="#{bundle.irr}" style="width:5%;text-align: right;">  
			            <p:inputText id="irr" styleClass="carea" value="#{agua.irr}" size="6" disabled="true">
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="0"/>
						</p:inputText>  
			        </p:column>  
			        <p:column headerText="#{bundle.fri}" style="width:5%;text-align: right;">  
			            <p:inputText id="fri" styleClass="carea" value="#{agua.fri}" size="6" disabled="true">
			            	<f:validateLength maximum="15"/>
							<f:convertNumber locale="pt_BR" minFractionDigits="0"/>
						</p:inputText>  
			        </p:column>  
			        <p:column headerText="#{bundle.opcao}" style="width:9%" rendered="#{cadastrarFornecimentoBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
			            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirAgua}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_AGUA')}">  
			                <f:setPropertyActionListener value="#{agua}" target="#{cadastrarFornecimentoBean.aguaSelecionada}" />  
			            </p:commandLink>  				         
			        </p:column>  
				</p:dataTable>
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirAgua}" 
               header="#{bundle.exclusaoAgua}" severity="alert" widgetVar="confirmacao">  
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarFornecimento" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarFornecimentoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
		    </p:confirmDialog>
		    
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
				
				jQuery(document).ready(function($){
					$(".carea").maskMoney(MASK_AREA);
				});	

			</script>
		</h:form>
	</ui:define>
</ui:composition>

