<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
		<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarEstacaoBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarEstacao" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroEstacao}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarEstacaoBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarEstacao" process="@form" rendered="#{cadastrarEstacaoBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarEstacaoBean.voltar}" styleClass="btn primary" immediate="true"/>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<p:outputPanel rendered="#{cadastrarEstacaoBean.multiDistrito}">
							<div class="span2 clear">
								<label for="distrito" class="block"><b>#{bundle.distrito}:</b></label>							
								<h:selectOneMenu id="distrito" value="#{cadastrarEstacaoBean.estacao.distrito}" converter="distritoConverter" title="#{bundle.selecioneDistritoPertenceArea}" style="width: 89px;" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}">  
					            	<f:selectItem itemLabel="#{bundle.escolhaDistrito}" itemValue="" />  
			            			<f:selectItems var="distrito" itemLabel="#{distrito.nome}" itemValue="#{distrito}" value="#{cadastrarEstacaoBean.distritos}"  />
   									<p:ajax update="area" event="change" listener="#{cadastrarIrriganteBean.carregarAreas}" process="@this" /> 
				        		</h:selectOneMenu>							
							</div>
						</p:outputPanel>
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarEstacaoBean.estacao.nome}" size="113" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="localizacao" class="block"><b>#{bundle.localizacao}:</b></label>
							<p:inputText id="localizacao" maxlength="255" value="#{cadastrarEstacaoBean.estacao.localizacao}" size="113" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{cadastrarEstacaoBean.estacao.dataCadastro}" navigator="false" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}" pattern="dd/MM/yyyy"/>							
						</div>
						<div class="span2">
							<label for="latitude" class="block"><b>#{bundle.latitude}:</b></label>
							<p:inputText style="width: 215px;" id="latitude" maxlength="255" value="#{cadastrarEstacaoBean.estacao.latitude}" size="17" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="longitude" class="block"><b>#{bundle.longitude}:</b></label>
							<p:inputText style="width: 215px;" id="longitude" maxlength="255" value="#{cadastrarEstacaoBean.estacao.longitude}" size="17" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="altitude" class="block"><b>#{bundle.altitude}:</b></label>
							<p:inputMask id="altitude" value="#{cadastrarEstacaoBean.estacao.altitude}" mask="?9999" size="5" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="87" rows="3" autoResize="false" maxlength="800" value="#{cadastrarEstacaoBean.estacao.observacao}" disabled="#{cadastrarEstacaoBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2 clear">
							<label for="tblAreas" class="block"><b>#{bundle.areaAlcance}:</b></label>
						    <p:dataTable id="tblAreas" var="area" value="#{cadastrarEstacaoBean.areas}" selection="#{cadastrarEstacaoBean.areasSelecionadas}" message="#{bundle.escolhaAreasAlcanceEstacao}" rowKey="#{area.id}" styleClass="tblAreas">
						        <p:column selectionMode="multiple" rendered="#{cadastrarEstacaoBean.operacao ne 'VER'}" style="width:10%"/>  
						        <p:column headerText="#{bundle.area}" style="width:90%">  
						            <h:outputText value="#{area.nome}" />  
						        </p:column>  
						    </p:dataTable>  
						</div>

					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
