<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
		<ui:define name="content">
		
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarDistritoBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarDistrito" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroPerimetro}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarDistritoBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarDistrito" process="@form" rendered="#{cadastrarDistritoBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarDistritoBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarDistritoBean.distritos}" />  
					</p:commandButton>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
		
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarDistritoBean.distrito.nome}" size="85" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="telefoneContato" class="block"><b>#{bundle.telefoneContato}:</b></label>
							<p:inputMask id="telefoneContato" maxlength="255" value="#{cadastrarDistritoBean.distrito.telefoneContato}" mask="(99)9999-9999" size="15" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="telefoneContato2" class="block"><b>#{bundle.celular}:</b></label>
							<p:inputMask id="telefoneContato2" maxlength="255" value="#{cadastrarDistritoBean.distrito.telefoneContato}" mask="(99)99999-9999" size="15" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{cadastrarDistritoBean.distrito.dataCadastro}" navigator="false" size="15" pattern="dd/MM/yyyy" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>

						<div class="span2 clear">
							<label for="endereco" class="block"><b>#{bundle.endereco}:</b></label>
							<p:inputText id="endereco" maxlength="255" value="#{cadastrarDistritoBean.distrito.endereco}" size="65" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="cidade" class="block"><b>#{bundle.cidade}:</b></label>
							<p:inputText id="cidade"  maxlength="255" value="#{cadastrarDistritoBean.distrito.cidade}" size="30" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="cep" class="block"><b>#{bundle.cep}:</b></label>
							<p:inputMask id="cep"  maxlength="255" value="#{cadastrarDistritoBean.distrito.cep}" mask="99.999-999" size="10" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="uf" class="block"><b>#{bundle.uf}:</b></label>
							<p:inputMask id="uf"  maxlength="255" value="#{cadastrarDistritoBean.distrito.uf}" mask="aa?" size="4" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2 clear">
							<label for="localizacao" class="block"><b>#{bundle.localizacao}:</b></label>
							<p:inputText id="localizacao" maxlength="255" value="#{cadastrarDistritoBean.distrito.localizacao}" size="90" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2 clear">
							<label for="latitude" class="block"><b>#{bundle.latitude}:</b></label>
							<p:inputText id="latitude" maxlength="255" value="#{cadastrarDistritoBean.distrito.latitude}" size="21" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="latitude" class="block"><b>#{bundle.zoom}:</b></label>
							<p:inputText id="zoommapa" maxlength="255" value="#{cadastrarDistritoBean.distrito.zoommapa}" size="19" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="longitude" class="block"><b>#{bundle.longitude}:</b></label>
							<p:inputText id="longitude" maxlength="255" value="#{cadastrarDistritoBean.distrito.longitude}" size="21" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="areaTotal" class="block"><b>#{bundle.areaTotal}:</b></label>
				            <p:inputText id="areaTotal" styleClass="money" value="#{cadastrarDistritoBean.distrito.areaTotal}" size="21" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
	
						<div class="span2">
							<label for="areaPreservada" class="block"><b>#{bundle.areaPreservada}:</b></label>
				            <p:inputText id="areaPreservada" styleClass="money" value="#{cadastrarDistritoBean.distrito.areaPreservada}" size="21" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="100" rows="3" autoResize="false" maxlength="800" value="#{cadastrarDistritoBean.distrito.observacao}" disabled="#{cadastrarDistritoBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
