<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
		<ui:define name="content">
		
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarAreaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarArea" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroArea}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarAreaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarArea" process="@form" rendered="#{cadastrarAreaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarAreaBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<p:outputPanel rendered="#{cadastrarAreaBean.multiDistrito}">
							<div class="span2 clear">
								<label for="distrito" class="block">#{bundle.distrito}:</label>							
								<h:selectOneMenu id="distrito" value="#{cadastrarAreaBean.area.distrito}" converter="distritoConverter" title="#{bundle.selecioneDistritoPertenceArea}" style="width: 89px;" disabled="#{cadastrarAreaBean.operacao eq 'VER'}">  
			            			<f:selectItems var="distrito" itemLabel="#{distrito.nome}" itemValue="#{distrito}" value="#{cadastrarAreaBean.distritos}"  />
				        		</h:selectOneMenu>							
							</div>
						</p:outputPanel>
						<div class="span2">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" style="width: 745px;" required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="Nome" maxlength="255" value="#{cadastrarAreaBean.area.nome}" size="80" disabled="#{cadastrarAreaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="data" class="block"><b>#{bundle.dataInicio}:</b></label>
							<p:calendar value="#{cadastrarAreaBean.area.dataCadastro}" navigator="false" pattern="dd/MM/yyyy" disabled="#{cadastrarAreaBean.operacao eq 'VER'}"/>							
						</div>
						
						<div class="span2 clear">
							<label for="localizacao" class="block"><b>#{bundle.localizacao}:</b></label>
							<p:inputText style="width: 850px;" id="localizacao" maxlength="255" value="#{cadastrarAreaBean.area.localizacao}" size="113" disabled="#{cadastrarAreaBean.operacao eq 'VER'}"/>							
						</div>
						<div class="span2">
							<label for="altitude" class="block"><b>#{bundle.altitude}:</b></label>
							<p:inputMask id="altitude" value="#{cadastrarAreaBean.area.altitude}" mask="?9999" size="5" disabled="#{cadastrarAreaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2 clear">
							<label for="latitude" class="block"><b>#{bundle.latitude}:</b></label>
							<p:inputText style="width: 215px;" id="latitude" maxlength="255" value="#{cadastrarAreaBean.area.latitude}" size="17" disabled="#{cadastrarAreaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="longitude" class="block"><b>#{bundle.longitude}:</b></label>
							<p:inputText style="width: 215px;" id="longitude" maxlength="255" value="#{cadastrarAreaBean.area.longitude}" size="17" disabled="#{cadastrarAreaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="areaTotal" class="block"><b>#{bundle.areaTotal}:</b></label>
				            <p:inputText style="width: 215px;" id="areaTotal" styleClass="money" value="#{cadastrarAreaBean.area.areaTotal}" size="30" disabled="#{cadastrarAreaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
	
						<div class="span2">
							<label for="areaIrrigada" class="block"><b>#{bundle.areaIrrigavel}(ha):</b></label>
				            <p:inputText style="width: 215px;" id="areaIrrigada" styleClass="money" value="#{cadastrarAreaBean.area.areaIrrigada}" size="30" disabled="#{cadastrarAreaBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea style="width: 920px;" id="observacao" cols="113" rows="2" autoResize="false" maxlength="800" value="#{cadastrarAreaBean.area.observacao}" disabled="#{cadastrarAreaBean.operacao eq 'VER'}"/>							
						</div>

					</div>
				</div>
			</div>				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
