<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/locale-primefaces.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{monitorarIrrigacaoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarIrrigacao" styleClass="formularios box-border" prependId="false" enctype="multipart/form-data">
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
				#{bundle.monitorarIrrigacoes}
				</div>
				<div class="botoes">
		            <p:commandButton value="#{bundle.recalcular}" ajax="true" update=":frmConsultarIrrigacao"  styleClass="btn success"
		                    action="#{monitorarIrrigacaoBean.recalcular}" rendered="#{LoginBean.isAdm()}"/>
		            <p:commandButton styleClass="btn cancel" value="#{bundle.excluirSMS}" ajax="true" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_IRRIGACAO')}"/>
		            <p:commandButton styleClass="btn primary" value="#{bundle.excel}" ajax="false">
						<p:dataExporter type="xls" target="tblIrrigacao" fileName="irrigacoes" encoding="ISO-8859-1"/>
					</p:commandButton>  
					<p:commandButton styleClass="btn primary" value="#{bundle.PDF}" ajax="false" >
						<p:dataExporter type="pdf" target="tblIrrigacao" fileName="irrigacoes" encoding="ISO-8859-1"/>
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.area}:" />  
						<h:selectOneMenu id="area" value="#{monitorarIrrigacaoBean.irrigacaoBusca.plantio.cultivo.irrigante.area}" title="#{bundle.selecioneAreaPesquisarIrrigacao}" style="width: 120px;" converter="areaConverter" >  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue=""/>  
	            			<f:selectItems var="area" itemLabel="#{area.nome}" itemValue="#{area}" value="#{monitorarIrrigacaoBean.areas}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.cultura}:" />  
						<h:selectOneMenu id="cultura" value="#{monitorarIrrigacaoBean.irrigacaoBusca.plantio.cultivo.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaEspecifica}" style="width: 160px;">  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{monitorarIrrigacaoBean.culturas}"  />
							<p:ajax update="variedade" listener="#{monitorarIrrigacaoBean.carregarVariedades}" process="@this" /> 
		        		</h:selectOneMenu>							
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.variedade}:" />  
						<h:selectOneMenu id="variedade" value="#{monitorarIrrigacaoBean.irrigacaoBusca.plantio.cultivo.variedade}" converter="variedadeConverter" title="#{bundle.selecioneVariedadeEspecifica}" style="width: 120px;" >  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="variedade" itemLabel="#{variedade.nome}" itemValue="#{variedade}" value="#{monitorarIrrigacaoBean.variedades}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.data}:" />  
						<p:calendar value="#{monitorarIrrigacaoBean.irrigacaoBusca.data}" id="dataCalendario" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.lote}:" />
						<p:inputText id="lote" value="#{monitorarIrrigacaoBean.irrigacaoBusca.plantio.cultivo.irrigante.localizacao}" size="5" />  
				     	<p:spacer width="10" />

			            <p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaIrrigacao}" actionListener="#{monitorarIrrigacaoBean.consultar}" ajax="true" update=":frmConsultarIrrigacao"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:dataTable id="tblIrrigacao" var="irrigacao" value="#{monitorarIrrigacaoBean.irrigacoes}" selection="#{monitorarIrrigacaoBean.irrigacoesSelecionadas}" emptyMessage="#{bundle.irrigacaoNaoExiste}"
					paginator="true" rows="40" rowKey="#{irrigacao.id}" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
					rowIndexVar="rowIx" rowStyleClass="#{irrigacao.enviarSms ? 'linhaNormal' : 'linhaRed'}"
                		rowsPerPageTemplate="5,10,15,40,100,500" styleClass="tblFuncionalidades">  
			       
			        <p:column selectionMode="multiple" headerText="#{bundle.opcao}"  />  		
			         <p:column id="col2" sortBy="#{irrigacao.plantio.cultivo.irrigante.area.nome}" style="width:10%;text-align: left;" styleClass="filtroArea">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.area}" />
						</f:facet>  
			            <h:outputText value="#{irrigacao.plantio.cultivo.irrigante.area.nome}"/>  
			        </p:column>  
			        <p:column id="col3"  sortBy="#{irrigacao.plantio.cultivo.irrigante.localizacao}" style="width:10%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.lote}" />
						</f:facet>  
			            <p:commandLink value="#{irrigacao.plantio.cultivo.irrigante.localizacao}" action="#{monitorarIrrigacaoBean.consultarIrrigante}" title="#{bundle.visualizarIrrigante}">  
			                <f:setPropertyActionListener value="#{irrigacao.plantio.cultivo.irrigante.localizacao}" target="#{consultarIrriganteBean.localizacao}" />
			            </p:commandLink>  	
			        </p:column> 
			        <p:column sortBy="#{irrigacao.plantio.cultivo.irrigante.nome}" style="width:35%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.nome}" />
						</f:facet>  
			            <h:outputText value="#{irrigacao.plantio.cultivo.irrigante.nome}" />  
			        </p:column>  
			        <p:column style="width:5%;text-align: left;" styleClass="filtroSetor">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.setor}" />
						</f:facet>  
			            <h:outputText value="#{irrigacao.plantio.setor.identificacao}"/>
			        </p:column> 
			        <p:column sortBy="#{irrigacao.plantio.cultivo.cultura.nome}" style="width:15%;text-align: left;" styleClass="filtroCultura">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.cultura}" />
						</f:facet>  
			            <h:outputText value="#{irrigacao.plantio.cultivo.cultura.nome}"/>
			        </p:column> 
			        <p:column sortBy="#{irrigacao.plantio.cultivo.variedade.nome}" style="width:10%;text-align: left;" styleClass="filtroVariedade">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.variedade}" />
						</f:facet>  
			            <h:outputText value="#{irrigacao.plantio.cultivo.variedade.nome}"/>
			        </p:column> 
			        <p:column sortBy="#{irrigacao.plantio.cultivo.dataInicio}" style="width:10%;text-align: left;" styleClass="filtroData">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.dataInicio}" />
						</f:facet>  
			            <h:outputText value="#{irrigacao.plantio.cultivo.dataInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
						</h:outputText>  
			        </p:column> 
			        <p:column sortBy="#{irrigacao.tempoIrrigacao}" style="width:10%;text-align: left;" styleClass="filtroTI">  
				        <f:facet name="header">
							<h:outputText value="TI" />
						</f:facet>  
			            <h:outputText value="#{irrigacao.tempo}" rendered="#{irrigacao.temIrrigacao}"/>
			            <h:outputText value="#{irrigacao.tempo}" style="color: #FF0000;font-weight: bold;" rendered="#{!irrigacao.temIrrigacao}"/>
			        </p:column> 
					
				</p:dataTable>
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirIrrigacao}"  
               header="#{bundle.exclusaoIrrigacao}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarIrrigacao" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{monitorarIrrigacaoBean.excluir}"/>
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />
		    </p:confirmDialog>
				<script type="text/javascript">
				jQuery(document).ready(function($){
					$("#dataCalendario_input").mask("99/99/9999");
				});
			</script>
 		 </h:form>
	</ui:define>
</ui:composition>
