<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/> 
	
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarDistritoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarDistrito" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarPerimetro}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarDistritoBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_DISTRITO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarDistritoBean.distrito}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarDistritoBean.operacao}" />  
					</p:commandButton>
		            <p:commandButton id="btModoSatelite" value="#{bundle.modoSatelite}" title="#{bundle.modoSatelite}" actionListener="#{consultarDistritoBean.modoSatelite}" ajax="true" styleClass="btn primary" rendered="#{!consultarDistritoBean.modoSatelite}" update=":frmConsultarDistrito"/>  
		            <p:commandButton id="btModoNormal" value="#{bundle.modoTabela}" title="#{bundle.modoTabela}" actionListener="#{consultarDistritoBean.modoTabela}" ajax="true" styleClass="btn primary" rendered="#{consultarDistritoBean.modoSatelite}" update=":frmConsultarDistrito"/>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.nome}:" />  
						<p:inputText id="nome" value="#{consultarDistritoBean.distritoBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.distrito}" actionListener="#{consultarDistritoBean.consultar}" ajax="true" update=":frmConsultarDistrito"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="modoNormal" rendered="#{!consultarDistritoBean.modoSatelite}">
					<p:dataTable var="distrito" value="#{consultarDistritoBean.distritos}" emptyMessage="#{bundle.distritoNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column sortBy="#{distrito.nome}" headerText="#{bundle.nome}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{distrito.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{distrito.localizacao}" headerText="#{bundle.localizacao}" style="width:35%;text-align: left;">  
				            <h:outputText value="#{distrito.localizacao}" />  
				        </p:column>  
				        <p:column sortBy="#{distrito.areaTotal}" headerText="#{bundle.areaTotal}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{distrito.areaTotal}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column sortBy="#{distrito.areaPreservada}" headerText="#{bundle.areaPreservada}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{distrito.areaPreservada}" >  
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column sortBy="#{distrito.dataCadastro}" headerText="#{bundle.dataInicio}" style="width:5%;text-align: center;">  
				            <h:outputText value="#{distrito.dataCadastro}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarDistritoBean.cadastro}" title="#{bundle.alterarDistrito}">  
				                <f:setPropertyActionListener value="#{distrito}" target="#{cadastrarDistritoBean.distrito}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarDistritoBean.operacao}" />  
				            </p:commandLink>  			
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarDistritoBean.cadastro}" title="#{bundle.visualizarDistrito}">  
				                <f:setPropertyActionListener value="#{distrito}" target="#{cadastrarDistritoBean.distrito}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarDistritoBean.operacao}" />  
				            </p:commandLink>  	         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirDistrito}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_DISTRITO')}">  
				                <f:setPropertyActionListener value="#{distrito}"  
				                    target="#{consultarDistritoBean.distritoSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>
				<p:outputPanel id="modoSatelite" rendered="#{consultarDistritoBean.modoSatelite}">
					<p:gmap center="-12.554564,-55.019531" zoom="4" type="HYBRID" model="#{consultarDistritoBean.distritosMarcado}" style="width:1000px;height:400px">  
				        <p:ajax event="overlaySelect" listener="#{consultarDistritoBean.marcadorSelecionado}" />  
				        <p:gmapInfoWindow>  
				            <p:outputPanel style="text-align:center;display:block;margin:auto:">  
				  
				                    <p:graphicImage value="/img/dibau.jpg" height="150"/>  
				                    <br />  
				                    <h:outputText value="#{consultarDistritoBean.distritoSelecionado.nome}" />  
				  
				            </p:outputPanel>  
				  
				        </p:gmapInfoWindow>  
				    </p:gmap> 	    			
				</p:outputPanel>
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirDistrito}" 
               header="#{bundle.exclusaoDistrito}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarDistrito" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarDistritoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
