<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarClimaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarClima" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarClimaArea}<h:outputText value="#{consultarClimaBean.area.nome}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.addClima}" action="#{consultarClimaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_CLIMA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarClimaBean.clima}" />  
					</p:commandButton>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarClimaBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row">
				<div class="span2 clear">
					<label for="mes" class="block"><b>#{bundle.mes}:</b></label>
					<h:selectOneMenu id="mes" value="#{consultarClimaBean.mes}" title="#{bundle.selecioneMes}" style="width: 150px;">  
	           			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarClimaBean.meses}"  />
						<p:ajax update=":frmConsultarClima" event="change" process="@this" /> 
	        		</h:selectOneMenu>							
				</div>
				<div class="span2">
					<label for="ano" class="block"><b>#{bundle.ano}:</b></label>							
					<p:spinner id="ano" value="#{consultarClimaBean.ano}" min="1950" style="margin-right: 0px;" size="4">
						<p:ajax update=":frmConsultarClima" process="@this" />  
           			</p:spinner>  							
				</div>
				<div class="span2 clear">
					<p:spacer height="10"/>
				</div>
				<div class="span2 clear">
					<p:dataGrid var="clima" value="#{consultarClimaBean.climas}" emptyMessage="#{bundle.climaNaoExiste}" columns="#{consultarClimaBean.climas.size() &lt; 4?consultarClimaBean.climas.size():4}">
						<p:column>
							<p:panel footer="ETo = #{clima.etoCalculado}(mm/dia) " styleClass="pnlClima">
								<f:facet name="header">
						            <p:commandLink action="#{consultarClimaBean.cadastro}" title="#{bundle.alterarClima}" value="#{clima.dia}">  
										<f:setPropertyActionListener value="#{clima}" target="#{cadastrarClimaBean.clima}" />  
						                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarClimaBean.operacao}" />  
				        		    </p:commandLink>  				         
				    	        
        						</f:facet>
								<h:panelGrid columns="3">
									<p:outputPanel>
										<label for="tempMin" class="block" style="font-size:10px;"><b>#{bundle.tmin}</b></label>							
							            <h:outputText id="tempMin" value="#{clima.tempMin}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMax" class="block" style="font-size:10px;"><b>#{bundle.tmax}</b></label>							
							            <h:outputText id="tempMax" value="#{clima.tempMax}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMed" class="block" style="font-size:10px;"><b>#{bundle.tmed}</b></label>							
							            <h:outputText id="tempMed" value="#{clima.tempMed}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="umidadeMin" class="block" style="font-size:10px;"><b>#{bundle.umidMin}</b></label>							
							            <h:outputText id="umidadeMin" value="#{clima.umidadeMin}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="umidadeMax" class="block" style="font-size:10px;"><b>#{bundle.umidMax}</b></label>							
							            <h:outputText id="umidadeMax" value="#{clima.umidadeMax}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="umidadeMed" class="block" style="font-size:10px;"><b>#{bundle.umidMed}</b></label>							
							            <h:outputText id="umidadeMed" value="#{clima.umidadeMed}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="vento" class="block" style="font-size:10px;"><b>#{bundle.ventMS}</b></label>							
							            <h:outputText id="vento" value="#{clima.vento}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="rajada" class="block" style="font-size:10px;"><b>#{bundle.rajada}</b></label>							
							            <h:outputText id="rajada" value="#{clima.ventoRajada}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="chuva" class="block" style="font-size:10px;"><b>#{bundle.precipitacao}</b></label>							
							            <h:outputText id="chuva" value="#{clima.chuva}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="rad" class="block" style="font-size:10px;"><b>#{bundle.rad}</b></label>							
							            <h:outputText id="rad" value="#{clima.radiacao}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="radL" class="block" style="font-size:10px;"><b>#{bundle.radLiq}</b></label>							
							            <h:outputText id="radL" value="#{clima.radLiquida}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="pressao" class="block" style="font-size:10px;"><b>#{bundle.pressaoMed}</b></label>							
							            <h:outputText id="pressao" value="#{clima.pressaoMed}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
								</h:panelGrid>
							</p:panel>
						</p:column>
					</p:dataGrid>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
