<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarEEquipamentosBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarEEquipamentos" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarEstatEquip}
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
				<div class="span2 clear">
					<h:outputLabel for="area">#{bundle.porArea}</h:outputLabel>
					<h:selectBooleanCheckbox  id="area" value="#{consultarEEquipamentosBean.porArea}" onchange="$('#frmConsultarEEquipamentos').submit()">  
			            <p:ajax update=":frmConsultarEEquipamentos" />  
			        </h:selectBooleanCheckbox> 					
				</div>
				<p:outputPanel id="modoArea" rendered="#{consultarEEquipamentosBean.porArea}">
				<p:dataGrid var="area" value="#{consultarEEquipamentosBean.areas}" columns="2" >  
			        <p:column>  
						<p:panel header="#{area.nome}">
				            <h:panelGrid  columns="4">
           			            <h:outputLabel value="#{bundle.dataInicio}:" />
           			            <h:outputText value="#{area.dataCadastro}" >
									<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
								</h:outputText>  
           			            <h:outputLabel value="#{bundle.localizacao}:" />
					            <h:outputText value="#{area.localizacao}" />
				            </h:panelGrid>
							<p:tabView effect="slide" effectDuration="normal">  
								<p:tab title="#{bundle.bombas}" id="bomb">  
						            <p:pieChart value="#{area.graficoBomba}" legendPosition="ne" sliceMargin="5" />
							    </p:tab>
								<p:tab title="#{bundle.emissores}" id="emiss">  
						            <p:pieChart value="#{area.graficoEmissor}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.filtros}" id="filt">  
						            <p:pieChart value="#{area.graficoFiltro}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
							     <p:tab title="#{bundle.valvulas}" id="valv">  
						            <p:pieChart value="#{area.graficoValvula}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
							     <p:tab title="#{bundle.tubos}" id="tub">  
						            <p:pieChart value="#{area.graficoTubo}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
						    </p:tabView>				            
							<p:panel header="#{bundle.clima}">
								<h:panelGrid columns="4">
									<p:outputPanel>
										<label for="data" class="block"><b>#{bundle.data}</b></label>							
							            <h:outputText id="data" value="#{area.clima.data}"  style="text-align:center;">
											<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMin" class="block"><b>#{bundle.tmin}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMin" value="#{area.clima.tempMin}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMax" class="block"><b>#{bundle.tmax}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMax" value="#{area.clima.tempMax}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="umidade" class="block"><b>#{bundle.umid}</b></label>							
							            <h:outputText id="umidade" value="#{area.clima.umidadeMed}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="vento" class="block"><b>#{bundle.vent}</b></label>							
							            <h:outputText id="vento" value="#{area.clima.vento}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="chuva" class="block"><b>#{bundle.chuva}</b></label>							
							            <h:outputText id="chuva" value="#{area.clima.chuva}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="rad" class="block"><b>Rad.(MJ/m<sup>2</sup>/d)</b></label>							
							            <h:outputText id="rad" value="#{area.clima.radiacao}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="eto" class="block"><b>ETo(mm/dia)</b></label>							
							            <h:outputText id="eto" value="#{area.clima.etoCalculado}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
								</h:panelGrid>
							</p:panel>
						</p:panel>
			        </p:column>  
			    </p:dataGrid>
			    </p:outputPanel>
				<p:outputPanel id="modoDistrito" rendered="#{!consultarEEquipamentosBean.porArea}">
				<p:dataGrid var="dist" value="#{consultarEEquipamentosBean.distritos}" columns="1" >  
			        <p:column>  
						<p:panel header="#{dist.nome}">
				            <h:panelGrid  columns="4">
           			            <h:outputLabel value="#{bundle.dataInicio}:" />
           			            <h:outputText value="#{dist.dataCadastro}" >
									<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
								</h:outputText>  
           			            <h:outputLabel value="#{bundle.localizacao}:" />
					            <h:outputText value="#{dist.localizacao}" />
				            </h:panelGrid>
							<p:tabView effect="slide" effectDuration="normal">
							   <p:tab title="#{bundle.bombas}" id="bomb2">  
						            <p:pieChart value="#{dist.graficoBomba}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.emissores}" id="emiss2">  
						            <p:pieChart value="#{dist.graficoEmissor}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
							      <p:tab title="#{bundle.filtros}" id="filt2">  
						            <p:pieChart value="#{dist.graficoFiltro}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.valvulas}" id="valv2">  
						            <p:pieChart value="#{dist.graficoValvula}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
							      <p:tab title="#{bundle.tubos}" id="tub2">  
						            <p:pieChart value="#{dist.graficoTubo}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
						    </p:tabView>				            
							<p:panel header="#{bundle.clima}">
								<h:panelGrid columns="4">
									<p:outputPanel>
										<label for="data" class="block"><b>#{bundle.data}</b></label>							
							            <h:outputText id="data" value="#{dist.clima.data}"  style="text-align:center;">
											<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMin" class="block"><b>#{bundle.tmin}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMin" value="#{dist.clima.tempMin}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMax" class="block"><b>#{bundle.tmax}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMax" value="#{dist.clima.tempMax}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="umidade" class="block"><b>#{bundle.umid}</b></label>							
							            <h:outputText id="umidade" value="#{dist.clima.umidadeMed}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="vento" class="block"><b>#{bundle.vent}</b></label>							
							            <h:outputText id="vento" value="#{dist.clima.vento}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="chuva" class="block"><b>#{bundle.chuva}</b></label>							
							            <h:outputText id="chuva" value="#{dist.clima.chuva}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="rad" class="block"><b>Rad.(MJ/m<sup>2</sup>/d)</b></label>							
							            <h:outputText id="rad" value="#{dist.clima.radiacao}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="eto" class="block"><b>ETo(mm/dia)</b></label>							
							            <h:outputText id="eto" value="#{dist.clima.etoCalculado}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
								</h:panelGrid>
							</p:panel>
						</p:panel>
			        </p:column>  
			    </p:dataGrid>
				</p:outputPanel>			    
			</div>
		</h:form>
	</ui:define>
</ui:composition>
