<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarDadosEMABean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmConsultarDados" styleClass="formularios box-border" prependId="false">
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.estacaoMet} - <h:outputText value="#{consultarDadosEMABean.estacao.nome}" />
				</div>
				<div class="botoes">
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{consultarDadosEMABean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="tabela-dados">
	            <h:panelGrid  columns="17" style="width:980px;">
					<label for="tipo" class="block"><b>#{bundle.mes}:</b></label>
					<h:selectOneMenu id="tipo" value="#{consultarDadosEMABean.mes}" title="#{bundle.selecioneMes}" style="width: 100px;">  
	           			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarDadosEMABean.meses}"  />
						<p:ajax update=":frmConsultarDados" event="change" process="@this" /> 
	        		</h:selectOneMenu>	
					<p:spacer width="10" height="10" />							
					<label for="ano" class="block"><b>#{bundle.ano}:</b></label>							
					<p:spinner id="ano" value="#{consultarDadosEMABean.ano}" min="1950" style="margin-right: 0px;" size="5" >
						<p:ajax update=":frmConsultarDados" process="@this" />  
           			</p:spinner>  							
					<p:spacer width="50" height="10" />							
					<label for="latitude"><b>#{bundle.latitude}:</b></label>							
					<h:outputText id="latitude" value="#{consultarDadosEMABean.estacao.latitude}"/>
					<p:spacer width="10" height="10" />							
					<label for="longitude"><b>#{bundle.longitude}:</b></label>
					<h:outputText id="longitude" value="#{consultarDadosEMABean.estacao.longitude}"/>							
					<p:spacer width="10" height="10" />
					<label for="altura"><b>#{bundle.altura}:</b></label>
					<h:outputText id="altura" value="#{consultarDadosEMABean.estacao.altitude}"/>							
					<p:spacer width="10" height="10" />
					<label for="data"><b>#{bundle.dataInicio}:</b></label>
		            <h:outputText value="#{consultarDadosEMABean.estacao.dataCadastro}" >
						<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
					</h:outputText>
				</h:panelGrid>
				<p:outputPanel rendered="#{consultarDadosEMABean.temGrafico}">
					<div class="span2 clear">
						<h:panelGrid columns="18" cellspacing="5" cellpadding="5">
							<h:selectBooleanCheckbox id="tMax" value="#{consultarDadosEMABean.tMax}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.tempMax}" style="text-align: right;"/>
							<h:selectBooleanCheckbox id="tMin" value="#{consultarDadosEMABean.tMin}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.tempMin}" style="text-align: right;"/>
							<h:selectBooleanCheckbox id="umidade" value="#{consultarDadosEMABean.humidade}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.umidade}" style="text-align: right;"/>
							<h:selectBooleanCheckbox id="vento" value="#{consultarDadosEMABean.vento}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.vento}" style="text-align: right;"/>
							<h:selectBooleanCheckbox id="radiacao" value="#{consultarDadosEMABean.radiacao}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.radiacao}" style="text-align: right;"/>
							<h:selectBooleanCheckbox id="chuva" value="#{consultarDadosEMABean.chuva}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.chuva}" style="text-align: right;"/>
							<h:selectBooleanCheckbox id="eto" value="#{consultarDadosEMABean.eto}">  
					            <p:ajax update="grafico" process="@this"/>  
					        </h:selectBooleanCheckbox>
				            <h:outputText value="#{bundle.eto}" style="text-align: right;"/>
			            </h:panelGrid>
					</div>
					<div class="clear">
						<p:lineChart legendPosition="se" id="grafico" value="#{consultarDadosEMABean.grafico}" enhancedLegend="true" showMarkers="true"/>
					</div>
				</p:outputPanel>
			</div>
		</h:form>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
	</ui:define>
</ui:composition>

