<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarEstacaoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarEstacao" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
				#{bundle.consultarEstacoes}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarEstacaoBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_ESTACAO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarEstacaoBean.estacao}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarEstacaoBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.nome}:" />  
						<p:inputText id="nome" value="#{consultarEstacaoBean.estacaoBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.estacao}" actionListener="#{consultarEstacaoBean.consultar}" ajax="true" update=":frmConsultarEstacao"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="estacao" value="#{consultarEstacaoBean.estacoes}" emptyMessage="#{bundle.estacaoNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column filterBy="#{estacao.distrito.nome}" sortBy="#{estacao.distrito.nome}" filterOptions="#{consultarEstacaoBean.distritos}"  headerText="#{bundle.distrito}" style="width:15%;text-align: left;" rendered="#{consultarEstacaoBean.multiDistrito}">  
				            <h:outputText value="#{estacao.distrito.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{estacao.nome}" headerText="#{bundle.nome}" style="width:15%;text-align: left;">  
				            <h:outputText value="#{estacao.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{estacao.localizacao}" headerText="#{bundle.localizacao}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{estacao.localizacao}" />  
				        </p:column>  
				        <p:column sortBy="#{estacao.dataCadastro}" headerText="#{bundle.dataInicio}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{estacao.dataCadastro}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:15%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarEstacaoBean.cadastro}" title="#{bundle.alterarEstacao}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_ESTACAO')}">  
				                <f:setPropertyActionListener value="#{estacao}" target="#{cadastrarEstacaoBean.estacao}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarEstacaoBean.operacao}" />
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarEstacaoBean.cadastro}" title="#{bundle.visualizarEstacao}">  
				                <f:setPropertyActionListener value="#{estacao}" target="#{cadastrarEstacaoBean.estacao}" />
				                <f:setPropertyActionListener value="VER" target="#{cadastrarEstacaoBean.operacao}" />
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirArea}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_ESTACAO')}">  
				                <f:setPropertyActionListener value="#{estacao}" target="#{consultarEstacaoBean.estacaoSelecionado}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-clima" action="#{consultarEstacaoBean.dados}" title="#{bundle.visualizarDadosEstacao}" rendered="#{LoginBean.anyGranted('ROLE_DADOS_ESTACAO')}">  
				                <f:setPropertyActionListener value="#{estacao}" target="#{consultarDadosEMABean.estacao}" />
				            </p:commandLink>
				            <p:commandLink styleClass="ui-icon ui-icon-importarClima" title="#{bundle.importarDadosEstacao}" action="#{consultarEstacaoBean.carregaEstacao(estacao)}" rendered="#{LoginBean.anyGranted('ROLE_IMPORTAR_CLIMA')}" oncomplete="ide.show()" update=":frmImportarEstacao"/>  
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirEstacao}" 
               header="#{bundle.exclusaoEstacao}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarEstacao" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarEstacaoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
		<ui:include src="../../paginas/distrito/importarDadosEstacao.xhtml"/>
	</ui:define>
</ui:composition>
