<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/locale-primefaces.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{monitorarFornecimentoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarFornecimento" styleClass="formularios box-border" prependId="false" enctype="multipart/form-data">
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
				#{bundle.monitorarFornecimento}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{monitorarFornecimentoBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_AGUA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarFornecimentoBean.aguas}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarFornecimentoBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.area}:" />
						<h:selectOneMenu id="area" value="#{monitorarFornecimentoBean.aguaBusca.irrigante.area}" title="#{bundle.selecioneAreaPesquisarAgua}" style="width: 120px;" converter="areaConverter" >
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue=""/>
	            			<f:selectItems var="area" itemLabel="#{area.nome}" itemValue="#{area}" value="#{monitorarFornecimentoBean.areas}" />
		        		</h:selectOneMenu>
				     	<p:spacer width="10" />
				     	<h:outputText value="#{bundle.dtInicial}:" />
						<p:calendar value="#{monitorarFornecimentoBean.aguaBusca.dataInicial}" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" maxlength="10" id="dateMask" />
						<p:spacer width="10" />
				   		<h:outputText value="#{bundle.periodo}:" />
						<p:calendar value="#{monitorarFornecimentoBean.aguaBusca.data}" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" maxlength="10" styleClass="dateMask" />
				     	<p:spacer width="10" />
				   		<h:outputText value="#{bundle.lote}:" />
						<p:inputText id="lote" value="#{monitorarFornecimentoBean.aguaBusca.irrigante.localizacao}" size="5" />
				     	<p:spacer width="10" />
				     	
			            <p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.consultarAgua}" actionListener="#{monitorarFornecimentoBean.consultar}" ajax="true" update=":frmConsultarFornecimento"/>
				   </p:fieldset>
				</div>
				<br />
				<p:dataTable id="tblAguas" var="agua" value="#{monitorarFornecimentoBean.aguas}" emptyMessage="#{bundle.fornecimentoNaoExiste}"
					paginator="true" rows="40" rowKey="#{agua.id}" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
					rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
                		rowsPerPageTemplate="5,10,15,40">  
			       
		            <p:column id="col0" sortBy="#{agua.periodo}" style="width:10%;text-align: left;" styleClass="filtroArea">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.periodo}" />
						</f:facet>  
			            <h:outputText value="#{agua.periodo}"/>  
			        </p:column>  
			         <p:column id="col1" sortBy="#{agua.irrigante.localizacao}" style="width:5%;text-align: left;" styleClass="filtroArea">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.lote}" />
						</f:facet>  
			            <h:outputText value="#{agua.irrigante.localizacao}"/>  
			        </p:column>  
			        <p:column id="col2"  sortBy="#{agua.dataInicial}" style="width:10%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.dataInicial}" />
						</f:facet>  
			            <h:outputText value="#{agua.dataInicial}">
							<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
						</h:outputText>  
			        </p:column> 
			        <p:column id="col3"  sortBy="#{agua.data}" style="width:10%;text-align: left;"> 
				        <f:facet name="header">
							<h:outputText value="#{bundle.dataApresentacao}" />
						</f:facet>  
			            <h:outputText value="#{agua.data}">
							<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
						</h:outputText>  
			        </p:column> 
			        <p:column style="width:10%">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.quantidade}(m³)" />
						</f:facet>  
			            <h:outputText value="#{agua.quantidade}" >  
			    			<f:convertNumber locale="pt_BR" minFractionDigits="0"/>
						</h:outputText>   
			        </p:column>  
			        <p:column style="width:5%;text-align: left;" >  
				        <f:facet name="header">
							<h:outputText value="#{bundle.leituraAnterior}" />
						</f:facet>  
			            <h:outputText value="#{agua.leituraanterior}" >  
			    			<f:convertNumber locale="pt_BR" minFractionDigits="0"/>
						</h:outputText>   
			        </p:column> 
			        <p:column style="width:5%;text-align: left;" >  
				        <f:facet name="header">
							<h:outputText value="#{bundle.leituraAtual}" />
						</f:facet>  
			            <h:outputText value="#{agua.leituraatual}" >  
			    			<f:convertNumber locale="pt_BR" minFractionDigits="0"/>
						</h:outputText>   
			        </p:column> 
			        <p:column style="width:5%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.et}" />
						</f:facet>  
			            <h:outputText value="#{agua.et}" >  
			    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</h:outputText>   
			        </p:column> 
			        <p:column style="width:5%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.irr}" />
						</f:facet>  
			            <h:outputText value="#{agua.irr}" >  
			    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</h:outputText>
					</p:column>
			        <p:column style="width:5%;text-align: left;">  
				        <f:facet name="header">
							<h:outputText value="#{bundle.fri}" />
						</f:facet>  
			            <h:outputText value="#{agua.fri}" >  
			    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						</h:outputText>
					</p:column>
			        <p:column headerText="#{bundle.opcao}" style="width:25%" styleClass="ui_botoes_grid"> 
			            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{monitorarFornecimentoBean.cadastro}" title="#{bundle.alterarAgua}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_AGUA')}">  
			                <f:setPropertyActionListener value="#{agua}" target="#{cadastrarFornecimentoBean.aguaSelecionada}" />
		 	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarFornecimentoBean.operacao}" />  
			            </p:commandLink>  				         
			            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{monitorarFornecimentoBean.cadastro}" title="#{bundle.visualizarAgua}">  
			                <f:setPropertyActionListener value="#{agua}" target="#{cadastrarFornecimentoBean.aguaSelecionada}" />
			                <f:setPropertyActionListener value="VER" target="#{cadastrarFornecimentoBean.operacao}" />  
			            </p:commandLink>  				         
			            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirAgua}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_AGUA')}">  
			                <f:setPropertyActionListener value="#{agua}" target="#{monitorarFornecimentoBean.aguaSelecionada}" />
			            </p:commandLink>  				         
			        </p:column>  
					   
				</p:dataTable>
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirAgua}"  
               header="#{bundle.exclusaoAgua}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarFornecimento" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{monitorarFornecimentoBean.excluir}"/>
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />
		    </p:confirmDialog>
				<script type="text/javascript">
					// Transforma em maiúscula
					function strToUpper(texto){       
					    //para usar onkeyup="strToUpper(this)"      
					    texto.value = texto.value.toUpperCase();      
					}
					
					/*
					jQuery(document).ready(function($){
						$("#dateMask").mask("99/99/9999");
					});
					*/
			</script>
 		 </h:form>
	</ui:define>
</ui:composition>
