<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/> 
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarAreaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarArea" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarArea}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarAreaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_AREA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarAreaBean.area}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarAreaBean.operacao}" />  
					</p:commandButton>
					<p:commandButton id="btImportar" value="#{bundle.importarClima}" action="#{importarClimaBean.carregar}" styleClass="btn primary" oncomplete="ic.show()" rendered="#{LoginBean.anyGranted('ROLE_IMPORTAR_CLIMA')}" update=":frmImportarClima" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
					<p:outputPanel id="consulta">
						<div class="span2 clear">
					   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
					   		<h:outputText value="#{bundle.nome}:" />  
							<p:inputText id="nome" value="#{consultarAreaBean.areaBusca.nome}" />  
						    <p:spacer width="10" />
					     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.area}" actionListener="#{consultarAreaBean.consultar}" ajax="true" update=":frmConsultarArea"/>  
					   </p:fieldset>
					</div>
					<br />
					<p:dataTable var="area" value="#{consultarAreaBean.areas}" emptyMessage="#{bundle.areaNaoExiste}"
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <!-- 
				        <p:column sortBy="#{area.distrito.nome}" headerText="#{bundle.distrito}" style="width:10%;text-align: left;" rendered="#{consultarAreaBean.multiDistrito}">  
				            <h:outputText value="#{area.distrito.nome}" />  
				        </p:column>  
				        -->
				        <p:column sortBy="#{area.nome}" headerText="#{bundle.nome}" style="width:15%;text-align: left;">  
				            <h:outputText value="#{area.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{area.localizacao}" headerText="#{bundle.localizacao}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{area.localizacao}" />  
				        </p:column>  
				        <p:column sortBy="#{area.areaTotal}" headerText="#{bundle.areaTotal}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{area.areaTotal}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column sortBy="#{area.areaIrrigada}" headerText="#{bundle.areaIrrigada}" style="width:10%;text-align: right;">  
				            <h:outputText value="#{area.areaIrrigada}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>   
				        </p:column>  
				        <p:column sortBy="#{area.dataCadastro}" headerText="#{bundle.dataInicio}" style="width:10%;text-align: center;">  
				            <h:outputText value="#{area.dataCadastro}" >
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:15%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarAreaBean.cadastro}" title="#{bundle.alterarArea}">  
				                <f:setPropertyActionListener value="#{area}" target="#{cadastrarAreaBean.area}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarAreaBean.operacao}" />  
				            </p:commandLink>  	
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarAreaBean.cadastro}" title="#{bundle.visualizarArea}">  
				                <f:setPropertyActionListener value="#{area}" target="#{cadastrarAreaBean.area}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarAreaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirArea}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_AREA')}">  
				                <f:setPropertyActionListener value="#{area}"  
				                    target="#{consultarAreaBean.areaSelecionado}" />  
				            </p:commandLink>  	
				            <p:commandLink styleClass="ui-icon ui-icon-clima" action="#{consultarAreaBean.clima}" title="#{bundle.verClima}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_CLIMA')}">  
				                <f:setPropertyActionListener value="#{area}" target="#{cadastrarClimaBean.area}" />  
				                <f:setPropertyActionListener value="#{area}" target="#{consultarClimaBean.area}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirArea}" 
               header="#{bundle.exclusaoArea}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarArea" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarAreaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
		<ui:include src="../../paginas/distrito/importarClima.xhtml"/>
	</ui:define>
</ui:composition>
