<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarEDistritoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarEDistrito" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarEstatDistrito}
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
				<div class="span2 clear">
					<h:outputLabel for="area">#{bundle.porArea}</h:outputLabel>
					<h:selectBooleanCheckbox  id="area" value="#{consultarEDistritoBean.porArea}" onchange="$('#frmConsultarEDistrito').submit()">  
			            <p:ajax update=":frmConsultarEDistrito" />  
			        </h:selectBooleanCheckbox> 					
				</div>
				<p:outputPanel id="modoArea" rendered="#{consultarEDistritoBean.porArea}">
				<p:dataGrid var="area" value="#{consultarEDistritoBean.areas}" columns="2" >  
			        <p:column>  
						<p:panel header="#{area.nome}" styleClass="pnlGraficoArea">
				            <h:panelGrid  columns="4">
           			            <h:outputLabel value="#{bundle.dataInicio}:" />
           			            <h:outputText value="#{area.dataCadastro}" >
									<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
								</h:outputText>  
           			            <h:outputLabel value="#{bundle.localizacao}:" />
					            <h:outputText value="#{area.localizacao}" />
				            </h:panelGrid>
							<p:tabView effect="slide" effectDuration="normal">  
							    <p:tab title="#{bundle.areaIrrigada}" id="area">  
						            <p:pieChart value="#{area.graficoIrrigacao}" legendPosition="ne" sliceMargin="5" seriesColors="216976, 66cc66, 93b75f, E7E658, 81c9d6" />
							    </p:tab>
							    <p:tab title="#{bundle.plantios}" id="cultura">  
						            <p:pieChart value="#{area.graficoCultura}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.areaCultivada}" id="areaCultivada">  
						            <p:pieChart value="#{area.graficoCulturasPorHa}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.solos}" id="solo">  
						            <p:pieChart value="#{area.graficoSolo}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.atividades}" id="ativ">  
						            <p:pieChart value="#{area.graficoAtividade}" legendPosition="ne" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.irrigantes}" id="irrig">  
						            <p:pieChart value="#{area.graficoIrrigante}" legendPosition="ne" sliceMargin="5" />
							    </p:tab>
						    </p:tabView>				            
							<p:panel header="#{bundle.clima}" styleClass="pnlClimaArea">
								<h:panelGrid columns="4">
									<p:outputPanel>
										<label for="data" class="block"><b>#{bundle.data}</b></label>							
							            <h:outputText id="data" value="#{area.clima.data}"  style="text-align:center;">
											<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMin" class="block"><b>#{bundle.tmin}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMin" value="#{area.clima.tempMin}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMax" class="block"><b>#{bundle.tmax}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMax" value="#{area.clima.tempMax}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="umidade" class="block"><b>#{bundle.umid}</b></label>							
							            <h:outputText id="umidade" value="#{area.clima.umidadeMed}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="vento" class="block"><b>#{bundle.vent}</b></label>							
							            <h:outputText id="vento" value="#{area.clima.vento}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="chuva" class="block"><b>#{bundle.chuva}</b></label>							
							            <h:outputText id="chuva" value="#{area.clima.chuva}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="rad" class="block"><b>Rad.(MJ/m<sup>2</sup>/d)</b></label>							
							            <h:outputText id="rad" value="#{area.clima.radiacao}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="eto" class="block"><b>ETo(mm/dia)</b></label>							
							            <h:outputText id="eto" value="#{area.clima.etoCalculado}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
								</h:panelGrid>
							</p:panel>
						</p:panel>
			        </p:column>  
			    </p:dataGrid>
			    </p:outputPanel>
				<p:outputPanel id="modoDistrito" rendered="#{!consultarEDistritoBean.porArea}">
				<p:dataGrid var="dist" value="#{consultarEDistritoBean.distritos}" columns="1" >  
			        <p:column>  
						<p:panel header="#{dist.nome}" styleClass="pnlGraficoDistrito">
				            <h:panelGrid  columns="4">
           			            <h:outputLabel value="#{bundle.dataInicio}:" />
           			            <h:outputText value="#{dist.dataCadastro}" >
									<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
								</h:outputText>  
           			            <h:outputLabel value="#{bundle.localizacao}:" />
					            <h:outputText value="#{dist.localizacao}" />
				            </h:panelGrid>
							<p:tabView effect="slide" effectDuration="normal">
							    <p:tab title="#{bundle.areaIrrigada}" id="area2">  
						            <p:pieChart value="#{dist.graficoIrrigacao}" legendPosition="ne" style="width:500px;" sliceMargin="5" seriesColors="216976, 66cc66, 93b75f, E7E658, 81c9d6"/>
							    </p:tab>
							    <p:tab title="#{bundle.culturaUn}" id="cultura2">  
						            <p:pieChart value="#{dist.graficoCultura}" legendPosition="ne" style="width:500px;" sliceMargin="5" />
							    </p:tab>
							    <p:tab title="#{bundle.culturaHa}" id="areaCultivada2">
						            <p:pieChart value="#{dist.graficoCulturasPorHa}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.solos}" id="solo2">  
						            <p:pieChart value="#{dist.graficoSolo}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.atividades}" id="ativ2">  
						            <p:pieChart value="#{dist.graficoAtividade}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
							    <p:tab title="#{bundle.irrigantes}" id="irrig2">  
						            <p:pieChart value="#{dist.graficoIrrigante}" legendPosition="ne" style="width:500px;" sliceMargin="5"/>
							    </p:tab>
						    </p:tabView>				            
							<p:panel header="#{bundle.clima}" styleClass="pnlClimaDistrito">
								<h:panelGrid columns="4">
									<p:outputPanel>
										<label for="data2" class="block"><b>#{bundle.data}</b></label>							
							            <h:outputText id="data2" value="#{dist.clima.data}"  style="text-align:center;">
											<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMin2" class="block"><b>#{bundle.tmin}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMin2" value="#{dist.clima.tempMin}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="tempMax2" class="block"><b>#{bundle.tmax}(<sup>o</sup>C)</b></label>							
							            <h:outputText id="tempMax2" value="#{dist.clima.tempMax}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="umidade2" class="block"><b>#{bundle.umid}</b></label>							
							            <h:outputText id="umidade2" value="#{dist.clima.umidadeMed}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="vento2" class="block"><b>#{bundle.vent}</b></label>							
							            <h:outputText id="vento2" value="#{dist.clima.vento}" >
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="0"/>
										</h:outputText>
									</p:outputPanel>     
									<p:outputPanel>
										<label for="chuva2" class="block"><b>#{bundle.chuva}</b></label>							
							            <h:outputText id="chuva2" value="#{dist.clima.chuva}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
								<p:outputPanel>
										<label for="rad2" class="block"><b>Rad.(MJ/m<sup>2</sup>/d)</b></label>							
							            <h:outputText id="rad2" value="#{dist.clima.radiacao}" >  
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>   
									</p:outputPanel>     
									<p:outputPanel>
										<label for="eto2" class="block"><b>ETo(mm/dia)</b></label>							
							            <h:outputText id="eto2" value="#{dist.clima.etoCalculado}"  style="text-align:center;">
							    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
										</h:outputText>
									</p:outputPanel>     
								</h:panelGrid>
							</p:panel>
						</p:panel>
			        </p:column>  
			    </p:dataGrid>
				</p:outputPanel>			    
			</div>
		</h:form>
	</ui:define>
</ui:composition>
