<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmImportarCoordenadas" >
		<p:dialog id="modalDialogImportarClima" header="#{bundle.importarCoordenadas}" widgetVar="ic" modal="true" height="150" width="260" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<h:panelGrid columns="2">
				<p:fileUpload fileUploadListener="#{importarCoordenadasBean.importarCoordenadas}" rendered="#{LoginBean.anyGranted('ROLE_IMPORTAR_CLIMA')}"
		            mode="advanced" showButtons="true" label="#{bundle.importarCoordenadas}"  oncomplete="ic.hide()"
		            auto="true"  
		            sizeLimit="100000000"   
		            allowTypes="/(\.|\/)(kml|dat|html)$/"/>				
	       		<p:commandButton value="#{bundle.cancelar}" onclick="ic.hide()" type="button" styleClass="btn cancel" />
 			</h:panelGrid>
 		</p:dialog>
	</h:form>
</html>

