<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmImportarClima" >
		<p:dialog id="modalDialogImportarClima" header="#{bundle.importarClima}" widgetVar="ic" modal="true" height="150" width="260" >  
			<p:messages id="msg" showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="span2 clear">
				<label for="estacao" class="block"><b>#{bundle.estacao}:</b></label>
				<h:selectOneMenu id="estacao" value="#{importarClimaBean.estacao}" converter="estacaoConverter" title="#{bundle.selecioneEstacaoEspecifica}" style="width: 205px;" >  
           			<f:selectItems var="estacao" itemLabel="#{estacao.nome}" itemValue="#{estacao}" value="#{importarClimaBean.estacoes}"  />
					<p:ajax process="@this" /> 
        		</h:selectOneMenu>							
			</div>
			<br />
			<br />
			<h:panelGrid columns="2">
				<p:fileUpload fileUploadListener="#{importarClimaBean.importarClima}" rendered="#{LoginBean.anyGranted('ROLE_IMPORTAR_CLIMA')}"
		            mode="advanced" showButtons="true" label="#{bundle.importarClima}"  oncomplete="ic.hide()"
		            auto="true"  
		            sizeLimit="20000000"   
		            allowTypes="/(\.|\/)(dat|html|csv|CSV)$/"/> 				
	       		<p:commandButton value="#{bundle.cancelar}" onclick="ic.hide()" type="button" styleClass="btn cancel" />
 			</h:panelGrid>
 		</p:dialog>
	</h:form>
</html>

