<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarAtividadeBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarAtividade" styleClass="formularios box-border" prependId="false">

			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroAtividade}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" action="#{cadastrarAtividadeBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarAtividade" process="@form" ajax="false" rendered="#{cadastrarAtividadeBean.operacao ne 'VER'}">
		                <f:setPropertyActionListener value="#{cadastrarAtividadeBean.atividade}" target="#{cadastrarCulturaBean.atividade}" />  
					</p:commandButton>    
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarAtividadeBean.voltar}" styleClass="btn primary" immediate="true" ajax="false"/>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" 	id="nome" required="true" requiredMessage="#{bundle.descricaoObrigatorio}" title="#{bundle.nomeAtividade}" maxlength="255" value="#{cadastrarAtividadeBean.atividade.nome}" size="80" disabled="#{cadastrarAtividadeBean.operacao eq 'VER'}"/>
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
