<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarFabricanteBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarFabricante" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroFabricante}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" action="#{cadastrarFabricanteBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarFabricante" process="@form" rendered="#{cadastrarFabricanteBean.operacao ne 'VER'}">
		                <f:setPropertyActionListener value="" target="#{cadastrarBombaBean.fabricantes}" />  
		                <f:setPropertyActionListener value="" target="#{cadastrarEmissorBean.fabricantes}" />  
		                <f:setPropertyActionListener value="" target="#{cadastrarFiltroBean.fabricantes}" />  
		                <f:setPropertyActionListener value="#{cadastrarFabricanteBean.fabricante}" target="#{cadastrarBombaBean.fabricante}" />  
		                <f:setPropertyActionListener value="#{cadastrarFabricanteBean.fabricante}" target="#{cadastrarEmissorBean.fabricante}" />  
		                <f:setPropertyActionListener value="#{cadastrarFabricanteBean.fabricante}" target="#{cadastrarFiltroBean.fabricante}" /> 
					</p:commandButton>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarFabricanteBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{cadastrarBombaBean.fabricantes}" />  
		                <f:setPropertyActionListener value="" target="#{cadastrarEmissorBean.fabricantes}" />  
		                <f:setPropertyActionListener value="" target="#{cadastrarFiltroBean.fabricantes}" /> 
					</p:commandButton>  
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarFabricanteBean.fabricante.nome}" size="80" disabled="#{cadastrarFabricanteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="solo" class="block"><b>#{bundle.tipoFabricante}:</b></label>							
							<h:selectOneMenu id="solo" value="#{cadastrarFabricanteBean.fabricante.tipoFabricante}" title="#{bundle.selecioneTipoFabricante}" style="width: 189px;" disabled="#{cadastrarFabricanteBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarFabricanteBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="62" rows="5" autoResize="false" maxlength="800" value="#{cadastrarFabricanteBean.fabricante.observacao}" disabled="#{cadastrarFabricanteBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
