<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarTuboBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarTubo" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroTubo}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarTuboBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarTubo" process="@form" rendered="#{cadastrarTuboBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarTuboBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="fabricante" class="block"><b>#{bundle.fabricante}:</b></label>							
							<h:selectOneMenu id="fabricante" value="#{cadastrarTuboBean.tubo.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricante}" style="width: 189px;" disabled="#{cadastrarTuboBean.operacao eq 'VER'}">  
		            			<f:selectItems var="fabricante" itemLabel="#{fabricante.nome}" itemValue="#{fabricante}" value="#{cadastrarTuboBean.fabricantes}"  />
			        		</h:selectOneMenu>							
							<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{cadastrarTuboBean.novoFabricante}" styleClass="btn small" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_FABRICANTE')}" process="@form" disabled="#{cadastrarTuboBean.operacao eq 'VER'}">
				                <f:setPropertyActionListener value="true" target="#{cadastrarFabricanteBean.cadastroTubo}" />  
								<f:setPropertyActionListener value="" target="#{cadastrarFabricanteBean.fabricante}" />  
							</p:commandButton>  
						</div>
						<div class="span2 clear">
							<label for="modelo" class="block"><b>#{bundle.modelo}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" style="width:415px;" id="modelo" required="true" requiredMessage="#{bundle.modeloObrigatorio}" title="#{bundle.modelo}" maxlength="255" value="#{cadastrarTuboBean.tubo.modelo}" size="80" disabled="#{cadastrarTuboBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="tipo" class="block"><b>#{bundle.tipoTubo}:</b></label>							
							<h:selectOneMenu id="tipo" value="#{cadastrarTuboBean.tubo.tipo}" title="#{bundle.selecioneTipoTubo}" style="width: 189px;" disabled="#{cadastrarTuboBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarTuboBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
					    <div class="span2 clear">
							<label for="vazao" class="block"><b>#{bundle.vazao}(m<sup>3</sup>/h):</b></label>
				            <p:inputText id="vazao" styleClass="money" value="#{cadastrarTuboBean.tubo.vazao}" size="15" disabled="#{cadastrarTuboBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="pressao" class="block"><b>#{bundle.pressao}(Kgf/cm<sup>2</sup>):</b></label>
				            <p:inputText id="pressao" styleClass="money" value="#{cadastrarTuboBean.tubo.pressao}" size="15" disabled="#{cadastrarTuboBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</p:inputText>  
						</div>
							<div class="span2">
							<label for="diametrointerno" class="block"><b>#{bundle.diametroInterno}:</b></label>
				            <p:inputText id="diametrointerno" styleClass="money" value="#{cadastrarTuboBean.tubo.diametrointerno}" size="15" disabled="#{cadastrarTuboBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</p:inputText>  
						</div>
							<div class="span2">
							<label for="diametroexterno" class="block"><b>#{bundle.diametroExterno}:</b></label>
				            <p:inputText id="diametroexterno" styleClass="money" value="#{cadastrarTuboBean.tubo.diametroexterno}" size="15" disabled="#{cadastrarTuboBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</p:inputText>  
						</div>
					</div>
				</div>
			</div>				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
