<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarEmissorBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarEmissor" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroEmissor}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarEmissorBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarEmissor" process="@form" rendered="#{cadastrarEmissorBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarEmissorBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="fabricante" class="block"><b>#{bundle.fabricante}:</b></label>							
							<h:selectOneMenu id="fabricante" value="#{cadastrarEmissorBean.emissor.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricante}" style="width: 189px;" disabled="#{cadastrarEmissorBean.operacao eq 'VER'}">  
		            			<f:selectItems var="fabricante" itemLabel="#{fabricante.nome}" itemValue="#{fabricante}" value="#{cadastrarEmissorBean.fabricantes}"  />
			        		</h:selectOneMenu>
							<p:outputPanel rendered="#{cadastrarEmissorBean.operacao ne 'VER'}">
								<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{cadastrarEmissorBean.novoFabricante}" styleClass="btn small" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_FABRICANTE')}" process="@form">
									<f:setPropertyActionListener value="" target="#{cadastrarFabricanteBean.fabricante}" />  
					                <f:setPropertyActionListener value="true" target="#{cadastrarFabricanteBean.cadastroEmissor}" />  
								</p:commandButton>
							</p:outputPanel>  
						</div>
						<div class="span2">
							<label for="tipo" class="block"><b>#{bundle.tipo}:</b></label>							
							<h:selectOneMenu id="tipo" value="#{cadastrarEmissorBean.emissor.tipoEmissor}" title="#{bundle.selecioneTipo}" style="width: 130px;margin-top:8px;" disabled="#{cadastrarEmissorBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarEmissorBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="modelo"><b>#{bundle.modelo}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" style="width:380px;" id="modelo" title="#{bundle.modelo}" required="true" requiredMessage="#{bundle.modeloObrigatorio}." maxlength="255" value="#{cadastrarEmissorBean.emissor.modelo}" size="80" disabled="#{cadastrarEmissorBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="vazao" class="block"><b>#{bundle.vazaolh}:</b></label>
				            <p:inputText style="width:180px;" id="vazao" styleClass="money" value="#{cadastrarEmissorBean.emissor.vazao}" size="30" disabled="#{cadastrarEmissorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="pressao" class="block"><b>#{bundle.pressao}(Kgf/cm<sup>2</sup>):</b></label>
				            <p:inputText style="width:180px;" id="pressao" styleClass="money" value="#{cadastrarEmissorBean.emissor.pressao}" size="30" disabled="#{cadastrarEmissorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="raio" class="block"><b>#{bundle.diametro}:</b></label>
				            <p:inputText style="width:180px;" id="raio" styleClass="money" value="#{cadastrarEmissorBean.emissor.raio}" size="30" disabled="#{cadastrarEmissorBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
					</div>
				</div>
			</div>				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
