<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarReferenciaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarReferencia" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroReferencia}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarReferenciaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarReferencia" process="@form" rendered="#{cadastrarReferenciaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarReferenciaBean.voltar}" styleClass="btn primary" immediate="true" />
					<p:commandButton id="btAdicionar" actionListener="#{cadastrarReferenciaBean.maisEstadio}" value="+ #{bundle.estadios}" styleClass="btn primary" process="@form" update=":frmCadastrarReferencia" rendered="#{cadastrarReferenciaBean.operacao ne 'VER'}"/>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="autor"><b>#{bundle.autor}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" required="true" id="autor" requiredMessage="#{bundle.autorObrigatorio}" title="#{bundle.autor}" maxlength="255" value="#{cadastrarReferenciaBean.referencia.autor}" size="70" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="ano"><b>#{bundle.ano}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" required="true" id="ano" requiredMessage="#{bundle.anoObrigatorio}" title="#{bundle.ano}" maxlength="255" value="#{cadastrarReferenciaBean.referencia.ano}" size="10" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="coautor" class="block"><b>#{bundle.coautor}</b></label>
							<h:selectBooleanCheckbox id="coautor" title="CoAutor" value="#{cadastrarReferenciaBean.referencia.coautor}"  disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>
							<h:outputLabel for="coautor">CoAutor</h:outputLabel>
						</div>
							
						<div class="span2 clear">
							<label for="cultura"><b>#{bundle.cultura}:</b></label><label class="label-required">*</label>
							<h:selectOneMenu styleClass="block" id="cultura" value="#{cadastrarReferenciaBean.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaKC}" style="width: 189px;" required="true" requiredMessage="#{bundle.culturaObrigatorio}" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">  
		            			<f:selectItem itemLabel="#{bundle.escolhaCultura}" itemValue="" />  
            					<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{cadastrarReferenciaBean.culturas}"  />
								<p:ajax update="variedade refCopia" listener="#{cadastrarReferenciaBean.carregarVariedades}" process="@this" /> 
	        				</h:selectOneMenu>							
						</div>
						<div class="span2">
							<label for="variedade"><b>#{bundle.variedade}:</b></label><label class="label-required">*</label>
							<h:selectOneMenu styleClass="block" id="variedade" required="true" requiredMessage="#{bundle.variedadeObrigatorioSerInformada}" value="#{cadastrarReferenciaBean.referencia.variedade}" converter="variedadeConverter" title="#{bundle.selecioneVariedadeCultivo}" style="width: 189px;" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">  
	        		    		<f:selectItem itemLabel="#{bundle.escolhaVariedade}" itemValue="" />  
           						<f:selectItems var="variedade" itemLabel="#{variedade.nome}" itemValue="#{variedade}" value="#{cadastrarReferenciaBean.variedades}"  />
        					</h:selectOneMenu>							
						</div>
						<div class="span2">
							<p:outputPanel rendered="#{cadastrarReferenciaBean.operacao ne 'VER'}">
								<label for="refCopia" class="block"><b>#{bundle.copiarReferencia}:</b></label>							
								<h:selectOneMenu id="refCopia" value="#{cadastrarReferenciaBean.refCopia}" converter="referenciaConverter" title="#{bundle.selecioneRef}" rendered="#{cadastrarReferenciaBean.operacao ne 'VER'}" >  
					            	<f:selectItem itemLabel="#{bundle.escolhaReferencia}" itemValue="" />  
			            			<f:selectItems var="ref" itemLabel="#{ref.autor} - #{ref.variedade.nome}" itemValue="#{ref}" value="#{cadastrarReferenciaBean.referencias}"  />
									<p:ajax update=":frmCadastrarReferencia" listener="#{cadastrarReferenciaBean.carregarReferencia}" process="@this" /> 
				        		</h:selectOneMenu>							
							</p:outputPanel>
						</div>
						
						<div class="span2 clear">
							<label for="tipo" class="block"><b>#{bundle.tipoMetodKcEto}:</b></label>							
							<h:selectOneMenu id="tipo" value="#{cadastrarReferenciaBean.referencia.tipoMetodologiaETo}" title="#{bundle.selecioneMetodo}" style="width: 160px;" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarReferenciaBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
	
						<div class="span2">
							<label for="tipo2" class="block"><b>#{bundle.tipoMetodKcEtc}:</b></label>							
							<h:selectOneMenu id="tipo2" value="#{cadastrarReferenciaBean.referencia.tipoMetodologiaETc}" title="#{bundle.selecioneMetodo}" style="width: 160px;" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarReferenciaBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
	
						<div class="span2 clear">
							<label for="cidade" class="block"><b>#{bundle.cidadePesquisa}:</b></label>
							<p:inputMask id="cidade"  maxlength="255" value="#{cadastrarReferenciaBean.referencia.cidadep}" size="24" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="estado" class="block"><b>#{bundle.estadoPesquisa}:</b></label>
							<p:inputMask id="estado"  maxlength="255" value="#{cadastrarReferenciaBean.referencia.estadop}" size="24" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>							
						</div>
	
						<div class="span2">
							<label for="pais" class="block"><b>#{bundle.paísPesquisa}:</b></label>
							<p:inputMask id="pais" maxlength="255" value="#{cadastrarReferenciaBean.referencia.paisp}" size="24" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>							
						</div>
						
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="80" rows="3" autoResize="false" maxlength="800" value="#{cadastrarReferenciaBean.referencia.observacao}" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}" />							
						</div>
						<p:outputPanel id="estadios">
							<div class="span2 clear">
								<label for="estadios" class="block"><b>#{bundle.estadios}:</b></label>
								<p:dataTable var="estadio" value="#{cadastrarReferenciaBean.referencia.estadios}" emptyMessage="#{bundle.estadioNaoExiste}"
									rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  
							        <p:column headerText="#{bundle.ordem}" style="width:7%;text-align: left;">  
							            <p:inputMask id="ordem" value="#{estadio.ordem}" mask="?99" size="1" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>
							        </p:column>  
							        <p:column headerText="#{bundle.fase}" style="width:20%;text-align: left;">  
										<h:selectOneMenu id="fase" value="#{estadio.fase}" title="#{bundle.selecioneFase}" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">  
					            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarReferenciaBean.fases}"  />
						        		</h:selectOneMenu>							
							        </p:column>  
							        <p:column headerText="#{bundle.qtdDias}" style="width:7%;text-align: left;">  
							            <p:inputMask id="qtdDias" value="#{estadio.qtdDias}" mask="?9999" size="1" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}"/>
							        </p:column>  
							        <p:column headerText="#{bundle.kc}" style="width:7%;text-align: right;">  
							            <p:inputText styleClass="money" value="#{estadio.kc}" size="3" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">
							            	<f:validateLength maximum="15"/>
											<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
										</p:inputText>  
							        </p:column>  
							        <p:column headerText="#{bundle.diametroCopa}" style="width:7%;text-align: right;">  
							            <p:inputText styleClass="money" value="#{estadio.diametroCopa}" size="3" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">
							            	<f:validateLength maximum="15"/>
											<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
										</p:inputText>  
							        </p:column>  
							        <p:column headerText="#{bundle.profRadicular}" style="width:7%;text-align: right;">  
							            <p:inputText styleClass="money" value="#{estadio.profundidadeRaiz}" size="3" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">
							            	<f:validateLength maximum="15"/>
											<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
										</p:inputText>  
							        </p:column>  
							        <p:column headerText="#{bundle.esgotamento}" style="width:7%;text-align: right;">  
							            <p:inputText styleClass="money" value="#{estadio.esgotamento}" size="3" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">
							            	<f:validateLength maximum="15"/>
											<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
										</p:inputText>  
							        </p:column>  
							        <p:column headerText="#{bundle.fRendimento}" style="width:7%;text-align: right;">  
							            <p:inputText styleClass="money" value="#{estadio.fatorRendimento}" size="3" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">
							            	<f:validateLength maximum="15"/>
											<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
										</p:inputText>  
							        </p:column>  
							        <p:column headerText="#{bundle.altura}" style="width:7%;text-align: right;">  
							        	<p:inputText styleClass="money" value="#{estadio.alturaFruta}" size="5" disabled="#{cadastrarReferenciaBean.operacao eq 'VER'}">
							            	<f:validateLength maximum="15"/>
											<f:convertNumber locale="pt_BR" minFractionDigits="3"/>
										</p:inputText>  
							        </p:column> 
							        <p:column headerText="#{bundle.poda}" style="width:7%;text-align: right;">  
										<h:selectBooleanCheckbox id="poda" value="#{estadio.poda}"/>  
							        </p:column> 
							        <p:column headerText="#{bundle.posPoda}" style="width:7%;text-align: right;">  
										<h:selectBooleanCheckbox id="posPoda" value="#{estadio.posPoda}"/>  
							        </p:column> 
							        <p:column headerText="#{bundle.opcao}" style="width:10%" rendered="#{cadastrarReferenciaBean.operacao ne 'VER'}" styleClass="ui_botoes_grid"> 
							            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirEstadio}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_ESTADIO')}">  
							                <f:setPropertyActionListener value="#{estadio}" target="#{cadastrarReferenciaBean.estadioSelecionado}" />  
							            </p:commandLink>  				         
							        </p:column>  
								</p:dataTable>
							</div>
						</p:outputPanel>	
					</div>
				</div>	
			</div>
			
			<p:confirmDialog message="#{bundle.certezaExcluirEstadio}" 
               header="#{bundle.exclusaoEstadio}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmCadastrarReferencia" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{cadastrarReferenciaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>





