<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarSoloBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarSolo" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroSolo}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarSoloBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarSolo" process="@form" rendered="#{cadastrarSoloBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarSoloBean.voltar}" styleClass="btn primary" immediate="true" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" style="width:180px" required="true" id="nome" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nome}" maxlength="255" value="#{cadastrarSoloBean.solo.nome}" size="20" disabled="#{cadastrarSoloBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="solo" class="block"><b>#{bundle.tipoSolo}:</b></label>							
							<h:selectOneMenu id="solo" value="#{cadastrarSoloBean.solo.tipoSolo}" title="#{bundle.selecioneTipoSolo}" style="width: 189px;" disabled="#{cadastrarSoloBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarSoloBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="cc" class="block"><b>#{bundle.capacidadeCampo}:</b></label>
				            <p:inputText style="width:180px" id="cc" styleClass="money" value="#{cadastrarSoloBean.solo.cc}" size="10" disabled="#{cadastrarSoloBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="pmp" class="block"><b>#{bundle.pontoMurchaPerm}:</b></label>
				            <p:inputText style="width:180px" id="pmp" styleClass="money" value="#{cadastrarSoloBean.solo.pmp}" size="10" disabled="#{cadastrarSoloBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="infilt" class="block"><b>#{bundle.maxInfiltChuva}:</b></label>
				            <p:inputText id="infilt" styleClass="money" value="#{cadastrarSoloBean.solo.maxTaxaInfiltracaoChuva}" size="10" disabled="#{cadastrarSoloBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2 clear">
							<label for="massaSolo" class="block"><b>#{bundle.massaSolo}:</b></label>
				            <p:inputText style="width:180px" id="massaSolo" styleClass="money" value="#{cadastrarSoloBean.solo.massaSolo}" size="10" disabled="#{cadastrarSoloBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="esgotamento" class="block"><b>#{bundle.esgotUmidInicial}:</b></label>
				            <p:inputText style="width:180px" id="esgotamento" styleClass="money" value="#{cadastrarSoloBean.solo.esgotamento}" size="10" disabled="#{cadastrarSoloBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
						<div class="span2">
							<label for="umidadeInicial" class="block"><b>#{bundle.umidadeInicial}:</b></label>
				            <p:inputText id="umidadeInicial" styleClass="money" value="#{cadastrarSoloBean.solo.umidadeInicial}" size="10" disabled="#{cadastrarSoloBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
					</div>
				</div>
			</div>				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
