<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarVariedadeBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarVariedade" styleClass="formularios box-border" prependId="false">

			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
        			#{bundle.cadastroVariedade}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarVariedadeBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarVariedade" process="@form" rendered="#{cadastrarVariedadeBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarVariedadeBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarVariedadeBean.variedades}" />  
					</p:commandButton>    
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="cultura" class="block"><b>#{bundle.cultiva}:</b></label>							
							<h:selectOneMenu id="cultura" value="#{cadastrarVariedadeBean.variedade.cultura}" converter="culturaConverter" title="#{bundle.selecioneCultura}" style="width: 130px;" disabled="#{cadastrarVariedadeBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaCultura}" itemValue="" />  
		            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{cadastrarVariedadeBean.culturas}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.variedade}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" id="nome" required="true" requiredMessage="#{bundle.variedadeObrigatorio}" title="#{bundle.nomeVariedade}" value="#{cadastrarVariedadeBean.variedade.nome}" size="80" disabled="#{cadastrarVariedadeBean.operacao eq 'VER'}"/>
						</div>
					</div>
				</div>
			</div>				
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
