<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarCulturaBean.carregarDadosIniciais}" />	
		</f:metadata>			

		<h:form id="frmCadastrarCultura" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroCultura}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarCulturaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarCultura" process="@form" rendered="#{cadastrarCulturaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarCulturaBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarCulturaBean.culturas}" />  
					</p:commandButton>    
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<h:panelGrid columns="2" styleClass="d1">
				<p:outputPanel id="d1"> 
					<div class="row cadastro">		
						<div class="col-direita">
							<div class="row">
								<div class="span2 clear">
									<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
									<p:inputText styleClass="block" id="nome" required="true" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nomeCultura}" maxlength="255" value="#{cadastrarCulturaBean.cultura.nome}" size="80" disabled="#{cadastrarCulturaBean.operacao eq 'VER'}"/>
								</div>
								<div class="span2 clear">
									<label for="atividade" class="block"><b>#{bundle.atividade}:</b></label>							
									<h:selectOneMenu id="atividade" value="#{cadastrarCulturaBean.cultura.atividade}" converter="atividadeConverter" title="#{bundle.selecioneAtividade}" style="width: 212px;" disabled="#{cadastrarCulturaBean.operacao eq 'VER'}">  
						            	<f:selectItem itemLabel="#{bundle.escolhaAtividade}" itemValue="" />  
				            			<f:selectItems var="atividade" itemLabel="#{atividade.nome}" itemValue="#{atividade}" value="#{cadastrarCulturaBean.atividades}"  />
					        		</h:selectOneMenu>							
									<p:outputPanel rendered="#{cadastrarCulturaBean.operacao ne 'VER'}">
										<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{cadastrarCulturaBean.novaAtividade}" styleClass="btn small" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_ATIVIDADE')}" process="@form">
							                <f:setPropertyActionListener value="true" target="#{cadastrarAtividadeBean.cadastroCultura}" />  
											<f:setPropertyActionListener value="" target="#{cadastrarAtividadeBean.atividade}" />  
											<f:setPropertyActionListener value="#{bundle.NOVO}" target="#{cadastrarAtividadeBean.operacao}" />  
										</p:commandButton>
									</p:outputPanel>  
								</div>
							</div>
						</div>
					</div>	
				</p:outputPanel>
				<p:outputPanel id="d2">
					<p:graphicImage id="imageView" value="/publico/#{cadastrarCulturaBean.cultura.image}" width="50px" height="50px" cache="FALSE" />
                    <p:fileUpload id="image" label="Image" fileUploadListener="#{cadastrarCulturaBean.uploadImage}" style="width: 180px; margin-left:auto; margin-right:auto;" auto="true" mode="advanced" sizeLimit="30720" update=":frmCadastrarCultura" invalidSizeMessage="Tamanho inválido." invalidFileMessage="Tipo de arquivo inválido." />
				</p:outputPanel> 
			</h:panelGrid>
						
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
