<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarDoencaBean.carregarDadosIniciais}" />	
		</f:metadata>			
		
		<h:form id="frmCadastrarDoenca" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroDoenca}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarDoencaBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarDoenca" process="@form" rendered="#{cadastrarDoencaBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarDoencaBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarDoencaBean.doencas}" />  
					</p:commandButton>    
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" id="nome" required="true" requiredMessage="#{bundle.descricaoObrigatorio}" title="#{bundle.nomeDoenca}" maxlength="255" value="#{cadastrarDoencaBean.doenca.nome}" size="80" disabled="#{cadastrarDoencaBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="observacao" class="block"><b>#{bundle.observacao}:</b></label>
							<p:inputTextarea id="observacao" cols="62" rows="4" autoResize="false" maxlength="800" value="#{cadastrarDoencaBean.doenca.observacao}" disabled="#{cadastrarDoencaBean.operacao eq 'VER'}"/>							
						</div>
					</div>
				</div>
			</div>				
		</h:form>
	</ui:define>
</ui:composition>
