<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarCulturaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarCultura" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarCulturas}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarCulturaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_CULTURA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarCulturaBean.cultura}" />  
	   	                <f:setPropertyActionListener value="NOVO" target="#{cadastrarCulturaBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

				<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.cultAtividade}:" />  
						<h:selectOneMenu id="atividade" value="#{consultarCulturaBean.culturaBusca.atividade}" converter="atividadeConverter" title="#{bundle.selecioneAtividadeEspecifica}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="atividade" itemLabel="#{atividade.nome}" itemValue="#{atividade}" value="#{consultarCulturaBean.atividades}"  />
	            			
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
			     	
				   		<h:outputText value="#{bundle.cultura}:" />  
						<p:inputText id="cultura" value="#{consultarCulturaBean.culturaBusca.nome}" size="10" />  
				     	<p:spacer width="8" />
			
			            <p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaCultura}" actionListener="#{consultarCulturaBean.consultar}" ajax="true" update=":frmConsultarCultura"/>  
				   </p:fieldset>
				</div>
				<br />
				
					<p:outputPanel id="consulta">
					<p:dataTable var="cultura" value="#{consultarCulturaBean.culturas}" emptyMessage="#{bundle.culturaNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  
				   
				   		<p:column sortBy="#{cultura.atividade.nome}" headerText="#{bundle.atividade}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{cultura.atividade.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{cultura.nome}" headerText="#{bundle.cultura}" style="width:35%;text-align: left;">  
				            <h:outputText value="#{cultura.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarCulturaBean.cadastro}" title="#{bundle.alterarCultura}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_CULTURA')}">  
				                <f:setPropertyActionListener value="#{cultura}" target="#{cadastrarCulturaBean.cultura}" />  
			   	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarCulturaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarCulturaBean.cadastro}" title="#{bundle.visualizarCultura}">  
				                <f:setPropertyActionListener value="#{cultura}" target="#{cadastrarCulturaBean.cultura}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarCulturaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirCultura}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_CULTURA')}">  
				                <f:setPropertyActionListener value="#{cultura}"  
				                    target="#{consultarCulturaBean.culturaSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div> 
			<p:confirmDialog message="#{bundle.certezaExcluirCultura} ?" 
               header="#{bundle.exclusaoCultura}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarCultura" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarCulturaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
 