<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarFabricanteBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarFabricante" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarFabricante}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarFabricanteBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_FABRICANTE')}">
						<f:setPropertyActionListener value="" target="#{cadastrarFabricanteBean.fabricante}" />
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarFabricanteBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">		   
				  		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarFabricanteBean.fabricanteBusca.tipoFabricante}" title="#{bundle.selecioneFabricanteEspecifico}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarFabricanteBean.tiposFabricante}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				   		<h:outputText value="#{bundle.fabricante}:" />  
						<p:inputText id="fabricante" value="#{consultarFabricanteBean.fabricanteBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.fabricante}" actionListener="#{consultarFabricanteBean.consultar}" ajax="true" update=":frmConsultarFabricante"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="fabricante" value="#{consultarFabricanteBean.fabricantes}" emptyMessage="#{bundle.fabricanteNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column filterOptions="#{consultarFabricanteBean.tipos}" sortBy="#{fabricante.tipoFabricante.descricao}" headerText="#{bundle.tipo}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{fabricante.tipoFabricante.descricao}" />  
				        </p:column>  
				        <p:column sortBy="#{fabricante.nome}" headerText="#{bundle.fabricante}" style="width:60%;text-align: left;">  
				            <h:outputText value="#{fabricante.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid" > 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarFabricanteBean.cadastro}" title="#{bundle.alterarFabricante}">  
				                <f:setPropertyActionListener value="#{fabricante}" target="#{cadastrarFabricanteBean.fabricante}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarFabricanteBean.operacao}" />
				            </p:commandLink>  		
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarFabricanteBean.cadastro}" title="#{bundle.visualizarFabricante}">  
				                <f:setPropertyActionListener value="#{fabricante}" target="#{cadastrarFabricanteBean.fabricante}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarFabricanteBean.operacao}" />  
				            </p:commandLink>  			         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirFabricante}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_FABRICANTE')}">  
				                <f:setPropertyActionListener value="#{fabricante}"  
				                    target="#{consultarFabricanteBean.fabricanteSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirFabricante}"  
               header="#{bundle.exclusaoFabricante}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarFabricante" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarFabricanteBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
