<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarDefensivoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarDefensivo" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultaDefensivo}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarDefensivoBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_DEFENSIVO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarDefensivoBean.defensivo}" />
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarDefensivoBean.operacao}" />    
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />			

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.defensivo}:" />  
						<p:inputText id="defensivo" value="#{consultarDefensivoBean.defensivoBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarDefensivos}" actionListener="#{consultarDefensivoBean.consultar}" ajax="true" update=":frmConsultarDefensivo"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="defensivo" value="#{consultarDefensivoBean.defensivos}" emptyMessage="#{bundle.defensivoNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column sortBy="#{defensivo.nome}" headerText="#{bundle.defensivo}" style="width:80%;text-align: left;">  
				            <h:outputText value="#{defensivo.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarDefensivoBean.cadastro}" title="#{bundle.alterarDefensivo}">  
				                <f:setPropertyActionListener value="#{defensivo}" target="#{cadastrarDefensivoBean.defensivo}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarDefensivoBean.operacao}" />    
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarDefensivoBean.cadastro}" title="#{bundle.verDefensivo}">  
				                <f:setPropertyActionListener value="#{defensivo}" target="#{cadastrarDefensivoBean.defensivo}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarDefensivoBean.operacao}" />  
				            </p:commandLink>  
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirDefensivo}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_DEFENSIVO')}">  
				                <f:setPropertyActionListener value="#{defensivo}"  
				                    target="#{consultarDefensivoBean.defensivoSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirDefensivo}" 
               header="#{bundle.exclusaoDefensivo}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarDefensivo" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarDefensivoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
