<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarReferenciaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarReferencia" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultaReferencia}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarReferenciaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_REFERENCIA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarReferenciaBean.referencia}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarReferenciaBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<p:outputPanel id="consulta">
					<p:dataTable var="referencia" value="#{consultarReferenciaBean.referencias}" emptyMessage="#{bundle.referenciaNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column filterBy="#{referencia.autor}" sortBy="#{referencia.autor}" headerText="#{bundle.autor}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{referencia.autor}" />  
				        </p:column>  
				        
				        <p:column filterBy="#{referencia.variedade.cultura.nome}" filterOptions="#{consultarReferenciaBean.culturas}" sortBy="#{referencia.variedade.cultura.nome}" headerText="#{bundle.cultura}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{referencia.variedade.cultura.nome}" />  
				        </p:column>  
				        
				        <p:column filterBy="#{referencia.variedade.nome}" filterOptions="#{consultarReferenciaBean.variedades}" sortBy="#{referencia.variedade.nome}" headerText="#{bundle.variedade}" style="width:25%;text-align: left;">  
				            <h:outputText value="#{referencia.variedade.nome}" style="text-align: left;"/>  
				        </p:column>         
		        
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarReferenciaBean.cadastro}" title="#{bundle.alterarReferencia}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_REFERENCIA')}">  
				                <f:setPropertyActionListener value="#{referencia}" target="#{cadastrarReferenciaBean.referencia}" />
								<f:setPropertyActionListener value="ALTERAR" target="#{cadastrarReferenciaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarReferenciaBean.cadastro}" title="#{bundle.verReferencia}" >  
				                <f:setPropertyActionListener value="#{referencia}" target="#{cadastrarReferenciaBean.referencia}" />
								<f:setPropertyActionListener value="VER" target="#{cadastrarReferenciaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirReferencia}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_REFERENCIA')}" >  
				                <f:setPropertyActionListener value="#{referencia}" target="#{consultarReferenciaBean.referenciaSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirReferencia}"  
               header="#{bundle.exclusaoReferencia}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarReferencia" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarReferenciaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
