<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarVariedadeBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarVariedade" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarVariedades}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarVariedadeBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_VARIEDADE')}">
						<f:setPropertyActionListener value="" target="#{cadastrarVariedadeBean.variedade}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarVariedadeBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">		   
				  		<h:outputText value="#{bundle.cultura}:" />  
						<h:selectOneMenu id="cultura" value="#{consultarVariedadeBean.variedadeBusca.cultura}" converter="culturaConverter" title="#{bundle.selecioneCulturaEspecifica}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todas}" itemValue="" />  
	            			<f:selectItems var="cultura" itemLabel="#{cultura.nome}" itemValue="#{cultura}" value="#{consultarVariedadeBean.culturas}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				   		<h:outputText value="#{bundle.variedade}:" />  
						<p:inputText id="variedade" value="#{consultarVariedadeBean.variedadeBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.variedade}" actionListener="#{consultarVariedadeBean.consultar}" ajax="true" update=":frmConsultarVariedade"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="variedade" value="#{consultarVariedadeBean.variedades}" emptyMessage="#{bundle.variedadeNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column id="col1" sortBy="#{variedade.cultura.nome}" headerText="#{bundle.cultura}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{variedade.cultura.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.variedade}" style="width:35%;text-align: left;">  
				            <h:outputText value="#{variedade.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarVariedadeBean.cadastro}" title="#{bundle.alterarVariedade}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_VARIEDADE')}">  
				                <f:setPropertyActionListener value="#{variedade}" target="#{cadastrarVariedadeBean.variedade}" />
               	                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarVariedadeBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarVariedadeBean.cadastro}" title="#{bundle.visualizarVariedade}">  
				                <f:setPropertyActionListener value="#{variedade}" target="#{cadastrarVariedadeBean.variedade}" />
               	                <f:setPropertyActionListener value="VER" target="#{cadastrarVariedadeBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" title="#{bundle.excluirVariedade}" onclick="confirmacao.show()" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_VARIEDADE')}">  
				                <f:setPropertyActionListener value="#{variedade}"  
				                    target="#{consultarVariedadeBean.variedadeSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirVariedade} ?"
               header="#{bundle.exclusaoVariedade}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarVariedade" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarVariedadeBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
