<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarBombaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarBomba" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarBombas}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarBombaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_BOMBA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarBombaBean.bomba}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarBombaBean.fabricantes}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarBombaBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

				<div class="tabela-dados">
				<div class="span2 clear">
					<p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
					<h:outputText value="#{bundle.fabricante}:" />  
					<h:selectOneMenu id="fabricante" value="#{consultarBombaBean.bombaBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricanteEspecifico}" style="width: 100px;">  
			         	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            		<f:selectItems var="fabricante" itemLabel="#{fabricante.nome}" itemValue="#{fabricante}" value="#{consultarBombaBean.fabricantes}"  />
	            			
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
			     	
				   		<h:outputText value="#{bundle.modelo}:" />  
						<p:inputText id="bomba" value="#{consultarBombaBean.bombaBusca.modelo}" size="10" />  
				     	<p:spacer width="8" />
			
			            <p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="#{bundle.buscar}" title="#{bundle.pesquisaBomba}" actionListener="#{consultarBombaBean.consultar}" ajax="true" update=":frmConsultarBomba"/>  
				   </p:fieldset>
				</div>
				<br />

				<p:outputPanel id="consulta">
					<p:dataTable var="bomba" value="#{consultarBombaBean.bombas}" emptyMessage="#{bundle.bombaNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column sortBy="#{bomba.fabricante.nome}" headerText="#{bundle.fabricante}" style="width:35%;text-align: left;">  
				            <h:outputText value="#{bomba.fabricante.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{bomba.modelo}" headerText="#{bundle.modelo}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{bomba.modelo}" />  
				        </p:column>  
				        <p:column sortBy="#{bomba.vazao}" headerText="#{bundle.vazao}(m&lt;sup&gt;3&lt;/sup&gt;/h)" style="width:5%;text-align: right;">  
				            <h:outputText value="#{bomba.vazao}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="#{bundle.potencia}(cv)" style="width:5%;text-align: right;">  
				            <h:outputText value="#{bomba.potencia}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>     
				        </p:column>  
				        <p:column headerText="#{bundle.rendimento}(%)" style="width:5%;text-align: right;">  
				            <h:outputText value="#{bomba.rendimento}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarBombaBean.cadastro}" title="#{bundle.alterarBomba}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_BOMBA')}">  
				                <f:setPropertyActionListener value="#{bomba}" target="#{cadastrarBombaBean.bomba}" />
								<f:setPropertyActionListener value="" target="#{cadastrarBombaBean.fabricantes}" />  
								<f:setPropertyActionListener value="ALTERAR" target="#{cadastrarBombaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarBombaBean.cadastro}" title="#{bundle.verBomba}" >  
				                <f:setPropertyActionListener value="#{bomba}" target="#{cadastrarBombaBean.bomba}" />
								<f:setPropertyActionListener value="" target="#{cadastrarBombaBean.fabricantes}" />  
								<f:setPropertyActionListener value="VER" target="#{cadastrarBombaBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirBomba}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_BOMBA')}" >  
				                <f:setPropertyActionListener value="#{bomba}" target="#{consultarBombaBean.bombaSelecionada}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirBomba}"  
               header="#{bundle.exclusaoBomba}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarBomba" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarBombaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
