<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarSoloBean.carregarDadosIniciais}" />	
		</f:metadata>

		<h:form id="frmConsultarSolo" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarSolos}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarSoloBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_SOLO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarSoloBean.solo}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarSoloBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">		   
				  		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarSoloBean.soloBusca.tipoSolo}" title="#{bundle.selecioneSolo}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarSoloBean.tiposSolo}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				   		<h:outputText value="#{bundle.solo}:" />  
						<p:inputText id="solo" value="#{consultarSoloBean.soloBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.solo}" actionListener="#{consultarSoloBean.consultar}" ajax="true" update=":frmConsultarSolo"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="solo" value="#{consultarSoloBean.solos}" emptyMessage="#{bundle.solo} #{bundle.naoExiste}"
						paginator="true" rows="10" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column headerText="#{bundle.tipo}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{solo.tipoSolo.descricao}" />  
				        </p:column>  
				        <p:column sortBy="#{solo.nome}" headerText="#{bundle.nome}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{solo.nome}" />  
				        </p:column>  
				        <p:column headerText="CC(%)" style="width:10%;text-align: right;">  
				            <h:outputText value="#{solo.cc}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="PMP(%)" style="width:10%;text-align: right;">  
				            <h:outputText value="#{solo.pmp}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="Máx.Infilt(mm/dia)" style="width:10%;text-align: right;">  
				            <h:outputText value="#{solo.maxTaxaInfiltracaoChuva}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarSoloBean.cadastro}" title="#{bundle.alterar} #{bundle.solo}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_SOLO')}">  
				                <f:setPropertyActionListener value="#{solo}" target="#{cadastrarSoloBean.solo}" />
								<f:setPropertyActionListener value="ALTERAR" target="#{cadastrarSoloBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarSoloBean.cadastro}" title="#{bundle.ver} #{bundle.solo}" >  
				                <f:setPropertyActionListener value="#{solo}" target="#{cadastrarSoloBean.solo}" />
								<f:setPropertyActionListener value="VER" target="#{cadastrarSoloBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluir} #{bundle.solo}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_SOLO')}" >  
				                <f:setPropertyActionListener value="#{solo}" target="#{consultarSoloBean.soloSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirSolo}"   
               header="#{bundle.exclusaoSolo}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarSolo" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarSoloBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
