<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarTuboBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarTubo" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultaTubo}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarTuboBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_TUBO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarTuboBean.tubo}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarTuboBean.fabricantes}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarTuboBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">	
				   		<h:outputText value="#{bundle.fabricante}:" />  
						<h:selectOneMenu id="fabricante" value="#{consultarTuboBean.tuboBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricante}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="fabricante" itemLabel="#{fabricante.nome}" itemValue="#{fabricante}" value="#{consultarTuboBean.fabricantes}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     		   
				  		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarTuboBean.tuboBusca.tipo}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarTuboBean.tipos}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				   		<h:outputText value="#{bundle.modelo}:" />  
						<p:inputText id="solo" value="#{consultarTuboBean.tuboBusca.modelo}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.tubo}" actionListener="#{consultarTuboBean.consultar}" ajax="true" update=":frmConsultarTubo"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="tubo" value="#{consultarTuboBean.tubos}" emptyMessage="Tubo não existe"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column filterOptions="#{consultarTuboBean.fabricantes}" sortBy="#{tubo.fabricante.nome}" headerText="#{bundle.fabricante}" style="width:15%;text-align: left;">  
				            <h:outputText value="#{tubo.fabricante.nome}" />  
				        </p:column>  
				        <p:column filterOptions="#{consultarTuboBean.tipos}" sortBy="#{tubo.tipo.descricao}" headerText="#{bundle.tipo}" style="width:15%;text-align: left;">  
				            <h:outputText value="#{tubo.tipo.descricao}" />  
				        </p:column>  
				        <p:column sortBy="#{tubo.modelo}" headerText="#{bundle.modelo}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{tubo.modelo}" />  
				        </p:column>  
				        <p:column sortBy="#{tubo.vazao}" headerText="#{bundle.vazao}(m&lt;sup&gt;3&lt;/sup&gt;/h)" style="width:20%;text-align: right;">  
				            <h:outputText value="#{tubo.vazao}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column> 
				        <p:column sortBy="#{tubo.pressao}" headerText="#{bundle.pressao}(Kgf/cm&lt;sup&gt;2&lt;/sup&gt;)" style="width:20%;text-align: right;">  
				            <h:outputText value="#{tubo.pressao}" >
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>     
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarTuboBean.cadastro}" title="#{bundle.alterarTubo}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_TUBO')}">  
				                <f:setPropertyActionListener value="#{tubo}" target="#{cadastrarTuboBean.tubo}" />
								<f:setPropertyActionListener value="" target="#{cadastrarTuboBean.fabricantes}" />  
								<f:setPropertyActionListener value="ALTERAR" target="#{cadastrarTuboBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarTuboBean.cadastro}" title="#{bundle.verTubo}" >  
				                <f:setPropertyActionListener value="#{tubo}" target="#{cadastrarTuboBean.tubo}" />
								<f:setPropertyActionListener value="" target="#{cadastrarTuboBean.fabricantes}" />  
								<f:setPropertyActionListener value="VER" target="#{cadastrarTuboBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirTubo}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_TUBO')}" >  
				                <f:setPropertyActionListener value="#{tubo}" target="#{consultarTuboBean.tuboSelecionada}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirTubo}"  
               header="#{bundle.exclusaoTubo}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarTubo" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarTuboBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>