<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarAtividadeBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarAtividade" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarAtividade}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarAtividadeBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_ATIVIDADE')}">
						<f:setPropertyActionListener value="" target="#{cadastrarAtividadeBean.atividade}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarAtividadeBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.cultAtividade}:" />  
						<p:inputText id="atividade" value="#{consultarAtividadeBean.atividadeBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarAtividade}" actionListener="#{consultarAtividadeBean.consultar}" ajax="true" update=":frmConsultarAtividade"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="atividade" value="#{consultarAtividadeBean.atividades}" emptyMessage="#{bundle.atividadeNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}" 
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="c1Atividade" sortBy="#{atividade.nome}" headerText="#{bundle.atividade}" style="width:80%;text-align: left;">  
				            <h:outputText value="#{atividade.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink  styleClass="ui-icon ui-icon-editar" action="#{consultarAtividadeBean.cadastro}" title="#{bundle.alterarAtividade}">  
				                <f:setPropertyActionListener value="#{atividade}" target="#{cadastrarAtividadeBean.atividade}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarAtividadeBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-ver" action="#{consultarAtividadeBean.cadastro}" title="#{bundle.visualizarAtividade}">  
				                <f:setPropertyActionListener value="#{atividade}" target="#{cadastrarAtividadeBean.atividade}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarAtividadeBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirAtividade}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_ATIVIDADE')}">  
				                <f:setPropertyActionListener value="#{atividade}"  
				                    target="#{consultarAtividadeBean.atividadeSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.temCerteza} ?"   
               header="#{bundle.exclusao}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarAtividade" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarAtividadeBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
