<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarEmissorBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarEmissor" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>

			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarEmissores}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarEmissorBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_EMISSOR')}">
						<f:setPropertyActionListener value="" target="#{cadastrarEmissorBean.emissor}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarEmissorBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">	
				   		<h:outputText value="#{bundle.fabricante}:" />  
						<h:selectOneMenu id="fabricante" value="#{consultarEmissorBean.emissorBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricante}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="fabricante" itemLabel="#{fabricante.nome}" itemValue="#{fabricante}" value="#{consultarEmissorBean.fabricantes}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     		   
				  		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarEmissorBean.emissorBusca.tipoEmissor}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarEmissorBean.tipos}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				   		<h:outputText value="#{bundle.modelo}:" />  
						<p:inputText id="solo" value="#{consultarEmissorBean.emissorBusca.modelo}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.emissor}" actionListener="#{consultarEmissorBean.consultar}" ajax="true" update=":frmConsultarEmissor"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="emissor" value="#{consultarEmissorBean.emissores}" emptyMessage="#{bundle.emissorNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column filterOptions="#{consultarEmissorBean.fabricantes}" sortBy="#{emissor.fabricante.nome}" headerText="#{bundle.fabricante}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{emissor.fabricante.nome}" />  
				        </p:column>  
				        <p:column filterOptions="#{consultarEmissorBean.tipos}" sortBy="#{emissor.tipoEmissor.descricao}" headerText="#{bundle.tipo}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{emissor.tipoEmissor.descricao}" />  
				        </p:column>  
				        <p:column sortBy="#{emissor.modelo}" headerText="#{bundle.modelo}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{emissor.modelo}" />  
				        </p:column>  
				        <p:column sortBy="#{emissor.vazao}" headerText="#{bundle.vazao}(L/h)" style="width:5%;text-align: right;">  
				            <h:outputText value="#{emissor.vazao}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="#{bundle.pressao}(Kgf/cm&lt;sup&gt;2&lt;/sup&gt;)" style="width:5%;text-align: right;">  
				            <h:outputText value="#{emissor.pressao}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarEmissorBean.cadastro}" title="#{bundle.alterarEmissor}">  
				                <f:setPropertyActionListener value="#{emissor}" target="#{cadastrarEmissorBean.emissor}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarEmissorBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarEmissorBean.cadastro}" title="#{bundle.visualizarEmissor}">  
				                <f:setPropertyActionListener value="#{emissor}" target="#{cadastrarEmissorBean.emissor}" />
				                <f:setPropertyActionListener value="VER" target="#{cadastrarEmissorBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirEmissor}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_EMISSOR')}">  
				                <f:setPropertyActionListener value="#{emissor}" target="#{consultarEmissorBean.emissorSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirEmissor}"  
               header="#{bundle.exclusaoEmissor}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarEmissor" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarEmissorBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
