<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarPragaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarPraga" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultaPraga}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarPragaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_DOENCA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarPragaBean.praga}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarPragaBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="tabela-dados">
					<div class="span2 clear">
						<p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
							<h:outputText value="#{bundle.praga}:" />  
							<p:inputText id="praga" value="#{consultarPragaBean.pragaBusca.nome}" />  
					  	 	<p:spacer width="10" />
				     		<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarPragas}" actionListener="#{consultarPragaBean.consultar}" ajax="true" update=":frmConsultarPraga"/>  
						</p:fieldset>
					</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="praga" value="#{consultarPragaBean.pragas}" emptyMessage="#{bundle.pragaNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column sortBy="#{praga.nome}" headerText="#{bundle.praga}" style="width:80%;text-align: left;">  
				            <h:outputText value="#{praga.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%;" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarPragaBean.cadastro}" title="#{bundle.alterarPraga}">  
				                <f:setPropertyActionListener value="#{praga}" target="#{cadastrarPragaBean.praga}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarPragaBean.operacao}" />  
				            </p:commandLink> 
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarPragaBean.cadastro}" title="#{bundle.verPraga}">  
				                <f:setPropertyActionListener value="#{praga}" target="#{cadastrarPragaBean.praga}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarPragaBean.operacao}" />  
				            </p:commandLink>  			  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirPraga}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_DOENCA')}">  
				                <f:setPropertyActionListener value="#{praga}"  
				                    target="#{consultarPragaBean.pragaSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirPraga}"  
               header="#{bundle.exclusaoPraga}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarPraga" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarPragaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
