<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarFiltroBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarFiltro" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarFiltros}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarFiltroBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_FILTRO')}">
						<f:setPropertyActionListener value="" target="#{cadastrarFiltroBean.filtro}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarFiltroBean.fabricantes}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarFiltroBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />

			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">	
				   		<h:outputText value="#{bundle.fabricante}:" />  
						<h:selectOneMenu id="fabricante" value="#{consultarFiltroBean.filtroBusca.fabricante}" converter="fabricanteConverter" title="#{bundle.selecioneFabricante}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="fabricante" itemLabel="#{fabricante.nome}" itemValue="#{fabricante}" value="#{consultarFiltroBean.fabricantes}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     		   
				  		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarFiltroBean.filtroBusca.tipoFiltro}" style="width: 100px;">  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue="" />  
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarFiltroBean.tipos}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				     	
				   		<h:outputText value="#{bundle.modelo}:" />  
						<p:inputText id="solo" value="#{consultarFiltroBean.filtroBusca.modelo}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisar} #{bundle.filtro}" actionListener="#{consultarFiltroBean.consultar}" ajax="true" update=":frmConsultarFiltro"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="filtro" value="#{consultarFiltroBean.filtros}" emptyMessage="#{bundle.filtroNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" >  

				        <p:column sortBy="#{filtro.fabricante.nome}" headerText="#{bundle.fabricante}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{filtro.fabricante.nome}" />  
				        </p:column>  
				        <p:column sortBy="#{filtro.tipo.descricao}" headerText="#{bundle.tipo}" style="width:15%;text-align: left;">  
				            <h:outputText value="#{filtro.tipoFiltro.descricao}" />  
				        </p:column>  
				        <p:column sortBy="#{filtro.modelo}" headerText="#{bundle.modelo}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{filtro.modelo}" />  
				        </p:column>  
				        <p:column sortBy="#{filtro.filtragem}" headerText="#{bundle.filtragem}(m&lt;sup&gt;3&lt;/sup&gt;/h)" style="width:5%;text-align: right;">  
				            <h:outputText value="#{filtro.filtragem}" >
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>       
				        </p:column>  
				        <p:column sortBy="#{filtro.pressao}" headerText="#{bundle.pressao}(Kgf/cm&lt;sup&gt;2&lt;/sup&gt;)" style="width:5%;text-align: right;">  
				            <h:outputText value="#{filtro.pressao}" >
				    			<f:convertNumber locale="pt_BR" maxFractionDigits="1"/>
							</h:outputText>     
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarFiltroBean.cadastro}" title="#{bundle.alterarFiltro}" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_FILTRO')}">  
				                <f:setPropertyActionListener value="#{filtro}" target="#{cadastrarFiltroBean.filtro}" />
								<f:setPropertyActionListener value="" target="#{cadastrarFiltroBean.fabricantes}" />  
								<f:setPropertyActionListener value="ALTERAR" target="#{cadastrarFiltroBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarFiltroBean.cadastro}" title="#{bundle.verFiltro}" >  
				                <f:setPropertyActionListener value="#{filtro}" target="#{cadastrarFiltroBean.filtro}" />
								<f:setPropertyActionListener value="" target="#{cadastrarFiltroBean.fabricantes}" />  
								<f:setPropertyActionListener value="VER" target="#{cadastrarFiltroBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirFiltro}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_FILTRO')}" >  
				                <f:setPropertyActionListener value="#{filtro}" target="#{consultarFiltroBean.filtroSelecionada}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirFiltro}"  
               header="#{bundle.exclusaoFiltro}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarFiltro" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarFiltroBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
