<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarDoencaBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarDoenca" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultaDoenca}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarDoencaBean.cadastro}" ajax="true" styleClass="btn primary" rendered="#{LoginBean.anyGranted('ROLE_CADASTRAR_DOENCA')}">
						<f:setPropertyActionListener value="" target="#{cadastrarDoencaBean.doenca}" />  
						<f:setPropertyActionListener value="NOVO" target="#{cadastrarDoencaBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.doenca}:" />  
						<p:inputText id="doenca" value="#{consultarDoencaBean.doencaBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarDoencas}" actionListener="#{consultarDoencaBean.consultar}" ajax="true" update=":frmConsultarDoenca"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="doenca" value="#{consultarDoencaBean.doencas}" emptyMessage="#{bundle.doencaNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}"   
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column sortBy="#{doenca.nome}" headerText="#{bundle.doenca}" style="width:80%;text-align: left;">  
				            <h:outputText value="#{doenca.nome}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink styleClass="ui-icon ui-icon-editar" action="#{consultarDoencaBean.cadastro}" title="#{bundle.alterarDoenca}">  
				                <f:setPropertyActionListener value="#{doenca}" target="#{cadastrarDoencaBean.doenca}" />
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarDoencaBean.operacao}" />    
				            </p:commandLink>
				            <p:commandLink styleClass="ui-icon ui-icon-ver" action="#{consultarDoencaBean.cadastro}" title="#{bundle.verDoenca}">  
				                <f:setPropertyActionListener value="#{doenca}" target="#{cadastrarDoencaBean.doenca}" />  
			   	                <f:setPropertyActionListener value="VER" target="#{cadastrarDoencaBean.operacao}" />  
				            </p:commandLink>    				         
				            <p:commandLink styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirDoenca}" rendered="#{LoginBean.anyGranted('ROLE_EXCLUIR_DOENCA')}">  
				                <f:setPropertyActionListener value="#{doenca}"  
				                    target="#{consultarDoencaBean.doencaSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.certezaExcluirDoenca}"   
               header="#{bundle.exclusaoDoenca}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarDoenca" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarDoencaBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
