<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"	
	xmlns:sec="http://www.springframework.org/security/facelets/tags"  >
	<f:view contentType="text/html" locale="#{localeBean.appLocale}"> 
	    <h:head>
	        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	        <title>#{bundle.titulo}</title>
			<link rel="stylesheet" type="text/css" media="all" href="#{facesContext.externalContext.request.contextPath}/css/sai.css" />
			<link href="#{facesContext.externalContext.request.contextPath}/img/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
		</h:head>
	    <h:body>
			<div id="geral">
				<div id="centro">
					<div style="margin-top:20px; height:129px;">
						<h:panelGroup  rendered="#{localeBean.appLocale.language == 'pt'}">
							<div style="float:left; background-image:url(#{facesContext.externalContext.request.contextPath}/imagens/logotipo.png); height:100px; width:539px; margin-left:10px;" />
						</h:panelGroup>
						<h:panelGroup id="en" rendered="#{localeBean.appLocale.language == 'en'}">
							<div style="float:left; background-image:url(#{facesContext.externalContext.request.contextPath}/imagens/logotipoUs.png); height:100px; width:539px; margin-left:10px;" />
						</h:panelGroup>
						<h:form>
							<p:commandLink id="en" update="@all" actionListener="#{localeBean.change2English}" styleClass="ui-icon ui-icon-flag-en" immediate="true" ajax="false" rendered="#{localeBean.appLocale.language != 'en'}" style="float:right;"/>  
							<p:commandLink id="pt" update="@all" action="#{localeBean.change2Brasil}" styleClass="ui-icon ui-icon-flag-pt" immediate="true" ajax="false" rendered="#{localeBean.appLocale.language != 'pt'}" style="float:right;"/>
						</h:form>
					</div>
		            <div class="menu">
		            </div>
					<div class="b1 cinzaclaro"/>
					<div class="b2 cinzaclaro"/>
	      			<ui:insert name="content">
						<!-- Conteúdo da pagina!!! -->
					</ui:insert>	                
					<div class="b2 cinzaclaro"/>
					<div class="b1 cinzaclaro"/>
				</div>
				<div style="height:90px; background-color:#196aa6; margin-top:0px; padding:10px;">
					<img src="#{facesContext.externalContext.request.contextPath}/imagens/logo_inovagri.gif" style="vertical-align:middle; padding:12px;" />
<!-- 					<img src="#{facesContext.externalContext.request.contextPath}/imagens/logo_agrosolutions.gif" style="vertical-align:middle; padding:12px;" /> -->
				</div>
				<p:ajaxStatus styleClass="loading">
	       			<f:facet name="start">
	           			<p:graphicImage value="/img/loading.gif" title="Por favor, aguarde." alt="Carregando informações..." />
						<p><strong>Aguarde,</strong> carregando informações...</p>
	       			</f:facet>
	       			<f:facet name="complete">
	           			<h:outputText value="" />
	       			</f:facet>
	 			</p:ajaxStatus>
				<script type="text/javascript">
					jQuery(".loading > div:first-child").addClass("first");
				</script>
			</div>
	   </h:body>
	</f:view>
</html>
