<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmMenu" >		
		<div>
			<div style="float:left;">
				<p:menubar autoSubmenuDisplay="true" styleClass="menu-principal">
					<p:submenu label="#{bundle.tabelas}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ATIVIDADE,ROLE_CONSULTAR_CULTURA,ROLE_CONSULTAR_VARIEDADE')}" >
				        <p:menuitem value="#{bundle.atividade}"  	url="/paginas/tabela/consultarAtividade.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ATIVIDADE')}" 	helpText="CTRL+AT" />
			            <p:menuitem value="#{bundle.cultura}"		url="/paginas/tabela/consultarCultura.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_CULTURA')}"	helpText="CTRL+C" />
			            <p:menuitem value="#{bundle.variedade}"  	url="/paginas/tabela/consultarVariedade.faces"	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_VARIEDADE')}"	helpText="CTRL+V" />
			        </p:submenu>

					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_BACIA')}"/>
					<p:menuitem value="#{bundle.baciaHidrografica}" url="/paginas/bacia/consultarBaciaHidrografica.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_BACIA')}" 	helpText="CTRL+B" />

					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_MUNICIPIO')}"/>
					<p:menuitem value="#{bundle.municipio}"  		url="/paginas/bacia/consultarMunicipio.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_MUNICIPIO')}" 	helpText="CTRL+M" />

					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_INDICADORES')}"/>
					<p:menuitem value="#{bundle.indicadores}" url="/paginas/bacia/cadastrarIndicadores.faces" rendered="#{LoginBean.anyGranted('ROLE_INDICADORES')}" />
			        
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_INDICADORES')}"/>
					<p:menuitem value="#{bundle.consulta}" url="/paginas/bacia/indicadores.faces" rendered="#{LoginBean.anyGranted('ROLE_INDICADORES')}" />
				</p:menubar>
			</div>
		    <div style="color: #FFF; float:right; text-align:right; padding-top: 13px; font-weight:bold;">
		    	<h:outputText value="#{LoginBean.usuarioLogado.username}" />
		    	<p:commandLink styleClass="ui-icon-circle-close" action="#{LoginBean.logout}" title="Sair da aplicação" ajax="false"/>
		    </div>
		</div>
	</h:form>
</html>