<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:sec="http://www.springframework.org/security/facelets/tags" >

	<h:form id="frmMenu" >		
		<div>
			<div style="float:left;">
				<p:menubar autoSubmenuDisplay="true" styleClass="menu-principal">
					<p:submenu label="#{bundle.administracao}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_USUARIO,ROLE_CONSULTAR_PERFIL,ROLE_CONSULTAR_DISTRITO,ROLE_CONSULTAR_AREA,ROLE_CONSULTAR_ESTACAO,ROLE_CONSULTAR_TECNICO')}" >
						<p:menuitem value="#{bundle.usuario}"  		url="/paginas/usuario/consultarUsuario.faces"	 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_USUARIO')}" 	helpText="CTRL+U" />
						<p:menuitem value="#{bundle.perfil}"  		url="/paginas/usuario/consultarPerfil.faces" 		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_PERFIL')}" 	helpText="CTRL+P" />
						<p:menuitem value="#{bundle.perimetroirrigado}"  	url="/paginas/distrito/consultarDistrito.faces"	 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_DISTRITO')}" 	helpText="CTRL+D" />
						<p:menuitem value="#{bundle.area}"  		url="/paginas/distrito/consultarArea.faces" 		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_AREA')}" 		helpText="CTRL+A" />
						<p:menuitem value="#{bundle.estacao}" 		url="/paginas/distrito/consultarEstacao.faces" 		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ESTACAO')}" 	helpText="CTRL+S" />
						<p:menuitem value="#{bundle.tecnico}"  		url="/paginas/tecnico/consultarTecnico.faces" 		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_TECNICO')}" 	helpText="CTRL+T" />
			        </p:submenu>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ATIVIDADE,ROLE_CONSULTAR_CULTURA,ROLE_CONSULTAR_VARIEDADE,ROLE_CONSULTAR_SOLO,ROLE_CONSULTAR_FABRICANTE,ROLE_CONSULTAR_BOMBA,ROLE_CONSULTAR_EMISSOR,ROLE_CONSULTAR_DOENCA,ROLE_CONSULTAR_PRAGA,ROLE_CONSULTAR_DEFENSIVO,ROLE_CONSULTAR_ADUBO,ROLE_CONSULTAR_FILTRO,ROLE_CONSULTAR_VALVULA,ROLE_CONSULTAR_TUBO,ROLE_CONSULTAR_REFERENCIA')}"/>
					<p:submenu label="#{bundle.tabelas}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ATIVIDADE,ROLE_CONSULTAR_CULTURA,ROLE_CONSULTAR_VARIEDADE,ROLE_CONSULTAR_SOLO,ROLE_CONSULTAR_FABRICANTE,ROLE_CONSULTAR_BOMBA,ROLE_CONSULTAR_EMISSOR,ROLE_CONSULTAR_DOENCA,ROLE_CONSULTAR_PRAGA,ROLE_CONSULTAR_DEFENSIVO,ROLE_CONSULTAR_ADUBO,ROLE_CONSULTAR_FILTRO,ROLE_CONSULTAR_VALVULA,ROLE_CONSULTAR_TUBO,ROLE_CONSULTAR_REFERENCIA')}" >
				        <p:menuitem value="#{bundle.atividade}"  	url="/paginas/tabela/consultarAtividade.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ATIVIDADE')}" 	helpText="CTRL+AT" />
			            <p:menuitem value="#{bundle.cultura}"		url="/paginas/tabela/consultarCultura.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_CULTURA')}"	helpText="CTRL+C" />
			            <p:menuitem value="#{bundle.variedade}"  	url="/paginas/tabela/consultarVariedade.faces"	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_VARIEDADE')}"	helpText="CTRL+V" />
			            <p:menuitem value="#{bundle.solo}"  		url="/paginas/tabela/consultarSolo.faces"		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_SOLO')}"		helpText="CTRL+S" />
			            <p:menuitem value="#{bundle.fabricante}" 	url="/paginas/tabela/consultarFabricante.faces"	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_FABRICANTE')}"	helpText="CTRL+F" />
			            <p:menuitem value="#{bundle.bomba}"  		url="/paginas/tabela/consultarBomba.faces"		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_BOMBA')}"		helpText="CTRL+B" />
			            <p:menuitem value="#{bundle.emissor}"	  	url="/paginas/tabela/consultarEmissor.faces"	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_EMISSOR')}"	helpText="CTRL+E" />
			            <p:menuitem value="#{bundle.filtro}" 	 	url="/paginas/tabela/consultarFiltro.faces"		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_FILTRO')}"		helpText="CTRL+T" />
			           	<p:menuitem value="#{bundle.valvula}"  		url="/paginas/tabela/consultarValvula.faces"	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_VALVULA')}"	helpText="CTRL+Y" />
			            <p:menuitem value="#{bundle.tubo}"  	    url="/paginas/tabela/consultarTubo.faces"	    rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_TUBO')}"	    helpText="CTRL+Z" />
			            <p:menuitem value="#{bundle.doenca}"		url="/paginas/tabela/consultarDoenca.faces"		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_DOENCA')}"		helpText="CTRL+D" />
			            <p:menuitem value="#{bundle.praga}"  		url="/paginas/tabela/consultarPraga.faces"		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_PRAGA')}"		helpText="CTRL+P" />
			            <p:menuitem value="#{bundle.defensivo}"  	url="/paginas/tabela/consultarDefensivo.faces"	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_DEFENSIVO')}"	helpText="CTRL+N" />
			            <p:menuitem value="#{bundle.adubo}"  		url="/paginas/tabela/consultarAdubo.faces"		rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_ADUBO')}"		helpText="CTRL+U" />
			            <p:menuitem value="#{bundle.referencia}"	url="/paginas/tabela/consultarReferencia.faces"	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_REFERENCIA')}"	helpText="CTRL+R" />
			            
			        </p:submenu>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_IRRIGANTE')}"/>
					<p:menuitem value="#{bundle.irrigante}"  		url="/paginas/irrigante/consultarIrrigante.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_IRRIGANTE')}" 	helpText="CTRL+I" />

					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_EDISTRITO,ROLE_CONSULTAR_ESTATISTICAS')}"/>
					<p:submenu label="#{bundle.estatisticas}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_EDISTRITO,ROLE_CONSULTAR_ESTATISTICAS')}" >
			        	<p:menuitem value="#{bundle.perimetroirrigado}" 		url="/paginas/distrito/consultaEDistrito.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_EDISTRITO')}" 	helpText="CTRL+G" />
						<p:menuitem value="#{bundle.equipamentos}" 	url="/paginas/distrito/consultarEEquipamentos.faces" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_EEQUIPAMENTOS')}" 	helpText="CTRL+E" />
						<p:menuitem value="#{bundle.indicadores}" url="/paginas/irrigacao/indicadores.faces" rendered="#{LoginBean.anyGranted('ROLE_INDICADORES')}" />
			        </p:submenu>
			        
			        <!-- MENU IRRIGANTE -->
					<p:menuitem value="#{bundle.clima}"  			url="/paginas/distrito/consultarClima.faces" rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="#{bundle.cadastro}"		  	url="/paginas/irrigante/cadastrarIrrigante.faces" rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="#{bundle.energia}"		  	url="/paginas/irrigante/consultarEnergia.faces" rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="#{bundle.agua}"  			url="/paginas/irrigante/consultarAgua.faces" rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="#{bundle.fazenda}"  			url="/homeIrrigante.faces" rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"/>
					<p:submenu label="#{bundle.financeiro}" rendered="#{LoginBean.anyGranted('ROLE_IRRIGANTE')}"> 
						<p:menuitem value="#{bundle.categorias}" 	url="/paginas/financeiro/consultarCategorias.faces"	/>
						<p:menuitem value="#{bundle.fornecedores}" 	url="/paginas/financeiro/consultarFornecedores.faces" />
						<p:menuitem value="#{bundle.contas}" 		url="/paginas/financeiro/consultarContas.faces" />
						<p:menuitem value="#{bundle.clientes}" 		url="/paginas/financeiro/consultarClientes.faces" />
			        </p:submenu>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_FERTIRRIGACAO')}"/>
					<p:submenu label="#{bundle.fertirrigacao}" rendered="#{LoginBean.anyGranted('ROLE_FERTIRRIGACAO')}">
						 <p:menuitem value="#{bundle.elementos}" url="/paginas/fertirrigacao/consultarElemento.faces" />
						 <p:menuitem value="#{bundle.nutrientes}" url="/paginas/fertirrigacao/consultarNutrientes.faces" />
						 <p:menuitem value="#{bundle.tanques}" url="/paginas/fertirrigacao/consultarTanques.faces" />
						 <p:menuitem value="#{bundle.aplicacao}" url="/paginas/fertirrigacao/consultarAplicacoes.faces" />
			        </p:submenu>
			        <!-- END MENU IRRIGANTE -->
					
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_MONITORAR_IRRIGACAO')}"/>
					<p:submenu label="#{bundle.irrigacao}" rendered="#{LoginBean.anyGranted('ROLE_IRRIGACAO')}">
						<p:menuitem value="#{bundle.irrigacaoConsultar}" url="/paginas/distrito/consultarIrrigacao.faces" rendered="#{LoginBean.anyGranted('ROLE_MONITORAR_IRRIGACAO')}"/>
			        	<p:menuitem value="#{bundle.irrigacaoCota}" url="/paginas/irrigacao/irrigacaoCota.faces" rendered="#{LoginBean.anyGranted('ROLE_IRRIGACAO_COTA')}" />
			        </p:submenu>
			        
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_MONITORAR_AGUA')}"/>
					<p:menuitem value="#{bundle.fornecimento}"  	url="/paginas/distrito/consultarFornecimento.faces" rendered="#{LoginBean.anyGranted('ROLE_MONITORAR_AGUA')}"/>
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_MENSAGEM')}"/>
					<p:menuitem value="#{bundle.mensagem}"		  	url="/paginas/irrigante/consultarMensagem.faces" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_MENSAGEM')}"/>
			        
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_SENSORES')}"/>
					<p:submenu label="PDA" rendered="#{LoginBean.anyGranted('ROLE_SENSORES')}">
						<!-- 
						<p:menuitem value="#{bundle.sensoresConsultar}" url="/paginas/sensores/consultarSensores.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_SENSORES')}" />
						 <p:menuitem value="#{bundle.atividadePdaCadastro}" url="/paginas/sensores/cadastrarAtividadePda.faces" 	rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_SENSORES')}" />
						 -->
						 <p:menuitem value="Consultar PDAs" url="/paginas/pda/consultarPda.faces" />
						 <p:menuitem value="Cadastrar PDA" url="/paginas/pda/cadastrarPda.faces" />
						 <p:menuitem value="Cadastrar Tarefa" url="/paginas/pda/cadastrarTarefa.faces" />
						 <p:menuitem value="Consultar Tarefas" url="/paginas/pda/consultarTarefa.faces" />
						 
			        </p:submenu>
					
					<p:menuitem value="." rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_FAZENDA,ROLE_RELDEMANDAHIDRICA,ROLE_MONITORAR_AGUA,ROLE_RPT_CLIMA,ROLE_RELATORIOS_CULTURAS')}"/>
					<p:submenu label="#{bundle.relatorios}" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_FAZENDA,ROLE_RELDEMANDAHIDRICA,ROLE_MONITORAR_AGUA,ROLE_RPT_CLIMA,ROLE_RELATORIOS_CULTURAS')}">
						<p:menuitem value="#{bundle.fazenda}"  action="#{relFazendaBean.carregar}" oncomplete="rfazenda.show()" rendered="#{LoginBean.anyGranted('ROLE_CONSULTAR_FAZENDA')}" helpText="CTRL+F" update=":frmRelFazenda" />
						<p:menuitem value="#{bundle.demandaHidrica}"  action="#{relDemandaHidricaBean.carregar}" oncomplete="rdh.show()" rendered="#{LoginBean.anyGranted('ROLE_RELDEMANDAHIDRICA')}" helpText="CTRL+U" update=":frmDemandaHidrica" />
						<p:submenu label="#{bundle.plantioMenu} >" rendered="true"> 
							<p:menuitem value="#{bundle.expirado}" oncomplete="rpe.show()" rendered="#{LoginBean.anyGranted('ROLE_RELDEMANDAHIDRICA')}" update=":frmPlantioExpirado" />
							<p:menuitem value="#{bundle.finalizado}" oncomplete="rpf.show()" rendered="#{LoginBean.anyGranted('ROLE_RELDEMANDAHIDRICA')}" update=":frmPlantioFinalizado" />
							<p:menuitem value="#{bundle.ativo}" oncomplete="rpa.show()" rendered="#{LoginBean.anyGranted('ROLE_RELDEMANDAHIDRICA')}" update=":frmPlantioAtivo" />
				        </p:submenu>
						<p:menuitem value="#{bundle.relEficiencia}"  action="#{relEficienciaBean.carregar}" oncomplete="re.show()" rendered="#{LoginBean.anyGranted('ROLE_RELDEMANDAHIDRICA')}" update=":frmRelEficiencia" />
						<p:menuitem value="#{bundle.relFri}"  action="#{relFriBean.carregar}" oncomplete="rfri.show()" rendered="#{LoginBean.anyGranted('ROLE_MONITORAR_AGUA')}" update=":frmRelFri" />
						<p:menuitem value="#{bundle.clima}" oncomplete="modalRelClima.show()" rendered="#{LoginBean.anyGranted('ROLE_RPT_CLIMA')}" update=":frmRelClima" />
						<p:submenu label="#{bundle.cultura}" rendered="#{LoginBean.anyGranted('ROLE_RELATORIOS_CULTURAS')}">
							<p:menuitem value="#{bundle.culturaHa}"  oncomplete="rcultHa.show()" update=":frmRelCulturaHa" />
							<p:menuitem value="#{bundle.culturaLote}"  oncomplete="rcultLote.show()" update=":frmRelCulturaLote" />
						</p:submenu>
						<p:menuitem value="Demanda Hídrica da Bacia"  action="#{relDemandaHidricaBaciaBean.carregar}" oncomplete="rdhb.show()" rendered="#{LoginBean.anyGranted('ROLE_RELDEMANDAHIDRICA')}" update=":frmDemandaHidricaBacia" />
			        </p:submenu>
			        
				</p:menubar>
			</div>
		    <div style="color: #FFF; float:right; text-align:right; padding-top: 13px; font-weight:bold;">
		    	<h:outputText value="#{LoginBean.usuarioLogado.username}" />
		    	<p:commandLink styleClass="ui-icon-circle-close" action="#{LoginBean.logout}" title="Sair da aplicação" ajax="false"/>
		    </div>
		</div>
	</h:form>
	<ui:include src="../../paginas/relatorio/demandaHidrica.xhtml"/>
	<ui:include src="../../paginas/relatorio/fri.xhtml"/>
	<ui:include src="../../paginas/relatorio/plantioExpirado.xhtml"/>
	<ui:include src="../../paginas/relatorio/plantioFinalizado.xhtml"/>
	<ui:include src="../../paginas/relatorio/plantioAtivo.xhtml"/>
	<ui:include src="../../paginas/relatorio/eficiencia.xhtml"/>
	<ui:include src="../../paginas/relatorio/fazenda.xhtml"/>
	<ui:include src="../../paginas/relatorio/clima.xhtml"/>
	<ui:include src="../../paginas/relatorio/culturaHa.xhtml"/>
	<ui:include src="../../paginas/relatorio/culturaLote.xhtml"/>
	<ui:include src="../../paginas/relatorio/demandaHidricaBacia.xhtml"/>
</html>