<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt" xml:lang="pt"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"	
	xmlns:sec="http://www.springframework.org/security/facelets/tags"  >
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-16" />
        <title>S@I - Sistema de Assessoramento ao Irrigante</title>
		<link rel="stylesheet" type="text/css" media="all" href="/sai/css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/sai/css/util.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/sai/css/ui.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/sai/css/geral.css" />
		<link href="/sai/img/favicon2.ico" rel="shortcut icon" type="image/x-icon" /> 
	</h:head>
    <h:body>
		<f:view contentType="text/html"> 
	        <div class="geral">	    
	            <div class="topo">
	            	<h1 class="txtIndent"/>        
		            <div class="menu">
				        <ui:include src="topo.xhtml"/>
						<ui:include src="menu.xhtml"/>
		            </div>
				</div>
				<br/>
	            <div class="centro">	                
	      			<ui:insert name="content">
						<!-- Conteúdo da pagina!!! -->
					</ui:insert>	                
	            </div>
				<div class="rodape">
					<ul>
						<li><a href="#" title="Sobre o sistema">Sobre</a><span>|</span></li>
						<li><a href="#" title="Ajuda sobre o sistema">Ajuda</a><span>|</span></li>
						<li><a href="#" title="Enviar sugestões para o sistema">Enviar Sugestões</a></li>
					</ul>
					<div class="f-right">
						<address>
							
						</address>					
					</div>
				</div>
				<p:ajaxStatus styleClass="loading">
	       			<f:facet name="start">
	           			<p:graphicImage value="/img/loading.gif" title="Por favor, aguarde." alt="Carregando informações..." />
						<p><strong>Aguarde,</strong> carregando informações...</p>
	       			</f:facet>
	       			<f:facet name="complete">
	           			<h:outputText value="" />
	       			</f:facet>
	 			</p:ajaxStatus>
				<script type="text/javascript">
					jQuery(".loading > div:first-child").addClass("first");
				</script>
       		</div>			
    	</f:view>
    </h:body>
</html>    