<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt" xml:lang="pt"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"	
	xmlns:sec="http://www.springframework.org/security/facelets/tags">
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>S@I - Sistema de Assessoramento ao Irrigante</title>
		<link rel="stylesheet" type="text/css" media="all" href="#{facesContext.externalContext.request.contextPath}/css/sai.css"  />
		<link href="#{facesContext.externalContext.request.contextPath}/img/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
	</h:head>
    <h:body>
		<f:view contentType="text/html" locale="#{localeBean.appLocale}">
		
			<div id="geral">
				<div id="centro">
				
					<div class="header">
						<div class="logo">
							<h:panelGroup  rendered="#{localeBean.appLocale.language == 'pt'}">
								<h:graphicImage url="/imagens/logotipo.png" width="450"></h:graphicImage>
							</h:panelGroup>
							<h:panelGroup id="en" rendered="#{localeBean.appLocale.language == 'en'}">
								<h:graphicImage url="/imagens/logotipoUs.png" width="450"></h:graphicImage>
							</h:panelGroup>
						</div>
						
						<div class="icone-idioma">
							<h:form>
								<p:commandLink id="en" update="@all" actionListener="#{localeBean.change2English}" styleClass="ui-icon ui-icon-flag-en" immediate="true" ajax="false" rendered="#{localeBean.appLocale.language != 'en'}" style="float:right;"/>  
								<p:commandLink id="pt" update="@all" action="#{localeBean.change2Brasil}" styleClass="ui-icon ui-icon-flag-pt" immediate="true" ajax="false" rendered="#{localeBean.appLocale.language != 'pt'}" style="float:right;"/>
							</h:form>
						</div>
						
						<p:outputPanel rendered="#{distritoPadraoBean.multidistrito}" styleClass="selecao-distrito">
							<h:outputLabel>Você está no Distrito:</h:outputLabel>
							<!-- Selecionar distrito -->
							<h:form id="frmdistritoPadraoBean" styleClass="formSelecionarDistrito" prependId="false" enctype="multipart/form-data">
								<h:selectOneMenu id="distritoPadraoBean" value="#{distritoPadraoBean.distritoSelecionado}" title="#{bundle.selecioneDistritoPesquisar}" converter="distritoConverter" required="true" requiredMessage="Selecione o distrito" >  
					            	<f:selectItem itemLabel="#{bundle.mudarDistrito}" noSelectionOption="true" itemValue="" />  
			            			<f:selectItems var="distrito" itemLabel="#{distrito.nome}" itemValue="#{distrito}" value="#{distritoPadraoBean.usuarioLogado.distritos}" />
				        		</h:selectOneMenu>
				        		
				        		<h:commandButton styleClass="btn primary" action="#{distritoPadraoBean.selecionarDistritoPadrao}" value="Selecionar" />			        		
			        		</h:form>
						</p:outputPanel>
					</div>
					<!-- FIM HEADER -->
					
		            <div class="menu ui-corner-all">
		      			<ui:insert name="menu">
							<ui:include src="menu.xhtml"/>
						</ui:insert>	                
		            </div>
					
					<div class="conteudo">
		      			<ui:insert name="content">
							<!-- Conteúdo da pagina!!! -->
						</ui:insert>	                
					</div>
					
				</div>
				<div class="clear"></div>
				<div class="rodape">
					<img src="#{facesContext.externalContext.request.contextPath}/imagens/logo_inovagri.gif" style="vertical-align:middle; padding:12px;" />
<!-- 					<img src="#{facesContext.externalContext.request.contextPath}/imagens/logo_agrosolutions.gif" style="vertical-align:middle; padding:12px;" /> -->
<!-- 					<img src="#{facesContext.externalContext.request.contextPath}/imagens/adece.png" style="vertical-align:middle; padding:12px;" /> -->
<!-- 					<img src="#{facesContext.externalContext.request.contextPath}/imagens/centec.png" style="vertical-align:middle; padding:12px;" /> -->
				</div>
				<p:ajaxStatus styleClass="loading">
	       			<f:facet name="start">
	           			<p:graphicImage value="/img/loading.gif" title="Por favor, aguarde." alt="Carregando informações..." />
						<p><strong>Aguarde,</strong> carregando informações...</p>
	       			</f:facet>
	       			<f:facet name="complete">
	           			<h:outputText value="" />
	       			</f:facet>
	 			</p:ajaxStatus>
				<script type="text/javascript">
					jQuery(".loading > div:first-child").addClass("first");
				</script>
			</div>
	   	</f:view>
   </h:body>
</html>
