<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.maskMoney.0.2-adaptado.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/util.js"></script>
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarAplicacaoBean.carregarDadosIniciais}" />	
		</f:metadata>			

		<h:form id="frmCadastrarAplicacao" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroAplicacao}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarAplicacaoBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarAplicacao" process="@form" rendered="#{cadastrarAplicacaoBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarAplicacaoBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarAplicacaoBean.aplicacoes}" />  
					</p:commandButton>    
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="tanque" class="block"><b>#{bundle.tanque}:</b></label>							
							<h:selectOneMenu id="tanque" value="#{cadastrarAplicacaoBean.aplicacao.tanque}" converter="tanqueConverter" title="#{bundle.selecioneTanque}" style="width: 200px;" disabled="#{cadastrarAplicacaoBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaTanque}" itemValue="" />  
		            			<f:selectItems var="tanque" itemLabel="#{tanque.nome}" itemValue="#{tanque}" value="#{cadastrarAplicacaoBean.tanques}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="tblNutrientes" class="block"><b>#{bundle.nutrientes}:</b></label>
						    <p:dataTable id="tblNutrientes" var="nut" value="#{cadastrarAplicacaoBean.nutrientes}" selection="#{cadastrarAplicacaoBean.nutrientesSelecionadas}" disabled="#{cadastrarAplicacaoBean.operacao eq 'VER'}" rowKey="#{nut.id}" styleClass="tblNutrientes">
								<f:facet name="header">  
						            #{bundle.escolhaNutriAplicacao}
						        </f:facet>
						        <p:column selectionMode="multiple" />  
						        <p:column headerText="#{bundle.nutriente}" style="text-align: left;">  
						            <h:outputText value="#{nut.nome}" />  
						        </p:column>  
						    </p:dataTable>  
						</div>
						<div class="span2 clear">
							<label for="data" class="block"><b>#{bundle.data}:</b></label>
							<p:calendar value="#{cadastrarAplicacaoBean.aplicacao.data}" navigator="false" disabled="#{cadastrarCultivoBean.operacao eq 'VER'}" pattern="dd/MM/yyyy" required="true" requiredMessage="#{bundle.dataInicioObrigatoria}"/>
						</div>						
						<div class="span2 clear">
							<label for="plantio" class="block"><b>#{bundle.plantioMenu}:</b></label>							
							<h:selectOneMenu id="plantio" value="#{cadastrarAplicacaoBean.aplicacao.plantio}" converter="plantioConverter" title="#{bundle.selecionePlantio}" style="width: 200px;" disabled="#{cadastrarAplicacaoBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaPlantio}" itemValue="" />  
		            			<f:selectItems var="plantio" itemLabel="#{plantio.descricao}" itemValue="#{plantio}" value="#{cadastrarAplicacaoBean.plantios}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="horaInicial"><b>#{bundle.horainicial}:</b></label><label class="label-required">*</label>
							<p:inputMask id="horaInicial" value="#{cadastrarAplicacaoBean.tempoInicial}" mask="99:99" size="3" disabled="#{cadastrarAplicacaoBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2">
							<label for="horaFinal"><b>#{bundle.horafinal}:</b></label><label class="label-required">*</label>
							<p:inputMask id="horaFinal" value="#{cadastrarAplicacaoBean.tempoFinal}" mask="99:99" size="3" disabled="#{cadastrarAplicacaoBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="volume"><b>#{bundle.volume}:</b></label><label class="label-required">*</label>
				            <p:inputText id="volume" styleClass="money" value="#{cadastrarAplicacaoBean.aplicacao.volume}" size="24" disabled="#{cadastrarAplicacaoBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>						
						<div class="span2 clear">
							<label for="custo"><b>#{bundle.custo}:</b></label><label class="label-required">*</label>
				            <p:inputText id="custo" styleClass="money" value="#{cadastrarAplicacaoBean.aplicacao.custo}" size="26" disabled="#{cadastrarAplicacaoBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>						
					</div>
				</div>
			</div>	
			<script type="text/javascript">
				jQuery(document).ready(function($){
					$(".money").maskMoney(MASK_MONEY_MONETARIO);
				});		
			</script>
		</h:form>
	</ui:define>
</ui:composition>
