<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarTanqueBean.carregarDadosIniciais}" />	
		</f:metadata>			

		<h:form id="frmCadastrarTanque" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroTanque}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarTanqueBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarTanque" process="@form" rendered="#{cadastrarTanqueBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarTanqueBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarTanqueBean.tanques}" />  
					</p:commandButton>    
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" id="nome" required="true" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nomeTanque}" maxlength="255" value="#{cadastrarTanqueBean.tanque.nome}" size="60" disabled="#{cadastrarTanqueBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="tanqueDestino" class="block"><b>#{bundle.tanqueDestino}:</b></label>							
							<h:selectOneMenu id="tanqueDestino" value="#{cadastrarTanqueBean.tanque.tanqueDestino}" converter="tanqueConverter" title="#{bundle.selecioneTanqueDestino}" style="width: 200px;" disabled="#{cadastrarTanqueBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaTanqueDestino}" itemValue="" />  
		            			<f:selectItems var="tanque" itemLabel="#{tanque.nome}" itemValue="#{tanque}" value="#{cadastrarTanqueBean.tanques}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<h:outputLabel for="ventury">#{bundle.ventury}</h:outputLabel>
							<h:selectBooleanCheckbox style="margin-left:5px;" id="ventury" title="#{bundle.ventury}" value="#{cadastrarTanqueBean.temBomba}" disabled="#{cadastrarTanqueBean.operacao eq 'VER'}" >
								<p:ajax update=":frmCadastrarTanque" process="@this" /> 
							</h:selectBooleanCheckbox>
						</div>
						<p:outputPanel rendered="#{!cadastrarTanqueBean.temBomba}">				
							<div class="span2 clear">
								<label for="bomba" class="block"><b>#{bundle.bomba}:</b></label>							
								<h:selectOneMenu id="bomba" value="#{cadastrarTanqueBean.tanque.bomba}" converter="bombaConverter" title="#{bundle.selecioneTanqueDestino}" style="width: 200px;" disabled="#{cadastrarTanqueBean.operacao eq 'VER'}">  
					            	<f:selectItem itemLabel="#{bundle.escolhaBomba}" itemValue="" />  
			            			<f:selectItems var="b" itemLabel="#{b.nome}" itemValue="#{b}" value="#{cadastrarTanqueBean.bombas}"  />
				        		</h:selectOneMenu>							
							</div>
						</p:outputPanel>		
						<p:outputPanel rendered="#{cadastrarTanqueBean.temBomba}">				
							<div class="span2 clear">
								<label for="vazao"><b>#{bundle.vazao}:</b></label><label class="label-required">*</label>
					            <p:inputText id="vazao" styleClass="money" value="#{cadastrarTanqueBean.tanque.vazao}" size="30" disabled="#{cadastrarTanqueBean.operacao eq 'VER'}">
					            	<f:validateLength maximum="15"/>
									<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
								</p:inputText>  
							</div>
						</p:outputPanel>		
						<div class="span2 clear">
							<label for="volume"><b>#{bundle.volume}:</b></label><label class="label-required">*</label>
				            <p:inputText id="volume" styleClass="money" value="#{cadastrarTanqueBean.tanque.volume}" size="30" disabled="#{cadastrarTanqueBean.operacao eq 'VER'}">
				            	<f:validateLength maximum="15"/>
								<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</p:inputText>  
						</div>
					</div>
				</div>
			</div>	
		</h:form>
	</ui:define>
</ui:composition>
