<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{cadastrarNutrienteBean.carregarDadosIniciais}" />	
		</f:metadata>			

		<h:form id="frmCadastrarNutriente" styleClass="formularios box-border" prependId="false">
			<p:messages showDetail="false" autoUpdate="true" for="textOnly" display="text"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.cadastroNutriente}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{cadastrarNutrienteBean.gravar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmCadastrarNutriente" process="@form" rendered="#{cadastrarNutrienteBean.operacao ne 'VER'}"/>
					<p:commandButton id="btVoltar" value="#{bundle.voltar}" action="#{cadastrarNutrienteBean.voltar}" styleClass="btn primary" immediate="true" >
		                <f:setPropertyActionListener value="" target="#{consultarNutrienteBean.nutrientes}" />  
					</p:commandButton>    
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="row cadastro">		
				<div class="col-direita">
					<div class="row">
						<div class="span2 clear">
							<label for="nome"><b>#{bundle.nome}:</b></label><label class="label-required">*</label>
							<p:inputText styleClass="block" id="nome" required="true" requiredMessage="#{bundle.nomeObrigatorio}" title="#{bundle.nomeNutriente}" maxlength="255" value="#{cadastrarNutrienteBean.nutriente.nome}" size="60" disabled="#{cadastrarNutrienteBean.operacao eq 'VER'}"/>
						</div>
						<div class="span2 clear">
							<label for="elemento" class="block"><b>#{bundle.elemento}:</b></label>							
							<h:selectOneMenu id="elemento" value="#{cadastrarNutrienteBean.nutriente.elemento}" converter="elementoConverter" title="#{bundle.selecioneElemento}" style="width: 200px;" disabled="#{cadastrarNutrienteBean.operacao eq 'VER'}">  
				            	<f:selectItem itemLabel="#{bundle.escolhaElemento}" itemValue="" />  
		            			<f:selectItems var="elemento" itemLabel="#{elemento.nome}" itemValue="#{elemento}" value="#{cadastrarNutrienteBean.elementos}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="tipo" class="block"><b>#{bundle.tipoNutriente}:</b></label>							
							<h:selectOneMenu id="tipo" value="#{cadastrarNutrienteBean.nutriente.tipoNutriente}" title="#{bundle.selecioneTipoNutriente}" style="width: 200px;" disabled="#{cadastrarNutrienteBean.operacao eq 'VER'}">  
		            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{cadastrarNutrienteBean.tipos}"  />
			        		</h:selectOneMenu>							
						</div>
						<div class="span2 clear">
							<label for="conc"><b>#{bundle.concentracao}:</b></label><label class="label-required">*</label>
							<p:inputMask id="conc" value="#{cadastrarNutrienteBean.nutriente.percentual}" mask="?999" size="3" disabled="#{cadastrarNutrienteBean.operacao eq 'VER'}"/>%
						</div>
					</div>
				</div>
			</div>	
		</h:form>
	</ui:define>
</ui:composition>
