<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarAplicacaoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarAplicacao" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarAplicacaos}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarAplicacaoBean.cadastro}" ajax="true" styleClass="btn primary">
		                <f:setPropertyActionListener value="#{consultarAplicacaoBean.irrigante}" target="#{cadastrarAplicacaoBean.irrigante}" />  
						<f:setPropertyActionListener value="" target="#{cadastrarAplicacaoBean.aplicacao}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarAplicacaoBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
<!-- 				   		<h:outputText value="#{bundle.nutriente}:" />   -->
<!-- 						<h:selectOneMenu id="nutriente" value="#{consultarAplicacaoBean.aplicacaoBusca.nutriente}" title="#{bundle.selecioneNutrientePesquisar}" style="width: 165px;" converter="elementoConverter" >   -->
<!-- 			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue=""/>   -->
<!-- 	            			<f:selectItems var="nutriente" itemLabel="#{nutriente.nome}" itemValue="#{nutriente}" value="#{consultarAplicacaoBean.nutrientes}"  /> -->
<!-- 		        		</h:selectOneMenu>							 -->
<!-- 				     	<p:spacer width="8" /> -->
				   		<h:outputText value="#{bundle.dataInicio}:" />  
						<p:calendar value="#{consultarAplicacaoBean.dataIni}" id="dataInicio" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
				   		<h:outputText value="#{bundle.dataFinal}:" />  
						<p:calendar value="#{consultarAplicacaoBean.dataFim}" id="dataFinal" navigator="false" pattern="dd/MM/yyyy" locale="pt_BR" size="6" />
				     	<p:spacer width="8" />
				   		<h:outputText value="#{bundle.tanque}:" />  
						<h:selectOneMenu id="tanque" value="#{consultarAplicacaoBean.aplicacaoBusca.tanque}" title="#{bundle.selecioneTanqueFiltrar}" style="width: 100px;">  
							<f:selectItem itemLabel="#{bundle.todas}" />
	            			<f:selectItems var="tanque" itemLabel="#{tanque.nome}" itemValue="#{tanque}" value="#{consultarAplicacaoBean.tanques}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				   		<h:outputText value="#{bundle.plantio}:" />  
						<h:selectOneMenu id="plantio" value="#{consultarAplicacaoBean.aplicacaoBusca.plantio}" title="#{bundle.selecionePlantioPesquisar}" style="width: 165px;" converter="plantioConverter" >  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue=""/>  
	            			<f:selectItems var="plantio" itemLabel="#{plantio.descricao}" itemValue="#{plantio}" value="#{consultarAplicacaoBean.plantios}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
					    
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarAplicacoes}" actionListener="#{consultarAplicacaoBean.consultar}" ajax="true" update=":frmConsultarAplicacao"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="aplicacao" value="#{consultarAplicacaoBean.aplicacoes}" emptyMessage="#{bundle.aplicacaoNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}" 
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="c1Nutriente" headerText="#{bundle.nutrientes}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{aplicacao.nutrientesDescricao}" />  
				        </p:column>  
				        <p:column id="c2Tanque" sortBy="#{elemento.tanque.nome}" headerText="#{bundle.tanque}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{aplicacao.tanque.nome}" />  
				        </p:column>  
				        <p:column id="c3Data" headerText="#{bundle.data}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{aplicacao.data}">
								<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
							</h:outputText>  
				        </p:column>  
				        <p:column id="c4Plantio" headerText="#{bundle.plantio}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{aplicacao.plantio.descricao}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.volume}" style="width:5%;text-align: right;">  
				            <h:outputText value="#{aplicacao.volume}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="#{bundle.custo}" style="width:5%;text-align: right;">  
				            <h:outputText value="#{aplicacao.custo}" >
				    			<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
							</h:outputText>       
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink  styleClass="ui-icon ui-icon-editar" action="#{consultarAplicacaoBean.cadastro}" title="#{bundle.alterarAplicacao}">  
				                <f:setPropertyActionListener value="#{aplicacao}" target="#{cadastrarAplicacaoBean.aplicacao}" />  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarAplicacaoBean.irrigante}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarAplicacaoBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-ver" action="#{consultarAplicacaoBean.cadastro}" title="#{bundle.visualizarAplicacao}">  
				                <f:setPropertyActionListener value="#{aplicacao}" target="#{cadastrarAplicacaoBean.aplicacao}" />  
				                <f:setPropertyActionListener value="#{irrigante}" target="#{cadastrarAplicacaoBean.irrigante}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarAplicacaoBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirAplicacao}">  
				                <f:setPropertyActionListener value="#{aplicacao}"  
				                    target="#{consultarAplicacaoBean.aplicacaoSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.temCerteza} ?"   
               header="#{bundle.exclusao}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarAplicacao" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarAplicacaoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
