<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarTanqueBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarTanque" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarTanques}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarTanqueBean.cadastro}" ajax="true" styleClass="btn primary">
						<f:setPropertyActionListener value="" target="#{cadastrarTanqueBean.tanque}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarTanqueBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.tanque}:" />  
						<p:inputText id="nutriente" value="#{consultarTanqueBean.tanqueBusca.nome}" />  
					    <p:spacer width="10" />
				   		<h:outputText value="#{bundle.tanqueDestino}:" />  
						<h:selectOneMenu id="area" value="#{consultarTanqueBean.tanqueBusca.tanqueDestino}" title="#{bundle.selecioneTanqueDestinoPesquisar}" style="width: 165px;" converter="tanqueConverter" >  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue=""/>  
	            			<f:selectItems var="tanque" itemLabel="#{tanque.nome}" itemValue="#{tanque}" value="#{consultarTanqueBean.tanquesDestino}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
					    
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarTanques}" actionListener="#{consultarTanqueBean.consultar}" ajax="true" update=":frmConsultarTanque"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="tanque" value="#{consultarTanqueBean.tanques}" emptyMessage="#{bundle.tanqueNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}" 
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="c1Tanque" sortBy="#{tanque.nome}" headerText="#{bundle.tanque}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{tanque.nome}" />  
				        </p:column>  
				        <p:column id="c2TanqueDestino" headerText="#{bundle.tanqueDestino}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{tanque.tanqueDestino.nome}" />  
				        </p:column>  
				        <p:column id="c3Volume" headerText="#{bundle.volume}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{tanque.volume}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink  styleClass="ui-icon ui-icon-editar" action="#{consultarTanqueBean.cadastro}" title="#{bundle.alterarTanque}">  
				                <f:setPropertyActionListener value="#{tanque}" target="#{cadastrarTanqueBean.tanque}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarTanqueBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-ver" action="#{consultarTanqueBean.cadastro}" title="#{bundle.visualizarTanque}">  
				                <f:setPropertyActionListener value="#{tanque}" target="#{cadastrarTanqueBean.tanque}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarTanqueBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirTanque}">  
				                <f:setPropertyActionListener value="#{tanque}"  
				                    target="#{consultarTanqueBean.tanqueSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.temCerteza} ?"   
               header="#{bundle.exclusao}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarTanque" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarTanqueBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
