<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarElementoBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarElemento" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarElemento}
				</div>
				<div class="botoes">
					<p:commandButton id="btSalvar" actionListener="#{consultarElementoBean.salvar}" value="#{bundle.salvar}" styleClass="btn success" update=":frmConsultarElemento" process="@form"/>
					<p:commandButton id="btAdicionar" actionListener="#{consultarElementoBean.adicionarElemento}" value="+ #{bundle.elemento}" styleClass="btn primary" process="@form" update=":frmConsultarElemento" />
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.elemento}:" />  
						<p:inputText id="elemento" value="#{consultarElementoBean.elementoBusca.nome}" />  
					    <p:spacer width="10" />
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarElemento}" actionListener="#{consultarElementoBean.consultar}" ajax="true" update=":frmConsultarElemento"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="elemento" value="#{consultarElementoBean.elementos}" emptyMessage="#{bundle.elementoNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}" 
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="c1Elemento" sortBy="#{elemento.nome}" headerText="#{bundle.elemento}" style="width:80%;text-align: left;">  
				            <p:inputText value="#{elemento.nome}" size="120" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink  styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirElemento}" >  
				                <f:setPropertyActionListener value="#{elemento}"  
				                    target="#{consultarElementoBean.elementoSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.temCerteza} ?"   
               header="#{bundle.exclusao}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarElemento" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarElementoBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
