<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/page.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{consultarNutrienteBean.carregarDadosIniciais}" />	
		</f:metadata>
		
		<h:form id="frmConsultarNutriente" styleClass="formularios box-border" prependId="false">
				
			<p:messages showDetail="false" autoUpdate="true"/>
			
			<div class="bc cinzaclaro barra">
        		<div class="titulo" >
					#{bundle.consultarNutrientes}
				</div>
				<div class="botoes">
					<p:commandButton id="btNovo" value="#{bundle.novo}" action="#{consultarNutrienteBean.cadastro}" ajax="true" styleClass="btn primary">
						<f:setPropertyActionListener value="" target="#{cadastrarNutrienteBean.nutriente}" />  
		                <f:setPropertyActionListener value="NOVO" target="#{cadastrarNutrienteBean.operacao}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2 cinzaclaro"></div>
			<div class="b1 cinzaclaro"></div>
			<br />
			
			<div class="tabela-dados">
				<div class="span2 clear">
				   <p:fieldset legend="#{bundle.filtros}" toggleable="true" toggleSpeed="500">
				   		<h:outputText value="#{bundle.nutriente}:" />  
						<p:inputText id="nutriente" value="#{consultarNutrienteBean.nutrienteBusca.nome}" />  
					    <p:spacer width="10" />
				   		<h:outputText value="#{bundle.elemento}:" />  
						<h:selectOneMenu id="area" value="#{consultarNutrienteBean.nutrienteBusca.elemento}" title="#{bundle.selecioneElementoPesquisar}" style="width: 165px;" converter="elementoConverter" >  
			            	<f:selectItem itemLabel="#{bundle.todos}" itemValue=""/>  
	            			<f:selectItems var="elemento" itemLabel="#{elemento.nome}" itemValue="#{elemento}" value="#{consultarNutrienteBean.elementos}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
				   		<h:outputText value="#{bundle.tipo}:" />  
						<h:selectOneMenu id="tipo" value="#{consultarNutrienteBean.nutrienteBusca.tipoNutriente}" title="#{bundle.selecioneTipoNutrienteFiltrar}" style="width: 100px;">  
							<f:selectItem itemLabel="#{bundle.todas}" />
	            			<f:selectItems var="tipo" itemLabel="#{tipo.descricao}" itemValue="#{tipo}" value="#{consultarNutrienteBean.tipos}"  />
		        		</h:selectOneMenu>							
				     	<p:spacer width="8" />
					    
				     	<p:commandLink id="btConsultar" styleClass="ui-icon ui-icon-ver" value="Buscar" title="#{bundle.pesquisarNutrientes}" actionListener="#{consultarNutrienteBean.consultar}" ajax="true" update=":frmConsultarNutriente"/>  
				   </p:fieldset>
				</div>
				<br />
				<p:outputPanel id="consulta">
					<p:dataTable var="nutriente" value="#{consultarNutrienteBean.nutrientes}" emptyMessage="#{bundle.nutrienteNaoExiste}"
						paginator="true" rows="5" rowsPerPageTemplate="5,10,15,40" currentPageReportTemplate="#{bundle.totalRegistros}: {totalRecords},  #{bundle.paginas}: {currentPage} #{bundle.de} {totalPages}" 
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">  

				        <p:column id="c1Nutriente" sortBy="#{nutriente.nome}" headerText="#{bundle.nutriente}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{nutriente.nome}" />  
				        </p:column>  
				        <p:column id="c2Elemento" sortBy="#{elemento.nome}" headerText="#{bundle.elemento}" style="width:30%;text-align: left;">  
				            <h:outputText value="#{nutriente.elemento.nome}" />  
				        </p:column>  
				        <p:column id="c3Concentracao" headerText="#{bundle.concentracao}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{nutriente.percentual}" />  
				        </p:column>  
				        <p:column id="c4Tipo" sortBy="#{tipo.descricao}" headerText="#{bundle.tipoNutriente}" style="width:10%;text-align: left;">  
				            <h:outputText value="#{nutriente.tipoNutriente.descricao}" />  
				        </p:column>  
				        <p:column headerText="#{bundle.opcao}" style="width:20%" styleClass="ui_botoes_grid"> 
				            <p:commandLink  styleClass="ui-icon ui-icon-editar" action="#{consultarNutrienteBean.cadastro}" title="#{bundle.alterarNutriente}">  
				                <f:setPropertyActionListener value="#{nutriente}" target="#{cadastrarNutrienteBean.nutriente}" />  
				                <f:setPropertyActionListener value="ALTERAR" target="#{cadastrarNutrienteBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-ver" action="#{consultarNutrienteBean.cadastro}" title="#{bundle.visualizarNutriente}">  
				                <f:setPropertyActionListener value="#{nutriente}" target="#{cadastrarNutrienteBean.nutriente}" />  
				                <f:setPropertyActionListener value="VER" target="#{cadastrarNutrienteBean.operacao}" />  
				            </p:commandLink>  				         
				            <p:commandLink  styleClass="ui-icon ui-icon-trash" onclick="confirmacao.show()" title="#{bundle.excluirNutriente}">  
				                <f:setPropertyActionListener value="#{nutriente}"  
				                    target="#{consultarNutrienteBean.nutrienteSelecionado}" />  
				            </p:commandLink>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog message="#{bundle.temCerteza} ?"   
               header="#{bundle.exclusao}" severity="alert" widgetVar="confirmacao">  
                  
		       <p:commandButton value="#{bundle.sim}" update=":frmConsultarNutriente" oncomplete="confirmacao.hide()"  styleClass="btn success"
		                    actionListener="#{consultarNutrienteBean.excluir}" />  
		       <p:commandButton value="#{bundle.nao}" onclick="confirmacao.hide()" type="button" styleClass="btn cancel" />   
                  
		    </p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
